[2015-02-26 19:41] francoismart opened #182 "/apps/%/atlas_identities"
Hi
When user register with my custom backend it's ok then it asks for user details to the following uri
Could you please let us know a sample of what details needs to be returned as the online heroku is down ....
Have nice day
FM

[2015-02-27 00:49] abam1210 opened #239 "대전건마ヨ논현건마bam war com수원건마ノ강북건마"
대전건마ヨ논현건마bam war com수원건마ノ강북건마대전건마ヨ논현건마bam war com수원건마ノ강북건마대전건마ヨ논현건마bam war com수원건마ノ강북건마 대전건마ヨ논현건마bam war com수원건마ノ강북건마 말했다.

[2015-02-27 00:49] abam1210 opened #240 "ㆄ천안건마Bam≡War≡Com부산건마ㅱ영통건마ㆁ논현건마"
ㆄ천안건마Bam≡War≡Com부산건마ㅱ영통건마ㆁ논현건마ㆄ천안건마Bam≡War≡Com부산건마ㅱ영통건마ㆁ논현건마ㆄ천안건마Bam≡War≡Com부산건마ㅱ영통건마ㆁ논현건마 ㆄ천안건마Bam≡War≡Com부산건마ㅱ영통건마ㆁ논현건마 대학가에서 관상을 보는 한 관상가는 "요즘은

[2015-02-27 10:44] nemo opened #249 "CocoaPods install doesn't work"
Hey folks,

I'm getting this error when attempting to install the pod. Not sure if there's a way around this – do you have any suggestions?

``[!] The 'Pods' target has transitive dependencies that include static binaries: (/<path to project>/LayerKit.embeddedframework/LayerKit.framework)```

Cheers!

[2015-02-27 11:07] mkoppanen opened #250 "Keyboard offset when displayed inside UITabBarController"
Hello,

I am having a strange issue when displaying ATLConversationViewController from a ATLConversationListViewController that is contained inside UITabBarController. I haven't debugged further yet but it seems that keyboard is offset based on the tab bar area:

https://www.dropbox.com/s/a46domzq74oospd/Screenshot%202015-02-27%2011.04.46.png?dl=0
(see the white space at the bottom of the screen)

[2015-02-27 12:51] jocelyncorpus667 opened #251 "Ѡ↗BAMWar·↖『닷』【컴】ຣ삼성오피″강북오피Ѿ등촌오피ด목동오피"
Ѡ↗BAMWar·↖『닷』【컴】ຣ삼성오피″강북오피Ѿ등촌오피ด목동오피

[2015-02-27 12:56] elayzabio369 opened #260 "밤 WAR· 닷 컴 ⊂າ⊃공덕오피˙분당오피ฝ천안오피˙안산오피"
밤 WAR· 닷 컴 ⊂າ⊃공덕오피˙분당오피ฝ천안오피˙안산오피  https://twitter.com/bam_war  공덕오피,천안오피,분당오피,안산오피 산업통상자원부 고위관계자는 20일 "임면권자인 박근혜 대통령이 장석효 한국가스공사 사장의공덕오피,천안오피,분당오피,안산오피밤 WAR· 닷 컴 ⊂າ⊃공덕오피˙분당오피ฝ천안오피˙안산오피 건의안을 재가했다"고

[2015-02-27 12:57] elayzabio369 opened #261 "BAM〔W〕〔A〕〔R〕·「닷 컴」구로오피￢ິ￢수원오피พั수원오피～안양오피"
BAM〔W〕〔A〕〔R〕·「닷 컴」구로오피￢ິ￢수원오피พั수원오피～안양오피  https://twitter.com/bam_war  구로오피,수원오피,수원오피,안양오피 밝혔다. 산업부는 지난 16일 공공기관운영위원회 회의에서 장 사장에 대한구로오피,수원오피,수원오피,안양오피BAM〔W〕〔A〕〔R〕·「닷 컴」구로오피￢ິ￢수원오피พั수원오피～안양오피 가결시켜 인사혁신처로 보냈다.

[2015-02-27 13:00] rodalynhernandez1215 opened #265 "°마포오피ย서초오피ຸ영통오피≪≫간석오피bamwAr〃.c o m"
°마포오피ย서초오피ຸ영통오피≪≫간석오피bamwAr〃.c o m  https://twitter.com/bam_war  마포오피,서초오피,영통오피,간석오피 가스공사 사장에 취임한 이후에도 이 업체로부터 2억8900만원의 금품과 향응을마포오피,서초오피,영통오피,간석오피°마포오피ย서초오피ຸ영통오피≪≫간석오피bamwAr〃.c o m 혐의도 받고 있다.장

[2015-02-27 13:00] rodalynhernandez1215 opened #266 "BAM『WAR〃《com》()부천오피ร일산오피ູ부평오피˙발산오피"
BAM『WAR〃《com》()부천오피ร일산오피ູ부평오피˙발산오피  https://twitter.com/bam_war  발산오피,부천오피,일산오피,부평오피 사장은 본인의 결백을 주장하며 사퇴 요구를 일축해 왔다. 지난발산오피,부천오피,일산오피,부평오피BAM『WAR〃《com》()부천오피ร일산오피ູ부평오피˙발산오피 열린 이사회에서는 해임안이 논의 됐으나 7명의 사외이사 중 3명이 장 사장 편에 서면서 부결되기도 했다.

[2015-02-27 13:04] angelicayambao002 opened #270 "「영통오피」『ＢａＭ』『Ｗar·』〔닷 컴〕ເ부천오피′중동오피ว상봉오피"
「영통오피」『ＢａＭ』『Ｗar·』〔닷 컴〕ເ부천오피′중동오피ว상봉오피  https://twitter.com/bam_war  상봉오피,영통오피,부천오피,중동오피 만에 태어난 조산아가 장기 기증을 하고 하늘나라로 떠났다. 지난상봉오피,영통오피,부천오피,중동오피「영통오피」『ＢａＭ』『Ｗar·』〔닷 컴〕ເ부천오피′중동오피ว상봉오피 밤 10시 대전 충남대병원에서는 ‘뇌사 판정’을 받은 백믿음군의 장기 이식 수술이 이뤄졌다.

[2015-02-27 13:04] angelicayambao002 opened #271 "《｛ＢＡＭ｝｜Ｗar·닷【컴】강남오피》인천오피ศ송도오피°신림오피ແ"
《｛ＢＡＭ｝｜Ｗar·닷【컴】강남오피》인천오피ศ송도오피°신림오피ແ  https://twitter.com/bam_war  신림오피,강남오피,인천오피,송도오피 이제 막 몸에 자리 잡은 조그마한 신장이었지만 나눔의 울림은신림오피,강남오피,인천오피,송도오피《｛ＢＡＭ｝｜Ｗar·닷【컴】강남오피》인천오피ศ송도오피°신림오피ແ 지난해 8월 850g 작은 몸으로 태어났다.

[2015-02-27 13:05] angelicayambao002 opened #272 "『상동오피˙강서오피』ｂａｍｗａＲ【·.c o m】ษ주안오피ໂ종로오피"
『상동오피˙강서오피』ｂａｍｗａＲ【·.c o m】ษ주안오피ໂ종로오피  https://twitter.com/bam_war  종로오피,강서오피,상동오피,주안오피 출산 예정일보다 무려 14주나 빨리 세상에 나왔다. 믿음이 엄마종로오피,강서오피,상동오피,주안오피『상동오피˙강서오피』ｂａｍｗａＲ【·.c o m】ษ주안오피ໂ종로오피 2006년 탈북해 중국을 거쳐 2010년 6월에 한국에 들어왔다.

[2015-02-27 13:08] maryjoydizon2020 opened #275 "ｂａｍＷＡＲ〃.C O M⇒홍대오피″일산오피່주안오피ฬ논현오피⇔"
ｂａｍＷＡＲ〃.C O M⇒홍대오피″일산오피່주안오피ฬ논현오피⇔  https://twitter.com/bam_war  홍대오피,일산오피,주안오피,논현오피 백씨는 “지난 여름 집에서 지쳐 쉬고 있는데 산기가 있어홍대오피,일산오피,주안오피,논현오피ｂａｍＷＡＲ〃.C O M⇒홍대오피″일산오피່주안오피ฬ논현오피⇔ 갔고 믿음이가 태어났다”고 했다.

[2015-02-27 13:09] maryjoydizon2020 opened #276 "『ｂａｍｗＡｒ』·『.COM』〖역삼오피อ계양오피′대전오피້김포오피〗"
『ｂａｍｗＡｒ』·『.COM』〖역삼오피อ계양오피′대전오피້김포오피〗  https://twitter.com/bam_war  김포오피,역삼오피,계양오피,대전오피 믿음이는 26주의 짧은 삶 대부분을 병원 인큐베이터 안에서 보냈다.김포오피,역삼오피,계양오피,대전오피『ｂａｍｗＡｒ』·『.COM』〖역삼오피อ계양오피′대전오피້김포오피〗 지 하루만에 병원으로 되돌아오는 삶을 반복했다.

[2015-02-27 13:18] danipralea opened #285 "'LayerKit/LayerKit.h' file not found"
Hello !
I get this error by trying to build my project, with the newly added Atlas functionality in it, but I get this error. This appears when trying to integrate it manually, without the cocoapods.
Where can I find the actual LayerKit framework ?

Later edit : I eventually found it in the repository retrieved with CocoaPods. You might want to add this to the installation instructions, I personal

[2015-02-27 13:21] bowhsagad40 opened #286 "︹︺신촌오피ം대전오피{bamWar·}.Com부천오피～광주오피ង"
︹︺신촌오피ം대전오피{bamWar·}.Com부천오피～광주오피ង  https://twitter.com/bam_war  신촌오피,대전오피,부천오피,광주오피 그간 한국은행의 기준금리 인하 등으로 시중금리가 내려가면서 은행들이 대출신촌오피,대전오피,부천오피,광주오피︹︺신촌오피ം대전오피{bamWar·}.Com부천오피～광주오피ង 인하하면서도 가산금리 수준은 그대로 유지해 비판을 받아왔다.

[2015-02-27 13:21] bowhsagad40 opened #287 "ഃ영등포오피〝〞신논현오피bＡＭＷＡｒ〔·.C O M〕성정오피ច부산오피,"
ഃ영등포오피〝〞신논현오피bＡＭＷＡｒ〔·.C O M〕성정오피ច부산오피,  https://twitter.com/bam_war  영등포오피,신논현오피,성정오피,부산오피 가산금리 인하 폭은 은행마다 조금씩 다르지만 6~9%에서 5~8%로 1%포인트씩영등포오피,신논현오피,성정오피,부산오피ഃ영등포오피〝〞신논현오피bＡＭＷＡｒ〔·.C O M〕성정오피ច부산오피, 곳(하나ㆍ신한ㆍ국민ㆍ우리 등 14개 은행)이 대부분이다.

[2015-02-27 13:25] anhicalugtu123 opened #291 "bamwaR『·.C o m』ញ중랑오피˙부평오피ഈ서울오피ѠѾ부평오피"
bamwaR『·.C o m』ញ중랑오피˙부평오피ഈ서울오피ѠѾ부평오피  https://twitter.com/bam_war  중랑오피,부평오피,서울오피,부평오피 가산금리를 적용했을 때 상한선인 최고금리 수준도 내린다. 21%로 최고금리가중랑오피,부평오피,서울오피,부평오피bamwaR『·.C o m』ញ중랑오피˙부평오피ഈ서울오피ѠѾ부평오피 높던 SC은행이 5%포인트(담보대출)와 3%포인트(신용대출)씩 내리기로 했다.

[2015-02-27 13:25] anhicalugtu123 opened #292 "bamwaR『·.C o m』ញ중랑오피˙부평오피ഈ서울오피ѠѾ부평오피"
bamwaR『·.C o m』ញ중랑오피˙부평오피ഈ서울오피ѠѾ부평오피  https://twitter.com/bam_war  중랑오피,부평오피,서울오피,부평오피 가산금리를 적용했을 때 상한선인 최고금리 수준도 내린다. 21%로 최고금리가중랑오피,부평오피,서울오피,부평오피bamwaR『·.C o m』ញ중랑오피˙부평오피ഈ서울오피ѠѾ부평오피 높던 SC은행이 5%포인트(담보대출)와 3%포인트(신용대출)씩 내리기로 했다.

[2015-02-27 13:30] jhendavid565 opened #297 "‖ｂａｍｗＡｒ″.cOmഎ금천오피°강서오피‗서초오피ណ연산오피"
‖ｂａｍｗＡｒ″.cOmഎ금천오피°강서오피‗서초오피ណ연산오피  https://twitter.com/bam_war  금천오피,강서오피,서초오피,연산오피 하지만 청와대와 정부의 전면적 인적쇄신을 요구하는 여론을 수용하지 않고금천오피,강서오피,서초오피,연산오피‖ｂａｍｗＡｒ″.cOmഎ금천오피°강서오피‗서초오피ណ연산오피 대응의 &lsquo;우회로&rsquo;를 택한 것이어서 난국 돌파가 쉽지 않을 것으로 점쳐진다.취임후

[2015-02-27 13:30] jhendavid565 opened #298 "ᕲBAM War· .닷 컴ᕳ강동오피˙해운대오피ត강남오피ഏ노원오피"
ᕲBAM War·  .닷 컴ᕳ강동오피˙해운대오피ត강남오피ഏ노원오피  https://twitter.com/bam_war  노원오피,강동오피,해운대오피,강남오피 첫 티타임 박근혜 대통령이 20일 오전 청와대 본관 세종실에서노원오피,강동오피,해운대오피,강남오피ᕲBAM War·  .닷 컴ᕳ강동오피˙해운대오피ត강남오피ഏ노원오피 앞서 정홍원 국무총리와 황우여 사회부총리 겸 교육부 장관, 한민구 국방부 장관, 최경환 경제부총리 겸 기획재정부 장관(왼쪽부터) 등 국무위원과 함께 취임 후 첫 티타임을 갖고 환담하고 있다.

[2015-02-27 13:30] jhendavid565 opened #299 "bamWar【·.C O M】ᖛ상계오피～강북오피ഐ서면오피ថ교대오피ᖜ"
bamWar【·.C O M】ᖛ상계오피～강북오피ഐ서면오피ថ교대오피ᖜ  https://twitter.com/bam_war  상계오피,강북오피,서면오피,교대오피 허정호 기자◆여당, 靑 인적쇄신 촉구인적쇄신과 관련해 민심과 동떨어진 박상계오피,강북오피,서면오피,교대오피bamWar【·.C O M】ᖛ상계오피～강북오피ഐ서면오피ថ교대오피ᖜ 인식은 신년 기자회견 때와 달라진 것이 없다는 지적이다.

[2015-02-27 13:33] yhanzyhang555 opened #301 "￢선릉오피′교대오피ន선릉오피￢선릉오피ഔｂａｍｗＡＲ【·.com】"
￢선릉오피′교대오피ន선릉오피￢선릉오피ഔｂａｍｗＡＲ【·.com】  https://twitter.com/bam_war  선릉오피,선릉오피,교대오피,선릉오피 신설하거나 경제수석이 정책팀장을 겸임하는 방안, 문건 및 항명 파문에선릉오피,선릉오피,교대오피,선릉오피￢선릉오피′교대오피ន선릉오피￢선릉오피ഔｂａｍｗＡＲ【·.com】 민정수석실의 기능 재편 방안도 추진할 것으로 점쳐진다.

[2015-02-27 13:33] yhanzyhang555 opened #302 "→ക←야탑오피°논현오피『bAmwar·』.Com신논현오피ផ서초오피"
→ക←야탑오피°논현오피『bAmwar·』.Com신논현오피ផ서초오피  https://twitter.com/bam_war  야탑오피,논현오피,신논현오피,서초오피 또 정무&middot;홍보 특보단이 신설될 예정이다.세월호 참사 책임론에 휩싸인 정홍원야탑오피,논현오피,신논현오피,서초오피→ക←야탑오피°논현오피『bAmwar·』.Com신논현오피ផ서초오피 교체하지 않고 소폭으로 개각을 하겠다는 것도 예고했다.

[2015-02-27 13:37] babylynlaroga2022 opened #306 "밤 WAR· 닷 COM군산오피(ച)동탄오피យ역삼오피″강동오피"
밤 WAR· 닷  COM군산오피(ച)동탄오피យ역삼오피″강동오피  https://twitter.com/bam_war  군산오피,동탄오피,역삼오피,강동오피 친박(친박근혜)계 중진 의원도 &ldquo;여론 악화를 막기 위해 박 대통령이군산오피,동탄오피,역삼오피,강동오피밤 WAR· 닷  COM군산오피(ച)동탄오피យ역삼오피″강동오피 인적쇄신 등 통 큰 결단을 내려야 한다&rdquo;고 강조했다.◆靑,

[2015-02-27 13:37] babylynlaroga2022 opened #307 "천안오피រ강북오피′학동오피ഛ익산오피{}b a m w a r▶『닷 컴』"
천안오피រ강북오피′학동오피ഛ익산오피{}b a m w a r▶『닷 컴』  https://twitter.com/bam_war  익산오피,천안오피,학동오피,강북오피 10여분간 티타임 이례적 공개박 대통령은 이날 국무회의 시작 전에익산오피,천안오피,학동오피,강북오피천안오피រ강북오피′학동오피ഛ익산오피{}b a m w a r▶『닷 컴』 취임 후 처음으로 가진 티타임을 이례적으로 공개했다.

[2015-02-27 13:39] jhoycelli035 opened #311 "「밤 」【WAR】·「닷 컴」《》서울오피ស강서오피ട동묘오피,시청오피"
「밤 」【WAR】·「닷 컴」《》서울오피ស강서오피ട동묘오피,시청오피  https://twitter.com/bam_war  시청오피,서울오피,강서오피,동묘오피 박 대통령은 &ldquo;(국민의) 이해가 잘되는 게 중요하다&rdquo;고 최 부총리에게시청오피,서울오피,강서오피,동묘오피「밤 」【WAR】·「닷 컴」《》서울오피ស강서오피ട동묘오피,시청오피 대통령은 최 부총리와 문형표 보건복지부 장관, 안종범 청와대 경제수석이 새해 들어 담배를 끊었다는 이야기를 전해듣고서 &ldquo;작심삼일을 극복하는 길은 삼일마다 결심을 하면 된다고 한다&rdquo;, &ldquo;나 끊었다고 동네방네 소문을 많이 내면, 차마 할 수가 없지 않나.

[2015-02-27 13:39] jhoycelli035 opened #312 "밤 WAR·닷COMഡ포항오피『』서초오피ហ공덕오피″답십리오피"
밤 WAR·닷COMഡ포항오피『』서초오피ហ공덕오피″답십리오피  https://twitter.com/bam_war  포항오피,서초오피,공덕오피,답십리오피 그것도 방법이다. 얼마나 눈물 겨운 얘기인가&rdquo; 등 농담을 건넸다.박포항오피,서초오피,공덕오피,답십리오피밤 WAR·닷COMഡ포항오피『』서초오피ហ공덕오피″답십리오피 사회 적폐와 관련해 &ldquo;잘못된 것도 오래 하다 보면 편하니까, 나쁜 것이라도 으레 그렇게 하는 것 아니겠냐 하고 빠져드는데 그러다가는 사회가 썩는다&rdquo;며 &ldquo;그러면 개혁을 하려 해도 저항도 나오게 되고, 여태까지 편했던 것을 왜 귀찮게 하느냐, 난리가 나는 그런 게 일종의 금단현상&rdquo;이라고 지적했다.남상훈&middot;김채연

[2015-02-27 13:46] lhendeguzman569 opened #317 "⦕마포오피,영통오피⦖B A MW A R·닷COMឥ឴ិ서대문오피ദ압구정오피"
⦕마포오피,영통오피⦖B A MW A R·닷COMឥ឴ិ서대문오피ദ압구정오피  https://twitter.com/bam_war  압구정오피,영통오피,마포오피,서대문오피 그러나 이씨는 &ldquo;당연한 일을 했을 뿐&rdquo;이라며 거절했다. 그는 언론과의압구정오피,영통오피,마포오피,서대문오피⦕마포오피,영통오피⦖B A MW A R·닷COMឥ឴ិ서대문오피ദ압구정오피 &ldquo;시민으로서 함께 살아야 할 이웃을 도왔는데 돈을 받을 이유가 없다&rdquo;며 &ldquo;그런 위기가 닥치면 또 나설 것&rdquo;이라고 말했다.'의인'

[2015-02-27 13:46] lhendeguzman569 opened #318 "⦅b a m w a r·【닷】【COm】ധ가산오피″강남오피⦆발산오피ឦ수유오피"
⦅b a m w a r·【닷】【COm】ധ가산오피″강남오피⦆발산오피ឦ수유오피  https://twitter.com/bam_war  가산오피,강남오피,발산오피,수유오피 이승선 씨의 구조 장면 경기도북부소방재난본부 제공이씨처럼 타인을 위해 희생하거나가산오피,강남오피,발산오피,수유오피⦅b a m w a r·【닷】【COm】ധ가산오피″강남오피⦆발산오피ឦ수유오피 있는 행동을 한 사람을 &lsquo;의인(義人)&rsquo;이라고 부른다.

[2015-02-27 13:50] yolysantos9898 opened #321 "〈BAMWAR〉·〈.cOm〉⦑강북오피ឩ수유오피˙종로오피ഫ동대문오피⦒"
〈BAMWAR〉·〈.cOm〉⦑강북오피ឩ수유오피˙종로오피ഫ동대문오피⦒  https://twitter.com/bam_war  동대문오피,강북오피,수유오피,종로오피 &ldquo;귀찮아질까봐&rdquo;&hellip;침묵하는 사람들대학생 윤모(25)씨는 얼마 전 교내 인터넷 커뮤니티 사이트에서동대문오피,강북오피,수유오피,종로오피〈BAMWAR〉·〈.cOm〉⦑강북오피ឩ수유오피˙종로오피ഫ동대문오피⦒ 보고 씁쓸함을 감출 수 없었다.

[2015-02-27 13:50] yolysantos9898 opened #322 "﹃창동오피ബ상봉오피ឪ일산오피～미아오피﹄『밤 』【WAR】·【닷】【COm】"
﹃창동오피ബ상봉오피ឪ일산오피～미아오피﹄『밤 』【WAR】·【닷】【COm】  https://twitter.com/bam_war  미아오피,일산오피,상봉오피,창동오피 해당 글에는 &lsquo;길에서 성추행이나 강도를 당하는 사람을 봤을 때미아오피,일산오피,상봉오피,창동오피﹃창동오피ബ상봉오피ឪ일산오피～미아오피﹄『밤 』【WAR】·【닷】【COm】 큰일 날 수 있으니 도와주면 안 된다&rsquo;는 내용이 담겨 있었다.

[2015-02-27 13:50] yolysantos9898 opened #323 "︼역삼오피,신림오피ឫ선릉오피︻목동오피ഭ（BAM：War·）닷『컴』"
︼역삼오피,신림오피ឫ선릉오피︻목동오피ഭ（BAM：War·）닷『컴』  https://twitter.com/bam_war  목동오피,역삼오피,신림오피,선릉오피 댓글들 역시 &lsquo;괜히 말려들어 피해를 입으면 나만 손해다&rsquo;, &lsquo;모르는목동오피,역삼오피,신림오피,선릉오피︼역삼오피,신림오피ឫ선릉오피︻목동오피ഭ（BAM：War·）닷『컴』 것이 현명하다&rsquo; 등 글쓴이의 의견에 동조하고 있었다.

[2015-02-27 13:53] winniepooh666 opened #326 "인계동오피°청주오피ឮ선릉오피〝ര〞광명오피〔ｂａｍｗａＲ·.C o m〕"
인계동오피°청주오피ឮ선릉오피〝ര〞광명오피〔ｂａｍｗａＲ·.C o m〕  https://twitter.com/bam_war  인계동오피,청주오피,선릉오피,광명오피 &lsquo;그렇다&rsquo;고 답했다. 10명 중 8명 이상이 불의나 타인의 위험에인계동오피,청주오피,선릉오피,광명오피인계동오피°청주오피ឮ선릉오피〝ര〞광명오피〔ｂａｍｗａＲ·.C o m〕 경험이 있다는 것이다.

[2015-02-27 13:53] winniepooh666 opened #327 "∴ｂａｍＷar·∵【닷 컴】◤റ◥백석오피˙홍대오피ឯ인천오피˙원당오피"
∴ｂａｍＷar·∵【닷 컴】◤റ◥백석오피˙홍대오피ឯ인천오피˙원당오피  https://twitter.com/bam_war  백석오피,인천오피,홍대오피,원당오피 그냥 넘어갔던 이유로는 &lsquo;개입했다가 위험에 빠질까봐&rsquo;란 응답이 43.0%(257명)로 가장백석오피,인천오피,홍대오피,원당오피∴ｂａｍＷar·∵【닷 컴】◤റ◥백석오피˙홍대오피ឯ인천오피˙원당오피 &lsquo;개입했다가 경찰 조사 등 귀찮은 일이 생길까봐&rsquo;란 응답은 23.3%(139명)였다.

[2015-02-27 13:57] tweetietazmania778 opened #331 "വ시화오피º»수원오피《밤 》《WAR》〈·〉ｃｏｍ논현오피ឳ분당오피′"
വ시화오피º»수원오피《밤 》《WAR》〈·〉ｃｏｍ논현오피ឳ분당오피′  https://twitter.com/bam_war  시화오피,수원오피,논현오피,분당오피 인터넷에서는 &lsquo;길거리 싸움 동영상&rsquo;을 쉽게 찾을 수 있는데, 영상시화오피,수원오피,논현오피,분당오피വ시화오피º»수원오피《밤 》《WAR》〈·〉ｃｏｍ논현오피ឳ분당오피′ 시민들은 싸움을 말리기는커녕 휴대전화를 들고 촬영을 하거나 부추기는 모습이다.

[2015-02-27 13:57] tweetietazmania778 opened #332 "°안산오피឵ា대전오피ശ신사오피Óö독산오피↗BAMWar·↖닷〈ＣＯＭ〉"
°안산오피឵ា대전오피ശ신사오피Óö독산오피↗BAMWar·↖닷〈ＣＯＭ〉  https://twitter.com/bam_war  안산오피,대전오피,신사오피,독산오피 경찰의 한 관계자는 &ldquo;신고라도 해주면 다행인데 신고할 생각조차 안안산오피,대전오피,신사오피,독산오피°안산오피឵ា대전오피ശ신사오피Óö독산오피↗BAMWar·↖닷〈ＣＯＭ〉 사람이 많다&rdquo;며 &ldquo;사건 조사를 위해 목격자들에게 진술을 요청했을 때 &lsquo;상관하고 싶지 않다&rsquo;며 거절하는 경우도 많다&rdquo;고 말했다.직장인

[2015-02-27 14:00] bugsbunnyhayley410 opened #336 "「B」AM「WA」R·.컴ᕲ사당오피ុ왕십리오피″평촌오피ᕳ부천오피ഽ"
「B」AM「WA」R·.컴ᕲ사당오피ុ왕십리오피″평촌오피ᕳ부천오피ഽ  https://twitter.com/bam_war  평촌오피,부천오피,사당오피,왕십리오피 청소년에게 훈계를 하거나 타인의 사건에 개입했다가 피해를 당한 사례들이평촌오피,부천오피,사당오피,왕십리오피「B」AM「WA」R·.컴ᕲ사당오피ុ왕십리오피″평촌오피ᕳ부천오피ഽ 발생하기 때문이다.

[2015-02-27 14:01] bugsbunnyhayley410 opened #337 "ᖛ부평오피ᖜｂａｍｗａＲ▷.c o mി신촌오피′잠실오피ូ간석오피"
ᖛ부평오피ᖜｂａｍｗａＲ▷.c o mി신촌오피′잠실오피ូ간석오피  https://twitter.com/bam_war  간석오피,부평오피,신촌오피,잠실오피 또 의인들이 정당한 대우를 받지 못하는 분위기도 한몫한다. 세월호간석오피,부평오피,신촌오피,잠실오피ᖛ부평오피ᖜｂａｍｗａＲ▷.c o mി신촌오피′잠실오피ូ간석오피 당시 안산 단원고 학생 등 20여명을 구한 화물차 운전기사 김동수(49)씨는 육체적&middot;정신적 피해를 호소하고 있지만 제대로 된 보상은커녕 생계마저 막막한 것으로 전해졌다.그러나

[2015-02-27 14:04] sarahgeronimo1010 opened #341 "←{ｂＡＭＷＡＲ·}.com→강남오피,신천오피ៀ병점오피െ상동오피"
←{ｂＡＭＷＡＲ·}.com→강남오피,신천오피ៀ병점오피െ상동오피  https://twitter.com/bam_war  상동오피,강남오피,신천오피,병점오피 전상진 서강대 교수(사회학)는 &ldquo;불의에 침묵하는 것은 일종의 학습효과다. 선의의상동오피,강남오피,신천오피,병점오피←{ｂＡＭＷＡＲ·}.com→강남오피,신천오피ៀ병점오피െ상동오피 뻗쳤을 때 돌아오는 결과가 좋지 않은 경우를 많이 접하다 보니 &lsquo;참견하지 않는 것이 최선&rsquo;이란 인식이 생긴 것&rdquo;이라며 &ldquo;의인들에 대한 합당한 보상 체계가 전제되고, 그들을 존중하는 사회적 분위기가 형성돼야 한다&rdquo;고 설명했다.

[2015-02-27 14:05] sarahgeronimo1010 opened #342 "bＡＭＷＡｒ〃.Com〈중동오피″강서오피േ중랑오피េ성남오피〉"
bＡＭＷＡｒ〃.Com〈중동오피″강서오피േ중랑오피េ성남오피〉  https://twitter.com/bam_war  중동오피,강서오피,중랑오피,성남오피 김중백 경희대 교수(사회학)는 &ldquo;타인은 나와 상관없는 사람이란 생각에 시간이나중동오피,강서오피,중랑오피,성남오피bＡＭＷＡｒ〃.Com〈중동오피″강서오피േ중랑오피េ성남오피〉 들여 개입하려는 의지가 줄어든 것&rdquo;이라며 &ldquo;함께 살아가는 사회의 중요성을 깨달을 수 있도록 궁극적으로 공동체 의식을 강화해야 한다&rdquo;고 제언했다.김유나&middot;권구성

[2015-02-27 14:05] sarahgeronimo1010 opened #343 "bAmwar·「.c o m」〔강동오피ែ화곡오피′죽전오피ൈ송도오피〕"
bAmwar·「.c o m」〔강동오피ែ화곡오피′죽전오피ൈ송도오피〕  https://twitter.com/bam_war  송도오피,강동오피,화곡오피,죽전오피 기자 yoo@segye.com ▶향기있는 여자들의 스토리, 미즈리포트 ▶HOT포토 ▶무료 만화▶송도오피,강동오피,화곡오피,죽전오피bAmwar·「.c o m」〔강동오피ែ화곡오피′죽전오피ൈ송도오피〕 운세 ⓒ 세상을 보는 눈, 세계일보 & Segye.com

[2015-02-27 14:08] marianerivera3210 opened #346 "{ൗ}연수오피～역삼오피ＢＡＭＷＡＲ·「.Com」죽전오피ៅ상계오피"
{ൗ}연수오피～역삼오피ＢＡＭＷＡＲ·「.Com」죽전오피ៅ상계오피  https://twitter.com/bam_war  연수오피,역삼오피,죽전오피,상계오피 목적지는 300여ｍ 떨어져 있는 다른 할리스커피 매장이었다. 3분 정도를연수오피,역삼오피,죽전오피,상계오피{ൗ}연수오피～역삼오피ＢＡＭＷＡＲ·「.Com」죽전오피ៅ상계오피 매장 앞에 도착했지만 강씨는 “가슴이 벌렁거려” 안에 들어가진 못하고 발길을 돌렸다.

[2015-02-27 14:09] marianerivera3210 opened #347 "논현오피[ൠ]『ｂａｍｗａＲ·』.c o m선릉오피ំ금천오피,신정오피"
논현오피[ൠ]『ｂａｍｗａＲ·』.c o m선릉오피ំ금천오피,신정오피  https://twitter.com/bam_war  논현오피,선릉오피,금천오피,신정오피 이날은 이 ‘다른’ 할리스 매장이 오픈하는 날이다. 이곳은 강씨의논현오피,선릉오피,금천오피,신정오피논현오피[ൠ]『ｂａｍｗａＲ·』.c o m선릉오피ំ금천오피,신정오피 달리 할리스 본사에서 직접 운영하는 ‘직영’ 매장이다.

[2015-02-27 14:12] otchieotchengco265 opened #351 "분당오피៊의정부오피˙석촌오피28청주오피『』「b a m w a r·.C O M」"
분당오피៊의정부오피˙석촌오피28청주오피『』「b a m w a r·.C O M」  https://twitter.com/bam_war  청주오피,분당오피,석촌오피,의정부오피 강씨가 직영점 얘길 들은 건 지난해 10월이라고 한다. 강씨는청주오피,분당오피,석촌오피,의정부오피분당오피៊의정부오피˙석촌오피28청주오피『』「b a m w a r·.C O M」 담당자가, 근처에 직영점이 들어올 것인데 (강씨 매장의) 매출이 30%가량 줄어든다고 통보해와 항의했는데 법적으로 문제가 없다는 답이 돌아왔다”고 말했다.

[2015-02-27 14:12] otchieotchengco265 opened #352 "【】천안오피29동탄오피ｂａＭＷＡＲ▶.c o M선릉오피～구미오피់"
【】천안오피29동탄오피ｂａＭＷＡＲ▶.c o M선릉오피～구미오피់  https://twitter.com/bam_war  천안오피,동탄오피,선릉오피,구미오피 실제 문제는 없다. 강씨가 계약하던 2013년엔 본사가 가맹점주에게 최소천안오피,동탄오피,선릉오피,구미오피【】천안오피29동탄오피ｂａＭＷＡＲ▶.c o M선릉오피～구미오피់ 영업지역을 보호해 신규 출점을 제한하게 한 공정거래위원회의 모범규준이 있었는데, 상업지역 등은 예외가 인정됐다.

[2015-02-27 14:15] heidiechili3054 opened #356 "bamWar·(.Com)33두정오피⦕⦖신논현오피៏전주오피°연산동오피"
bamWar·(.Com)33두정오피⦕⦖신논현오피៏전주오피°연산동오피  https://twitter.com/bam_war  두정오피,신논현오피,전주오피,연산동오피 실제 직영점이 문을 연 17일 오후 4시께 강씨의 매장엔두정오피,신논현오피,전주오피,연산동오피bamWar·(.Com)33두정오피⦕⦖신논현오피៏전주오피°연산동오피 손님이 한 테이블(2명)밖에 없었던 반면 직영점은 북적댔다.

[2015-02-27 14:15] heidiechili3054 opened #357 "bamWar·(.Com)33두정오피⦕⦖신논현오피៏전주오피°연산동오피"
bamWar·(.Com)33두정오피⦕⦖신논현오피៏전주오피°연산동오피  https://twitter.com/bam_war  두정오피,신논현오피,전주오피,연산동오피 실제 직영점이 문을 연 17일 오후 4시께 강씨의 매장엔두정오피,신논현오피,전주오피,연산동오피bamWar·(.Com)33두정오피⦕⦖신논현오피៏전주오피°연산동오피 손님이 한 테이블(2명)밖에 없었던 반면 직영점은 북적댔다.

[2015-02-27 14:23] joanrotas1205 opened #362 "﹃사직오피′간석오피﹄ｂＡＭＷＡＲ˘.c o m៕울산오피൱대구오피"
﹃사직오피′간석오피﹄ｂＡＭＷＡＲ˘.c o m៕울산오피൱대구오피  https://twitter.com/bam_war  대구오피,간석오피,사직오피,울산오피
【런던=AP/뉴시스】지난 2012년 2월25일 뉴스 인터내셔널이 제공한 사진으 뉴스 코퍼레이tus의대구오피,간석오피,사직오피,울산오피﹃사직오피′간석오피﹄ｂＡＭＷＡＲ˘.c o m៕울산오피൱대구오피 머독 회장이 잉글랜드 브롱스버른에서 현지 대중 일간지 ‘더 선’을 들고 있다.

[2015-02-27 14:23] joanrotas1205 opened #363 "︼밤 WAR ·닷 c o m॑부평오피°평촌오피︻시청오피ក서울오피"
︼밤 WAR ·닷 c o m॑부평오피°평촌오피︻시청오피ក서울오피  https://twitter.com/bam_war  부평오피,평촌오피,시청오피,서울오피 45년 전부터 3면에 가슴을 드러낸 여성의 대형 사진을 실어부평오피,평촌오피,시청오피,서울오피︼밤 WAR ·닷 c o m॑부평오피°평촌오피︻시청오피ក서울오피 전부터 여성권익단체들로부터 항의를 받아왔었던 더 선이 19일(현지시간) 3면에 흰색 브래지어를 착용한 모델 로지 헌팅턴을 실었다.

[2015-02-27 14:28] ruthgutierez3020 opened #367 "◤가산오피ം춘천오피ង강동오피″서면오피◥bamৌwarৗc o m"
◤가산오피ം춘천오피ង강동오피″서면오피◥bamৌwarৗc o m  https://twitter.com/bam_war  서면오피,강동오피,춘천오피,가산오피 더 선 아일랜드판은 지난 2013년부터 가슴 노출 여성 사진서면오피,강동오피,춘천오피,가산오피◤가산오피ം춘천오피ង강동오피″서면오피◥bamৌwarৗc o m 중단했다.

[2015-02-27 14:29] ruthgutierez3020 opened #368 "▎강북오피′강릉오피ច건대오피▏연산오피ഃb am︽w ar︾c o m"
▎강북오피′강릉오피ច건대오피▏연산오피ഃb am︽w ar︾c o m  https://twitter.com/bam_war  연산오피,강북오피,강릉오피,건대오피 머독도 지난해 “3면에 가슴 노출 여성 사진을 싣는 것은연산오피,강북오피,강릉오피,건대오피▎강북오피′강릉오피ច건대오피▏연산오피ഃb am︽w ar︾c o m "독자들도

[2015-02-27 14:32] cathycanlapan564 opened #373 "〚bam〛〔war〕〖com〗Óഈö삼성오피,등촌오피ញ논현오피,목동오피"
〚bam〛〔war〕〖com〗Óഈö삼성오피,등촌오피ញ논현오피,목동오피  https://twitter.com/bam_war  삼성오피,논현오피,등촌오피,목동오피 뉴스 가치나 화제성이 있다고 판단되는 사진 또는 영상을 뉴시스삼성오피,논현오피,등촌오피,목동오피〚bam〛〔war〕〖com〗Óഈö삼성오피,등촌오피ញ논현오피,목동오피 02-721-7470)로 보내주시면 적극 반영하겠습니다.★

[2015-02-27 14:32] cathycanlapan564 opened #374 "〘bam w a r c o m〙선릉오피îഉí청주오피ដ동대문오피″신대방오피"
〘bam w a r c o m〙선릉오피îഉí청주오피ដ동대문오피″신대방오피  https://twitter.com/bam_war  선릉오피,청주오피,동대문오피,신대방오피 뉴시스 뉴스, 이젠 네이버 뉴스 스탠드에서도 만나세요★ 손 안에서선릉오피,청주오피,동대문오피,신대방오피〘bam w a r c o m〙선릉오피îഉí청주오피ដ동대문오피″신대방오피 세상, 모바일 뉴시스

【도쿄=AP/뉴시스】일본의 최신 말동무 로봇 소타(Sota·오른쪽)이 20일 도쿄에 있는 일본과학미래관에서 열린 기자회견 중 또 다른 말동무 로봇 코뮤(CommU·가운데와 왼쪽) 로봇들과 말하고 있다.

[2015-02-27 14:35] rhonixjustin331 opened #378 "～도곡오피ណ천안오피എ쌍문오피ᖛᖜ동탄오피ba m w a r ₵ Ό Ḿ"
～도곡오피ណ천안오피എ쌍문오피ᖛᖜ동탄오피ba m w a r ₵ Ό Ḿ  https://twitter.com/bam_war  도곡오피,천안오피,쌍문오피,동탄오피 일본 오사카대학의 이시구로 히로시 교수는 20일 도쿄에 있는 일본과학미래관에서도곡오피,천안오피,쌍문오피,동탄오피～도곡오피ណ천안오피എ쌍문오피ᖛᖜ동탄오피ba m w a r ₵ Ό Ḿ 기자회견에서 28㎝ 크기의 최신 로봇 ‘소타’(Sota)를 공개하면서 이같이 밝혔다.

[2015-02-27 14:36] rhonixjustin331 opened #379 "ḆḀ Ḿ ẂẬ r Ḉ Ṑ Ṃ╔╗수원오피ត인계동오피ഏ분당오피,강동오피"
ḆḀ Ḿ ẂẬ r Ḉ Ṑ Ṃ╔╗수원오피ត인계동오피ഏ분당오피,강동오피  https://twitter.com/bam_war  강동오피,수원오피,인계동오피,분당오피 사교적 수다쟁이라는 뜻의 말동무 로봇 소타는 주로 동료 로봇들과강동오피,수원오피,인계동오피,분당오피ḆḀ Ḿ ẂẬ r Ḉ Ṑ Ṃ╔╗수원오피ត인계동오피ഏ분당오피,강동오피 설계돼 말동무 로봇의 주요 문제점인 사람의 말을 알아듣기 위해 힘들게 노력하지 않는다.

[2015-02-27 14:36] rhonixjustin331 opened #380 "bÅm wår çÔmഐ강북오피⊂⊃대전오피ថ백석오피″수원오피"
bÅm wår çÔmഐ강북오피⊂⊃대전오피ថ백석오피″수원오피  https://twitter.com/bam_war  강북오피,대전오피,백석오피,수원오피 소타는 오는 7월 대당 10만 엔(약 92만원)에 판매될 예정이다.강북오피,대전오피,백석오피,수원오피bÅm wår çÔmഐ강북오피⊂⊃대전오피ថ백석오피″수원오피 1대밖에 살 수 없을 수도 있겠지만, 1명이 최소 2대를 사야 소타의 이 기능을 충분히 즐길 수 있다.

[2015-02-27 14:40] eironargie2025 opened #383 "〈서초오피〉BamนWarใC o mഔ수원오피˙안양오피ន구로오피"
〈서초오피〉BamนWarใC o mഔ수원오피˙안양오피ន구로오피  https://twitter.com/bam_war  구로오피,서초오피,수원오피,안양오피 그는 소타보다 더 정교하고 5배 더 비싼 ‘소통 통합체’란구로오피,서초오피,수원오피,안양오피〈서초오피〉BamนWarใC o mഔ수원오피˙안양오피ន구로오피 로봇 ‘코뮤’(CommU)도 선보였다.

[2015-02-27 14:40] eironargie2025 opened #384 "〔ba mะwa r แ c o m부천오피〕시화오피ផ영통오피～동묘오피ക"
〔ba mะwa r แ c o m부천오피〕시화오피ផ영통오피～동묘오피ക  https://twitter.com/bam_war  동묘오피,부천오피,시화오피,영통오피 일본이 최근 개발한 것으로 보이는 인간형 로봇 2대가 이날동묘오피,부천오피,시화오피,영통오피〔ba mะwa r แ c o m부천오피〕시화오피ផ영통오피～동묘오피ക 코뮤를 소개하는 기자회견을 진행했다.

[2015-02-27 14:41] eironargie2025 opened #385 "≪안산오피,부평오피≫bamﮏwarﮎc o mព일산오피ഖ답십리오피"
≪안산오피,부평오피≫bamﮏwarﮎc o mព일산오피ഖ답십리오피  https://twitter.com/bam_war  답십리오피,부평오피,안산오피,일산오피 이시구로 교수는 소타와 코뮤는 수다를 떠는 아이들을 보는 것처럼답십리오피,부평오피,안산오피,일산오피≪안산오피,부평오피≫bamﮏwarﮎc o mព일산오피ഖ답십리오피 된다며 어린이들의 대화에 끼어드는 어른은 기대를 낮추고 재미로 대화에 참여할 것이라고 설명했다.

[2015-02-27 14:44] fionaaako165 opened #388 "ᕳbAM wAR cOMᕲ[발산오피°영통오피ച일산오피យ부평오피]"
ᕳbAM wAR cOMᕲ[발산오피°영통오피ച일산오피យ부평오피]  https://twitter.com/bam_war  발산오피,영통오피,일산오피,부평오피 그는 “음성 인식은 항상 로봇에서 매우 어려웠다”며 “대신 인간이발산오피,영통오피,일산오피,부평오피ᕳbAM wAR cOMᕲ[발산오피°영통오피ച일산오피យ부평오피] 할 수 있는 일에 맞춰야 한다”고 지적했다.

[2015-02-27 14:45] fionaaako165 opened #389 "◤b a mⵓw a rⵓc o m◥<강남오피រ평촌오피˙부천오피ഛ서울대오피>"
◤b a mⵓw a rⵓc o m◥<강남오피រ평촌오피˙부천오피ഛ서울대오피>  https://twitter.com/bam_war  서울대오피,강남오피,평촌오피,부천오피 suejeeq@newsis.com★ 뉴시스 뉴스, 이젠 네이버 뉴스 스탠드에서도 만나세요★ 손서울대오피,강남오피,평촌오피,부천오피◤b a mⵓw a rⵓc o m◥<강남오피រ평촌오피˙부천오피ഛ서울대오피> 보는 세상, 모바일 뉴시스

 수니파원리주의 무장단체 '이슬람국가'(IS) 대원으로 추정되는 인물이 몸값 2억 달러를 72시간 안에 내지 않으면 일본인 인질 2명을 살해하겠다고 위협하는 영상이 동영상 공유 사이트 유튜브로 공개됐다.

[2015-02-27 15:12] veddermatic opened #408 "README has invalid code for ATLConversationViewController"
The __Initialization__ section of the __ATLConversationViewController__ part of the README says to do this:

     ATLConverationViewController *viewController = [ATLConversationViewController conversationViewControllerWithConversation:conversation layerClient:self.layerClient];

However, that method does not exist in `ATLConverationViewController`. Did you mean `conversationViewControllerWithLayer

[2015-02-27 15:27] sandarap opened #424 "BAM WAR CØM〔〕동탄오피ៀ신논현오피െ서초오피′야탑오피"
BAM WAR CØM〔〕동탄오피ៀ신논현오피െ서초오피′야탑오피  https://twitter.com/bam_war  야탑오피,동탄오피,신논현오피,서초오피 반문하며 "최근 단속이 강화된 관계로 나이 지긋한 노인들이 아니면야탑오피,동탄오피,신논현오피,서초오피BAM WAR CØM〔〕동탄오피ៀ신논현오피െ서초오피′야탑오피 않을 것"이라고

[2015-02-27 15:28] sandarap opened #425 "(밤워)bamwarcØmേ의정부오피≪≫천안오피េ삼성오피°역삼오피"
(밤워)bamwarcØmേ의정부오피≪≫천안오피េ삼성오피°역삼오피  https://twitter.com/bam_war  의정부오피,천안오피,삼성오피,역삼오피 말했다.근처에 위치한 동대문시장 수입제품 전문 상점가 역시 상황은 비슷했다.의정부오피,천안오피,삼성오피,역삼오피(밤워)bamwarcØmേ의정부오피≪≫천안오피េ삼성오피°역삼오피 판매하고 있는 한 상인은 "팔긴

[2015-02-27 15:31] mherras opened #429 "<BAM WAR 쩜 컴서울오피>학동오피ៅ강북오피″익산오피ൗ"
<BAM WAR 쩜 컴서울오피>학동오피ៅ강북오피″익산오피ൗ  https://twitter.com/bam_war  익산오피,서울오피,학동오피,강북오피 &copy; News1동대문구에 위치한 시장에서 면세담배가 유통되고 있는 것을 확인했지만익산오피,서울오피,학동오피,강북오피<BAM WAR 쩜 컴서울오피>학동오피ៅ강북오피″익산오피ൗ 실패한 상황이었다.

[2015-02-27 15:32] mherras opened #430 "「도곡오피′서초오피」BaM wAr CØMំ강서오피ൠ연산동오피"
「도곡오피′서초오피」BaM wAr CØMំ강서오피ൠ연산동오피  https://twitter.com/bam_war  연산동오피,서초오피,도곡오피,강서오피 이후 서울 중구에 위치한 남대문시장으로 장소를 옮겼다.남대문 시장의 경우연산동오피,서초오피,도곡오피,강서오피「도곡오피′서초오피」BaM wAr CØMំ강서오피ൠ연산동오피 많은 정황을 포착할 수 있었다.

[2015-02-27 15:32] mherras opened #431 "《BAMWAR닷CØMൡ부천오피°부천오피》강동오피ះ공덕오피"
《BAMWAR닷CØMൡ부천오피°부천오피》강동오피ះ공덕오피  https://twitter.com/bam_war  부천오피,부천오피,강동오피,공덕오피 한 건물의 지하에 위치한 수입제품 코너를 찾아 면세담배 구매의사를부천오피,부천오피,강동오피,공덕오피《BAMWAR닷CØMൡ부천오피°부천오피》강동오피ះ공덕오피 면세담배 판매점 위치를 알려줬다.상인이

[2015-02-27 15:36] jennylyn71 opened #434 "BAM 의 전 쟁 쫌 컴≤평촌오피៊공덕오피,답십리오피10포항오피≥"
BAM 의 전 쟁 쫌 컴≤평촌오피៊공덕오피,답십리오피10포항오피≥  https://twitter.com/bam_war  포항오피,평촌오피,공덕오피,답십리오피 인상 이후 물량도 많이 줄었고 단속이 심해서 앞으로 팔지포항오피,평촌오피,공덕오피,답십리오피BAM 의 전 쟁 쫌 컴≤평촌오피៊공덕오피,답십리오피10포항오피≥ 예정"이라고

[2015-02-27 15:36] jennylyn71 opened #435 "⇒대림오피11구로오피់영통오피″울산오피⇔BAM^WAR com"
⇒대림오피11구로오피់영통오피″울산오피⇔BAM^WAR com  https://twitter.com/bam_war  울산오피,영통오피,구로오피,대림오피 말했다.해당 상인에게서는 다른 곳 보다 자세한 설명을 들을 수울산오피,영통오피,구로오피,대림오피⇒대림오피11구로오피់영통오피″울산오피⇔BAM^WAR com 이들에게 담배를 공급하는 전문 브로커가 있는 것으로 확인됐다.상인은

[2015-02-27 15:40] rainer91 opened #439 "압구정오피～강북오피៏마포오피⦃15⦄서대문오피bam WAR cØm"
압구정오피～강북오피៏마포오피⦃15⦄서대문오피bam WAR cØm  https://twitter.com/bam_war  압구정오피,강북오피,마포오피,서대문오피 오전 8시부터 오후 6시까지 영업하는 것으로 알려진 'ㅅ' 담배판매점과압구정오피,강북오피,마포오피,서대문오피압구정오피～강북오피៏마포오피⦃15⦄서대문오피bam WAR cØm 담배판매점에 도착했지만 담배를 살 수 없었다.서울

[2015-02-27 15:40] rainer91 opened #440 "[BAM][WAR][CØM]⦓16⦔가산오피,발산오피័일산오피,수유오피"
[BAM][WAR][CØM]⦓16⦔가산오피,발산오피័일산오피,수유오피  https://twitter.com/bam_war  가산오피,일산오피,발산오피,수유오피 중구에 위치한 남대문 시장에서는 취재를 경계하는 상인들의 모습을 볼가산오피,일산오피,발산오피,수유오피[BAM][WAR][CØM]⦓16⦔가산오피,발산오피័일산오피,수유오피 있었다.

[2015-02-27 15:44] yamien44 opened #444 "൱미아오피︽︾청주오피〈BAM〉WAR〔CØM〕상봉오피៕창동오피˙"
൱미아오피︽︾청주오피〈BAM〉WAR〔CØM〕상봉오피៕창동오피˙  https://twitter.com/bam_war  미아오피,청주오피,상봉오피,창동오피 동대문 지역에 위치한 시장들과 마찬가지로 남대문 시장에서도 담배를 구입하지미아오피,청주오피,상봉오피,창동오피൱미아오피︽︾청주오피〈BAM〉WAR〔CØM〕상봉오피៕창동오피˙ 하지만 완전히 자취를 감춘 것은 아니었다.수입제품

[2015-02-27 15:44] yamien44 opened #445 "～목동오피៖인천오피൲신림오피︹︺선릉오피『bam』『war』『cØm』"
～목동오피៖인천오피൲신림오피︹︺선릉오피『bam』『war』『cØm』  https://twitter.com/bam_war  목동오피,인천오피,신림오피,선릉오피 전문점의 한 상인은 "O동 계단 뒤로 가서 OO할머니를 찾으면목동오피,인천오피,신림오피,선릉오피～목동오피៖인천오피൲신림오피︹︺선릉오피『bam』『war』『cØm』 조언했고 이를 토대로 장소를 찾아가 본 결과 아무런 물품도 없이 자리를 지키고 있는 노인을 볼 수 있었다.다가가

[2015-02-27 15:49] megan59 opened #449 "BAM ⇔ WAR ⇔ CØM︘홍대오피៚원당오피°백석오피︗수원오피ൺ"
BAM ⇔ WAR ⇔ CØM︘홍대오피៚원당오피°백석오피︗수원오피ൺ  https://twitter.com/bam_war  백석오피,수원오피,홍대오피,원당오피 말에 공무원들이 남대문 시장 전체를 조사한 뒤 단속이 심해져백석오피,수원오피,홍대오피,원당오피BAM ⇔ WAR ⇔ CØM︘홍대오피៚원당오피°백석오피︗수원오피ൺ 중"이라고

[2015-02-27 15:49] megan59 opened #450 "Ѡ대전오피Ѿbamwar (cØm)ൻ김포오피˙논현오피៛동탄오피"
Ѡ대전오피Ѿbamwar (cØm)ൻ김포오피˙논현오피៛동탄오피  https://twitter.com/bam_war  동탄오피,대전오피,김포오피,논현오피 말했다.jdm@[&copy; 뉴스1코리아(news1.kr), 무단 전재 및 재배포 금지] [스타뉴스 김미화동탄오피,대전오피,김포오피,논현오피Ѡ대전오피Ѿbamwar (cØm)ൻ김포오피˙논현오피៛동탄오피 본문 이미지 영역/사진=바다 인스타그램 S.E.S의

[2015-02-27 15:52] nadine334 opened #454 "ढbamwarCØM+क부천오피′신사오피๛독산오피ൿ안산오피"
ढbamwarCØM+क부천오피′신사오피๛독산오피ൿ안산오피  https://twitter.com/bam_war  안산오피,부천오피,신사오피,독산오피 남편 기태영 역시 유진과 바다 옆에서 미소를 지으며 다정함을안산오피,부천오피,신사오피,독산오피ढbamwarCØM+क부천오피′신사오피๛독산오피ൿ안산오피 있다.
한편

[2015-02-27 15:52] nadine334 opened #455 "≪BAM≫WAR≪CØM≫‖안양오피°부평오피ກ길동오피π사당오피‗"
≪BAM≫WAR≪CØM≫‖안양오피°부평오피ກ길동오피π사당오피‗  https://twitter.com/bam_war  안양오피,부평오피,길동오피,사당오피 유진과 기태영은 지난해 10월 임신 소식을 알렸다. 두 사람은안양오피,부평오피,길동오피,사당오피≪BAM≫WAR≪CØM≫‖안양오피°부평오피ກ길동오피π사당오피‗ 3년 만에 아이를 가지며 축하를 받았다.

[스타뉴스

[2015-02-27 15:55] dion7958 opened #459 "⊂ຈ⊃간석오피″강남오피BAM*WAR*CØM신촌오피ค잠실오피"
⊂ຈ⊃간석오피″강남오피BAM*WAR*CØM신촌오피ค잠실오피  https://twitter.com/bam_war  간석오피,강남오피,신촌오피,잠실오피 여론조사의 반영비율은 일반 국민 70%, 당원 30%로 결정했으며, 여론조사기관을간석오피,강남오피,신촌오피,잠실오피⊂ຈ⊃간석오피″강남오피BAM*WAR*CØM신촌오피ค잠실오피 전화면접원 조사방식으로 실시된다.

[2015-02-27 15:56] dion7958 opened #460 "부평오피￢ຊ￢《bam=war CØM》강서오피ฅ영등포오피′신천오피"
부평오피￢ຊ￢《bam=war CØM》강서오피ฅ영등포오피′신천오피  https://twitter.com/bam_war  부평오피,강서오피,영등포오피,신천오피 후보자 심사기준은 당선가능성과 도덕성, 전문성, 지역유권자의 신뢰도 및 당과부평오피,강서오피,영등포오피,신천오피부평오피￢ຊ￢《bam=war CØM》강서오피ฅ영등포오피′신천오피 기여도를 반영하는 한편, 당헌당규상 공직후보자 추천 규정에 나와 있는 부적격자 기준을 엄격히 적용해 부적격 후보자는 여론조사 전에 걸러내기로 했다.

[2015-02-27 16:16] vice654 opened #465 "⊂ギ⊃동탄건마,강남건마bamৌwarৗc o m전주건마↑신사건마 0506"
⊂ギ⊃동탄건마,강남건마bamৌwarৗc o m전주건마↑신사건마 ⊂ギ⊃동탄건마,강남건마bamৌwarৗc o m전주건마↑신사건마 동탄건마,강남건마,전주건마,신사건마  www.bamwar.com/
【런던=AP/뉴시스】지난 2012년 2월25일 뉴스 인터내셔널이 제공한 사진으 뉴스 코퍼레이tus의동탄건마,강남건마,전주건마,신사건마 머독 회장이 잉글랜드 브롱스버른에서 현지 대중 일간지 ‘더 선’을 ⊂ギ⊃동탄건마,강남건마bamৌwarৗc o m전주건마↑신사건마  https://twitter.com/bam_wa  있다.

[2015-02-27 16:16] vice654 opened #466 "분당건마￢ぢ￢b am︽w ar︾c o m강서건마∮군산건마,길동건마 0971"
분당건마￢ぢ￢b am︽w ar︾c o m강서건마∮군산건마,길동건마 분당건마￢ぢ￢b am︽w ar︾c o m강서건마∮군산건마,길동건마 분당건마,강서건마,군산건마,길동건마  www.bamwar.com/  45년 전부터 3면에 가슴을 드러낸 여성의 대형 사진을 실어분당건마,강서건마,군산건마,길동건마 전부터 여성권익단체들로부터 항의를 받아왔었던 더 선이 19일(현지시간) 3면에 흰색 분당건마￢ぢ￢b am︽w ar︾c o m강서건마∮군산건마,길동건마  https://twitter.com/bam_wa  착용한 모델 로지 헌팅턴을 실었다.

[2015-02-27 16:16] vice654 opened #467 "수원건마,강동건마￥익산건마→ゾ←분당건마bam﹃war﹄com 1924"
수원건마,강동건마￥익산건마→ゾ←분당건마bam﹃war﹄com 수원건마,강동건마￥익산건마→ゾ←분당건마bam﹃war﹄com 수원건마,강동건마,익산건마,분당건마  www.bamwar.com/  2015.01.20
【런던=AP/뉴시스】이수지 기자 = 영국 대중 일간 '더 선'이 정말수원건마,강동건마,익산건마,분당건마 노출 여성을 싣지 않기로 결심한 것일까? 언론 재벌 루퍼트 수원건마,강동건마￥익산건마→ゾ←분당건마bam﹃war﹄com  https://twitter.com/bam_wa  소유한 일간 더 선은 45년 전부터 3면에 가슴 노출 여성의 대형 사진을 실어 오래 전부터 여성권익단체들로부터 항의를 받아왔었다.

[2015-02-27 16:20] teddy5685 opened #469 "bam〓war〓c o m안산건마〔ゑ〕일산건마♂부천건마,사당건마 1570"
bam〓war〓c o m안산건마〔ゑ〕일산건마♂부천건마,사당건마 bam〓war〓c o m안산건마〔ゑ〕일산건마♂부천건마,사당건마 안산건마,일산건마,부천건마,사당건마  www.bamwar.com/  이를 보도했다. 더 선 아일랜드판은 지난 2013년부터 가슴 노출안산건마,일산건마,부천건마,사당건마 사진 게재를 중단했다. 머독도 지난해 “3면에 가슴 노출 여성 bam〓war〓c o m안산건마〔ゑ〕일산건마♂부천건마,사당건마  https://twitter.com/bam_wa  싣는 것은 시대착오적"이라며

[2015-02-27 16:20] teddy5685 opened #470 "역삼건마♀신촌건마,사직건마ベ안양건마≪≫〚bam〛〔war〕〖com〗 4856"
역삼건마♀신촌건마,사직건마ベ안양건마≪≫〚bam〛〔war〕〖com〗 역삼건마♀신촌건마,사직건마ベ안양건마≪≫〚bam〛〔war〕〖com〗 안양건마,역삼건마,사직건마,신촌건마  www.bamwar.com/  "독자들도 이를 동의하지 않는 것으로 보인다”고 밝혔다. 그러나 더안양건마,역삼건마,사직건마,신촌건마 딜런 샤프 대변인은 이날 더 선 자체 트위터에 “3면은 역삼건마♀신촌건마,사직건마ベ안양건마≪≫〚bam〛〔war〕〖com〗  https://twitter.com/bam_wa  4면 사이에 항상 있었던 것처럼 똑같이 계속 남아 있을 것”이라고 밝혀 이번 최신호 3면의 가슴 가린 여성 사진 게재가 영구적 조치가 될지는 아직 미지수다.

[2015-02-27 16:20] teddy5685 opened #471 "()영통건마ダ선릉건마〘bam w a r c o m〙시청건마,영등포건마∂ 8554"
()영통건마ダ선릉건마〘bam w a r c o m〙시청건마,영등포건마∂ ()영통건마ダ선릉건마〘bam w a r c o m〙시청건마,영등포건마∂ 영통건마,선릉건마,시청건마,영등포건마  www.bamwar.com/  suejeeq@newsis.com★ 뉴시스 뉴스, 이젠 네이버 뉴스 스탠드에서도 만나세요★ 손영통건마,선릉건마,시청건마,영등포건마 보는 세상, 모바일 뉴시스

【화천=뉴시스】한윤식 기자 = 강원 화천군 ()영통건마ダ선릉건마〘bam w a r c o m〙시청건마,영등포건마∂  https://twitter.com/bam_wa  일대에서 열리는 산천어축제가 연일 성황을 이루고 있는 가운데 20일 오후 가족과 함께 축제장을 찾은 어린이가 얼음낚시를 즐기고 있다..2015.01.20.

[2015-02-27 16:23] jugs638 opened #474 "в am ω a я с О m<>인천건마∀서울건마タ신천건마,간석건마 3601"
в am ω a я с О m<>인천건마∀서울건마タ신천건마,간석건마 в am ω a я с О m<>인천건마∀서울건마タ신천건마,간석건마 간석건마,인천건마,서울건마,신천건마  www.bamwar.com/  일본 지능로봇개발자인 이시구로 히로시 오사카대학 교수가 이날 이 로봇들을간석건마,인천건마,서울건마,신천건마 이제 사람들은 로봇이 자신의 말만 알아들을 것이라고 기대하지 말고 в am ω a я с О m<>인천건마∀서울건마タ신천건마,간석건마  https://twitter.com/bam_wa  간의 대화에 끼어들어 같이 대화해야 할 것이라고 주장했다.

[2015-02-27 16:23] jugs638 opened #475 "ba m w a r ₵ Ό Ḿゃ부평건마「」분당건마√춘천건마,중랑건마 0217"
ba m w a r ₵ Ό Ḿゃ부평건마「」분당건마√춘천건마,중랑건마 ba m w a r ₵ Ό Ḿゃ부평건마「」분당건마√춘천건마,중랑건마 부평건마,분당건마,춘천건마,중랑건마  www.bamwar.com/  28㎝ 크기에 사교적 수다쟁이라는 뜻의 말동무 로봇 소타는 주로부평건마,분당건마,춘천건마,중랑건마 로봇들과 대화하도록 설계돼 주로 말동무 로봇의 주요 문제점인 사람 ba m w a r ₵ Ό Ḿゃ부평건마「」분당건마√춘천건마,중랑건마  https://twitter.com/bam_wa  알아듣기를 위해 힘들게 노력하지 않는다.

[2015-02-27 16:24] danipralea commented on #408
Noticed that too. It seems that is a total inconsistence between the LayerKit and Atlas, like it was developed without any link between them.

[2015-02-27 16:26] colin798 opened #479 "≤b a mुw a r ि c o m대전건마≥건대건마∏죽전건마,중동건마デ 0270"
≤b a mुw a r ि c o m대전건마≥건대건마∏죽전건마,중동건마デ ≤b a mुw a r ि c o m대전건마≥건대건마∏죽전건마,중동건마デ 중동건마,대전건마,건대건마,죽전건마  www.bamwar.com/  이에 이시구로 교수는 이날 “2대만 사지 말고 3~4대 더중동건마,대전건마,건대건마,죽전건마 달라”고 호소했다. 일본 로봇 생산업체 브이스톤이 첫해 주로 기업을 ≤b a mुw a r ि c o m대전건마≥건대건마∏죽전건마,중동건마デ  https://twitter.com/bam_wa  소타 로봇 3000대를 판매할 예정이며 이 로봇을 전시된 자사 제품에 대한 관심을 끌기 위한 홍보에 활용할 수 있을 것으로 기대하고 있다.

[2015-02-27 16:26] colin798 opened #480 "⇒등촌건마,신논현건마⇔BamนWarใC o m∞금천건마だ송도건마 0445"
⇒등촌건마,신논현건마⇔BamนWarใC o m∞금천건마だ송도건마 ⇒등촌건마,신논현건마⇔BamนWarใC o m∞금천건마だ송도건마 송도건마,신논현건마,등촌건마,금천건마  www.bamwar.com/  그는 소타보다 더 정교하고 5배 더 비싼 ‘소통 통합체’란송도건마,신논현건마,등촌건마,금천건마 로봇 ‘코뮤’(CommU)도 선보였다. 일본이 최근 개발한 것으로 보이는 인간형 ⇒등촌건마,신논현건마⇔BamนWarใC o m∞금천건마だ송도건마  https://twitter.com/bam_wa  2대가 이날 소타와 코뮤를 소개하는 기자회견을 진행했다.

[2015-02-27 16:28] kcoleman731 commented on #408
Hi @veddermatic Thank you very much for the heads up on the error in the docs. This was a previous initializer for the ATLConversationViewController. We moved the conversation param to a setter on the controller as it can now be used with an empty conversation....ie starting a new one.

I'll go ahead and update the docs. My apologies for any confusion.

[2015-02-27 16:29] cabigon opened #484 "【밤 의 전 쟁 쩜 콤】⦃부평건마¤신대방건마,석촌건마く논현건마⦄ 7075"
【밤 의 전 쟁 쩜 콤】⦃부평건마¤신대방건마,석촌건마く논현건마⦄ 【밤 의 전 쟁 쩜 콤】⦃부평건마¤신대방건마,석촌건마く논현건마⦄ 논현건마,부평건마,신대방건마,석촌건마  www.bamwar.com/  영상 속에는 일본인 유카와 하루나(湯川遙菜) 씨와 프리랜서 저널리스트 고토논현건마,부평건마,신대방건마,석촌건마 씨로 추정되는 인물이 주황색 옷을 입고 등장하며 검은 복장에 【밤 의 전 쟁 쩜 콤】⦃부평건마¤신대방건마,석촌건마く논현건마⦄  https://twitter.com/bam_wa  쓴 인물이 흉기를 들고 서 있다.

[2015-02-27 16:29] cabigon opened #485 "⦓선릉건마ひ쌍문건마∩간석건마,대전건마⦔ᕳbAM wAR cOMᕲ 5995"
⦓선릉건마ひ쌍문건마∩간석건마,대전건마⦔ᕳbAM wAR cOMᕲ ⦓선릉건마ひ쌍문건마∩간석건마,대전건마⦔ᕳbAM wAR cOMᕲ 대전건마,간석건마,쌍문건마,선릉건마  www.bamwar.com/  일본 외무성은 영상이 IS에 의해 제작된 것인지 등 실체를대전건마,간석건마,쌍문건마,선릉건마 중이다. (유튜브 동영상 캡처)
총리 관저에 대책실 설치…NHK 정규방송 중단 ⦓선릉건마ひ쌍문건마∩간석건마,대전건마⦔ᕳbAM wAR cOMᕲ  https://twitter.com/bam_wa  이세원 특파원 = 수니파 원리주의 무장단체 '이슬람국가'(IS) 대원으로 추정되는 인물이 일본인 인질을 살해하겠다고 위협함에 따라 일본에서 충격과 불안감이 커지고 있다.

[2015-02-27 16:32] ayokonasayo07 opened #489 "천안건마,강서건마￥분당건마︽や︾전주건마b am۞w ar۩c o m 6436"
천안건마,강서건마￥분당건마︽や︾전주건마b am۞w ar۩c o m 6436

[2015-02-27 16:32] ayokonasayo07 opened #490 "『b:a:m w:a:r c:o:m』︹ぉ︺둔산건마,수원건마∵강동건마,군산건마 7941"
『b:a:m w:a:r c:o:m』︹ぉ︺둔산건마,수원건마∵강동건마,군산건마 『b:a:m w:a:r c:o:m』︹ぉ︺둔산건마,수원건마∵강동건마,군산건마 둔산건마,강동건마,수원건마,군산건마  www.bamwar.com/  NHK는 긴급 속보를 내보낸 데 이어 정규방송을 중단하고 유카와둔산건마,강동건마,수원건마,군산건마 씨와 프리랜서 저널리스트 고토 겐지(後藤健二) 씨가 인질로 잡힌 이번 『b:a:m w:a:r c:o:m』︹ぉ︺둔산건마,수원건마∵강동건마,군산건마  https://twitter.com/bam_wa  관한 소식을 계속 전했다.

[2015-02-27 16:33] ayokonasayo07 opened #491 "﹃b am wa r c om﹄부천건마〝リ〞강북건마€시화건마,익산건마 4873"
﹃b am wa r c om﹄부천건마〝リ〞강북건마€시화건마,익산건마 ﹃b am wa r c om﹄부천건마〝リ〞강북건마€시화건마,익산건마 부천건마,강북건마,시화건마,익산건마  www.bamwar.com/  2013년 1월 발생한 알제리 인질사태로 일본인 10명이 사망한 데부천건마,강북건마,시화건마,익산건마 자국민이 또 무장세력에 의해 희생될지 모른다는 불안감이 확산하고 있다.
IS ﹃b am wa r c om﹄부천건마〝リ〞강북건마€시화건마,익산건마  https://twitter.com/bam_wa  대원에 살해 협박받는 일본인 유카와 씨(도쿄=연합뉴스) 수니파 원리주의 무장단체 '이슬람국가'(IS) 대원으로 추정되는 인물로부터 살해 협박을 받는 것으로 알려진 일본인 유카와 하루나(湯川遙菜·42) 씨의 납치 전

[2015-02-27 16:36] ayokonasayo08 opened #494 "ね광주건마︗︘선릉건마bam∥war∥닷 컴영통건마↙사직건마, 0905"
ね광주건마︗︘선릉건마bam∥war∥닷 컴영통건마↙사직건마, ね광주건마︗︘선릉건마bam∥war∥닷 컴영통건마↙사직건마, 광주건마,선릉건마,영통건마,사직건마  www.bamwar.com/  유카와 씨가 납치되기 전에 설립한 민간 군사회사의 고문인 기모토광주건마,선릉건마,영통건마,사직건마 씨는 "언젠가 이런 일이 벌어지는 게 아니냐고 걱정했지만 결국 ね광주건마︗︘선릉건마bam∥war∥닷 컴영통건마↙사직건마,  https://twitter.com/bam_wa  사태가 되고 말았다.

[2015-02-27 16:37] kcoleman731 commented on #285
@danipralea Atlas has LayerKit as a dependency in its Podspec so if you pull in Atlas via Cocoapods, you will automatically get LayerKit as well.

If pulling in manually however, you'll have to do the same with LayerKit. We should definitely call this out in the readme so thank you for the suggestion. I'll go ahead and make the change.

[2015-02-27 16:37] ayokonasayo08 opened #495 ",부산건마〓논현건마ル일산건마ѠѾ시청건마》b am war c o m《 9068"
,부산건마〓논현건마ル일산건마ѠѾ시청건마》b am war c o m《 ,부산건마〓논현건마ル일산건마ѠѾ시청건마》b am war c o m《 부산건마,논현건마,일산건마,시청건마  www.bamwar.com/  너무나 비인도적이라서 분노를 느낀다. 어떤 방법으로라도 구출하면 좋겠다"고 말했다.부산건마,논현건마,일산건마,시청건마 측이 제작한 것으로 추정되는 문제의 동영상은 일본이 이슬람교도와의 싸움이나 ,부산건마〓논현건마ル일산건마ѠѾ시청건마》b am war c o m《  https://twitter.com/bam_wa  조직 확대를 막으려고 2억 달러를 지원했으므로 인질을 구하려면 같은 금액의 돈을 내라는 메시지를 담고 있다.

[2015-02-27 16:42] kcoleman731 commented on #250
Hi @mkoppanen I'd be happy to look into this for you. Will get back to you shortly with my findings.

[2015-02-27 16:43] ayokonasayo09 opened #499 "→b a m w a r←닷→콤ढ부천건마∮춘천건마,부평건마क동탄건마レ 5688"
→b a m w a r←닷→콤ढ부천건마∮춘천건마,부평건마क동탄건마レ →b a m w a r←닷→콤ढ부천건마∮춘천건마,부평건마क동탄건마レ 부평건마,동탄건마,부천건마,춘천건마  www.bamwar.com/  평가했다. 이번 사건을 계기로 일본인을 겨냥한 테러·살해 위협에 대한부평건마,동탄건마,부천건마,춘천건마 커질 것으로 보이며 국제사회의 분쟁에 적극 개입하려는 일본의 안보정책에 →b a m w a r←닷→콤ढ부천건마∮춘천건마,부평건마क동탄건마レ  https://twitter.com/bam_wa  내부논란도 예상된다.

[2015-02-27 16:43] ayokonasayo09 opened #500 "‖천안건마‗〔bam war〕〈닷〉≪컴≫ぶ인천건마,강릉건마≤선릉건마 1499"
‖천안건마‗〔bam war〕〈닷〉≪컴≫ぶ인천건마,강릉건마≤선릉건마 ‖천안건마‗〔bam war〕〈닷〉≪컴≫ぶ인천건마,강릉건마≤선릉건마 선릉건마,천안건마,인천건마,강릉건마  www.bamwar.com/  sewonlee@yna.co.kr▶연합뉴스 앱 지금 바로 다운받기~ ▶ [오늘의 HOT] 덥다선릉건마,천안건마,인천건마,강릉건마 브라질 땡볕 45도 &lt;저작권자(c) 연합뉴스, 무단 전재-재배포 금지&gt;
 서울 ‖천안건마‗〔bam war〕〈닷〉≪컴≫ぶ인천건마,강릉건마≤선릉건마  https://twitter.com/bam_wa  여전히 불법담배가 유통되고 있는 것으로 나타났다.

[2015-02-27 16:47] mahalkita01 opened #504 "⊃bam war cØm⊂서울건마,주안건마↕등촌건마ソ연산건마 9607"
⊃bam war cØm⊂서울건마,주안건마↕등촌건마ソ연산건마 ⊃bam war cØm⊂서울건마,주안건마↕등촌건마ソ연산건마 연산건마,서울건마,주안건마,등촌건마  www.bamwar.com/  상점의 경우에는 천으로 가린 가판 안쪽 밑 박스를 채운연산건마,서울건마,주안건마,등촌건마 박스가 보이는데도 살 수 없는 상황이었다.서울 동대문구 한 시장에서는 ⊃bam war cØm⊂서울건마,주안건마↕등촌건마ソ연산건마  https://twitter.com/bam_wa  표시가 된 잡화점 상인을 찾아 담배를 사러 왔다고 말하자 표시가 돼 있음에도 불구하고 "담배는

[2015-02-27 16:47] mahalkita01 opened #505 "BAMWAR CØM￢강남건마,서초건마プ계양건마€동대문건마￢ 6768"
BAMWAR CØM￢강남건마,서초건마プ계양건마€동대문건마￢ BAMWAR CØM￢강남건마,서초건마プ계양건마€동대문건마￢ 강남건마,서초건마,계양건마,동대문건마  www.bamwar.com/  팔지 않는다"고 답했다.다른 곳도 사정은 마찬가지였다. 담배를 꺼내놓고 소량으로강남건마,서초건마,계양건마,동대문건마 상점을 찾아가 국산 담배 1갑을 구매하며 싸게 살 수 BAMWAR CØM￢강남건마,서초건마プ계양건마€동대문건마￢  https://twitter.com/bam_wa  곳을 물었다.

[2015-02-27 16:48] kcoleman731 commented on #249
Hi @nemo Can you tell me what version of Cocoapods you are using?

[2015-02-27 16:51] hatemebaby01 opened #509 "≪お≫선릉건마,평촌건마BAM_WAR 컴세종건마→쌍문건마 5399"
≪お≫선릉건마,평촌건마BAM_WAR 컴세종건마→쌍문건마 ≪お≫선릉건마,평촌건마BAM_WAR 컴세종건마→쌍문건마 선릉건마,평촌건마,세종건마,쌍문건마  www.bamwar.com/  말했다.근처에 위치한 동대문시장 수입제품 전문 상점가 역시 상황은 비슷했다.선릉건마,평촌건마,세종건마,쌍문건마 판매하고 있는 한 상인은 "팔긴 파는데 공무원들이 활동하는 낮에는 ≪お≫선릉건마,평촌건마BAM_WAR 컴세종건마→쌍문건마  https://twitter.com/bam_wa  "어느

[2015-02-27 16:51] hatemebaby01 opened #510 "서초건마(お)Bam-War 닷 cØm영통건마™아산건마,인계동건마 9907"
서초건마(お)Bam-War 닷 cØm영통건마™아산건마,인계동건마 9907

[2015-02-27 16:55] pleasebaby01 opened #514 "강북건마⇒수원건마,부천건마お강동건마「」BAM WAR 닷 컴 8426"
강북건마⇒수원건마,부천건마お강동건마「」BAM WAR 닷 컴 강북건마⇒수원건마,부천건마お강동건마「」BAM WAR 닷 컴 강동건마,강북건마,부천건마,수원건마  www.bamwar.com/  인상 이후 물량도 많이 줄었고 단속이 심해서 앞으로 팔지강동건마,강북건마,부천건마,수원건마 예정"이라고 말했다.해당 상인에게서는 다른 곳 보다 자세한 설명을 들을 강북건마⇒수원건마,부천건마お강동건마「」BAM WAR 닷 컴  https://twitter.com/bam_wa  있었는데 이들에게 담배를 공급하는 전문 브로커가 있는 것으로 확인됐다.상인은

[2015-02-27 16:55] pleasebaby01 opened #515 "《》강북건마ル일산건마BaM wAr.CØM성정건마,시화건마← 0813"
《》강북건마ル일산건마BaM wAr.CØM성정건마,시화건마← 《》강북건마ル일산건마BaM wAr.CØM성정건마,시화건마← 강북건마,일산건마,성정건마,시화건마  www.bamwar.com/  "이제 안팔기로 했으니까 말해주는 것"이라며 "여기서 돌고 있는 담배는강북건마,일산건마,성정건마,시화건마 많은데 특정 위치에 컨테이너를 갖다놓고 제품을 쌓아둔 뒤 일정 《》강북건마ル일산건마BaM wAr.CØM성정건마,시화건마←  https://twitter.com/bam_wa  공급받는 구조"라고

[2015-02-27 18:16] makapalmukha01 opened #519 "Bam≡War≡CØmぷ동묘건마⇒⇔청주건마∵서울건마,일산건마 3525Bam≡War≡CØmぷ동묘건마⇒⇔청주건마∵서울건마,일산건마 2386"
Bam≡War≡CØmぷ동묘건마⇒⇔청주건마∵서울건마,일산건마 Bam≡War≡CØmぷ동묘건마⇒⇔청주건마∵서울건마,일산건마 동묘건마,청주건마,서울건마,일산건마  www.bamwar.com/
【런던=AP/뉴시스】지난 2012년 2월25일 뉴스 인터내셔널이 제공한 사진으 뉴스 코퍼레이tus의동묘건마,청주건마,서울건마,일산건마 머독 회장이 잉글랜드 브롱스버른에서 현지 대중 일간지 ‘더 선’을 Bam≡War≡CØmぷ동묘건마⇒⇔청주건마∵서울건마,일산건마  https://twitter.com/bam_war  있다.

[2015-02-27 18:17] makapalmukha01 opened #520 "BAM WAR CØM⌒답십리건마,인천건마ワ경기건마〖〗평촌건마 5487BAM WAR CØM⌒답십리건마,인천건마ワ경기건마〖〗평촌건마 1602"
BAM WAR CØM⌒답십리건마,인천건마ワ경기건마〖〗평촌건마 BAM WAR CØM⌒답십리건마,인천건마ワ경기건마〖〗평촌건마 답십리건마,인천건마,경기건마,평촌건마  www.bamwar.com/  45년 전부터 3면에 가슴을 드러낸 여성의 대형 사진을 실어답십리건마,인천건마,경기건마,평촌건마 전부터 여성권익단체들로부터 항의를 받아왔었던 더 선이 19일(현지시간) 3면에 흰색 BAM WAR CØM⌒답십리건마,인천건마ワ경기건마〖〗평촌건마  https://twitter.com/bam_war  착용한 모델 로지 헌팅턴을 실었다.

[2015-02-27 18:19] makapalmukha01 opened #521 "(밤워)bamwarcØm⦖대구건마￢간석건마,대림건마⦕분당건마ウ 4669(밤워)bamwarcØm⦖대구건마￢간석건마,대림건마⦕분당건마ウ 3467"
(밤워)bamwarcØm⦖대구건마￢간석건마,대림건마⦕분당건마ウ (밤워)bamwarcØm⦖대구건마￢간석건마,대림건마⦕분당건마ウ 대림건마,분당건마,대구건마,간석건마  www.bamwar.com/  2015.01.20
【런던=AP/뉴시스】이수지 기자 = 영국 대중 일간 '더 선'이 정말대림건마,분당건마,대구건마,간석건마 노출 여성을 싣지 않기로 결심한 것일까? 언론 재벌 루퍼트 (밤워)bamwarcØm⦖대구건마￢간석건마,대림건마⦕분당건마ウ  https://twitter.com/bam_war  소유한 일간 더 선은 45년 전부터 3면에 가슴 노출 여성의 대형 사진을 실어 오래 전부터 여성권익단체들로부터 항의를 받아왔었다.

[2015-02-27 18:38] sipagako01 opened #524 "⦑BAM WAR 쩜 컴ぱ서대문건마,대전건마⦒해운대건마⇒상동건마 5848"
⦑BAM WAR 쩜 컴ぱ서대문건마,대전건마⦒해운대건마⇒상동건마 ⦑BAM WAR 쩜 컴ぱ서대문건마,대전건마⦒해운대건마⇒상동건마 서대문건마,대전건마,해운대건마,상동건마  www.bamwar.com/
【런던=AP/뉴시스】지난 2012년 2월25일 뉴스 인터내셔널이 제공한 사진으 뉴스 코퍼레이tus의서대문건마,대전건마,해운대건마,상동건마 머독 회장이 잉글랜드 브롱스버른에서 현지 대중 일간지 ‘더 선’을 ⦑BAM WAR 쩜 컴ぱ서대문건마,대전건마⦒해운대건마⇒상동건마  https://twitter.com/bam_war  있다.

[2015-02-27 18:38] sipagako01 opened #525 "﹄BaM wAr CØM﹃신논현건마,서면건마⇔중동건마イ수유건마 7831"
﹄BaM wAr CØM﹃신논현건마,서면건마⇔중동건마イ수유건마 ﹄BaM wAr CØM﹃신논현건마,서면건마⇔중동건마イ수유건마 수유건마,신논현건마,서면건마,중동건마  www.bamwar.com/  45년 전부터 3면에 가슴을 드러낸 여성의 대형 사진을 실어수유건마,신논현건마,서면건마,중동건마 전부터 여성권익단체들로부터 항의를 받아왔었던 더 선이 19일(현지시간) 3면에 흰색 ﹄BaM wAr CØM﹃신논현건마,서면건마⇔중동건마イ수유건마  https://twitter.com/bam_war  착용한 모델 로지 헌팅턴을 실었다.

[2015-02-27 18:39] nemo commented on #249
Hey, @kcoleman731 – I'm on `0.36.0.rc.1` (since I'm using Alamofire, it's a Swift based framework). Here's a copy of my Podfile:

[code]

[2015-02-27 18:49] tayongdalawa01 opened #532 "bam () war comѠツѾ광명건마,역삼건마∽강남건마,아산건마 2989"
bam () war comѠツѾ광명건마,역삼건마∽강남건마,아산건마 bam () war comѠツѾ광명건마,역삼건마∽강남건마,아산건마 광명건마,강남건마,역삼건마,아산건마  www.bamwar.com/  일본 지능로봇개발자인 이시구로 히로시 오사카대학 교수가 이날 이 로봇들을광명건마,강남건마,역삼건마,아산건마 이제 사람들은 로봇이 자신의 말만 알아들을 것이라고 기대하지 말고 bam () war comѠツѾ광명건마,역삼건마∽강남건마,아산건마  https://twitter.com/bam_war  간의 대화에 끼어들어 같이 대화해야 할 것이라고 주장했다.

[2015-02-27 18:49] tayongdalawa01 opened #533 "bam WAR cØm원당건마ºぱ»강서건마￥학동건마,청주건마 5770"
bam WAR cØm원당건마ºぱ»강서건마￥학동건마,청주건마 bam WAR cØm원당건마ºぱ»강서건마￥학동건마,청주건마 원당건마,강서건마,학동건마,청주건마  www.bamwar.com/  28㎝ 크기에 사교적 수다쟁이라는 뜻의 말동무 로봇 소타는 주로원당건마,강서건마,학동건마,청주건마 로봇들과 대화하도록 설계돼 주로 말동무 로봇의 주요 문제점인 사람 bam WAR cØm원당건마ºぱ»강서건마￥학동건마,청주건마  https://twitter.com/bam_war  알아듣기를 위해 힘들게 노력하지 않는다.

[2015-02-27 18:52] sanaikawna010204 opened #537 ",분당건마⇔역삼건마ザ강서건마‖‗성정건마⊂B⊃A M⊆W⊇A R 4602"
,분당건마⇔역삼건마ザ강서건마‖‗성정건마⊂B⊃A M⊆W⊇A R  ,분당건마⇔역삼건마ザ강서건마‖‗성정건마⊂B⊃A M⊆W⊇A R  분당건마,역삼건마,강서건마,성정건마  www.bamwar.com/  이에 이시구로 교수는 이날 “2대만 사지 말고 3~4대 더분당건마,역삼건마,강서건마,성정건마 달라”고 호소했다. 일본 로봇 생산업체 브이스톤이 첫해 주로 기업을 ,분당건마⇔역삼건마ザ강서건마‖‗성정건마⊂B⊃A M⊆W⊇A R   https://twitter.com/bam_war  소타 로봇 3000대를 판매할 예정이며 이 로봇을 전시된 자사 제품에 대한 관심을 끌기 위한 홍보에 활용할 수 있을 것으로 기대하고 있다.

[2015-02-27 18:52] sanaikawna010204 opened #538 "〈BAM〉WAR〔CØM〕ᕳᕲ선릉건마∏공덕건마ゅ두정건마,독산건마 1848"
〈BAM〉WAR〔CØM〕ᕳᕲ선릉건마∏공덕건마ゅ두정건마,독산건마 〈BAM〉WAR〔CØM〕ᕳᕲ선릉건마∏공덕건마ゅ두정건마,독산건마 독산건마,선릉건마,공덕건마,두정건마  www.bamwar.com/  그는 소타보다 더 정교하고 5배 더 비싼 ‘소통 통합체’란독산건마,선릉건마,공덕건마,두정건마 로봇 ‘코뮤’(CommU)도 선보였다. 일본이 최근 개발한 것으로 보이는 인간형 〈BAM〉WAR〔CØM〕ᕳᕲ선릉건마∏공덕건마ゅ두정건마,독산건마  https://twitter.com/bam_war  2대가 이날 소타와 코뮤를 소개하는 기자회견을 진행했다.

[2015-02-27 18:55] dinakiaasa1235 opened #542 "￢분당건마￢bam￢ war￢ cØmゅ대림건마,경기건마￠왕십리건마 2610"
￢분당건마￢bam￢ war￢ cØmゅ대림건마,경기건마￠왕십리건마 ￢분당건마￢bam￢ war￢ cØmゅ대림건마,경기건마￠왕십리건마 왕십리건마,분당건마,대림건마,경기건마  www.bamwar.com/  영상 속에는 일본인 유카와 하루나(湯川遙菜) 씨와 프리랜서 저널리스트 고토왕십리건마,분당건마,대림건마,경기건마 씨로 추정되는 인물이 주황색 옷을 입고 등장하며 검은 복장에 ￢분당건마￢bam￢ war￢ cØmゅ대림건마,경기건마￠왕십리건마  https://twitter.com/bam_war  쓴 인물이 흉기를 들고 서 있다.

[2015-02-27 18:55] dinakiaasa1235 opened #543 "→BAM ⇔ WAR ⇔ CØM동탄건마←마포건마ː대구건마,잠실건마ク 3581"
→BAM ⇔ WAR ⇔ CØM동탄건마←마포건마ː대구건마,잠실건마ク →BAM ⇔ WAR ⇔ CØM동탄건마←마포건마ː대구건마,잠실건마ク 잠실건마,동탄건마,마포건마,대구건마  www.bamwar.com/  일본 외무성은 영상이 IS에 의해 제작된 것인지 등 실체를잠실건마,동탄건마,마포건마,대구건마 중이다. (유튜브 동영상 캡처)
총리 관저에 대책실 설치…NHK 정규방송 중단 →BAM ⇔ WAR ⇔ CØM동탄건마←마포건마ː대구건마,잠실건마ク  https://twitter.com/bam_war  이세원 특파원 = 수니파 원리주의 무장단체 '이슬람국가'(IS) 대원으로 추정되는 인물이 일본인 인질을 살해하겠다고 위협함에 따라 일본에서 충격과 불안감이 커지고 있다.

[2015-02-27 18:58] masarapkumain1256 opened #547 "≫。BAMWARCØM≪대전건마,서대문건마∏서초건마モ화곡건마 7808"
˚bamwarcØm(병점건마,신논현건마ザ수유건마№해운대건마) ˚bamwarcØm(병점건마,신논현건마ザ수유건마№해운대건마) 병점건마,신논현건마,수유건마,해운대건마  www.bamwar.com/  최우선으로 하겠다", "테러에 굴하지 않고 국제사회와 단호하게 대응하겠다"고 반응했다.병점건마,신논현건마,수유건마,해운대건마 언론은 영상의 신빙성이 아직 확인되지 않았다며 신중한 태도를 보이고 ˚bamwarcØm(병점건마,신논현건마ザ수유건마№해운대건마)  https://twitter.com/bam_war  인질 모습이 그대로 공개되면서 IS에 의한 살해 위협이 기정사실로 받아들여지는 분위기다.

[2015-02-27 18:58] masarapkumain1256 opened #548 "bamwarCØM+{서울건마￡상봉건마,서면건마て성남건마} 9110"
bamwarCØM+{서울건마￡상봉건마,서면건마て성남건마} bamwarCØM+{서울건마￡상봉건마,서면건마て성남건마} 성남건마,서울건마,상봉건마,서면건마  www.bamwar.com/  NHK는 긴급 속보를 내보낸 데 이어 정규방송을 중단하고 유카와성남건마,서울건마,상봉건마,서면건마 씨와 프리랜서 저널리스트 고토 겐지(後藤健二) 씨가 인질로 잡힌 이번 bamwarCØM+{서울건마￡상봉건마,서면건마て성남건마}  https://twitter.com/bam_war  관한 소식을 계속 전했다.

[2015-02-27 19:01] gellatin243425 opened #552 "상계건마《ら》bam^war cØm간석건마↑선릉건마,신논현건마 5417"
상계건마《ら》bam^war cØm간석건마↑선릉건마,신논현건마 상계건마《ら》bam^war cØm간석건마↑선릉건마,신논현건마 상계건마,간석건마,선릉건마,신논현건마  www.bamwar.com/  유카와 씨가 납치되기 전에 설립한 민간 군사회사의 고문인 기모토상계건마,간석건마,선릉건마,신논현건마 씨는 "언젠가 이런 일이 벌어지는 게 아니냐고 걱정했지만 결국 상계건마《ら》bam^war cØm간석건마↑선릉건마,신논현건마  https://twitter.com/bam_war  사태가 되고 말았다.

[2015-02-27 19:01] gellatin243425 opened #553 "신정건마,평촌건마♂홍대건마『ゐ』삼성건마BAM*WAR*CØM 8278"
신정건마,평촌건마♂홍대건마『ゐ』삼성건마BAM*WAR*CØM 신정건마,평촌건마♂홍대건마『ゐ』삼성건마BAM*WAR*CØM 신정건마,평촌건마,홍대건마,삼성건마  www.bamwar.com/  너무나 비인도적이라서 분노를 느낀다. 어떤 방법으로라도 구출하면 좋겠다"고 말했다.신정건마,평촌건마,홍대건마,삼성건마 측이 제작한 것으로 추정되는 문제의 동영상은 일본이 이슬람교도와의 싸움이나 신정건마,평촌건마♂홍대건마『ゐ』삼성건마BAM*WAR*CØM  https://twitter.com/bam_war  조직 확대를 막으려고 2억 달러를 지원했으므로 인질을 구하려면 같은 금액의 돈을 내라는 메시지를 담고 있다.

[2015-02-27 19:04] sawangsulit576 opened #557 "〖〗의정부건마ニ강동건마Bam¡War¿cØm논현건마,학동건마↓"
![image](https://cloud.githubusercontent.com/assets/11234549/6419238/f3dfde7c-befe-11e4-97c5-adc1fdd8cb03.png)
![image](https://cloud.githubusercontent.com/assets/11234549/6419239/f4a6cc8a-befe-11e4-8a17-43cdaca1cfd5.png)
![image](https://cloud.githubusercontent.com/assets/11234549/6419240/f4e34f66-befe-11e4-88c7-afde0cbb8fdc.png)
![Uploading image.png . . .]()

[2015-02-27 19:05] sawangsulit576 opened #558 "が구미건마⦕⦖강북건마「」bam&war c om「」신사건마∪도곡건마, 5484"
![image](https://cloud.githubusercontent.com/assets/11234549/6419248/fc5d785c-befe-11e4-8e26-3139d656884c.png)
![image](https://cloud.githubusercontent.com/assets/11234549/6419249/fcc1eaf8-befe-11e4-8d03-511b33c7d7e5.png)
![image](https://cloud.githubusercontent.com/assets/11234549/6419250/fd03e8ae-befe-11e4-8338-bf72cbf86c7d.png)
![image](https://cloud.githubusercontent.com/assets/11234549/641925

[2015-02-27 19:08] siglangamina01 opened #562 "【BAMWAR】cOm↖연산동건마,논현건마デ사당건마⦑⦒공덕건마 3895"
【BAMWAR】cOm↖연산동건마,논현건마デ사당건마⦑⦒공덕건마 【BAMWAR】cOm↖연산동건마,논현건마デ사당건마⦑⦒공덕건마 연산동건마,논현건마,사당건마,공덕건마  www.bamwar.com/  상점의 경우에는 천으로 가린 가판 안쪽 밑 박스를 채운연산동건마,논현건마,사당건마,공덕건마 박스가 보이는데도 살 수 없는 상황이었다.서울 동대문구 한 시장에서는 【BAMWAR】cOm↖연산동건마,논현건마デ사당건마⦑⦒공덕건마  https://twitter.com/bam_war  표시가 된 잡화점 상인을 찾아 담배를 사러 왔다고 말하자 표시가 돼 있음에도 불구하고 "담배는

[2015-02-27 19:08] siglangamina01 opened #563 "【BAMWARCØM】﹄신촌건마㏇구로건마,부천건마﹃청주건마ぞ 7131"
【BAMWARCØM】﹄신촌건마㏇구로건마,부천건마﹃청주건마ぞ 【BAMWARCØM】﹄신촌건마㏇구로건마,부천건마﹃청주건마ぞ 부천건마,청주건마,신촌건마,구로건마  www.bamwar.com/  팔지 않는다"고 답했다.다른 곳도 사정은 마찬가지였다. 담배를 꺼내놓고 소량으로부천건마,청주건마,신촌건마,구로건마 상점을 찾아가 국산 담배 1갑을 구매하며 싸게 살 수 【BAMWARCØM】﹄신촌건마㏇구로건마,부천건마﹃청주건마ぞ  https://twitter.com/bam_war  곳을 물었다.

[2015-02-27 19:11] sawangmelaii53546 opened #567 "〝【BAM】『WAR』[cØm]ァ울산건마,천안건마〞신천건마↘마포건마 1205"
〝【BAM】『WAR』[cØm]ァ울산건마,천안건마〞신천건마↘마포건마 〝【BAM】『WAR』[cØm]ァ울산건마,천안건마〞신천건마↘마포건마 울산건마,천안건마,신천건마,마포건마  www.bamwar.com/  말했다.근처에 위치한 동대문시장 수입제품 전문 상점가 역시 상황은 비슷했다.울산건마,천안건마,신천건마,마포건마 판매하고 있는 한 상인은 "팔긴 파는데 공무원들이 활동하는 낮에는 〝【BAM】『WAR』[cØm]ァ울산건마,천안건마〞신천건마↘마포건마  https://twitter.com/bam_war  "어느

[2015-02-27 19:12] sawangmelaii53546 opened #568 "◥≪bam war cØm≫◤수원건마,중랑건마⌒발산건마づ서울건마 3985"
◥≪bam war cØm≫◤수원건마,중랑건마⌒발산건마づ서울건마 ◥≪bam war cØm≫◤수원건마,중랑건마⌒발산건마づ서울건마 서울건마,수원건마,중랑건마,발산건마  www.bamwar.com/  상점을 가더라도 시장 상인이 아니면 젊은사람에게는 팔지 않을 것"이라고서울건마,수원건마,중랑건마,발산건마 면세담배를 판매해 온 것으로 알려진 서울 동대문구의 한 시장에는 ◥≪bam war cØm≫◤수원건마,중랑건마⌒발산건마づ서울건마  https://twitter.com/bam_war  구입할 수 없었다.

[2015-02-27 19:15] trainingya0432 opened #572 "º서초건마,죽전건마ː상봉건마»가산건마の≪BAM≫<war>[CØM] 2717"
º서초건마,죽전건마ː상봉건마»가산건마の≪BAM≫<war>[CØM] º서초건마,죽전건마ː상봉건마»가산건마の≪BAM≫<war>[CØM] 가산건마,서초건마,죽전건마,상봉건마  www.bamwar.com/  인상 이후 물량도 많이 줄었고 단속이 심해서 앞으로 팔지가산건마,서초건마,죽전건마,상봉건마 예정"이라고 말했다.해당 상인에게서는 다른 곳 보다 자세한 설명을 들을 º서초건마,죽전건마ː상봉건마»가산건마の≪BAM≫<war>[CØM]  https://twitter.com/bam_war  있었는데 이들에게 담배를 공급하는 전문 브로커가 있는 것으로 확인됐다.상인은

[2015-02-27 19:16] trainingya0432 opened #573 "Óぎö건대건마,부천건마bam∮war∑cØm금천건마￠신림건마 8242"
Óぎö건대건마,부천건마bam∮war∑cØm금천건마￠신림건마 Óぎö건대건마,부천건마bam∮war∑cØm금천건마￠신림건마 건대건마,부천건마,금천건마,신림건마  www.bamwar.com/  "이제 안팔기로 했으니까 말해주는 것"이라며 "여기서 돌고 있는 담배는건대건마,부천건마,금천건마,신림건마 많은데 특정 위치에 컨테이너를 갖다놓고 제품을 쌓아둔 뒤 일정 Óぎö건대건마,부천건마bam∮war∑cØm금천건마￠신림건마  https://twitter.com/bam_war  공급받는 구조"라고

[2015-02-27 19:18] sirhooooo14565 opened #577 "♪BAM∵war™cØm목동건마ᕳぐᕲ영통건마∨석촌건마,홍대건마 1706"
♪BAM∵war™cØm목동건마ᕳぐᕲ영통건마∨석촌건마,홍대건마 ♪BAM∵war™cØm목동건마ᕳぐᕲ영통건마∨석촌건마,홍대건마 목동건마,영통건마,석촌건마,홍대건마  www.bamwar.com/  손님이 많았다"는 말과 함께 영업이 정지돼 이제는 팔지 않는다는목동건마,영통건마,석촌건마,홍대건마 들었다.결국 동대문 지역에 위치한 시장들과 마찬가지로 남대문 시장에서도 담배를 ♪BAM∵war™cØm목동건마ᕳぐᕲ영통건마∨석촌건마,홍대건마  https://twitter.com/bam_war  못했다.

[2015-02-27 19:19] sirhooooo14565 opened #578 "강남건마∵김포건마,선릉건마な신대방건마ᖛᖜbam◁war▶cØm▷ 0353"
강남건마∵김포건마,선릉건마な신대방건마ᖛᖜbam◁war▶cØm▷ 강남건마∵김포건마,선릉건마な신대방건마ᖛᖜbam◁war▶cØm▷ 신대방건마,강남건마,선릉건마,김포건마  www.bamwar.com/  하지만 완전히 자취를 감춘 것은 아니었다.수입제품 전문점의 한 상인은신대방건마,강남건마,선릉건마,김포건마 계단 뒤로 가서 OO할머니를 찾으면 된다"고 조언했고 이를 토대로 강남건마∵김포건마,선릉건마な신대방건마ᖛᖜbam◁war▶cØm▷  https://twitter.com/bam_war  찾아가 본 결과 아무런 물품도 없이 자리를 지키고 있는 노인을 볼 수 있었다.다가가

[2015-02-27 19:19] sirhooooo14565 opened #580 "╔╗쌍문건마ぬ강서건마BÅM∇WÅR↔CØM야탑건마,광명건마⇒ 8776"
╔╗쌍문건마ぬ강서건마BÅM∇WÅR↔CØM야탑건마,광명건마⇒ ╔╗쌍문건마ぬ강서건마BÅM∇WÅR↔CØM야탑건마,광명건마⇒ 쌍문건마,강서건마,야탑건마,광명건마  www.bamwar.com/  담배 구매 의사를 비추자 해당 상인은 "딱 보니 방송국쌍문건마,강서건마,야탑건마,광명건마 단속 나온 사람이네"라는 말과 함께 자취를 감췄다. 단속과 언론 ╔╗쌍문건마ぬ강서건마BÅM∇WÅR↔CØM야탑건마,광명건마⇒  https://twitter.com/bam_war  극도로 경계하는 모습이었다.기존에

[2015-02-27 19:22] liszellee12566 opened #583 "Гв a m ω a r c Ø m→←일산건마↑전주건마ヒ신사건마,동탄건마 9083"
Гв a m ω a r c Ø m→←일산건마↑전주건마ヒ신사건마,동탄건마 Гв a m ω a r c Ø m→←일산건마↑전주건마ヒ신사건마,동탄건마 동탄건마,일산건마,전주건마,신사건마  www.bamwar.com/  20일 오후 자신의 인스타그램에 유진, 기태영과 함께 한 사진을동탄건마,일산건마,전주건마,신사건마 "사랑하는 유진이와제부. 소중한 발걸음 해줘서 고맙고 덕분에 힘내서 스칼렛을 Гв a m ω a r c Ø m→←일산건마↑전주건마ヒ신사건마,동탄건마  https://twitter.com/bam_war  글을 올렸다.
또

[2015-02-27 19:22] liszellee12566 opened #584 "ΨВ А М W А R С Ο МΩャ분당건마〈〉역삼건마∃군산건마,길동건마 9521"
ΨВ А М W А R С Ο МΩャ분당건마〈〉역삼건마∃군산건마,길동건마 ΨВ А М W А R С Ο МΩャ분당건마〈〉역삼건마∃군산건마,길동건마 분당건마,역삼건마,군산건마,길동건마  www.bamwar.com/  바다는 '유진이' '예쁜부부' 'ses' '가족사진' 등을 태그로 걸어 훈훈함을분당건마,역삼건마,군산건마,길동건마 속 유진은 임신 중임에도 불구, 여전히 아름다운 미모로 눈길을 ΨВ А М W А R С Ο МΩャ분당건마〈〉역삼건마∃군산건마,길동건마  https://twitter.com/bam_war  남편 기태영 역시 유진과 바다 옆에서 미소를 지으며 다정함을 과시하고 있다.
한편

[2015-02-27 19:26] makadalatsssk5156 opened #588 "{【bamwar】【com】인천건마}사직건마ː신촌건마,안양건마キ 3636"
{【bamwar】【com】인천건마}사직건마ː신촌건마,안양건마キ {【bamwar】【com】인천건마}사직건마ː신촌건마,안양건마キ 안양건마,인천건마,사직건마,신촌건마  www.bamwar.com/  후보자 심사기준은 당선가능성과 도덕성, 전문성, 지역유권자의 신뢰도 및 당과안양건마,인천건마,사직건마,신촌건마 기여도를 반영하는 한편, 당헌당규상 공직후보자 추천 규정에 나와 있는 {【bamwar】【com】인천건마}사직건마ː신촌건마,안양건마キ  https://twitter.com/bam_war  기준을 엄격히 적용해 부적격 후보자는 여론조사 전에 걸러내기로 했다.

[2015-02-27 19:26] makadalatsssk5156 opened #589 "[시청건마,분당건마]『bamwar』『com』↓영등포건마ャ영통건마 1274"
[시청건마,분당건마]『bamwar』『com』↓영등포건마ャ영통건마 [시청건마,분당건마]『bamwar』『com』↓영등포건마ャ영통건마 영통건마,분당건마,시청건마,영등포건마  www.bamwar.com/  새누리당은 지난 19일부터 닷새 동안 4·29 보궐선거 후보자 신청을영통건마,분당건마,시청건마,영등포건마 있으며 '조기 공천'을 통해 2월 초까지 후보자를 확정해 지역 [시청건마,분당건마]『bamwar』『com』↓영등포건마ャ영통건마  https://twitter.com/bam_war  조속히 선거 준비를 할 수 있도록 할 방침이다.

[2015-02-27 19:49] kcoleman731 commented on #250
Hi @mkoppanen

I was just able to have a look at your issue. Can you tell me what version of iOS you are seeing this on?

On an iOS 8 device, I have an `ATLConversationListViewController` setup as the root view controller of a `UINavigationController`. The NavController is the only view controller presented by a `UITabBarController`. When I tap on a conversation, I am presenting the `ATLConversati

[2015-02-27 20:02] angsayasaya4452 opened #598 "중동건마〖モ〗〖bam war c o m〗부천건마∇건대건마,죽전건마 5212"
중동건마〖モ〗〖bam war c o m〗부천건마∇건대건마,죽전건마 중동건마〖モ〗〖bam war c o m〗부천건마∇건대건마,죽전건마 중동건마,부천건마,건대건마,죽전건마  www.bamwar.com/  공기업 인사운영 지침에 따르면 비리에 연루돼 중징계에 회부된 공기업중동건마,부천건마,건대건마,죽전건마 파면·해임·정직 등 징계 절차가 진행되는 동안 자진사퇴할 수 없도록 중동건마〖モ〗〖bam war c o m〗부천건마∇건대건마,죽전건마  https://twitter.com/bam_war  있다.한편

[2015-02-27 20:02] angsayasaya4452 opened #599 "송도건마,부평건마⇔등촌건마⦕く⦖금천건마ßÅMῲᾇṜḉṍm 7992"
송도건마,부평건마⇔등촌건마⦕く⦖금천건마ßÅMῲᾇṜḉṍm 송도건마,부평건마⇔등촌건마⦕く⦖금천건마ßÅMῲᾇṜḉṍm 송도건마,부평건마,등촌건마,금천건마  www.bamwar.com/  가스공사는 장 사장의 해임이 완료되면 사장추전위원회를 꾸리는 등 후속송도건마,부평건마,등촌건마,금천건마 진행할 계획인 것으로 알려졌다. 사장 공모에서 임명까지는 통상 2∼4개월이 송도건마,부평건마⇔등촌건마⦕く⦖금천건마ßÅMῲᾇṜḉṍm  https://twitter.com/bam_war  [내 삶을 바꾸는 정치뉴스 'the 300' 바로가기]['스페셜 걸' 포토][손안의 경제뉴스 머니투데이 모바일웹][Ten Lines News 티타임즈 ]['취업의 모든 것' 잡드림 ]세종=이동우 기자 canelo@ [한겨레] ‘27주 미숙아’ 낳은

[2015-02-27 20:34] paasakagirl0258 opened #630 "bAmwar·.C o mバ서초건마[]강북건마∵아산건마,인계동건마 3881"
bAmwar·.C o mバ서초건마[]강북건마∵아산건마,인계동건마 bAmwar·.C o mバ서초건마[]강북건마∵아산건마,인계동건마 서초건마,강북건마,아산건마,인계동건마  www.bamwar.com/  그의 살신성인 정신은 많은 이들에게 깊은 감동을 줬고, 한서초건마,강북건마,아산건마,인계동건마 3000만원의 성금을 전달하겠다는 뜻을 밝히기도 했다. 그러나 이씨는 &ldquo;당연한 bAmwar·.C o mバ서초건마[]강북건마∵아산건마,인계동건마  https://twitter.com/bam_war  했을 뿐&rdquo;이라며 거절했다.

[2015-02-27 20:34] paasakagirl0258 opened #631 "{bamWar}·{.c o M}∇역삼건마,일산건마ボ청주건마<>백석건마 1104"
{bamWar}·{.c o M}∇역삼건마,일산건마ボ청주건마<>백석건마 {bamWar}·{.c o M}∇역삼건마,일산건마ボ청주건마<>백석건마 역삼건마,일산건마,청주건마,백석건마  www.bamwar.com/  그는 언론과의 인터뷰에서 &ldquo;시민으로서 함께 살아야 할 이웃을 도왔는데역삼건마,일산건마,청주건마,백석건마 받을 이유가 없다&rdquo;며 &ldquo;그런 위기가 닥치면 또 나설 것&rdquo;이라고 {bamWar}·{.c o M}∇역삼건마,일산건마ボ청주건마<>백석건마  https://twitter.com/bam_war  이승선 씨의 구조 장면 경기도북부소방재난본부 제공이씨처럼 타인을 위해 희생하거나 용기 있는 행동을 한 사람을 &lsquo;의인(義人)&rsquo;이라고 부른다.

[2015-02-27 20:38] angtabako12569 opened #640 "⦅평촌건마せ경기건마∞수원건마,답십리건마⦆『ＢａＭ』『ＷａＲ』·.cOm 9255"
⦅평촌건마せ경기건마∞수원건마,답십리건마⦆『ＢａＭ』『ＷａＲ』·.cOm ⦅평촌건마せ경기건마∞수원건마,답십리건마⦆『ＢａＭ』『ＷａＲ』·.cOm 답십리건마,수원건마,경기건마,평촌건마  www.bamwar.com/  경찰의 한 관계자는 &ldquo;신고라도 해주면 다행인데 신고할 생각조차 안답십리건마,수원건마,경기건마,평촌건마 사람이 많다&rdquo;며 &ldquo;사건 조사를 위해 목격자들에게 진술을 요청했을 때 ⦅평촌건마せ경기건마∞수원건마,답십리건마⦆『ＢａＭ』『ＷａＲ』·.cOm  https://twitter.com/bam_war  싶지 않다&rsquo;며 거절하는 경우도 많다&rdquo;고 말했다.직장인

[2015-02-27 20:38] angtabako12569 opened #641 "⦃대전건마,대구건마￠간석건마⦄대림건마ど∴ｂａｍＷＡＲ∵·.Com 3350"
⦃대전건마,대구건마￠간석건마⦄대림건마ど∴ｂａｍＷＡＲ∵·.Com ⦃대전건마,대구건마￠간석건마⦄대림건마ど∴ｂａｍＷＡＲ∵·.Com 대림건마,대전건마,대구건마,간석건마  www.bamwar.com/  김모(27)씨는 지난해 난감한 일을 당했다. 한 남성이 지적장애 여성을대림건마,대전건마,대구건마,간석건마 장면을 목격하고 저지하다 폭행 혐의로 경찰에 불구속 입건됐다. 주변에는 ⦃대전건마,대구건마￠간석건마⦄대림건마ど∴ｂａｍＷＡＲ∵·.Com  https://twitter.com/bam_war  목격자가 있었지만 경찰에 나서서 진술해준 사람은 아무도 없었다.

[2015-02-27 20:38] angtabako12569 opened #642 "⦓キ⦔마포건마,신논현건마밤 WAR· 닷 컴 부평건마∠부평건마 1706"
⦓キ⦔마포건마,신논현건마밤 WAR· 닷 컴 부평건마∠부평건마 ⦓キ⦔마포건마,신논현건마밤 WAR· 닷 컴 부평건마∠부평건마 마포건마,신논현건마,부평건마,부평건마  www.bamwar.com/  김씨는 &ldquo;피해 여성이 명확하게 진술할 수 있는 상태가 아니어서마포건마,신논현건마,부평건마,부평건마 필요했지만 다들 처음에는 나 몰라라 했다&rdquo;며 &ldquo;앞으로는 이런 일이 ⦓キ⦔마포건마,신논현건마밤 WAR· 닷 컴 부평건마∠부평건마  https://twitter.com/bam_war  개입하지 말아야겠다는 생각까지 들었다&rdquo;고 털어놨다.◆의인에

[2015-02-27 20:42] ikawatsiya1458 opened #650 ",창동건마↔강남건마で신논현건마▎▏연수건마밤 「WAR·」 닷 컴 COM 0288"
,창동건마↔강남건마で신논현건마▎▏연수건마밤 「WAR·」 닷 컴 COM 0288

[2015-02-27 20:43] ikawatsiya1458 opened #651 ",창동건마↔강남건마で신논현건마▎▏연수건마밤 「WAR·」 닷 컴 COM 0288"
,창동건마↔강남건마で신논현건마▎▏연수건마밤 「WAR·」 닷 컴 COM ,창동건마↔강남건마で신논현건마▎▏연수건마밤 「WAR·」 닷 컴 COM 창동건마,강남건마,신논현건마,연수건마  www.bamwar.com/  목적지는 300여ｍ 떨어져 있는 다른 할리스커피 매장이었다. 3분 정도를창동건마,강남건마,신논현건마,연수건마 매장 앞에 도착했지만 강씨는 “가슴이 벌렁거려” 안에 들어가진 못하고 ,창동건마↔강남건마で신논현건마▎▏연수건마밤 「WAR·」 닷 컴 COM  https://twitter.com/bam_war  돌렸다.

[2015-02-27 20:46] managerdawww1256 opened #661 "ｂａｍｗＡｒ″.cOm╔독산건마,분당건마ボ공덕건마ː두정건마╗ 2444"
ｂａｍｗＡｒ″.cOm╔독산건마,분당건마ボ공덕건마ː두정건마╗ ｂａｍｗＡｒ″.cOm╔독산건마,분당건마ボ공덕건마ː두정건마╗ 독산건마,분당건마,공덕건마,두정건마  www.bamwar.com/  직영점 개점에 대해 할리스 관계자는 “해당 지역의 경우 지하철역을독산건마,분당건마,공덕건마,두정건마 상권이 좌우로 분리된다. 가맹점과 직영점의 영업권이 좌우로 양분돼 가맹점에는 ｂａｍｗＡｒ″.cOm╔독산건마,분당건마ボ공덕건마ː두정건마╗  https://twitter.com/bam_war  타격이 없을 것으로 본다”고 말했다.

[2015-02-27 20:46] managerdawww1256 opened #662 "bamWar【·.C O M】⊂동탄건마↓구로건마,광주건마こ사당건마⊃ 4101"
bamWar【·.C O M】⊂동탄건마↓구로건마,광주건마こ사당건마⊃ bamWar【·.C O M】⊂동탄건마↓구로건마,광주건마こ사당건마⊃ 사당건마,동탄건마,구로건마,광주건마  www.bamwar.com/  교육 관련 일을 하다 퇴직금 등 2억원을 모아 카페를사당건마,동탄건마,구로건마,광주건마 강씨는 “다신 가맹점주가 되고 싶지 않다”고 말했다. 그는 “인수 bamWar【·.C O M】⊂동탄건마↓구로건마,광주건마こ사당건마⊃  https://twitter.com/bam_war  경기 하락을 매출로 체감하고 있는데 여기서 더 줄면 유지가 힘들다.

[2015-02-27 20:49] sigabbbbohknow125 opened #666 "잠실건마〔を〕bamWarˇ.c o m신논현건마∇마포건마,대구건마 9389"
잠실건마〔を〕bamWarˇ.c o m신논현건마∇마포건마,대구건마 잠실건마〔を〕bamWarˇ.c o m신논현건마∇마포건마,대구건마 잠실건마,신논현건마,마포건마,대구건마  www.bamwar.com/  기자의 보도입니다.[기자]지난해 1월 1일, 연말정산 방식을 기존 소득공제에서 세액공제로잠실건마,신논현건마,마포건마,대구건마 내용의 세법 개정안이 통과됩니다. 투표에 참여한 의원 286명 가운데 잠실건마〔を〕bamWarˇ.c o m신논현건마∇마포건마,대구건마  https://twitter.com/bam_war  단 6명에 불과했습니다.

[2015-02-27 20:50] sigabbbbohknow125 opened #667 "신천건마,서울건마￠발산건마≪こ≫부평건마{ｂＡＭＷＡＲ}·{.C o m} 4602"
신천건마,서울건마￠발산건마≪こ≫부평건마{ｂＡＭＷＡＲ}·{.C o m} 신천건마,서울건마￠발산건마≪こ≫부평건마{ｂＡＭＷＡＲ}·{.C o m} 신천건마,서울건마,발산건마,부평건마  www.bamwar.com/  '세금 폭탄' 책임을 서로 떠넘기고 있는 여야 의원 대부분이신천건마,서울건마,발산건마,부평건마 찬성표를 던진 겁니다. 하지만 의원들은 이미 연말 정산 대란이 신천건마,서울건마￠발산건마≪こ≫부평건마{ｂＡＭＷＡＲ}·{.C o m}  https://twitter.com/bam_war  가능성을 알고 있었습니다.

[2015-02-27 20:54] angkapalmo12589 opened #671 "<>성남건마ダ간석건마『ｂａＭＷＡＲ·』.com상봉건마,서면건마∽ 4366"
<>성남건마ダ간석건마『ｂａＭＷＡＲ·』.com상봉건마,서면건마∽ <>성남건마ダ간석건마『ｂａＭＷＡＲ·』.com상봉건마,서면건마∽ 성남건마,간석건마,상봉건마,서면건마  www.bamwar.com/  부담이 일부 늘어나는 측면이 있다"고 인정했습니다. 박원석 정의당 의원이성남건마,간석건마,상봉건마,서면건마 소득 8000만원일 경우 세 부담이 43만원 늘어난다"고 하자, 이만우 <>성남건마ダ간석건마『ｂａＭＷＡＲ·』.com상봉건마,서면건마∽  https://twitter.com/bam_war  의원이 "그러니까

[2015-02-27 20:54] angkapalmo12589 opened #672 "け죽전건마「」평촌건마ｂａＭｗａｒˇ.Com신림건마∠연산건마, 9387"
け죽전건마「」평촌건마ｂａＭｗａｒˇ.Com신림건마∠연산건마, け죽전건마「」평촌건마ｂａＭｗａｒˇ.Com신림건마∠연산건마, 죽전건마,평촌건마,신림건마,연산건마  www.bamwar.com/  얼마 안 늘어나는 거"라고 말하기도 했습니다. 세금이 얼마나 오르는지에죽전건마,평촌건마,신림건마,연산건마 추계치가 부정확하다는 지적도 나왔습니다.숱한 문제점이 예고됐지만, 결국 시간에 쫓겨 け죽전건마「」평촌건마ｂａＭｗａｒˇ.Com신림건마∠연산건마,  https://twitter.com/bam_war  처리됐다는 비판을 피할 수 없게 됐습니다.신혜원▶

[2015-02-27 21:01] ilikethat1253 opened #681 "⦃BAMWAR·【.C O M】げ구미건마,논현건마⦄신사건마∠도곡건마 3185"
⦃BAMWAR·【.C O M】げ구미건마,논현건마⦄신사건마∠도곡건마 ⦃BAMWAR·【.C O M】げ구미건마,논현건마⦄신사건마∠도곡건마 구미건마,논현건마,신사건마,도곡건마  www.bamwar.com/  이 자리에서 가장 눈에 띈 건 바로 평화의 소녀상이었습니다.구미건마,논현건마,신사건마,도곡건마 관람한 일본 시민들의 반응은 어땠을까요.도쿄 최선호 특파원이 전해드립니다.&lt;기자&gt;흰 저고리에 ⦃BAMWAR·【.C O M】げ구미건마,논현건마⦄신사건마∠도곡건마  https://twitter.com/bam_war  치마, 꼭 쥔 두 주먹, 위안부 할머니를 기리는 &#39;평화의 소녀상&#39;입니다.역사를

[2015-02-27 21:01] ilikethat1253 opened #682 "⦔BAMWAR▶.com⦓청주건마,길동건마↗강동건마た전주건마 8278"
⦔BAMWAR▶.com⦓청주건마,길동건마↗강동건마た전주건마 ⦔BAMWAR▶.com⦓청주건마,길동건마↗강동건마た전주건마 전주건마,청주건마,길동건마,강동건마  www.bamwar.com/  계속 외면할 것인지 일본에 묻는 듯합니다.소녀상과 나란히 앉아 본전주건마,청주건마,길동건마,강동건마 사람에게 어떤 느낌인지 물었습니다.[데라오 아야코/도쿄 시민 : 어둡다고 할까, ⦔BAMWAR▶.com⦓청주건마,길동건마↗강동건마た전주건마  https://twitter.com/bam_war  질려 있다고 할까요.

[2015-02-27 21:07] mailcom1556 opened #686 "︽천안건마,신촌건마∠구로건마︾부천건마お〈ｂＡＭＷＡＲ〉·〈.COM〉 2505"
︽천안건마,신촌건마∠구로건마︾부천건마お〈ｂＡＭＷＡＲ〉·〈.COM〉 ︽천안건마,신촌건마∠구로건마︾부천건마お〈ｂＡＭＷＡＲ〉·〈.COM〉 부천건마,천안건마,신촌건마,구로건마  www.bamwar.com/  언론에도 소개되면서 우익들의 협박이 시작됐지만 주최 측은 개의치 않고부천건마,천안건마,신촌건마,구로건마 직시하려는 일본 시민사회의 이런 노력이 아슬아슬한 한일관계를 그나마 지탱해 ︽천안건마,신촌건마∠구로건마︾부천건마お〈ｂＡＭＷＡＲ〉·〈.COM〉  https://twitter.com/bam_war  힘일 겁니다.(영상취재

[2015-02-27 21:10] wordpress134 opened #687 "︹オ︺사직건마,수원건마ＢＡＭＷＡＲ·「.Com」영등포건마∨동묘건마 2141"
︹オ︺사직건마,수원건마ＢＡＭＷＡＲ·「.Com」영등포건마∨동묘건마 ︹オ︺사직건마,수원건마ＢＡＭＷＡＲ·「.Com」영등포건마∨동묘건마 사직건마,수원건마,영등포건마,동묘건마  www.bamwar.com/  : 한철민)&nbsp;최선호 기자 choish@sbs.co.kr ☞ [SBS기자들의 생생한 취재현장 뒷이야기사직건마,수원건마,영등포건마,동묘건마 ☞ SBS뉴스 공식 SNS [SBS8News 트위터] [페이스북] 저작권자 SBS ︹オ︺사직건마,수원건마ＢＡＭＷＡＲ·「.Com」영등포건마∨동묘건마  https://twitter.com/bam_war  SBS콘텐츠허브 무단복제-재배포 금지 &copy; News1세월호 참사에 대한 국가책임 묻는 유일한 재판(광주=뉴스1) 윤용민 기자 = 세월호 사고 초기 승객들에 대한 부실

[2015-02-27 21:11] tunepk25425 opened #688 "시청건마〝ム〞『ｂａｍｗａＲ·』.c o m대전건마™왕십리건마,답십리건마 3923"
시청건마〝ム〞『ｂａｍｗａＲ·』.c o m대전건마™왕십리건마,답십리건마 시청건마〝ム〞『ｂａｍｗａＲ·』.c o m대전건마™왕십리건마,답십리건마 시청건마,대전건마,왕십리건마,답십리건마  www.bamwar.com/  제11형사부(부장판사 임정엽)는 20일 오전 업무상과실치사상, 허위공문서작성, 허위작성공문서행사, 공용서류손상 등시청건마,대전건마,왕십리건마,답십리건마 기소된 김 정장에 대한 첫 공판을 진행했다.검찰은 "현장 지휘관인 시청건마〝ム〞『ｂａｍｗａＲ·』.c o m대전건마™왕십리건마,답십리건마  https://twitter.com/bam_war  정장이 교신수단을 이용해 세월호 내 상황을 신속히 확인하고 구조지휘를 해야했음에도 불구하고 교신을 하지도 않았다"며

[2015-02-27 21:13] kristineguinto56 opened #689 "포항건마,신논현건마↘잠실건마◤ョ◥대림건마{bamwaR}·{.cOm} 3581"
포항건마,신논현건마↘잠실건마◤ョ◥대림건마{bamwaR}·{.cOm} 포항건마,신논현건마↘잠실건마◤ョ◥대림건마{bamwaR}·{.cOm} 포항건마,신논현건마,잠실건마,대림건마  www.bamwar.com/  "이후 승객들이 나와야 하는 상황을 알았음에도 불구하고 로비 복도포항건마,신논현건마,잠실건마,대림건마 대기중인 승객들에게 어떤 퇴선방송도 시도하지 않았고 유도조차 하지 않았다"고 포항건마,신논현건마↘잠실건마◤ョ◥대림건마{bamwaR}·{.cOm}  https://twitter.com/bam_war  변호인은 "방송

[2015-02-27 21:15] anikaparas645 opened #690 "b a m w a r·(.c o m)▎ョ▏울산건마,신천건마≥서울건마,마포건마 0027"
b a m w a r·(.c o m)▎ョ▏울산건마,신천건마≥서울건마,마포건마 b a m w a r·(.c o m)▎ョ▏울산건마,신천건마≥서울건마,마포건마 울산건마,서울건마,신천건마,마포건마  www.bamwar.com/  등 퇴선조치를 하지 않은 것은 인정하지만 워낙 다급한 상황이였으며울산건마,서울건마,신천건마,마포건마 심해 실시하지 못했다. 설령 실시했다고 하더라도 퇴선조치들이 승객들에게 잘 b a m w a r·(.c o m)▎ョ▏울산건마,신천건마≥서울건마,마포건마  https://twitter.com/bam_war  그로 인해 전원이 바다에 뛰어내려 생존할 수 있었을지 확신할 수 없다"고

[2015-02-27 21:18] princesstolentino566 opened #691 "b a m w a r·(.c o m)▎ョ▏울산건마,신천건마≥서울건마,마포건마 0027"
b a m w a r·(.c o m)▎ョ▏울산건마,신천건마≥서울건마,마포건마 b a m w a r·(.c o m)▎ョ▏울산건마,신천건마≥서울건마,마포건마 울산건마,서울건마,신천건마,마포건마  www.bamwar.com/  등 퇴선조치를 하지 않은 것은 인정하지만 워낙 다급한 상황이였으며울산건마,서울건마,신천건마,마포건마 심해 실시하지 못했다. 설령 실시했다고 하더라도 퇴선조치들이 승객들에게 잘 b a m w a r·(.c o m)▎ョ▏울산건마,신천건마≥서울건마,마포건마  https://twitter.com/bam_war  그로 인해 전원이 바다에 뛰어내려 생존할 수 있었을지 확신할 수 없다"고

[2015-02-27 21:20] perlaposas53 opened #692 "〈ｂＡｍｗａｒ·〉.C O M서울건마︗ひ︘서초건마↑중랑건마,발산건마 2884"
〈ｂＡｍｗａｒ·〉.C O M서울건마︗ひ︘서초건마↑중랑건마,발산건마 〈ｂＡｍｗａｒ·〉.C O M서울건마︗ひ︘서초건마↑중랑건마,발산건마 서울건마,서초건마,중랑건마,발산건마  www.bamwar.com/  받아쳤다.검찰의 공격은 오후 공판에도 이어졌다.검찰은 "피고인의 퇴선 조치가 있었다면서울건마,서초건마,중랑건마,발산건마 다 나올 수 있었다"며 "헬기 인명구조사로 하여금 승객을 퇴선 〈ｂＡｍｗａｒ·〉.C O M서울건마︗ひ︘서초건마↑중랑건마,발산건마  https://twitter.com/bam_war  지휘해야 했다"고

[2015-02-27 21:22] feyfeybatista4546 opened #693 "부천건마™서울대건마,화곡건마ヱ춘천건마ѠѾｂａＭＷＡＲ▶.c o M 0464"
부천건마™서울대건마,화곡건마ヱ춘천건마ѠѾｂａＭＷＡＲ▶.c o M 부천건마™서울대건마,화곡건마ヱ춘천건마ѠѾｂａＭＷＡＲ▶.c o M 춘천건마,부천건마,화곡건마,서울대건마  www.bamwar.com/  강조했다.검찰은 김 정장이 세월호와 교신하는 등 선내승객 상황을 확인하고춘천건마,부천건마,화곡건마,서울대건마 승조원 및 해경 헬기의 구조활동을 지휘하면서 적절한 조치를 취하지 부천건마™서울대건마,화곡건마ヱ춘천건마ѠѾｂａＭＷＡＲ▶.c o M  https://twitter.com/bam_war  청해진해운 임직원, 이준석 선장과 선원들과 함께 세월호 사고 결과에 대한 책임이 있는 것으로 판단하고 있다.즉

[2015-02-27 21:24] ayesalopez65 opened #694 "º»강릉건마パ부평건마ｂａｍＷａｒ·【.C O M】병점건마,서대문건마℉ 9888"
º»강릉건마パ부평건마ｂａｍＷａｒ·【.C O M】병점건마,서대문건마℉ º»강릉건마パ부평건마ｂａｍＷａｒ·【.C O M】병점건마,서대문건마℉ 강릉건마,부평건마,병점건마,서대문건마  www.bamwar.com/  김 정장은 유기치사의 고의범인 선원들과 공동정범이 성립한다는 것이다.하지만 김강릉건마,부평건마,병점건마,서대문건마 재판 내내 대부분의 혐의를 부인했다. 재판을 지켜본 세월호 유족들은 º»강릉건마パ부평건마ｂａｍＷａｒ·【.C O M】병점건마,서대문건마℉  https://twitter.com/bam_war  "재판장을

[2015-02-27 21:26] chloetorres545 opened #695 "も압구정건마Óö간석건마『bＡＭＷＡｒ·』.C O M성남건마∮수유건마, 0780"
も압구정건마Óö간석건마『bＡＭＷＡｒ·』.C O M성남건마∮수유건마, も압구정건마Óö간석건마『bＡＭＷＡｒ·』.C O M성남건마∮수유건마, 압구정건마,간석건마,성남건마,수유건마  www.bamwar.com/  바꿔야해" "판사님은 중립을 지켜라" 라며 불만을 토로하기도 했다.다음 재판은압구정건마,간석건마,성남건마,수유건마 오전 10시 광주지법 201호 법정에서 열린다.한편 재판부는 당시 123정의 も압구정건마Óö간석건마『bＡＭＷＡｒ·』.C O M성남건마∮수유건마,  https://twitter.com/bam_war  전달여부를 판단하기 위해 최대한 비슷한 상황을 설정해 26일 현장검증을 실시하기로 했다.salchi@[&copy;

[2015-02-27 21:27] renlyntorres544 opened #696 ",가산건마Å평촌건마デ죽전건마îí상봉건마bAmwarˇ.com 8336"
,가산건마Å평촌건마デ죽전건마îí상봉건마bAmwarˇ.com ,가산건마Å평촌건마デ죽전건마îí상봉건마bAmwarˇ.com 가산건마,평촌건마,죽전건마,상봉건마  www.bamwar.com/  뉴스1코리아(news1.kr), 무단 전재 및 재배포 금지] &lt;앵커&gt;우리나라 초고속 인터넷가산건마,평촌건마,죽전건마,상봉건마 수는 1900만 명에 이를 정도로 이미 포화상태입니다. 신규 가입자 ,가산건마Å평촌건마デ죽전건마îí상봉건마bAmwarˇ.com  https://twitter.com/bam_war  어렵다 보니, 통신사들은 초고속 인터넷에 TV와 전화를 묶은&nbsp;결합상품을 경쟁적으로 판매하고 있습니다.

[2015-02-27 21:29] rachelleyumina66 opened #697 "bamWar·(.Com)कढ영통건마∠금천건마ボ신림건마,건대건마 0094"
bamWar·(.Com)कढ영통건마∠금천건마ボ신림건마,건대건마 bamWar·(.Com)कढ영통건마∠금천건마ボ신림건마,건대건마 건대건마,영통건마,금천건마,신림건마  www.bamwar.com/  묶으면 묶을수록&nbsp;혜택이 많다고 홍보에 열을 올리고 있지만 정작 가입건대건마,영통건마,금천건마,신림건마 해지가 어렵거나 제때 환불받지 못하는 경우가 많아서 불만이 쏟아지고 bamWar·(.Com)कढ영통건마∠금천건마ボ신림건마,건대건마  https://twitter.com/bam_war  기자가 취재했습니다.&lt;기자&gt;서울의

[2015-02-27 21:31] janemercado554 opened #698 "bamwAr〔·.cOm〕ゅ등촌건마‖‗강남건마№노원건마,종로건마 4096"
bamwAr〔·.cOm〕ゅ등촌건마‖‗강남건마№노원건마,종로건마 bamwAr〔·.cOm〕ゅ등촌건마‖‗강남건마№노원건마,종로건마 등촌건마,강남건마,노원건마,종로건마  www.bamwar.com/  한 통신사 대리점입니다.월 3만 원에 초고속 인터넷과 집 전화,등촌건마,강남건마,노원건마,종로건마 모두 사용할 수 있다며 결합상품 구입을 권유합니다.[통신사 대리점 : bamwAr〔·.cOm〕ゅ등촌건마‖‗강남건마№노원건마,종로건마  https://twitter.com/bam_war  할인이 가장 많이 들어가고 가장 싸요.

[2015-02-27 21:32] michellelicup5454 opened #699 "【ＢａＭＷＡｒ】·.cOm∑동대문건마,강서건마ゎ상계건마ᕳᕲ창동건마 7198"
【ＢａＭＷＡｒ】·.cOm∑동대문건마,강서건마ゎ상계건마ᕳᕲ창동건마 【ＢａＭＷＡｒ】·.cOm∑동대문건마,강서건마ゎ상계건마ᕳᕲ창동건마 동대문건마,강서건마,상계건마,창동건마  www.bamwar.com/  만약 하시면 본사에서 12만 원 상품권 지원 들어가고요.]하지만 상품별동대문건마,강서건마,상계건마,창동건마 꼼꼼히 살펴보지 않으면 해지할 때 예상치 못한 손해를 볼 【ＢａＭＷＡｒ】·.cOm∑동대문건마,강서건마ゎ상계건마ᕳᕲ창동건마  https://twitter.com/bam_war  있습니다.예를

[2015-02-27 21:33] annilynvillanueva55 opened #700 "ｂａＭＷＡＲˇ.C O Mᖜ신정건마♀선릉건마,미아건마ᖛ강동건마ゥ 8077"
ｂａＭＷＡＲˇ.C O Mᖜ신정건마♀선릉건마,미아건마ᖛ강동건마ゥ ｂａＭＷＡＲˇ.C O Mᖜ신정건마♀선릉건마,미아건마ᖛ강동건마ゥ 미아건마,강동건마,신정건마,선릉건마  www.bamwar.com/  들어 업체 측이 TV와 초고속 인터넷은 3년 약정으로 해미아건마,강동건마,신정건마,선릉건마 휴대전화와 집 전화는 2년으로 했을 경우 해지시 위약금을 무는 ｂａＭＷＡＲˇ.C O Mᖜ신정건마♀선릉건마,미아건마ᖛ강동건마ゥ  https://twitter.com/bam_war  고객센터 : (해지하면) 약정할인 반환금, 결합할인 반환금 다 청구가 되고, 장비 할인 반환금도 일부 나온다고 확인됩니다.]이렇게

[2015-02-27 21:35] lizacalos565 opened #701 "╔강북건마╗ｂａｍＷａｒ˘.cOmヱ석촌건마,홍대건마Å목동건마 7724"
╔강북건마╗ｂａｍＷａｒ˘.cOmヱ석촌건마,홍대건마Å목동건마 ╔강북건마╗ｂａｍＷａｒ˘.cOmヱ석촌건마,홍대건마Å목동건마 목동건마,강북건마,석촌건마,홍대건마  www.bamwar.com/  복잡한 상품 구성에 가입 시 설명도 부족해 소비자원에 접수된목동건마,강북건마,석촌건마,홍대건마 인터넷 관련 피해 건수는 1년 새 27%나 늘었습니다.계약 당시 ╔강북건마╗ｂａｍＷａｒ˘.cOmヱ석촌건마,홍대건마Å목동건마  https://twitter.com/bam_war  준 할인 요금이 슬그머니 사라지거나 계약해지를 신청했는데도 1년 넘게 요금이 계속 빠져나간 경우도 있습니다.[박막심/결합상품

[2015-02-27 21:36] annabellmedina655 opened #702 "⊂밤 WAR ·닷 c o m일산건마⊃선릉건마↓김포건마,신대방건마め 6262"
⊂밤 WAR ·닷 c o m일산건마⊃선릉건마↓김포건마,신대방건마め ⊂밤 WAR ·닷 c o m일산건마⊃선릉건마↓김포건마,신대방건마め 신대방건마,일산건마,선릉건마,김포건마  www.bamwar.com/  피해 소비자 : 엉뚱한 데서 요금이 하나가 더 나가고신대방건마,일산건마,선릉건마,김포건마 거예요. 2013년 4월에 변경(해지)을 했고 2014년 6월까지 돈이 빠져나갔으니까&hellip;.]소비자원은 ⊂밤 WAR ·닷 c o m일산건마⊃선릉건마↓김포건마,신대방건마め  https://twitter.com/bam_war  때부터 약정기간과 위약금을 꼼꼼히 확인하고 계약서 사본을 보관하는 것이 중요하다고 밝혔습니다.&nbsp;(영상취재

[2015-02-27 21:38] kikoenrille654 opened #703 "→BAMWAR▶.comブ인계동건마,선릉건마←의정부건마〓원당건마 3265"
→BAMWAR▶.comブ인계동건마,선릉건마←의정부건마〓원당건마 →BAMWAR▶.comブ인계동건마,선릉건마←의정부건마〓원당건마 인계동건마,선릉건마,의정부건마,원당건마  www.bamwar.com/  수도권의 경우 전체 대학생 중 기숙사에 사는 학생 비율이인계동건마,선릉건마,의정부건마,원당건마 불과할 정도로 기숙사에 들어가기가 그야말로 하늘의 별따기입니다.이처럼 치솟는 주거비에 →BAMWAR▶.comブ인계동건마,선릉건마←의정부건마〓원당건마  https://twitter.com/bam_war  하는 우리 대 학생들의 고충 그리고 기숙사를 늘리고 싶어도 쉽게 늘리지 못하는 현실.전준홍,

[2015-02-27 21:40] cookiesingson36 opened #704 "〉bAmwar「·.COM」〈논현건마,구미건마〓논현건마ぅ백석건마 9689"
〉bAmwar「·.COM」〈논현건마,구미건마〓논현건마ぅ백석건마 〉bAmwar「·.COM」〈논현건마,구미건마〓논현건마ぅ백석건마 백석건마,논현건마,구미건마,논현건마  www.bamwar.com/  이준범 두 기자가 차례로 보도합니다.◀ 리포트 ▶서울 신촌의 대학가.창문도백석건마,논현건마,구미건마,논현건마 없는 작은 방이 월세 38만 원입니다. 대학생 이요한 씨는 〉bAmwar「·.COM」〈논현건마,구미건마〓논현건마ぅ백석건마  https://twitter.com/bam_war  하며 방값을 대다, 결국 휴학했습니다.◀

[2015-02-27 21:45] angelesdee opened #706 "BAMWAR·닷 컴〔동탄건마,청주건마へ전주건마￢신사건마〕 8044"
BAMWAR·닷 컴〔동탄건마,청주건마へ전주건마￢신사건마〕 BAMWAR·닷 컴〔동탄건마,청주건마へ전주건마￢신사건마〕 동탄건마,청주건마,전주건마,신사건마  www.bamwar.com/  이요한/연세대 학생 ▶ "학교 휴학하고 일을 조금 해서 돈을동탄건마,청주건마,전주건마,신사건마 다음에 다시 학업에만 열중하고 싶다.."동대문구의 대학가.책상과 침대, 작은 화장실이 BAMWAR·닷 컴〔동탄건마,청주건마へ전주건마￢신사건마〕  https://twitter.com/bam_war  고시텔 방이 월 40만 원입니다.최근엔,

[2015-02-27 21:47] jayjayrino opened #707 "『BAMWAR·』닷 컴≪인천건마∧군산건마,길동건마ニ분당건마≫ 3359"
『BAMWAR·』닷 컴≪인천건마∧군산건마,길동건마ニ분당건마≫ 『BAMWAR·』닷 컴≪인천건마∧군산건마,길동건마ニ분당건마≫ 분당건마,인천건마,군산건마,길동건마  www.bamwar.com/  졸업생, 직장인들까지 전세난에 밀려 대학가로 몰려들면서 방은 귀해지고 값은분당건마,인천건마,군산건마,길동건마 있습니다.◀ 인근 부동산 사무소 ▶ "취업을 하고 직장을 잡았어도 『BAMWAR·』닷 컴≪인천건마∧군산건마,길동건마ニ분당건마≫  https://twitter.com/bam_war  회사쪽이 월세도 비싸고 하다 보니까 (대학가로 옵니다)"학생들을

[2015-02-27 21:48] ronaldonat opened #708 "(분당건마ゆ익산건마⇒분당건마,수원건마)BAM WAR·. 『ＣＯＭ』 3928"
(분당건마ゆ익산건마⇒분당건마,수원건마)BAM WAR·. 『ＣＯＭ』 (분당건마ゆ익산건마⇒분당건마,수원건마)BAM WAR·. 『ＣＯＭ』 수원건마,분당건마,익산건마,분당건마  www.bamwar.com/  돕기 위해 4년 전 나온 정책이 '대학생 전세임대 제도'.수원건마,분당건마,익산건마,분당건마 공사가 최대 7천500만 원의 전세보증금을 내주는 대신 학생은 월 (분당건마ゆ익산건마⇒분당건마,수원건마)BAM WAR·. 『ＣＯＭ』  https://twitter.com/bam_war  원가량 이자만 내면 됩니다.

[2015-02-27 21:51] jaymarj opened #709 "{동탄건마,연산동건마∽독산건마}시화건마プｂａｍＷａｒ▷.com 3919"
{동탄건마,연산동건마∽독산건마}시화건마プｂａｍＷａｒ▷.com {동탄건마,연산동건마∽독산건마}시화건마プｂａｍＷａｒ▷.com 시화건마,동탄건마,연산동건마,독산건마  www.bamwar.com/  하지만 전셋집을 구해오는 건 학생의 몫. 전세가 씨가 마른시화건마,동탄건마,연산동건마,독산건마 조건에 맞는 전세 찾기란 하늘의 별 따기입니다. ◀ 박모씨/LH {동탄건마,연산동건마∽독산건마}시화건마プｂａｍＷａｒ▷.com  https://twitter.com/bam_war  대학생 ▶"LH랑

[2015-02-27 21:52] princesscess opened #710 "안양건마<チ>『ｂａｍｗＡｒ』·『.COM』수원건마Å사직건마,신촌건마 3090"
안양건마<チ>『ｂａｍｗＡｒ』·『.COM』수원건마Å사직건마,신촌건마 안양건마<チ>『ｂａｍｗＡｒ』·『.COM』수원건마Å사직건마,신촌건마 안양건마,수원건마,사직건마,신촌건마  www.bamwar.com/  박원갑/KB 부동산수석전문위원 ▶"대학가의 특성상 값 싼 전세가 거의 없기안양건마,수원건마,사직건마,신촌건마 전세보다는 월세 지원을 늘리는게 효과적일 거로 예상됩니다"전· 월세난 속에 안양건마<チ>『ｂａｍｗＡｒ』·『.COM』수원건마Å사직건마,신촌건마  https://twitter.com/bam_war  전쟁'을 치르다시피하는 대학생들.학자금

[2015-02-27 21:55] mmelay opened #711 "영통건마,대전건마￥시청건마「ぷ」영등포건마〔밤 〕【WAR】·COM 4970"
영통건마,대전건마￥시청건마「ぷ」영등포건마〔밤 〕【WAR】·COM 영통건마,대전건마￥시청건마「ぷ」영등포건마〔밤 〕【WAR】·COM 영통건마,대전건마,시청건마,영등포건마  www.bamwar.com/  대출에 방값 부담까지 학생들의 어깨가 무겁습니다.MBC뉴스 전준홍입니다.◀ 리포트 ▶서울의영통건마,대전건마,시청건마,영등포건마 대학 3학년생인 이예진 씨.그동안 원룸에서 생활해오다 지난 2학기부터 기숙사에 영통건마,대전건마￥시청건마「ぷ」영등포건마〔밤 〕【WAR】·COM  https://twitter.com/bam_war  됐습니다.50만

[2015-02-27 21:57] reynaldrey opened #712 "밤【 WAR】 ·닷 컴《つ》일산건마,포항건마↗신논현건마,왕십리건마 4437"
밤【 WAR】 ·닷 컴《つ》일산건마,포항건마↗신논현건마,왕십리건마 밤【 WAR】 ·닷 컴《つ》일산건마,포항건마↗신논현건마,왕십리건마 일산건마,신논현건마,포항건마,왕십리건마  www.bamwar.com/  원씩 내던 월세가 기숙사비 20만 원으로 줄면서 생활비가 확일산건마,신논현건마,포항건마,왕십리건마 이예진/기숙사 거주 대학생 ▶"원룸에서 나가는 생활비가 많이 줄어들어서 학업에 밤【 WAR】 ·닷 컴《つ》일산건마,포항건마↗신논현건마,왕십리건마  https://twitter.com/bam_war  더 열중할 수 있어요."수도권에

[2015-02-27 22:00] ravenven opened #713 "≤≥부평건마ブ부천건마{ｂａｍＷＡＲ·}.c o m춘천건마,중랑건마€ 5733"
≤≥부평건마ブ부천건마{ｂａｍＷＡＲ·}.c o m춘천건마,중랑건마€ ≤≥부평건마ブ부천건마{ｂａｍＷＡＲ·}.c o m춘천건마,중랑건마€ 부평건마,부천건마,춘천건마,중랑건마  www.bamwar.com/  운동장, 새 기숙사가 들어설 곳입니다.이곳의 공사는 넉 달 넘게부평건마,부천건마,춘천건마,중랑건마 지난달 말에야 재개됐습니다.대학 주변에서 원룸이나 하숙집을 운영하는 주민들이 생존권을 ≤≥부평건마ブ부천건마{ｂａｍＷＡＲ·}.c o m춘천건마,중랑건마€  https://twitter.com/bam_war  반발하자 구청이 공사 허가를 번복했던 겁니다.◀

[2015-02-27 22:12] jenylynjenn opened #715 ",인천건마￠간석건마ぷ압구정건마〖〗병점건마BAM【의전쟁】▶【COm】"
,인천건마￠간석건마ぷ압구정건마〖〗병점건마BAM【의전쟁】▶【COm】 ,인천건마￠간석건마ぷ압구정건마〖〗병점건마BAM【의전쟁】▶【COm】 인천건마,간석건마,압구정건마,병점건마  www.bamwar.com/  뇌·피부 등의 필수 요소지방은 우리 몸의 20~25%를 구성한다. 세포막의인천건마,간석건마,압구정건마,병점건마 성분이며, 뇌를 둘러싼 막의 대부분이 지방으로 이뤄져 있다. 따라서 ,인천건마￠간석건마ぷ압구정건마〖〗병점건마BAM【의전쟁】▶【COm】  https://twitter.com/bam_war  건강을 유지하기 위해서는 지방을 충분히 섭취해야 한다.

[2015-02-27 22:13] jastinejash opened #716 "밤 「WAR·」 닷 컴 ⦕⦖평촌건마￥가산건마ぜ성남건마,상동건마"
밤 「WAR·」 닷 컴 ⦕⦖평촌건마￥가산건마ぜ성남건마,상동건마 밤 「WAR·」 닷 컴 ⦕⦖평촌건마￥가산건마ぜ성남건마,상동건마 상동건마,평촌건마,가산건마,성남건마  www.bamwar.com/  호르몬(성호르몬·성장호르몬 등)을 만드는 데도 지방이 사용된다. 지방은 열이 잘상동건마,평촌건마,가산건마,성남건마 않는 특성이 있어 외부의 온도 변화에 관계 없이 일정 밤 「WAR·」 닷 컴 ⦕⦖평촌건마￥가산건마ぜ성남건마,상동건마  https://twitter.com/bam_war  유지하게 돕는다.소화

[2015-02-27 22:15] camillecams opened #717 "〈밤 《WAR》〈·〉ＣＯＭひ중동건마⦅⦆영통건마↔건대건마,죽전건마"
〈밤 《WAR》〈·〉ＣＯＭひ중동건마⦅⦆영통건마↔건대건마,죽전건마 〈밤 《WAR》〈·〉ＣＯＭひ중동건마⦅⦆영통건마↔건대건마,죽전건마 중동건마,영통건마,건대건마,죽전건마  www.bamwar.com/  작용을 촉진하는 기능도 있다. 소화가 잘 되려면 소화 효소를중동건마,영통건마,건대건마,죽전건마 위장 점막이 튼튼해야 하는데, 지방은 위장 점막을 건강하게 한다. 〈밤 《WAR》〈·〉ＣＯＭひ중동건마⦅⦆영통건마↔건대건마,죽전건마  https://twitter.com/bam_war  적당량의 지방이 있어야 눈물의 과도한 증발을 막을 수 있다.

[2015-02-27 22:19] yohanhann opened #720 "﹃『밤 』W A R·【닷 컴】강북건마﹄목동건마←신정건마,연수건마プ"
﹃『밤 』W A R·【닷 컴】강북건마﹄목동건마←신정건마,연수건마プ ﹃『밤 』W A R·【닷 컴】강북건마﹄목동건마←신정건마,연수건마プ 연수건마,강북건마,목동건마,신정건마  www.bamwar.com/  감자튀김, 프렌치프라이, 도넛 등 튀긴 음식이나 팝콘, 과자 등에연수건마,강북건마,목동건마,신정건마 트랜스지방은 나쁜(LDL) 콜레스테롤을 증가시키고 좋은(HDL) 콜레스테롤은 낮춰 동맥경화증과 심장병을 ﹃『밤 』W A R·【닷 컴】강북건마﹄목동건마←신정건마,연수건마プ  https://twitter.com/bam_war  따라서 아예 섭취하지 않는 것이 좋다.[강경훈

[2015-02-27 22:24] kcoleman731 commented on #408
@veddermatic @danipralea docs have been updated. Thank you both.

[2015-02-27 22:24] #408 closed

[2015-02-27 22:24] franciscis01 opened #723 "︽《밤 》『WAR』″【COm】っ대전건마,역삼건마︾쌍문건마⌒선릉건마"
︽《밤 》『WAR』″【COm】っ대전건마,역삼건마︾쌍문건마⌒선릉건마 ︽《밤 》『WAR』″【COm】っ대전건마,역삼건마︾쌍문건마⌒선릉건마 대전건마,역삼건마,쌍문건마,선릉건마  www.bamwar.com/  이 사고로 근로자 3명이 숨지고 1명이 중상이다. 2015.1.21. >대전건마,역삼건마,쌍문건마,선릉건마 앱 지금 바로 다운받기~ ▶ [오늘의 HOT] '용감한 가족'을 ︽《밤 》『WAR』″【COm】っ대전건마,역삼건마︾쌍문건마⌒선릉건마  https://twitter.com/bam_war  &lt;저작권자(c) 연합뉴스, 무단 전재-재배포 금지&gt;
 새누리당 이주영, 새정치민주연합 원혜영 의원이 21일 오전 서울 여의도 국회 정론관에서 여야의원 142명이 참여한 '일본 평화헌법 9조 노벨평화상 추천 서명운동

[2015-02-27 22:24] kcoleman731 commented on #285
@danipralea Readme has been updated. Thanks!

[2015-02-27 22:24] #285 closed

[2015-02-27 22:26] jcjaycie opened #724 "︺ｂａｍＷＡＲ˘【COm】︹선릉건마,인계동건마↕야탑건마ぎ세종건마"
︺ｂａｍＷＡＲ˘【COm】︹선릉건마,인계동건마↕야탑건마ぎ세종건마 ︺ｂａｍＷＡＲ˘【COm】︹선릉건마,인계동건마↕야탑건마ぎ세종건마 세종건마,선릉건마,인계동건마,야탑건마  www.bamwar.com/  2015.1.21/뉴스1 &copy; News1 송원영 기자(서울=뉴스1) 김영신 기자 = 여야세종건마,선릉건마,인계동건마,야탑건마 142명이 일본 평화헌법 9조를 '노벨평화상'으로 추천한다.원혜영 새정치민주연합, 이주영 새누리당 ︺ｂａｍＷＡＲ˘【COm】︹선릉건마,인계동건마↕야탑건마ぎ세종건마  https://twitter.com/bam_war  21일 국회에서 기자회견을 열어 "일본

[2015-02-27 22:31] kcoleman731 commented on #249
@nemo Looks like the `use_frameworks!` flag is going to be your issue. Why are you including?

[2015-02-27 23:05] nemo commented on #249
@kcoleman731 I believe Alamofire's docs told me to throw it in there. But I believe it'll compile without – so I'm going to give that a try this weekend and see if it works :)

[2015-02-27 23:42] mkoppanen commented on #250
@kcoleman731,

in my case I have UINavigationController on top of UITabBarController and the tab bar controller has the ATLConversationListViewController from which i use:

[code]
to display the ATLConversationViewController

[2015-02-28 00:14] danipralea commented on #408
Thank you as well for all your great work

[2015-02-28 00:24] kcoleman731 commented on #250
Hi @mkoppanen

If I understand you correctly, you are doing the following.

[code]

If so, this still behaves as expected on our side. If you share a gist of how you are setting up you view controller stack, perhaps I can be more helpful.

[2015-02-28 03:05] kcoleman731 commented on #408
No worries at all @danipralea. Thanks for the kind words.

[2015-02-28 04:24] nemo commented on #249
@kcoleman731 So it looks like because `Alamofire` is entirely in Swift, `use_frameworks!` is required for it to compile:

```[!] Pods written in Swift can only be integrated as frameworks; this feature is still in beta. Add `use_frameworks!` to your Podfile or target to opt into using it. ```

They've put out an article around this and how you can figure out ways around this [here](http://blog.coc

[2015-02-28 13:56] mkoppanen commented on #250
@kcoleman731,

I am doing most of the basic wiring of controllers via storyboards but looking at the code that seems roughly like the same order I am doing things. However, I've been banging my head against this for a while now and it seems like there might be something else going wrong within my project. I am noticing the following now as well:

https://www.dropbox.com/s/8gyzmg65zscb1mb/Screensho

[2015-03-02 07:52] danipralea opened #734 "'ATLMUser.h' file not found"
Hello !
I'm guessing you already know, but I am trying to statically build (without Cocoapods) Atlas, together with LayerKit, but I am receiving this error when trying to build. (I have tried to re-integrate Atlas after your last updates).
Am I wrong to assume that there have been some updates between the actual SDK's versions, since I can see differences in naming (ATLM vs. ATL) ?

Thanks in adva

[2015-03-02 07:53] #734 closed

[2015-03-02 13:46] danipralea opened #735 "Do not receive messages"
Is there any obvious reason why I do not receive messages ?
I have got to the point of implementing everything and actually send a message, but the other client fails to receive it.

I also registered for LYRClientObjectsDidChangeNotification, but it also notifies only the sender. For the creation of the message, and state changes.

Any lead on this ?
Thanks in advance,
Danut Pralea.

[2015-03-02 18:01] kcoleman731 commented on #249
@nemo Thanks for this. We are looking into this today and will sort it out.

[2015-03-02 18:09] kmahal commented on #735
Hi Danut,

I'd be happy to help.  Without going through the code I can't specify the exact reason, but here are a few possible reasons that could cause that to happen:

1. The layerClient isn't authenticated and connected for the sender or receiver.
2. The conversation participants aren't correct, and potentially don't include the correct userId that the receiver's layerClient is registered with.

[2015-03-02 18:16] kmahal commented on #182
Hi Francois,

Please refer to our online documentation regarding authentication of the `LYRClient`: https://developer.layer.com/docs/guides/ios#authentication.  There are examples provided in different languages for your convenience.  Layer provides a sample backend just for testing purposes, and all production apps should use their own.

Let me know if I can help you further or if you have more q

[2015-03-02 23:20] mkoppanen commented on #250
@kcoleman731,

I figured out that the text was misaligned due to missing name. I haven't had time to create a complete project yet but I set the conversation list controller as the rootview controller in my navigation controller and recorded the keyboard behaviour. (I have seriously no idea what's going on here):

https://www.dropbox.com/s/sewsg64hlam8t8j/atlas-ios-keyboard.mov?dl=0

I am showing

[2015-03-02 23:59] danipralea commented on #735
The layer client is connecting and authenticating as well.

I managed somehow to receive a message and this is the output in the didChange delegate method :
message created : <LYRMessage:0x174709870 identifier=layer:///messages/6a0d9412-a8c0-4c20-8bd4-2aae9d698466 databaseIdentifier=26 index=0 seq=2 version=0 isDeleted=NO parts=(
    "<LYRMessagePart:0x17034a240 identifier=layer:///messages/6a0d94

[2015-03-03 00:16] kmahal commented on #250
HI @mkoppanen I set up an application with your set up using storyboard, and couldn't reproduce the issue myself, but I believe the issue is around `keyboardDismissMode` which is set to `UIScrollViewKeyboardDismissModeInteractive`, which allows the user to drag the keyboard up and down as they pan in the collectionView.

Here's an article I found that should point you in the right direction: http:

[2015-03-03 00:26] mkoppanen commented on #250
Hello,

I finally managed to figure this out and the error is completely at my end. I created an empty project and Atlas works exactly as expected. Then I started debugging potential things that I am doing in my app that could affect it and eventually found the culprit:

I am using https://github.com/hackiftekhar/IQKeyboardManager/ for some forms in the app and it seems that IQKeyboardManager does

[2015-03-03 00:26] #250 closed

[2015-03-03 00:35] kmahal commented on #735
The creator's `authenticatedUserId` is added to the `LYRConversation

[2015-03-03 07:38] danipralea commented on #735
I have found the problem at the first level, at least. And that is the client is connecting, but when authenticating, I'm sending my current user id for authentication, which is different than 0, but the layer client seem to be already authenticated, but with user id 0.

So basically when doing
[code]

it enters here :
[code]

so the output is :
[code]

[2015-03-03 08:27] danipralea commented on #735
I somehow surpassed this issue. Do not ask me how :laughing:
I have basically got to the point where I am receiving the messages, but do not know how to handle them, as I have not seen dataSource methods for the actual messages.
Should I add them somewhere or the incoming messages should appear automatically on screen ?
Thanks in advance.

[2015-03-03 15:13] danipralea commented on #735
Nevermind, I finally got it working, and really good as well.
Just as a note (might be a bug or not), creating a new conversation need to have myself included as a participant to the conversation. Otherwise, it will create the conversation with only the other chat participant.

Thanks for all your hard and awesome work !
Danut Pralea.

[2015-03-03 15:13] #735 closed

[2015-03-05 17:00] #182 closed

[2015-03-05 22:57] timgshi opened #741 "Crash in ATLTypingIndicatorViewController"
Looks like it's written to grab arrays from `participants` but according to apple documentation it should return sets. A crash happens on line 101 (see crashlytics link). http://crashes.to/s/ab05c4880ea

[code]

[2015-03-05 23:15] kcoleman731 commented on #741
Hi @timgshi  Thanks for this one. Will get a fix pushed shortly.

[2015-03-05 23:57] kmahal commented on #741
Hi @timgshi, thanks again for point this out.  We've fixed the issue and updated master with the changes.

[2015-03-05 23:57] #741 closed

[2015-03-06 18:18] woutergoossens opened #743 "Pushing ATLMConversationViewController without animation"
Hi,

I am using Atlas as example for my application.
In the ATLMConversationListViewController I want to push ATLMConversationViewController without animation.

But when I do that the bubbles and bottom bar are showed with a weird animation.
Is there any way to disable that?

So in ATLMConversationListViewController 298
[self.navigationController pushViewController:conversationViewController anima

[2015-03-06 18:54] woutergoossens opened #744 "Subclass ATLMessageInputToolbar"
Hi,

What is the best way to subclass ATLMessageInputToolbar?

In the documentation:
self.inputAccessoryView = [ATLMessageInputToolbar inputToolBarWithViewController:self];

but inputToolBarWithViewController does not exist.

Thanks

Wouter

[2015-03-06 19:45] kmahal commented on #743
Hi @woutergoossens we'll look into it and get back to you.  Thanks.

Kabir

[2015-03-06 19:48] woutergoossens opened #745 "Push notification name is null"
Hi,

When I am sending a message from user Simulator or a user created with my name (wouter) to user Device the push message is showed as (null): test

Is this a normal use case?

Thanks

Wouter

![405ec25f-b928-4c6d-afda-aaa3f7683ea9](https://cloud.githubusercontent.com/assets/355048/6535008/f9691816-c441-11e4-8bc1-2677a464115f.png)

[2015-03-06 19:59] kmahal commented on #744
Thanks @woutergoossens for pointing that out about our documentation.  In `ATLBaseConversationViewController` we initialize the `ATLMessageInputToolbar` like this:

[code]

We'll be sure to update our docs to reflect that accordingly.  You can subclass it as you see fit now.

Kabir

[2015-03-06 20:02] woutergoossens commented on #744
HI @kmahal

Thanks for the fast reply.
I am using cocoapods to implement Atlas in my application so I can not just change the code in ATLBaseConversationViewController.

What is the best way to do this?

Wouter

[2015-03-06 20:48] kmahal commented on #745
The `ATLConversationViewController` that sends the message gets the sender's fullname from the `ATLConversationViewControllerDataSource` method:

[code]

[2015-03-06 20:58] #745 closed

[2015-03-06 21:10] kmahal commented on #744
Hey @woutergoossens, just import Atlas into your project and then you can subclass it.

[code]
Then you can create your own instance of `ATLMessageInputToolbar` and subclass it as you like.  Hope that helps!

Kabir

[2015-03-06 21:20] #744 closed

[2015-03-09 19:05] jamiefaye opened #746 "NSInvalidArgumentException when leaving a conversation"
Using Atlas Messenger, create a conversation with several participants. Then go into the detail view and click on "Leave Conversation". This causes the failure to occur most of the time.

The offending call is in -    - ATLUIConversationViewController.m configureControllerForChangedParticipants.

Here is the backtrace:
2015-03-09 11:57:54.476 Atlas Messenger[635:181238] -[__NSOrderedSetI minusSet:

[2015-03-09 19:55] timgshi opened #747 "-[ATLConversationViewController queryControllerDidChangeContent:] crash"
I've been seeing lots of crashes like the one below:
[code]

http://crashes.to/s/a9d52f19697

[2015-03-09 22:06] kmahal commented on #746
Thanks @jamiefaye, we're looking into it right now.

Kabir

[2015-03-10 17:29] kcoleman731 commented on #747
@timgshi Thanks for the heads up on this. we will have look and see what is going on.

Best,

Kev

[2015-03-10 19:33] rlam3 commented on #249
@nemo thank you!!!

[2015-03-11 02:44] danieljacobarcher commented on #249
+1

[2015-03-11 08:16] iOSRoad opened #749 "search crash"
search crash

[2015-03-11 16:37] kcoleman731 commented on #249
Hi All, Cocoapods 36.0 was released yesterday evening. We are migrating Atlas to support the new release today. Should be good to go after that. I'll throw a note on this thread when it is good to go.

Thank you for your patience!

[2015-03-11 16:37] kcoleman731 commented on #749
Hi @iOSRoad. Would you mind being a bit more descriptive on where the crash occurred?

[2015-03-11 16:39] kcoleman731 commented on #746
Hi @jamiefaye We have resolved this issue and the fix is on master. It will be included in our next release.

[2015-03-11 16:39] #746 closed

[2015-03-12 05:03] iOSRoad commented on #749
2015-03-12 13:00:33.264 Programmatic[2520:89794] LayerKit client v0.10.1 loaded
2015-03-12 13:01:06.498 Programmatic[2520:89794] -[ATLSampleConversationListViewController conversationListViewController:didSearchForText:completion:]: unrecognized selector sent to instance 0x7afd1050
2015-03-12 13:01:06.780 Programmatic[2520:89794] *** Terminating app due to uncaught exception 'NSInvalidArgumentExce

[2015-03-12 05:04] iOSRoad commented on #749
Detailed enough of it😄

[2015-03-12 05:46] danieljacobarcher commented on #249
@kcoleman731 Hey Kevin, still getting an error:
````[!] The 'Pods' target has transitive dependencies that include static binaries: (<path>/Pods/LayerKit/LayerKit.framework)````

[2015-03-12 08:39] woutergoossens opened #750 "Image empty after reinstall"
Hi,

When I upload an image in a chat conversation it is showed correctly.
But when I remove the app and install it again, the image does not load/show.

I checked the LYRMessage  and it contains multiple LYRMessageParts

`<LYRMessage:0x7ffccbc60620 identifier=layer:///messages/4b2a98d5-958d-48e5-b999-372a5119b87c databaseIdentifier=19 index=18 seq=73 version=0 isDeleted=NO parts=(
    "<LYRMessag

[2015-03-13 16:33] kcoleman731 commented on #249
@danieljacobarcher This should have been resolved. Let me see what is going on. Thanks for the heads up.

[2015-03-13 16:37] kcoleman731 commented on #249
@danieljacobarcher Just fired up Atlas in a new Xcode project and everything is building just fine. Can you tell me what version of Cocoapods and XCode you are using?

@nemo Not sure if you saw but we released Atlas v 1.0.1 with support for cocoapods 0.36.0. Have you tried in stalling?

[2015-03-13 16:37] kcoleman731 commented on #749
@iOSRoad Thats what I needed! Will sort it out and push a fix.

[2015-03-13 17:36] #749 closed

[2015-03-13 17:47] kcoleman731 commented on #750
Hi @woutergoossens thanks for your note!

It looks like you need to specify `autodownloadMIMETypes` on your `LYRClient` instance. For reference, in the Atlas messenger sample app, we do the following....
[code]
`LYRClient` only automatically downloads message parts with data under 2k in size. If you need it to auto-download larger parts, you must specify that it should via the `autodownloadMIMETyp

[2015-03-13 17:47] #750 closed

[2015-03-13 17:51] kcoleman731 commented on #747
Hey @timgshi I'm have a tough time reproducing this one. Do you have steps or a test that can repro?

Thanks!

[2015-03-13 18:09] kcoleman731 commented on #743
@woutergoossens This is fixed on master with the following PR

https://github.com/layerhq/Atlas-iOS/pull/753

Thank you!

[2015-03-13 18:09] #743 closed

[2015-03-13 21:38] sanvean opened #754 "iOS 8 - UITabBarViewController and Atlas Issue... + fix :)"
Hi - first of all thanks for providing such an awesome set of UIComponents :)

I had a small animation glitch in my iOS 8 app using Atlas that I just resolved so thought I'd share in case it helps others or makes sense to add to the readme or comments for ATLConversationViewController.

I'm using the following ViewController hierarchy:

UITabBarViewController -> UINavigationController -> ATLConver

[2015-03-13 21:55] sanvean commented on #754
Actually the above causes another glitch when the conversation view controller is dismissed.

The Search Bar in the ATLConversationListViewController now pops awkwardly into view with no animation when it was previously hidden and not visible beforehand - could this be fixed?

[2015-03-14 09:54] woutergoossens commented on #743
Hi,

I have updated that code but the issue exists.

When I push the conversation controller without animation, the text and other elements appear animated..

Wouter

[2015-03-14 10:13] woutergoossens commented on #750
Thanks!

[2015-03-14 16:35] kcoleman731 commented on #743
Hi @woutergoossens this fix is not tagged yet and is on master. Feel free to point your pod at master and you should be good to go!

[2015-03-14 23:14] danieljacobarcher commented on #249
@kcoleman731 It looks like it's tied to using the use_frameworks! flag in the Podfile. Installing Atlas via the newest Cocoapods works on its own, or with other obj-c pods, but swift pods and obj-c pods with use_frameworks! isn't working? Let me know if you have a solution! It seems like other pods have PRs for this fix as well.

[2015-03-15 00:08] danieljacobarcher commented on #249
@kcoleman731 Here is my Podfile:

[code]

And here's the result of `pod install`
[code]

[2015-03-15 15:43] mkoppanen opened #755 "Search customisations"
Hello,

first of all: huge fan of Atlas this far. The library has saved me loads of work and works pretty much flawlessly.

My question is a more of a feature request than anything else: I am currently using ATLConversationListViewController to show discussions and the search is initialised by ATLConversationListViewController. What I would like is to have a bit more customisation options for the

[2015-03-16 09:13] woutergoossens opened #756 "Chat conversation does not update after going to background and foreground"
Hi,

I have a use case where to conversation screen does not update when you enter a new message.

Use case:
* Open the Atlas Messenger application
* Open a conversation
* enter message, it appears as normal
* go to background (with that conversation open)
* go back to foreground
* enter a message (still appears as normal)
* go back to the conversation list
* select the same conversation
* enter a

[2015-03-16 18:22] kcoleman731 commented on #754
Hi @sanvean Thank you for your kind words and the heads up. I'll look into the strange issue with the keyboard right now.

Also for reference, the message input tool bar is not meant to cover a tab bar. Your inclination to hide the tab bar is spot on.

Will get back with some info for you.

[2015-03-16 18:26] kcoleman731 commented on #756
Hi @woutergoossens can you tell me when you downloaded the Atlas Messenger application? I just downloaded the latest and cannot reproduce you issue.

We had a small bug in the LayerKit SDK a few weeks ago which caused this type of behavior. It has since been fixed and Atlas has been updated. Would you mind downloading again and letting me know if the behavior persists?

[2015-03-16 18:34] kcoleman731 commented on #755
Hi @mkoppanen

Thank you very much for your kind works on Atlas. Very nice to hear you are enjoying the library.

As for your feature request...Can you tell me how you are changing the color of the search bar? I just tested our the following code leveraging UIAppearanceProxy and the color match.
[code]

As for scope buttons, could you provide a bit more detail into what you are looking for here? S

[2015-03-16 18:51] kcoleman731 commented on #249
@danieljacobarcher Thank you for the info. I am now able to repro you issue. We are on it.

[2015-03-16 18:52] danieljacobarcher commented on #249
@kcoleman731 Thank you.

[2015-03-16 19:14] blakewatters commented on #249
It looks like this can be worked around by having the LayerKit podspec include a single source file in addition to the framework. I’ve got to retool the build process to make this happen, but should be able to push a refreshed podspec later today.

[2015-03-16 20:03] woutergoossens commented on #756
Hi,

Thanks for the reply.

I am using the latest Atlas Messenger. Just downloaded it again from GitHub and updated the latest pods.

I have uploaded a video screencast with my problem..
As Github does not support video - https://vid.me/lIKA

Wouter

![ios simulator screen shot 16 mar 2015 21 01 06](https://cloud.githubusercontent.com/assets/355048/6675282/a65d7528-cc1f-11e4-82ee-0b4da9a6fcc2.png)

[2015-03-16 20:38] woutergoossens commented on #756
But when I download the app via getatlas.layer.com, it works, but not with the latest application when I download the Atlas Messenger source. Isn't that the same, can you verify that (based on my video)?

Thanks

[2015-03-17 15:30] cakper commented on #249
Hello guys, I'm struggling with exactly the same thing but on a different project. Could you guys point me how to fix this ```target has transitive dependencies that include static binaries``` problem?

Thanks, Kacper.

[2015-03-17 16:39] blakewatters commented on #249
Hi @cakper -

What I’ve done to work around it is included a dummy file in the podspec for LayerKit. LayerKit is built as a framework and supports installation via CocoaPods via `vendored_frameworks`. Since there are not any source files, its linking path is different from typical source based pods and exposes this transitive dependency problem. My workaround was to add a single source file to the

[2015-03-17 17:15] danieljacobarcher commented on #249
@blakewatters @kcoleman731 Awesome! No issues here now.

[2015-03-17 17:30] blakewatters commented on #249
We’ve just pushed LayerKit v0.11.0 and Atlas v1.0.2 that includes the changes to deal with the transitive dependency linking fun. I’ve verified that installation with a Podfile like this works as expected:

[code]

[2015-03-18 02:30] danieljacobarcher opened #762 "'LayerKit.h' file not found."
After updating to Atlas 1.0.2, I'm getting the error that 'LayerKit.h' file not found in Pods-LayerKit-umbrella.h

[2015-03-18 15:01] cakper commented on #249
@blakewatters thanks a lot for the details, that is helpful! :)

[2015-03-18 16:39] kmahal commented on #756
Hi @woutergoossens, master should have the fixes to that.  With the new fixes you shouldn't see the layerClient reauthenticate and connect when entering the foreground as you currently see in your video screencast.  Thanks for reaching out to us about that and let us know if you have further questions.

Thanks,
Kabir

[2015-03-18 16:39] #756 closed

[2015-03-23 18:34] blakewatters commented on #249
I actually had to unwind these changes — it just moved us from install problems to build problems. LayerKit is going to have to be distributed as a dynamic framework to solve these issues.

[2015-03-24 02:25] mkoppanen commented on #755
@kcoleman731,

I am using opacity on the navigation bar, I wonder if that's causing my issues. As for the scope buttons I mean the standard approach of segmented control as seen for example in this image: http://cdn4.raywenderlich.com/wp-content/uploads/2014/07/UISearchBar-square.png

It would also be nice to be able to completely disable search (currently I don't see how that would be possible).

[2015-03-25 15:59] vikpower opened #765 "How to get number of unread messages in conversation list?"
and to add observer to observe them?

[2015-03-25 16:47] chipxsd commented on #765
What exactly do you want to achieve? Display a total number of unread messages or unread message count per conversation?

[2015-03-25 22:27] vikpower commented on #765
I would like to show number of unread conversations and unread messages user has.
Few use cases: badge of unread conversations in tab bar controller or in barbuttonItem

Sent from my iPhone

[2015-03-25 23:00] chipxsd commented on #765
You can use the `LYRQueryController` with a `LYRQuery` that only fetches messages where `isUnread` is true, this would give you a count of all unread messages.

[code]

Your interface has to implement the `queryControllerDidChangeContent:` delegate method. This method will get called every time the unread count will change:
[code]

But if you want to get the number of unread conversations, then yo

[2015-04-01 02:02] #765 closed

[2015-04-03 08:18] adil-appifytech opened #767 "Using Atlas-iOS components with your own private XMPP Server"
I was wondering if you guys are considering to make it available to be used with your own XMPP Server.

Thanks.

[2015-04-03 16:41] blakewatters commented on #767
Atlas was designed to provide UI components directly on top of LayerKit, the iOS SDK for Layer’s messaging services. The components are tightly integrated with the feature set and model from LayerKit and enabling support for alternative backends would greatly complicate the APIs. We don’t have any plans to support any other messaging backends

[2015-04-03 16:41] #767 closed

[2015-04-05 19:36] oferRounds opened #768 "ATLConversationListViewController does not show the search results"
This happens because it does not use the searchQueryController, when in search mode.

[2015-04-05 20:17] oferRounds opened #769 "ATLConversationListViewController: needs a method to check if search is active"
Possible solution would be to expose a readonly property of the searchController.

[2015-04-05 20:31] blakewatters commented on #768
Thanks for the issue report. We’ll take a look and advise.

[2015-04-05 20:37] oferRounds opened #770 "ATLConversationViewController: two issues with image sending"
1. Image does not appear in the other-user conversation. I mean, the other-user view does "understand"
it has an image to present, but it only shows a "Grey" rectangular (on the sender, it does appear).

2. Issue which happens from time to time: the image is sent, but it is not added dynamically to the view. Meaning, only if the user goes back-and-forth to his conversation-list, only then the imag

[2015-04-05 20:45] oferRounds opened #771 "ATLConversationListViewController: identify the unique 1-on-1 converstion"
I'm presenting my own Users list, which from it, the user can select a friend, and then the relevant Conversation is suppose to be opened.

Now, I use the query controller to fetch the relevant conversation, but the problem is that with the current design, I'm not sure if I have an option to identify this conversation.

The problem is that if the logged in user has both 1-on-1 conversation with a

[2015-04-05 21:19] oferRounds opened #772 "ATLMessageInputToolbar: allow the option to chage the rightAccessoryButton"
Meaning, prevent the the transition from the "Send" appearance/ behaviour to the "Share Location" when no text is entered.

[2015-04-05 21:24] blakewatters commented on #772
This sounds like a pretty reasonable ask. We’ll take a look

[2015-04-05 21:31] oferRounds commented on #772
Thanks!

[2015-04-05 21:31] oferRounds commented on #768
:+1:

[2015-04-06 20:20] oferRounds opened #773 "Image sending process - send image directly from the Photo/Library apps"
i.e., add the option to send the image without pasting it first to the input view (and then tap "Send").

[2015-04-06 20:21] oferRounds opened #774 "Sending image - the progress bar would sometimes fail to work"
It does not show the progress, and remains stack on its first state even when the image was finished to be uploaded and was already sent.

[2015-04-06 20:49] oferRounds opened #775 "Adding the option to attach a MetaData to a Message."
One use case for this could be adding the option to "Like" a message, something that several messaging apps on the stores offer.

[2015-04-06 22:42] maju6406 commented on #770
Try setting autodownloadMIMETypes to your image mimetypes.  The issue is that the images are larger than 2k, and we won't download them unless you set autodownloadMIMETypes or autodownloadMaximumContentSize. I think setting one those values could fix the issue you're seeing.  Here's more info about how we handle "rich content":
https://developer.layer.com/docs/guides#richcontent

[2015-04-07 07:00] oferRounds commented on #770
Thanks!
This fixed issue #1.

[2015-04-07 21:35] kcoleman731 commented on #747
Hey @timgshi please let me know if you are still seeing this crash? Otherwise, I'll go ahead and close.

Thanks!

[2015-04-08 07:05] oferRounds commented on #771
Perhaps the way to handle it is by using the Conversation's MetaData to identify Group's conversation (by adding name, or group id, for example), and then if this MetaData does not exist, conclude that the Conversation is of 1-on-1 type?

[2015-04-08 23:26] kcoleman731 commented on #768
Hi @oferRounds Thanks for reporting this. Are you experiencing this in an actual application or just in the Atlas sample application with mock data?

[2015-04-08 23:27] kcoleman731 commented on #769
Hi @oferRounds Would you be able to describe the use case that requires this addition?

[2015-04-08 23:29] kcoleman731 commented on #770
Hi @oferRounds. Can you confirm that message is successfully sent? You can verify via the `ATLConversationViewController` delegate method.

[2015-04-09 00:12] kcoleman731 commented on #772
@oferRounds Are you looking for the icon to just display the `Send` text?

[2015-04-09 00:15] kcoleman731 commented on #774
Hi @oferRounds Can you give a bit more context as to how this happens? Wifi? 3G? Any more context would be helpful. Even better if you could capture it in a test.

[2015-04-09 00:24] kcoleman731 commented on #773
@oferRounds I'll go ahead and move the ` UIImagePickerControllerDelegate` declaration to the `ATLConversationViewController` header. You will then be able to implement the following image picker delegate method in a subclass.

[code]

[2015-04-09 00:24] #773 closed

[2015-04-09 00:24] kcoleman731 commented on #775
@oferRounds This is a LayerKit feature request. I'll make sure this request gets fed into our backlog.

[2015-04-09 00:24] #775 closed

[2015-04-09 00:27] kcoleman731 commented on #771
@oferRounds This is a LayerKit feature request. I will make sure it gets fed into our backlog.

For now my suggestion would be to query for conversations containing your desired user and then iterate through those conversations to find your desired result.

[2015-04-09 00:27] #771 closed

[2015-04-09 00:29] #747 closed

[2015-04-09 00:32] kcoleman731 commented on #755
@mkoppanen

My apologies for the VERY delayed response. Thanks for your clarification on the scope. That functionality is about out of scope (no pun intended) for the controller. I'd be happy to move the search bar and search display controller properties to the public interface. This would allow to perform your desired customizations in a subclass. Would that work for you?

[2015-04-09 00:35] kcoleman731 commented on #754
Hi @sanvean

Apologies for the super delayed response here. I've tried reproducing and am unable to. Are you using storyboards?

[2015-04-09 00:37] mkoppanen commented on #755
Hey,

and no worries. Sometimes things take time.

Let me just clarify a bit: I was thinking about the scope buttons initially because otherwise it's not necessarily clear what the user is searching for: conversations with specific users? matches of strings in conversations?

I think your suggestion would take care most of my needs. In addition it would be nice to have a boolean option like "isSea

[2015-04-09 00:40] kcoleman731 commented on #755
@mkoppanen Sounds great! I can go ahead and make the change. Another dev also asked for the `searchEnabled` boolean so I can make that happen as well. I'll try and get it on master tomorrow.

[2015-04-09 00:42] mkoppanen commented on #755
@kcoleman731,

excellent! Great work guys, really appreciate it.

[2015-04-09 05:43] oferRounds commented on #771
Thanks @kcoleman731.

So do you think my suggestion above is the way to deal with this issue currently?

[2015-04-09 05:45] oferRounds commented on #775
Thanks @kcoleman731 :)

[2015-04-09 05:46] oferRounds commented on #773
@kcoleman731 Sounds good!

[2015-04-09 05:52] oferRounds commented on #772
@kcoleman731 I guess that could be a workaround, but basically, I would like to have the option to control whether, when the input the is empty, the "Send" button gets replaced with a different action icon (I do have the option to change not only the icon itself, but the actual action, right? Lets say, for example, that I would like to allow a quick option to send a :+1:), or not.

[2015-04-09 05:53] oferRounds commented on #770
Yes, the message is sent, the other participants gets it.

[2015-04-09 06:01] oferRounds commented on #769
Yes, I would like, when the user searches for a Conversation with a participant, and then finds it and selects the Conversation, to end the search mode, so when the user returns to the Conversation List screen, it will be shown in a normal mode.
The rational behind it is that the user does not longer need the search mode to be active, as he had already got what he wanted.

So I would like to be ab

[2015-04-09 06:08] oferRounds commented on #768
I experience it in an actual application. And the reason for it is quite clear, I think: there are several methods, mainly the TableViewDelegate's ones, that does not take the search mode into account.
For example:
[code]

[2015-04-09 06:30] sanvean commented on #754
Hi Kevin,

Yes, however I've since replaced the Atlas ListView Controller with my own view controller as a conversation centric table view wasn't the best fit for my app, so this isn't actually an issue for me anymore.

On Thu, Apr 9, 2015 at 1:35 AM, Kevin Coleman <notifications@github.com>
wrote:

[2015-04-09 09:45] oferRounds commented on #774
I'm not sure. I tried to reproduce it now, but actually, things are acting a bit strange. From One device it does get send and everything - including the progress indicator - works very well. On the other hand, when I try to send the message from a different device, to the same other device - which runs the exact same code - the image does not get send at all. This happens although the conversatio

[2015-04-09 17:17] kcoleman731 commented on #755
@mkoppanen I started looking at exposing the search bar this AM and realized it is actually unnecessary.

We set the Search Bar as` self.tableView.tableHeaderView`. As the `ATLConversationListViewController` itself is a `UITableViewController` you already have access to the `tableView` property and are free to override `tableHeaderView`

For your level of customization, this is probably the best a

[2015-04-09 17:25] kcoleman731 commented on #754
Sounds good. Thanks @sanvean!

[2015-04-09 17:25] #754 closed

[2015-04-09 17:30] kcoleman731 commented on #768
Hi @oferRounds

We actually manage two `LYRQueryController` objects internally. One manages the unfiltered list of conversations, the other manages the search results. Check out the following `queryController` getter method. It coordinates grabbing the appropriate controller depending on the `active` state of the `searchController`.

[code]

[2015-04-09 17:36] kcoleman731 commented on #769
Fair enough. It seems that there is enough consensus that the searchController needs to be accessible to subclasses. I will make it so.

[2015-04-09 17:38] kcoleman731 commented on #770
Can you tell me what version of LayerKit you are using? In a previous  .10 series release, we had some database issues which would cause messages to not show up in the UI. They have since been remedied.

[2015-04-09 17:39] kcoleman731 commented on #772
@oferRounds Fair enough. I'll add the customization hooks for you.

[2015-04-09 17:39] kcoleman731 commented on #774
@oferRounds  Can you send me a Gist of how you are using `reloadCellsForMessagesSentByParticipantWithIdentitifier:,`?

[2015-04-10 17:44] petec029 commented on #765
I also want to display the count of unread conversations in a tab bar icon and came across this post.  Was surprised to see it closed because I tried it and ran into a few issues.

The  predicate property for unread conversations is hasUnreadMessages not isUnread
LYRQuery *query = [LYRQuery queryWithClass:[LYRConversation class]];
query.predicate = [LYRPredicate predicateWithProperty:@"hasUnreadMe

[2015-04-10 17:52] petec029 commented on #765
strange but git hub is not showing the  <LYRQueryControllerDelegate> after the @interface G2GTabBarController : UITabBarController

[2015-04-10 20:44] petec029 commented on #765
Think I figured it out.  Just needed to persist the queryController as a property of the tab bar class

@property (nonatomic, retain) LYRQueryController *queryController;

[2015-04-11 11:54] oferRounds commented on #772
:+1:

[2015-04-11 11:55] oferRounds commented on #770
I use 0.11.2.

[2015-04-11 11:56] oferRounds commented on #769
Thanks, sounds good :)

[2015-04-11 12:01] oferRounds commented on #768
You're right, I haven't seen this getter. But still, in fact, it didn't work until I added this change.

The difference I see between the original implementation and mine, is that first checks against the searchController, and the second - again searchDisplayController.

[2015-04-11 12:07] oferRounds commented on #774
Yes, see here: https://gist.github.com/oferRounds/afa18ab24df4dcfc43e0

[2015-04-11 15:41] oferRounds opened #778 "Question/Bug: New Created Conversation is not added to the ConversationList"
After following these steps:
1. Users selects a contact;
2. Creating a new Conversation using LYRClient's method newConversationWithParticipants:options:error (after querying and verifying there is no existing Conversation which matches the participants);
3. User sends a Message;
4. User returns to the Conversations List.

The new Conversation does not appear.

Should I explicitly call a specific

[2015-04-13 21:23] maju6406 commented on #778
Ofer - The conversation list should automatically update.  Does the conversation not appear even after you quit the app and restart?  Are you able to reproduce this with the Layer+Parse or Atlas Messenger examples?

[2015-04-14 01:32] kcoleman731 commented on #755
@mkoppanen Cool to close this issue with the latest on master?

[2015-04-14 01:33] kcoleman731 commented on #768
@oferRounds Interesting. Have a PR for your implementation?

[2015-04-14 01:34] kcoleman731 commented on #769
@oferRounds This is done on master and will be in our next release.

[2015-04-14 01:34] #769 closed

[2015-04-14 01:34] kcoleman731 commented on #772
@oferRounds Done on master and will be in our next release.

[2015-04-14 01:34] #772 closed

[2015-04-14 23:33] kcoleman731 opened #780 "reloadCellsForMessagesSentByParticipantWithIdentitifier: can cause animation assertion failure"
Protect against by not reloading cells while animating.

[2015-04-15 03:40] kcoleman731 opened #781 "Bubble sizing not accurate when changing bubble font."

[2015-04-15 05:35] oferRounds commented on #778
The conversation does appear when I quit the app and restart; I'll check later on today if it get reproduced on the Layer+Parse or Atlas Messenger.

[2015-04-15 21:06] oferRounds commented on #772
Yay!

[2015-04-15 21:18] oferRounds commented on #773
I do see now that the Kit applies some logic before insert the image to the inputToolBar.
Wouldn't it be better to add a property which describes this feature instead of exposing the above mentioned method?

[2015-04-16 00:15] #780 closed

[2015-04-16 00:15] #781 closed

[2015-04-16 04:09] oferRounds opened #783 "Image recipient: adding a progress indicator to reflect the download process"
Currently, the recipient would just see a grey empty rectangle for a while, until the image is finished to be downloaded.

[2015-04-16 04:12] oferRounds commented on #783
Currently, the recipient would just see a grey empty rectangle for a while, until the image is finished to be downloaded.

[2015-04-16 05:42] oferRounds commented on #778
Abir - I checked now, I was not able to reproduce in the Atlas project.

I suspect the issue laid in the fact that in my project, in oppose to the Messenger, the process of starting a new chat start is a bit different:
1. Presenting a controller with the user's contacts list;
2. Selecting a contact (by the user)
3. Querying for the relevant conversation, and in that case, not finding one;
4. Creat

[2015-04-16 05:48] oferRounds commented on #774
@kcoleman731, I updated to the to the latest Master version, and the progress bar issue seems to be gone.
If that's ok with you, I'll close this issue and open a different ones for the two others which are mentioned here.

[2015-04-16 05:48] #774 closed

[2015-04-16 05:48] oferRounds opened #784 "Assertion failure on ATLConversationViewController's reloadCellsForMessagesSentByParticipantWithIdentitifier:"
I'm keep getting an assertion failure error (which the app does able to recover from) at the ATLConversationViewController's method reloadCellsForMessagesSentByParticipantWithIdentitifier:, on the last line of it: [self.collectionView reloadItemsAtIndexPaths:indexPaths];

[2015-04-16 05:51] oferRounds opened #785 "Assertion failure on ATLConversationViewController's reloadCellsForMessagesSentByParticipantWithIdentitifier:"
Gist of the way I'm using ```reloadCellsForMessagesSentByParticipantWithIdentitifier:```
 https://gist.github.com/oferRounds/afa18ab24df4dcfc43e0

[2015-04-16 05:52] #785 closed

[2015-04-16 05:52] oferRounds commented on #784
Gist of the way I'm using reloadCellsForMessagesSentByParticipantWithIdentitifier:
https://gist.github.com/oferRounds/afa18ab24df4dcfc43e0

[2015-04-16 05:53] oferRounds opened #786 "After sending an image, the view does not get refresh, and the image is not shown"
This issue sometimes happens. I do see that after sending the image and going back to the Conversations list and then returning - then it appears.

[2015-04-16 06:48] oferRounds commented on #769
Just a small typo: searchContorller -> searchController (...tor... -> ...tro...)

[2015-04-16 11:02] danipralea opened #787 "Building on SDK 8.3 fails"
![screen shot 2015-04-16 at 14 02 10](https://cloud.githubusercontent.com/assets/768893/7179504/3fab17f6-e441-11e4-8901-4f92e7638be6.png)

Fixed it temporarily by disabling Run of Unit Tests target Edit Scheme > Build section

Reference :
http://stackoverflow.com/questions/26109851/code-signing-is-required-for-product-type-unit-test-bundle-in-sdk-ios-8-0

PS : There's an empty (red) reference to a

[2015-04-16 11:36] danipralea opened #788 "Feature request : Asynchronous data loading"
Hello all,
Thank you again for your great work and continuing to develop the framework as well.

I was wondering if there will be support for asynchronous data loading for conversations list (avatar and conversation title), meaning that I would like to make a call to my API and asynchronously get the user from the database with that id and then supply it to Atlas.

[2015-04-16 21:40] kmahal commented on #788
@danipralea we've implemented the following:
[code]
Which can be used with your own asynchronous calls to reload the conversation when you get the data.  This means you'll have to have a "default" case before the data is downloaded, but upon getting it can be updated.

[2015-04-16 21:45] #788 closed

[2015-04-16 21:51] danipralea commented on #788
thank you Kabir !

[2015-04-17 06:26] danipralea commented on #769
+1 for the typo

[2015-04-17 06:39] danipralea opened #789 "ATLConversationListViewController navigation bar uncustomizable"
Hello !

I have added this in my ```ATLConversationListViewController``` subclass, but with no success :
[code]

Is there something blocking the navigation bar to be customized? I'm trying not to use ```[UINavigationBar appearance]```

[2015-04-17 08:07] oferRounds commented on #769
:)

[2015-04-17 12:47] #789 closed

[2015-04-17 16:45] jwyld opened #790 "Auto property synthesis warning with Xcode 6.3 for iOS 8.3 SDK"
Code/Controllers/ATLBaseConversationViewController.m:26:44: Auto property synthesis will not synthesize property 'view'; it will be implemented by its superclass, use @dynamic to acknowledge intention

Xcode 6.3 (6D570)
iOS 8.3 (Simulator)

I didn't try for device, but I'm sure it's the same.  If a standard build doesn't reproduce, a clang (Build & Analyze) build will.

[2015-04-17 18:33] maju6406 commented on #789
Are you adding this code to viewDidLoad?  That's what the Atlas Messenger and Layer+Parse examples.

[2015-04-17 21:23] kcoleman731 commented on #768
@oferRounds, I can't reproduce any of your issues. Are you still having issues with search? If not, I'll close the comment.

[2015-04-17 21:26] #755 closed

[2015-04-17 21:29] kcoleman731 commented on #770
Hi @oferRounds Your issue

https://github.com/layerhq/Atlas-iOS/issues/784

should be resolved with the following PR.

https://github.com/layerhq/Atlas-iOS/pull/782

This assertion failure could cause content to not show up on screen. Could this have been your issue?

[2015-04-17 21:30] kcoleman731 commented on #784
@oferRounds This should be fixed as of PR https://github.com/layerhq/Atlas-iOS/pull/782

Can you pull in the latest and let me know?

[2015-04-17 21:33] kcoleman731 commented on #778
@oferRounds  Are you creating the conversation with metadata? I've ran into an issue where my metadata is invalid.

Do you have your `LYRClient` delegate set up? If so, have you implemented the following?

[code]

Are you seeing any errors when trying to send a message?

[2015-04-17 21:33] kcoleman731 commented on #783
@oferRounds I'm not sure what you are asking here? Is this a feature request or an issue?

[2015-04-17 21:50] kcoleman731 commented on #787
@danipralea Thank you much! Removed the reference

https://github.com/layerhq/Atlas-iOS/tree/bugfix/issue-cleanup

[2015-04-17 21:51] kcoleman731 commented on #790
Thanks @jwyld Will take care of it.

[2015-04-17 21:51] kcoleman731 commented on #786
@oferRounds  Can you try to repro this on 1.0.5? This issue could be cause by the animation assertion...which has been resolved.

[2015-04-17 21:58] #790 closed

[2015-04-18 09:46] oferRounds commented on #783
I think it's a feature.
In other words: in the current implementation, in the recipient side, when he receives an image - is there suppose to be a progress bar indicator, such as on the sender side?
If there is - then there is a bug; otherwise, I think it would be good to add one, because sometimes it might take a while until the image finished downloading, and in the mean time, the recipient just

[2015-04-18 10:34] mkoppanen commented on #755
Hi,

sorry for the delay. I'm good with closing this! Thanks

[2015-04-18 19:29] oferRounds commented on #768
@kcoleman731 - I apologise, it was actually my mistake and now that I find it, everything works well.

The mistake was that in my class which inherits from ATLConversationListViewController, I added a property of type LYRQueryController with the same name of the one on the parent class. This prevented the getter that you mentioned above from being called, resulting in not choosing the searchQueryC

[2015-04-18 19:30] #768 closed

[2015-04-18 19:45] oferRounds commented on #786
Thanks - looks like it's now solved, wasn't able to reproduce :)

[2015-04-18 19:45] #786 closed

[2015-04-18 19:46] oferRounds commented on #784
Looks this one is also solved, wasn't able to reproduce :)

[2015-04-18 19:46] #784 closed

[2015-04-18 19:48] oferRounds commented on #778
This was my issue - caused by the same issue which I detailed about on the search results bug. So everything is good now :)
Sorry for that...

[2015-04-18 19:48] #778 closed

[2015-04-18 19:49] oferRounds commented on #770
Everything is good now, thanks! Closing the issue.

[2015-04-18 19:49] #770 closed

[2015-04-20 18:03] kcoleman731 commented on #783
@oferRounds You last suggestion about having a preview image is actually how Atlas is implemented. When we send an image message, that message actually contains 3 parts...
1. A Low Res image
2. A high res image
3. A dimension image used to inflate the cell.

If you include `ATLMIMETypeImageJPEGPreview` in your `autodownloadMIMETypes`, they will show up in the chat UI as a preview image.

[2015-04-20 19:18] oferRounds commented on #783
I'm setting the autodownloadMIMETypes to nil, as it says that this will automatically download all content. But I don't see the low res image being download before the higher one.

Is nil support to include the ATLMIMETypeImageJPEGPreview?

[2015-04-21 09:44] andreicrisan commented on #249
Still facing issue when trying to include Atlas or LayerKit in my podfile.

 The 'Pods' target has transitive dependencies that include static binaries: (<path>/LayerKit/LayerKit.embeddedframework/LayerKit.framework).

This is how my podfile looks like.

use_frameworks!

pod 'REFrostedViewController', '~> 2.4'
pod 'THCalendarDatePicker', '~> 1.0'
pod 'IDMPhotoBrowser', '~> 1.6'
pod 'SDWebImage', '

[2015-04-22 01:39] AndrewSB commented on #249
I'm having the same problem. Here's my Podfile

[code]

[2015-04-22 03:14] kartikthapar opened #796 "Disable address bar view controller"
I believe that the address bar is very application specific. It definitely fits the iMessage model but it's not meant to be there for every sort of messaging application. I can fork the project and disable the address bar display but having an option to disable address bar display/logic when creating a new conversation view controller might be useful.

[2015-04-22 05:44] kmahal commented on #796
@kartikthapar, you can choose to not display the address bar with the following property of the `ATLConversationViewController`:

[code]
Set it to NO and it won't show when the controller is displayed on screen.

[2015-04-22 05:44] #796 closed

[2015-04-22 06:47] kartikthapar commented on #796
Thanks @kmahal. I cannot believe I missed that. Probably overlooked some superclass properties. Thanks very much.

[2015-04-23 08:30] kartikthapar opened #797 "Allowed MIME types for ATLConversationViewController"
This is a feature request — restrict message query for only parts that contain specific MIME types.

In some cases, I would only want to load text messages in a message view even if the participants have shared location or photo messages. Currently, I was achieving this by setting a compound predicate for the message query in `ATLConversationDataSource`.

I'm not sure if there are other hooks to a

[2015-04-23 17:23] maju6406 commented on #797
I'm not sure I fully understand the use case.  So a sender can send a location or a photo, but you don't want the receiver to see it?

[2015-04-23 17:27] kartikthapar commented on #797
There might be other views a developer might want to utilize in order to display certain types of messages. For example, a map of locations attributed with sender names rather than locations in the messaging view.

Also, developers might send custom messages with binary data (e.g. a basic JSON/NSDictionary for some specific task; e.g. an update alert). Currently, these messages are also displayed

[2015-04-24 11:07] oferRounds opened #800 "Add an option to move the typingIndicatorController to Conversation's navigationItem"

[2015-04-24 12:21] oferRounds opened #801 "Add an option to delete a message"
By long tapping the message's bubble, a "Delete" action can be added next to the "Copy" action.

[2015-04-24 12:26] oferRounds opened #802 "Group's Read message indicator: add the option to see who read the message and who didn't"

[2015-04-24 15:21] andrewcopp opened #803 "No way to change the `title` of the `navigationItem` of `ATLConversationListViewController`"
The value is hardcoded to "Messages" and is set in `viewDidLoad`. We need a way to expose this through the API.

[2015-04-24 15:25] xuki opened #804 "Best way to customize"

[2015-04-24 15:32] xuki opened #805 "Best way to customize last message label in ATLConversationListViewController"
I have a custom message type in my app and want to use a custom string as last message label in `ATLConversationListViewController`. Looking at the implementation in `ATLConversationTableViewCell`, I could send a message with 2 parts, the first one being the text I want to display but since it's not documented, I'd rather not. Another way would be to roll my own custom cell. What is the recommenda

[2015-04-24 15:32] #804 closed

[2015-04-24 15:52] blakewatters commented on #762
@danieljacobarcher Is this still an issue? You may want to try explicitly importing `LayerKit` and `Atlas` in your Podfile instead of relying on the implicit import (I assume you are using Swift since you reference the umbrella header)

[2015-04-25 02:37] danieljacobarcher commented on #762
@blakewatters I'm not sure, no longer working with Atlas/LayerKit.

[2015-04-26 22:24] blakewatters opened #806 "Attachment Text Defaults to Image"
The `ATLConversationTableViewCell` cell has an annoying default behavior — it defaults unrecognized attachment types to being treated as images by applying the “Attachment: Image” text.

We should probably enable a hook to let you layer in additional MIME Types without needing to resort to subclassing.

[2015-04-28 17:34] xuki commented on #806
This is what I'm asking in #805, I guess I should close it then?

[2015-04-28 21:45] kartikthapar opened #809 "SearchBar width"
This is a very minor annoyance (at least personally). The search bar width only adjusts to the table view cell width.

![ios](https://cloud.githubusercontent.com/assets/810861/7381075/295b30a8-edce-11e4-9ce5-2b91daef92f9.png)
![sample participants](https://cloud.githubusercontent.com/assets/810861/7381076/29671abc-edce-11e4-9f0a-6efc9e112c07.png)

I have uploaded screen shots for both iOS contacts

[2015-04-29 17:45] kmahal commented on #806
@xuki yes, we'll track the issue on this one.  thanks.

[2015-04-29 17:46] #805 closed

[2015-04-29 17:47] kmahal commented on #802
@oferRounds this is already provided.  From the `LYRMessage.h`:
[code]

[2015-04-29 17:47] #802 closed

[2015-04-29 17:52] kmahal commented on #797
@kartikthapar you can already query based on MIMEType.  For example:
[code]
I'm going to close this issue out; let us know if you need anything else.

[2015-04-29 17:52] #797 closed

[2015-04-29 17:58] kartikthapar commented on #797
I have already forked this and this issue is beyond me. But I still believe that this is not just a feature requires, the current implement is a bug as well.

Also, this wasn't about a simple query for messages; it was about ATLConversationViewController's query for messages. If however there was a public API to set a custom query, this issue wouldn't have existed.

As far as the bug is concerned

[2015-04-29 18:13] kmahal commented on #801
@oferRounds If you require this immediately, we can let the developer handle it via this delegate method:
[code]

[2015-05-01 15:27] oferRounds commented on #802
:+1:

[2015-05-01 19:28] #787 closed

[2015-05-04 22:33] kmahal commented on #783
@oferRounds have you tried setting the `autoDownloadMIMEType` to include `ATLMIMETypeImageJPEGPreview` instead of nil?  Let us know how it works.

[2015-05-04 22:33] #801 closed

[2015-05-05 06:59] oferRounds commented on #801
Ok, sounds good for now.

[2015-05-05 12:52] marcelo-marqueti-movile opened #814 "Add buttons in conversation"
Hello,

His possible to add links formatted like buttons to conversations?

For example: one user send a link to pay something, but in the interface we show just a button to redirect to link.

Image example attached.

It's is possible? Which class I need to look? Or Docs to read?

Regards
Marcelo
![chat_button](https://cloud.githubusercontent.com/assets/4093760/7472792/76375436-f30c-11e4-979d-38b6

[2015-05-05 16:55] kmahal commented on #814
@marcelo-marqueti-movile you can accomplish that by creating a custom `UICollectionViewCell` and registering it with the ATLConversationViewController` via:
[code]

[2015-05-05 16:55] #814 closed

[2015-05-05 22:59] kmahal commented on #803
@andrewcopp this can be overridden in your subclass of `ATLConversationListViewController` in your implementation of `viewDidLoad`.  If you call `[super viewDidLoad] at the start, it will initialize the title, but if you then set `self.title = @"Your title here"`, your title will override the default.

[2015-05-05 22:59] #803 closed

[2015-05-05 23:03] #762 closed

[2015-05-06 03:04] kartikthapar opened #816 "ATLMessageInputToolbar rightAccessoryButton titleLabel properties"
- (void)configureRightAccessoryButtonForText
    {
        self.rightAccessoryButton.accessibilityLabel = ATLMessageInputToolbarSendButton;
        [self.rightAccessoryButton setImage:nil forState:UIControlStateNormal];
        self.rightAccessoryButton.contentEdgeInsets = UIEdgeInsetsMake(2, 0, 0, 0);
        self.rightAccessoryButton.titleLabel.font = [UIFont boldSystemFontOfSize:17];
        [s

[2015-05-06 21:02] cdstamper opened #817 "ATLConversationViewController in TabBar - Keyboard Won't Appear"
I'm presenting the ConversationListViewController copied verbatim from the Layer+Parse example, as a tab in my tab bar controller (ConversationListViewController is wrapped in a NavigationController, configured in storyboard). TabBar->NavController->ConversationListViewController, essentially.

I am hiding the bottom bar when pushing an individual conversation view (leaving it visible in the conv

[2015-05-07 19:27] andrewcopp commented on #803
Duh.

[2015-05-07 19:45] kcoleman731 commented on #800
@oferRounds Can you explain a bit more about what you are looking for here?

[2015-05-07 19:46] kcoleman731 commented on #809
@kartikthapar This appears to be the default behavior os search bar now as we are using it. Have a PR to remedy?

[2015-05-07 19:47] kcoleman731 commented on #817
@cdstamper this is happening on an actual device or in the simulator?

[2015-05-07 19:51] cdstamper commented on #817
Both.

- In the simulator, I can't even use my physical hardware keyboard to enter text.

- On device, the fields receive focus (simultaneously as I mentioned), but the keyboard does not appear.

[2015-05-07 20:43] kartikthapar commented on #809
The idea is wrap the searchbar in a UIView like:

    self.searchBar = [[UISearchBar alloc] initWithFrame:CGRectZero];
    [self.searchBar sizeToFit];
    self.searchBar.translucent = NO;
    self.searchBar.accessibilityLabel = @"Search Bar";
    self.searchBar.delegate = self;
    self.searchBar.userInteractionEnabled = YES;

    UIView *searchView = [[UIView alloc] initWithFrame:CGRectMake(0, 0,

[2015-05-07 21:39] kartikthapar opened #818 "Question — changing composer text view font size"
Setting composer text view font size through either appearance proxy or via accessory methods is not correctly laying out text field contents. This is probably due to the use of dummy text view in for height calculations. Relayout inside `setFont:` doesn't seem to work.

Anyway to change the font for the text field instead of setting a custom value inside the `init` method in `ATLMessageComposeTex

[2015-05-08 00:50] kmahal commented on #816
@kartikthapar just merged a fix for this.  https://github.com/layerhq/Atlas-iOS/blob/f948d1839d1f6fb87be9c97745d21e5ff51f166d/Code/Views/ATLMessageInputToolbar.h#L104  We have added 2 `UI_Appearance` selectors for active and disabled state to provide customization.

[2015-05-08 00:50] #816 closed

[2015-05-08 01:46] kartikthapar commented on #816
Thanks. I just want to point out however that some other properties could be transformed as UI_Appearance selectors as well. One of them being the title font. The title text is still static, i.e. "Send". If this could be set by the user too, that'd be great. I can submit a PR for the same though.

[2015-05-08 02:06] kmahal commented on #816
@kartikthapar Opening up the `titleLabel.text` could allow for some breaking behavior if the user places a very long string there, so for now we've just allowed those two.  We'll discuss internally about font and text for the future.

[2015-05-08 02:08] kartikthapar commented on #816
Okay, that’s cool. I have added it to my fork, nonetheless as I currently need it. Thanks

— Kartik Thapar

[2015-05-08 17:46] jwyld opened #820 "ATLMediaAttachment class methods instantiate incorrectly"
All of the +[ATLMediaAttachment mediaAttachment...] methods, instantiate incorrectly.  They are all declared as returning an instancetype result.  All of them internally instantiate using [ATLImageMediaAttachment alloc].  They should instead [self alloc].

The only way to extend ATLMediaAttachment is via subclassing.  If I want to extend the capabilities, it's impossible for me to continue to use

[2015-05-08 17:54] jwyld commented on #820
Ugh.  I didn't even notice it uses the internal, "hidden" subclasses which means it's entirely impossible to add functionality to the basic attachment types.

[2015-05-08 18:02] kmahal commented on #806
fixed in merged PR: https://github.com/layerhq/Atlas-iOS/pull/813

[2015-05-08 18:02] #806 closed

[2015-05-11 16:41] dippigu opened #823 "Crash displaying conversation after sending an image. "CALayer bounds contains NaN""
After creating and sending an image as an LYRMessage, any attempts to load the conversation crash with the following:
<code>
2015-05-11 17:27:53.002 mediBuzz[3172:596731] *** Terminating app due to uncaught exception 'CALayerInvalidGeometry', reason: 'CALayer bounds contains NaN: [0 nan; 375 nan]'
</code>

Gist of creating and sending message:
https://gist.github.com/dippigu/f0992ffcb06e5d3c1689

[2015-05-11 16:45] dippigu opened #824 "Declare ATLConversationViewController as ATLMessageInputToolbarDelegate in header file"
Can the ATLConversationViewController be declared as an ATLMessageInputToolbarDelegate in the public, rather than the private, interface?

I'm looking to override the <code>- (void)messageInputToolbar:(ATLMessageInputToolbar *)messageInputToolbar didTapRightAccessoryButton:(UIButton *)rightAccessoryButton</code> method, but call through to the superclass implementation in certain cases.

The metho

[2015-05-12 19:59] cdstamper commented on #817
@kcoleman731 any idea how to fix this?

[2015-05-12 22:51] kmahal commented on #824
@dippigu what's your use case?  You can insert toolbar attachments and use the `ATLConversationViewController` delegate method `- (NSOrderedSet *)conversationViewController:(ATLConversationViewController *)viewController messagesForMediaAttachments:(NSArray *)mediaAttachments` to override the method you listed.  Returning nil will default to native functionality, and you can check the media attach

[2015-05-12 22:59] kmahal commented on #818
@kartikthapar if you know a fix feel free to submit a PR. If not we'll look into it but I can't guarantee a timeline.  Please provide a screenshot of the problem as well if possible.

[2015-05-12 23:09] kmahal commented on #820
@jwyld can you provide a few use cases of how you'd want to extend the current functionality?  We provide delegate methods for sending custom message types.

[2015-05-13 10:02] dippigu commented on #824
@kmahal I'm looking to override the <code>sendLocationMessage</code> to send a sticker. I've replaced the location image with a sticker image, and if the user has not entered any text or media items into the input area, tapping on the sticker image will present a <code>UIActionSheet</code> containing sticker images to choose from. Tapping on a sticker will insert the sticker directly into the conv

[2015-05-13 10:07] dippigu commented on #823
Further investigation shows that the crash happens when dequeueing the <code>ATLConversationCollectionViewFooter</code> at line 290 in <code>ATLConversationViewController.m</code>, <code>ATLConversationCollectionViewFooter *footer = [self.collectionView dequeueReusableSupplementaryViewOfKind:kind withReuseIdentifier:ATLConversationViewFooterIdentifier forIndexPath:indexPath];</code>.

[2015-05-13 16:11] kmahal commented on #823
@dippigu Your gist indicates you are sharing a custom `LYRMessage`, but using `ATLMIMETypeImagePNG`, an Atlas defined type.  This will not work unfortunately, since for every image sent through Atlas it actually sends 3 parts over, the full size image, a preview thumb, and the sizing information.  You can fix this in 2 ways: 1. create a custom `MIMEType` for your image, which will require a custom

[2015-05-13 16:45] dippigu commented on #823
@kmahal Thanks for the update. That is indeed the problem. I've rewritten the functionality using your option 2, and now wonder if there is a way to control the size of the image displayed in the conversation once it has been sent?  Or would this mean reverting to option 1 and using a custom <code>MIMEType</code> and custom <code>UICollectionViewCell</code>?

[2015-05-13 17:36] kmahal commented on #824
@dippigu We discussed this internally and have agreed there's no easy way to do this.  I'll be working on a PR for today and will update you accordingly when it's out.  Thanks for the feedback!  Always appreciated.

[2015-05-13 17:59] kmahal commented on #823
@dippigu I just looked into it, and it's almost possible but not quite, so for now option 1 is the only way.  I'll put this request in our backlog though and should have something out in a decent timetable.  I'll update you with it's progress.  Thanks again for the input!

[2015-05-13 19:35] dippigu commented on #824
@kmahal Just to clarify, is that a PR to move the <code>ATLMessageInputToolbarDelegate</code> declaration to the header file?
No problem on the feedback, thanks for looking at the issues so quickly.

[2015-05-13 19:36] dippigu commented on #823
@kmahal Any rough idea on that timescale? I'm on vacation in a few days until the end of May. Is it likely to be done before I return, or should I spend the time now on working around it and building my own custom cells?

[2015-05-13 19:46] kmahal commented on #824
@dippigu We're going to expand the scope of the delegate method `conversationViewController:messagesForMediaAttachments:` to include an empty array of media attachments, so the delegate can override `sendLocationMessage` functionality.  We'll also add that method to our default message method that will then handle an empty array as well.

[2015-05-13 20:56] kmahal commented on #824
@dippigu this PR is merged: https://github.com/layerhq/Atlas-iOS/pull/825

The delegate is now triggered even without media attachments.  This should fix your issue.

[2015-05-13 20:56] #824 closed

[2015-05-13 21:26] kmahal commented on #823
@dippigu Just looked into it, and it will take a little bit of work to accomplish.  I think by end of May is reasonable but cannot guarantee anything a date unfortunately.  What are some use cases that you would want to customize the size?  I imagine width is probably the main factor.  As a friendly reminder, Atlas is an open sourced project, and we are open to pull requests with feature requests

[2015-05-13 21:31] kmahal commented on #817
@cdstamper I couldn't reproduce this programatically.  Could we have a look at your implementation files to verify there's nothing out of place?

[2015-05-13 22:22] kmahal commented on #823
@dippigu I'm going to close this one out, feel free to open up a new issue with the request of custom sizing parameters.

[2015-05-13 22:22] #823 closed

[2015-05-14 12:56] wonderffee opened #826 "Why contain "source 'git@github.com:layerhq/cocoapods-specs.git'" in Podfile?"
When I execute "pod install", it says:
Analyzing dependencies
Cloning spec repo `layerhq` from `git@github.com:layerhq/cocoapods-specs.git`
[!] Unable to add a source with url `git@github.com:layerhq/cocoapods-specs.git` named `layerhq`.
You can try adding it manually in `~/.cocoapods/repos` or via `pod repo add`.

But https://github.com/layerhq/cocoapods-specs is not found.

[2015-05-14 16:58] kmahal commented on #826
@wonderffee our apologies, its now removed from master.

[2015-05-14 16:58] #826 closed

[2015-05-15 16:30] jwyld commented on #820
In the case of the base types, we want to alter the look of the result of -image.  That's not easily possible since calling the factory instantiation method doesn't instantiate what I gave it.  At this point, I have to totally reimplement the base types.

[2015-05-15 16:34] kmahal commented on #820
@jwyld do you specifically mean the dimensions of the image when it's sent and rendered in the collectionview?

[2015-05-15 16:36] jwyld commented on #820
I think you're confusing attachments and messages.  I am specifically referring to the NSAttachment which is displayed in the message input toolbar.  These are not part of what is sent or rendered in the collection view.  These are only rendered in the message input toolbar during message creation.

[2015-05-15 17:10] kmahal commented on #820
Understood.  The `ATLMediaAttachment` also creates the `LYRMessage` object and its parts' sizing information which is why I asked.  If you could explain what exactly is not rendering correctly when passing in your `UIImage` instance in the `ATLMessageInputToolbar` instance that would help.  Alternatively, feel free to make a fix and submit a pull request.

[2015-05-16 03:41] thomasgpeng opened #830 "Issues with avatars in ATLConversationViewcontroller"
Hey guys, thanks for all the hard work on Atlas -- it's extremely flexible and already saving me a lot of time.

I noticed a couple of issues when using ATLConversationViewController:

1) It looks like private property `shouldDisplayAvatarItem` is being set according to how many `otherParticipantsID`s are in the conversation.  Any chance you guys could make this a public property so we can choose

[2015-05-17 03:56] thomasgpeng commented on #830
Another oddity I'm seeing with `ATLConversationViewController`:

![img_2894](https://cloud.githubusercontent.com/assets/813291/7668953/0d4564b2-fc27-11e4-8588-212092f2aff0.PNG)

I'm getting this occasionally though I'm not sure what sequence of user actions causes it.  Has anyone else seen this before?

[2015-05-17 06:19] kartikthapar commented on #830
As far as the second point is concerned, I have seen this once in app. I am not sure why this happens but restarting the app fixes this. Clearly, a big issue for production.

[2015-05-18 14:56] kartikthapar opened #831 "Question: unable to create new file in a fork."
So, I am trying to create a new protocol to work with conversation list controller but I see a simple 'file not found' issue.

This happens with any new file that I create. Is this by design? Nonetheless, is there a way to add new files to the project? I appreciate any help. Thanks.

[2015-05-18 17:04] kmahal commented on #830
@thomas-layer @kartikthapar The 2nd issue is a known bug in our most recent `LayerKit` release - try using 0.13.0 for now until we release the fix soon.

[2015-05-18 17:06] kmahal commented on #830
@thomas-layer as for the property reference, that sounds reasonable.  Feel free to submit a PR with the fix if you'd like the functionality immediately.

[2015-05-18 17:12] kmahal commented on #831
@kartikthapar with a fork you own the entire repository, so it's not an `Atlas` issue.  Have you made sure the files are added to the right target?

[2015-05-18 17:46] kartikthapar commented on #831
@kmahal True that. And that's been the mystery for a while. :/ Can you please try creating a new file in the protocols folder and add it to the project in `Atlas.h`? I am just extremely confused as to why I cannot do it. Do I have to add it as a source for one of the targets (given that none of the other files were added as source)? I am also not sure if this is a search/header path issue of some

[2015-05-18 18:03] thomasgpeng commented on #830
@kmahal Any comment about the `setAvatarImageDiameter` issue I referenced above?

[2015-05-18 18:09] kmahal commented on #830
@thomasgpeng it can be set via `UI_APPEARANCE_SELECTOR`.  `[ATLIncomingMessageCollectionViewCell appearance]` passes back a proxy, where you can set the diameter you want.

[2015-05-18 18:52] JSeeley commented on #830
@kmahal Could you fill me in on the sequence of actions needed to reproduce the missing chat issue? Trying to decide if this is a blocker for our most recent submission. Thanks!

[2015-05-18 19:20] kmahal commented on #830
@JSeeley we're still looking into it, but we recommend using 0.13.0 for now until 0.13.2 is released soon.

[2015-05-18 19:24] kmahal commented on #831
@kartikthapar I just forked it and everything seems to be working.  Atlas references itself from the development pod.  Try clicking the `Pods` section, going to `Development Pods` and adding the code there.  That should do it.

[2015-05-18 19:31] kartikthapar commented on #831
Okay, I was doing it wrong. I didn't see that the Code folder was actually referenced from the Atlas Development Pod. Thanks.

[2015-05-18 19:31] #831 closed

[2015-05-19 18:19] kmahal commented on #830
@thomasgpeng merged https://github.com/layerhq/Atlas-iOS/pull/832.  Thanks.

[2015-05-19 18:19] #830 closed

[2015-05-21 16:59] jwyld opened #836 "ATLMessageCollectionViewCell.m:106 has a trailing semicolon"
- (void)presentMessage:(LYRMessage *)message;

[2015-05-21 18:00] maju6406 commented on #836
@jwyld Thanks for the report. Feel free to make the change and submit a PR.

[2015-05-22 09:06] mohammedDehairy commented on #783
image attachments are taking forever to show on the recipient side , most of them were never received , there is clearly some thing wrong , with image attachments.

[2015-05-23 08:14] oferRounds commented on #783
@kmahal, sorry for the long delay on my side.
Yes, I have tried it now: still the same results.

Also, I am experiencing the same issue @mohammedDehairy reported here above: it seems there is a new problem: some of the images do not get downloaded at all.

[2015-05-23 08:16] oferRounds commented on #800
Hi @kcoleman731, I apologise for the long delay.

My model is WhatsApp: I would like the Typing Indicator to be presented on the inside the UITableView, but on the top of the screen: on navigationItem/Bar.

[2015-05-23 11:34] oferRounds commented on #775
Hi @kcoleman731,

Any chance this could be prioritised? Another use case, which I am in need in my app, is to attach a meta data to an Image, which gives more text info about it.
Or, other option: is there any workaround that can be made to achieve it?

[2015-05-23 13:44] kartikthapar commented on #775
I don't think LayerKit needs an update for this. This is how I send messages in my app —

    - (void)sendTextMessage:(NSString *)text
    {
        LYRClient *client = [LYRClient client];

        // text message
        LYRMessagePart *textMessagePart = [self textMessagePart:text];
        NSString *pushMessage = [NSString stringWithFormat:@"%@ (%@): %@", [[NSUserDefaults standardUserDefaults] f

[2015-05-23 14:49] oferRounds commented on #775
Thanks, @kartikthapar.

Yes, I am aware of that field, and perhaps I did not explain my need well enough.
The problem with your suggestion is that I need to be able to update the message after it was created and sent, and then synchronise the update. As far as I understand, this field does not provide this abilities.

[2015-05-23 14:49] oferRounds commented on #775
@kcoleman731, am I right?

[2015-05-23 14:58] kartikthapar commented on #775
I am not sure I completely understand your use case here. But you are looking to update a message instance, i.e. modify it after you have created it? I am afraid that's not possible with layer and I don't think it should be either. Can you give an example as to why do you need this functionality?

[2015-05-23 15:00] oferRounds commented on #775
I have mentioned it in the description of the issue: I would like to allow users to "Like" a message, while reflecting the people who like the message on a given moment.

[2015-05-23 15:37] kartikthapar commented on #775
I see. Sorry about that. I still think this is very application specific but could be easily bundled using metadata. I would be implementing similar stuff in my application using the currently available tools.

Currently, modifications on messages are not available. So ideally, you could develop a custom message for liking a particular message. This `likeMessage` can be sent to all the participant

[2015-05-23 17:34] oferRounds commented on #775
@kartikthapar, this sounds like a great solution!

I'll try it and report. Thanks!!

[2015-05-25 13:51] EMidee66 opened #839 "Slack Integration!"
Hi,

Is there a way to integrate the layer - atlas with slack?

Thank You!

[2015-05-25 22:32] maju6406 commented on #839
How are you thinking of integrating Atlas and Slack?  We'd love to hear more about your use case.

[2015-05-26 07:29] EMidee66 commented on #839
Well first case scenario: person - business chat. It would be easier for businesses if messages got delivered  at slack (easier to organize and reply). Maybe businesses want to integrate in their apps a live chat and you guys can make this more efficient. What do you think Abir?

[2015-05-26 15:47] jwyld opened #841 "ATLConversationViewController.m:209 enables right accessory button"
Independently of how the message input toolbar is configured, ATLConversationViewController will always enable the button as long as there is a conversation.

In our case, the right button is set to not display the image.  This means it's always "Send," and we don't support sending the location via the location button.  When creating a new conversation, -[ATLConversationViewController configureCon

[2015-05-27 01:12] kmahal commented on #841
@jwyld If you want to make sure it does not send location, implement this delegate method of the `ATLConversationViewController`:
[code]
When pressing `send` with no attachments (location sharing), this method will be called with an empty array.  If you return an empty `NSOrderedSet` it will not send the location.  Returning `nil` will default it to default behavior which in this case would be sha

[2015-05-27 17:04] kmahal commented on #839
@EMidee66 this is less an `Atlas` implementation than it is a `LayerKit` implementation.  When we release webhooks it will allow for such integrations, as the native iOS SDK doesn't allow for such functionality.

[2015-05-28 23:02] AndrewSB opened #845 "Creating ATLConversationViewController from LYRConversation"
I have a `UITableView` of conversations, and on `didSelectRowAtIndexPath` I want to be able to use Atlas to show my current LYRConversation.

Currently, I have

[code]

I keep getting an `NSInternalInconsistencyException` saying `This property isn't used.  Use LYRActor instead`, leading to a crash.

How do I properly use Atlas?

[2015-05-28 23:08] maju6406 commented on #845
Hi there, are you using "sentByUserID" anywhere?  Replace it with "sender.userID"

[2015-05-28 23:43] AndrewSB commented on #845
Thanks for getting back to me so quickly @maju6406! No where am I using sentByUserID or sender.userID in my project. Could that, perhaps, be the problem?

[2015-05-28 23:52] maju6406 commented on #845
Can you post the full exception and can you get the line of code that's throwing that exception?  Are you running v0.13.2 and Atlas 1.0.6? If not, if you're using CocoaPods call 'pod update' to get the latest

[2015-05-29 00:38] AndrewSB commented on #845
I know I'm on the latest versions, here's the exception:

[code]

[2015-05-29 00:52] kmahal commented on #845
@AndrewSB please paste the Atlas method `- (CGFloat)defaultCellHeightForItemAtIndexPath:(NSIndexPath *)indexPath` as you see it here (the method on call stack line 3).  It looks like you may be using an older version of `Atlas` with the newer `LayerKit`.

[2015-05-29 01:28] AndrewSB commented on #845
whoops, I was using atlas with submodules, so my Pod update wasn't updating. I'm now getting a different error: `'NSInternalInconsistencyException', reason: 'ATLConversationViewControllerDataSource must return an attributed string for Date'`. Which I understand - I need to subclass `ATLConversationViewController` and implement the `dataSource`. Sorry about that!

[2015-05-29 01:28] #845 closed

[2015-05-30 19:25] oferRounds opened #847 "Option to use Custom Table/CollectionViewCells which defined via NIB/StoryBoard"
As far as I see, the API does not support it.

[2015-05-30 21:56] oferRounds opened #848 "Is there an option to customize the appearance of ATLMessageInputToolbar?"
I would like to change its appearance in a way which the 2 properties, which support the UI Appearance, are not enough.
What kind of options would I have, if any?

[2015-06-01 10:16] ntnmrndn commented on #249
Same problem here with

`platform :ios, '8.0'
use_frameworks!
inhibit_all_warnings!

pod 'Alamofire'
pod 'JFBCrypt'
pod 'XCGLogger'
pod 'Atlas'`

I tried with the last production and pre release cocoapod version (pre2).

[2015-06-01 16:32] maju6406 commented on #847
Have you looked at the new Custom Payloads section in the docs?
https://developer.layer.com/docs/atlas#custom-payload
You should be able to use a nib for a custom cell

[2015-06-01 16:54] kmahal commented on #848
@oferRounds you could subclass the `ATLMessageInputToolbar` or create your own `inputAccessoryView`

[2015-06-01 21:48] oferRounds commented on #848
Sounds good. But how do I instruct my class, which subclasses ATLConversationViewController, to use my subclass of ATLMessageInputToolbar (instead of ATLMessageInputToolbar itself)?

[2015-06-01 21:53] oferRounds opened #849 "ATLMessageInputToolbar: persist text"
Is there an easy way do that?

That means - the user started typing on a conversation, did not send the message, and then:
a. Went back and forth between the conversation and his list of conversations.
or
b. Terminated the app, and restarted it again, and went back to the conversation.

I would like the user, when he goes back to the conversation, to see the text which he started to write.

[2015-06-01 21:57] oferRounds commented on #847
I see only a way to register a custom cell, which is not initialized from a nib.

As when using a cell like this, the tableView's method  ```registerNib:forCellReuseIdentifier:``` should be used (instead of the  ```registerClass:forCellReuseIdentifier:```)

[2015-06-01 22:50] kmahal commented on #849
@oferRounds You can do this yourself by creating a shared cache.  Before the controller is deallocated you can save the media attachments in the cache.  When the controller is being loaded again you can check if your cache has any media attachments for the specified conversation and insert it into the message toolbar.

[2015-06-01 23:06] kmahal commented on #848
`self.messageInputToolbar = self.myInputToolbar`

[2015-06-01 23:07] #848 closed

[2015-06-03 17:33] oferRounds commented on #849
Thanks, sounds good!

[2015-06-03 17:36] #849 closed

[2015-06-04 16:34] dippigu opened #851 "Custom payload with image"
As a follow up to issue #823, I have created a custom cell and <code>MIMEType</code> to display the sticker images that we are sending.  Having followed the documentation guide for creating a custom payload, I cannot find any way to include an image.  Simply including an image in the <code>dataDictionary</code> falls over when serialising to JSON.

My use case is sending a small image as a sticker

[2015-06-04 18:24] maju6406 commented on #851
I recommend adding another LYRMessagePart that contains the image.  Then you can use the built-in Rich Content handling to upload and download the message.  If you haven't seen this tutorial, check out:
https://developer.layer.com/docs/atlas#custom-payload
Also, it's worth checking out the Rich Content guide:

https://developer.layer.com/docs/guides#richcontent

[2015-06-05 06:05] ntnmrndn commented on #249
Our workaround was to perform a manual installation of Atlas (Layer still being installed by cocoapods).

[2015-06-05 08:53] dippigu commented on #851
A simple <code>LYRMessagePart</code> with the image. Embarrassingly easy. Thanks.
I'll close this issue down.

[2015-06-05 08:53] #851 closed

[2015-06-17 15:33] giaset opened #853 "Fatal crash in ATLConversationViewController.m"
Hey guys,

Love with you're doing with Layer & Atlas! However, we're getting a fatal crash in our Conversation View Controller when we deep link to it from a remote notification with the app backgrounded.

Basically, we're getting a EXC_BAD_ACCESS KERN_INVALID_ADDRESS at line 1120:

**dispatch_suspend(self.animationQueue);**

Is anybody else experiencing this? Could it be that the animationQueue i

[2015-06-17 16:29] blakewatters commented on #853
@kmahal @kcoleman731 This looks like the `animationQueue` is `nil` at the time of the crash. Looking at the setup code path, we don’t configure the `animationQueue` until `viewDidLoad` (see https://github.com/layerhq/Atlas-iOS/blob/master/Code/Controllers/ATLConversationViewController.m#L133).

If you just move it to `lyr_commonInit` that should cover this case (https://github.com/layerhq/Atlas-iO

[2015-06-18 09:17] eytanlevit opened #854 "Atlas uses code deprecated in iOS 8.0 causing a lot of warnings"
Hey,

Here's a screenshot of all the warnings

![image](https://cloud.githubusercontent.com/assets/229986/8227956/cbe82d82-15b3-11e5-9f83-823ca152694a.png)

[2015-06-18 17:14] kmahal commented on #853
fixed in: https://github.com/layerhq/Atlas-iOS/pull/855

[2015-06-18 17:14] #853 closed

[2015-06-18 17:30] kmahal commented on #854
@eytanlevit iOS9 is still in pre-release, which we have not fully supported yet until closer to open release.  Feel free to submit a PR with fixes.

[2015-06-19 15:35] ntnmrndn commented on #854
@kmahal  He is talking about iOS8, not iOS9 :)

[2015-06-19 16:03] ntnmrndn opened #856 "Display sender Avatar"
Hi,

We would like to add this feature.
We are willing to implement it and submit a pull request.

Would you accept such feature ?
Any thoughts on how to implement it ?

[2015-06-19 18:04] kmahal commented on #856
Hi @ntnmrndn could you explain what you mean further?  Atlas already displays avatar items for conversations with more than 3 participants, and even a conversation with 2 participants if you set `@property (nonatomic) BOOL shouldDisplayAvatarItemForOneOtherParticipant`.  Do you mean for the authenticated user?

[2015-06-19 20:50] galu08 opened #857 "Access to my CustoLabel in my CustomCollectionCell to stop collectionView scroll (ATLBaseConversationViewController)"
Hi, First of all thanks you for this awesome user interface!

Now. I need you help.
I create a “custom payload” by following this tutorial https://developer.layer.com/docs/ios/atlas#custom-payload.

My **CustomCollectionViewCell** has a **CustomLabel**. This CustomLabel declare a protocol
[code]

I want to implement this protocol to by notified when my **CustomLabel** in my **CustomCollectionViewC

[2015-06-19 21:31] ntnmrndn commented on #856
Yes, for the current authenticated user.

[2015-06-22 18:23] KolyaProdeus opened #858 "Injecting atlas controller inside existing app."
I am having hard time adding atlas UI to my app. I use translucent NavBar and custom TabBar, when I try to add ATLConversationViewController I have a problem with ATLMessageInputToolbar and ATLAddressBarView. Toolbar appears above my TabBar and AddressBar is below NavBar.
![screen shot 2015-06-22 at 8 51 25 pm](https://cloud.githubusercontent.com/assets/12733480/8289397/dc4a64fa-1924-11e5-9b8d-d46

[2015-06-22 18:33] kmahal commented on #858
@KolyaProdeus be sure to hide your `tabBar` when presenting the `ATLConversationViewController`.  That way it won't appear behind the `ATLMessageInputToolbar`

[2015-06-22 18:39] KolyaProdeus commented on #858
I probably can convince customer that bottom bar is to be hidden but still must display some data on the top. And there I have the same problem. Any other ideas?

[2015-06-22 22:08] kmahal commented on #858
@KolyaProdeus  The `ATLConversationViewController` and `ATLConversationListViewController` are designed to work even with translucent navigation bars.  If I'm reading what you are saying correctly, you want something that's displayed on the controller underneath it in the stack to be visible.  This is a custom use case which Atlas wouldn't support by default.  You can fork the repository and make

[2015-06-22 22:11] kmahal commented on #857
@galu08 Correct me if I'm wrong, it seems like the issue you mentioned about accessing your label is independent from Atlas itself.  If your label is publicly available in the custom cell then it should be accessible, unless I'm missing something here.

[2015-06-22 23:34] kmahal commented on #856
@ntnmrndn got it.  If you wanted to submit a pull request, look at the layout functionality of the non-sender collection view cells that do display the avatar item.  That would be the best guideline to implementation.  In addition you would add a public property such as `shouldDisplayAuthenticatedUserAvatarItem` which would default to `NO` and have to be set to `YES` to display the avatar item.  F

[2015-06-23 00:25] kmahal commented on #783
@oferRounds is this still an ongoing issue for you?

[2015-06-23 00:26] kmahal commented on #800
@oferRounds feel free to submit a PR for this, or we can close out the issue as it's not a likely feature in our internal development roadmap.

[2015-06-23 00:27] kmahal commented on #809
@kartikthapar do you have a PR for this fix?  If not we'll close out the item.

[2015-06-23 00:27] kmahal commented on #818
Hey @kartikthapar any update?  If not we'll close this one out.

[2015-06-23 00:28] kmahal commented on #820
Any update here @jwyld?  If not I'll close this one out.

[2015-06-23 00:29] jwyld commented on #820
I'll find a way to solve what I need independently.

[2015-06-23 00:29] #820 closed

[2015-06-23 00:32] kmahal commented on #854
Ah fair point!  My apologies for the mix-up.  We'll have a fix out soon.

[2015-06-23 00:35] jwyld commented on #841
This was not resolved.

The bug is that the MessageInputToolbar controls the state incorrectly.  That isn't about overriding the ability to send.

[2015-06-23 00:43] kmahal commented on #841
@jwyld What specific behavior does the current implementation prevent you from achieving that makes it a bug?  You referenced disabling location sharing which displays the `send` button by default which would share the location, but that can be overriden as shown.  If the specific issue is just with the implementation and that the `ATLMessageInputToolbar` should control its own state entirely then

[2015-06-23 00:46] jwyld commented on #841
"In our case, the right button is set to not display the image. This means it's always "Send," and we don't support sending the location via the location button. When creating a new conversation, -[ATLConversationViewController configureControllerForConversation] will be called and enable the "Send" button which automatically sends the location if there is no text. If the MessageInputToolbar were

[2015-06-23 01:10] kmahal commented on #841
@jwyld Understood.  While the above implementation resolves the effect, it's reasonable to want the `ATLMessageInputToolbar` to control it's own state.  I have a PR for this fix and another you suggested: https://github.com/layerhq/Atlas-iOS/pull/859.  If this fixes the bug please feel free to close this issue, thanks.

[2015-06-23 01:11] kmahal commented on #836
Fixed in https://github.com/layerhq/Atlas-iOS/pull/859

[2015-06-23 01:11] #836 closed

[2015-06-23 01:51] kmahal commented on #847
@oferRounds Apologies for the late response. You can register the `nib` yourself as both the `tableView` and `collectionView` are public properties of `ATLConversationListViewController` and `ATLConversationViewController` respectively.  Since both controller ask for reuse identifiers in the data source, you can then pass back the identifier it was registered with.

[2015-06-23 01:53] kmahal commented on #839
@EMidee66 I'll be closing this for the above reason, unless you have anything Atlas specific in mind.  Thanks for your feedback and input!

[2015-06-23 06:57] mailyan opened #860 "ATLAddressBarViewController custom cell"
Hi,

I want to customize ```ATLAddressBarViewController``` UITableView cells. I need to show participant avatar and customize the font when searching (see the image below). I think neither ```ATLAddressBarViewController``` nor ```ATLConversationViewController``` provide appropriate methods for this. What would be the best solution?

Thanks in advance.

![Chat]
(http://s28.postimg.org/nj13x39vx/cha

[2015-06-23 10:26] kartikthapar commented on #809
No I really don't have a PR for this. I haven't worked on this issue ever since.

[2015-06-23 14:14] kartikthapar commented on #818
I haven't looked at this in a long time but I will spend some time on this today in the evening. As far as I remember this, it was insanely hard to get it right without manually setting the font inside the initializer. Nonetheless, I will report by tomorrow. Thanks.

[2015-06-23 15:42] #858 closed

[2015-06-23 16:32] #809 closed

[2015-06-23 16:33] #841 closed

[2015-06-23 18:41] #839 closed

[2015-06-23 23:13] kmahal commented on #860
@mailyan Atlas currently does not support the customization of the `ATLAddressBarViewController`'s table view cells.  We use native `UITableViewCell`s:
[code]
The font customization would be easier to implement with `UIAppearance` selectors like in other classes, but adding the avatar item will require registering a custom cell.

Feel free to submit a pull request for this feature, or fork the rep

[2015-06-24 00:33] kmahal commented on #854
@eytanlevit are you installing it directly or via cocoapods?  we use pods internally and the warnings are all suppressed.

[2015-06-24 03:40] galu08 commented on #857
@kmahal Thanks for your answer. My CustomLabel is public. My real problem was to get the **cellForItemAtIndexPath**. I believed that I could get it from my ConversationViewController (inherits from ATLConversationViewController). But I couldn't because it is a private method. So, I rewrote **ATLConversationViewController** and made **"UICollectionViewDataSource"** public. Now in ConversationViewCo

[2015-06-24 09:45] mailyan commented on #860
@kmahal Thanks for a quick response.

I forked and changed the source code. I changed the cell type to conform  to `ATLParticipantPresenting` protocol. The default cell class is `ATLParticipantTableViewCell`. You can also set your custom cells conforming if they conform to `ATLParticipantPresenting` protocol via cellClass property. Cell row height, displays avatar and sort type can also be customi

[2015-06-24 19:54] kmahal commented on #857
@galu08 `collectionView` is a public property which you can access, and you can call `cellForItemAtIndexPath:` on it directly, FYI.  But good to hear you have a solution.  Your English was great, and thank you for writing in!

[2015-06-24 19:54] #857 closed

[2015-06-24 19:54] #800 closed

[2015-06-24 19:54] #847 closed

[2015-06-24 23:44] kmahal commented on #817
@cdstamper any update on this item?  If not we'll close it out since we haven't been able to reproduce it.

[2015-06-24 23:50] cdstamper commented on #817
Let's close it. The project went stagnant so I haven't been able to look further into, but it is still an issue.

[2015-06-24 23:59] #817 closed

[2015-06-25 04:14] oferRounds commented on #847
@kmahal now it's me who apologise - sorry for not being available.
I'll try your solution, thanks!

[2015-06-25 04:14] oferRounds commented on #800
@kmahal now it's me who apologise - sorry for not being available.
I understand, no problem. Thanks for the response.

[2015-06-25 04:16] oferRounds commented on #783
@kmahal now it's me who apologise - sorry for not being available.
I didn't test lately, as I was occupied with some things, but I will do it over the weekend. I'll post the status.
Thanks!

[2015-06-25 13:30] vinzen opened #867 "ConversationTableViewCell and unread message indicator"
Hello,

Our team is currently working on push notification.
We discovered if we open the conversation from the notification and go back to the conversation's list, the conversation is still unread sometimes.
I have been looking into it, the bug is when the conversation is loaded, its marked as read for the current message but the new one has not been loaded yet, so the conversation is unread.

We

[2015-06-25 18:12] maju6406 commented on #867
Thanks for the report. Looking forward to the PR.

[2015-06-25 20:00] kmahal commented on #818
I'll wait for your PR

[2015-06-25 21:14] kmahal commented on #854
Fixed in https://github.com/layerhq/Atlas-iOS/pull/868 and https://github.com/layerhq/Atlas-Messenger-iOS/pull/189

[2015-06-25 21:14] #854 closed

[2015-06-26 00:47] #818 closed

[2015-06-27 03:33] thomasgpeng opened #873 "Crash in ATLConversationViewController"
Hey guys, I'm having some issues with new messages in ATLConversationViewController.  When a new message arrives, ATLConversationListViewController is being updated correctly with the unread message indicator.  I can navigate to ATLConversationViewController, read the new message, but when I go back to ATLConversationListViewController, the app crashes.  Not sure what's happening here, but the cra

[2015-06-27 09:38] EMidee66 commented on #839
Yes, I think Layer Platform API solves the issue.
Thank You!

[2015-06-29 18:27] kmahal commented on #873
@thomasgpeng does this happen every time?  Just tried testing the behavior and could not reproduce.  Please also ensure you are running Atlas `v1.0.9` as we have made a few improvements that may help with that behavior.

[2015-06-29 18:31] thomasgpeng commented on #873
@kmahal Yes I'm getting it every time.  Let me try 1.0.9 and see if that fixes the problem.  I'll update shortly.

[2015-06-30 03:56] thomasgpeng commented on #873
@kmahal That didn't fix the issue, but I debugged and have some more detail.  I can recreate the crash consistently using the following sequence of actions:

- User A sends User B a message
- On User B's device, navigate to `ATLConversationListViewController` and see that there's a new message in the conversation.  Click on the tableView cell for this conversation.
- `ATLConversationViewController

[2015-06-30 11:46] candyss9185 opened #874 "Unknown User for server generated Message"
Hi,

I have been trying to get the name of the sender in the case of server-generated messages. However, using ATLConversationViewController, the name is retrieved using the userId, which in the case of server-generated messages is nil. Is there another way to do it?
Otherwise, can a fix be added to also send the message to the Data Source delegate to retrieve the name?

[2015-06-30 19:15] maju6406 commented on #874
This is a known issue with Atlas that we're about to merge.  You can see the PR here:
https://github.com/layerhq/Atlas-iOS/pull/875/files

[2015-06-30 19:27] galu08 commented on #765
I use this in SWIFT and works ok !
[code]

[2015-06-30 20:55] kmahal commented on #874
Hi @candyss9185 I've merged this fix here: https://github.com/layerhq/Atlas-iOS/pull/875.  Thanks.

[2015-06-30 20:55] #874 closed

[2015-07-01 03:35] thomasgpeng commented on #873
OK I think I've figured out what's happening here.  When I click on a conversation containing a new message in `ATLConversationListViewController`, `ATLConversationViewController` is getting pushed onto the navigation controller stack.  Since the message is going from unread to read, `queryControllerDidChangeContent` is getting called before `loadView`, which means that `self.collectionView` is ni

[2015-07-01 04:01] thomasgpeng opened #876 "Problem with insertMediaAttachment in ATLMessageInputToolbar.m"
Hey guys, it's me again (sorry).  I'm seeing an issue when I try to send a photo message -- I'm getting a `NSInvalidArgumentException` in `insertMediaAttachment` on the line:

    [attributedString addAttribute:NSForegroundColorAttributeName value:textView.textColor range:NSMakeRange(0, attributedString.length)];

Anyone else having this issue as well?  If I comment this line out the problem goes

[2015-07-01 08:03] huyduc opened #877 "Sending video message support?"
Hi,
We're trying to create a chat application with capability to send video file. We're currently experiencing this crash.

![screenshot 2015-07-01 12 48 07](https://cloud.githubusercontent.com/assets/721399/8450029/590a4aba-2009-11e5-87bc-161a9ff787d4.png)

We create the attachment using this ATLMediaAttachment class method

[code]

I suspect it's due to the way mediaInputStream was created (prob

[2015-07-01 09:30] candyss9185 commented on #874
Hi! Has the pod been updated?

[2015-07-01 20:48] KristopherGBaker commented on #876
I'm seeing the same issue with Atlas 1.0.9.  It works in 1.0.8.

[2015-07-01 21:41] kmahal commented on #876
@thomasgpeng @KristopherGBaker this bug is merged: https://github.com/layerhq/Atlas-iOS/pull/879 and updated with `1.0.10`.  Apologies for the issue.

[2015-07-01 21:41] #876 closed

[2015-07-01 22:35] kmahal commented on #783
@oferRounds any update?

[2015-07-01 22:36] kmahal commented on #877
Hi @huyduc Atlas does not currently natively support sending videos through `ATLMediaAttachment`.  Your current implementation is the best way.  Feel free to submit a pull request to introduce video taking/sending, and in the meantime we'll close this issue out.

[2015-07-01 22:49] kmahal commented on #873
Hey @thomasgpeng thanks for digging through that.  Feel free to submit a pull request.

[2015-07-02 13:19] danipralea opened #881 "Question:Atlas with own data source"
Is it possible to have Atlas configured with my own data source, coming from my own API and if yes, how ?

Thanks in advance,
Dan.

[2015-07-02 18:48] #877 closed

[2015-07-02 18:52] kmahal commented on #881
@danipralea It's not possible.  Atlas is designed to be tightly used with LayerKit.  There are other open sourced projects that can give more generic UIs that can be used for any data source.  Atlas does give delegate methods to customize the specific `LYRQuery`s for each controller, which gives added flexibility.

[2015-07-02 18:52] #881 closed

[2015-07-03 08:41] oferRounds commented on #783
Ok, verified it now - now everything works very well! Thanks!

[2015-07-03 08:41] #783 closed

[2015-07-03 19:26] mnshah opened #884 "Avatar images flicker when loading"
In a conversation window, the avatar images flicker when loading. Also in subsequent messages sent by the same participant, the image is re-downloaded from the network even though the image has been downloaded by previous message cells.

[2015-07-03 19:39] mnshah opened #885 "Crash in ATLMessageInputToolbar"
We are seeing a crash when trying to add an image into a chat screen:

[ATLMessageInputToolbar insertMediaAttachment:](ATLMessageInputToolbar.m:203)

Stack Trace
_________________________________
0	  CoreFoundation                     	0x00000001820702d8 __exceptionPreprocess + 128
1	  libobjc.A.dylib                    	0x00000001938940e4 objc_exception_throw + 56
2	  CoreFoundation

[2015-07-03 22:09] thomasgpeng commented on #885
@mnshah This was broken in 1.0.9 and should be fixed in 1.0.10.

[2015-07-03 22:31] mnshah commented on #885
I've updated to 1.0.10 and image sharing works. However, the location button is unresponsive. Is this a separate issue with 1.0.10?

[2015-07-03 23:47] mnshah commented on #885
Also, it looks like the photos do send but in the other person's chat window, they just see a gray box.

[2015-07-06 16:43] kmahal commented on #884
@mnshah This is a feature inside Atlas:
[code]
We set the alpha to 0 before fading on the image, since transitioning from the letters to the image directly was an unpleasant user experience.  We have caching logic as well, so please check that the images are being cached in your instance correctly.

[2015-07-06 16:49] kmahal commented on #885
@mnshah
1. As @thomasgpeng mentioned the image sharing was fixed in `1.0.10`.
2. The location sharing is functional, please confirm you have given the application location sharing permission in your phone settings.
3. You need to set the `autoDownloadMIMETypes` of your `LYRClient` instance.  For example:
[code]

[2015-07-06 21:44] #885 closed

[2015-07-06 21:50] kmahal commented on #873
@thomasgpeng closed the PR because of another PR that fixes the issue.  Thanks again.

[2015-07-06 21:50] #873 closed

[2015-07-10 06:13] timominous opened #889 "Can't build due to LayerKit 0.15.0 update."
After running `pod update`, LayerKit was updated to 0.15.0 which crashes the application due to `NSUUID`->`NSURL` change.

[2015-07-10 06:29] #889 closed

[2015-07-13 23:00] mnshah opened #891 "Crash in ATLConversationViewController"
I'm getting the following crash consistently in our app:

Error: NSInternalInconsistencyException

Reason: Invalid update: invalid number of sections. The number of sections contained in the collection view after the update (24) must be equal to the number of sections contained in the collection view before the update (24), plus or minus the number of sections inserted or deleted (1 inserted, 0 de

[2015-07-13 23:23] kmahal commented on #891
@mnshah can you paste the entire call stack?  Is this occurring during initialization of the `ATLConversationViewController`, or after it's running?

[2015-07-13 23:30] mnshah commented on #891
Does this help: https://gist.github.com/mnshah/691687b40ac85f80d4ff

[2015-07-13 23:33] mnshah commented on #891
It seems to happen mostly when the app re-opens and on the first message sent.

[2015-07-13 23:41] kmahal commented on #891
what line does the exception throw on `ATLConversationViewController`?

[2015-07-13 23:42] mnshah commented on #891
(ATLConversationViewController.m:1130)

[2015-07-13 23:43] mnshah commented on #891
Also, if i run in the simulator i get other errors but using the same steps to reproduce. I run the simulator from Xcode, go to group chat, type a message, press send. This causes a crash:

2015-07-13 16:41:26.777 PeerWell[95247:8773422] *** Assertion failure in -[ATLConversationCollectionView _endItemAnimationsWithInvalidationContext:tentativelyForReordering:], /SourceCache/UIKit_Sim/UIKit-3347.4

[2015-07-13 23:45] kmahal commented on #891
can you confirm that `self.collectionView` is not nil?

[2015-07-13 23:48] mnshah commented on #891
I added a simple log statement to print self.collectionView. Its not nil. When i added a breakpoint it also showed as not nil.

[2015-07-14 11:16] khanhvu161188 opened #892 "How can we customize ATLConversationListViewController for first cell?"
Can we custom ATLConversationListViewController so that it can display 2 buttons like Whatsapp for first cell? My mean is create first cell contain  button "Broadcast Lists" and button New Group as first cell. and its always on top.
Please give me an advice.
Thanks

[2015-07-14 21:05] maju6406 commented on #892
You can add custom cells to a Conversation List Controller.  However, the custom cell can't have custom functionality like buttons at the moment without some refactoring.

[2015-07-14 22:44] mnshah commented on #891
I think we figured out the issue. We were calling collectionView reloadData in a subclass of ATLConversationView. This caused inconsistencies in the data source.

[2015-07-14 22:44] #891 closed

[2015-07-15 00:08] kmahal commented on #856
merged in https://github.com/layerhq/Atlas-iOS/pull/894

[2015-07-15 00:08] #856 closed

[2015-07-15 02:28] khanhvu161188 commented on #892
hi @maju6406 can u explain further on your idea? i want my custom cell has 2 buttons, so this button cannot work normally if i put it on this cell?

[2015-07-15 18:28] maju6406 commented on #892
This is correct. This is because the current implementation only allows a tap on the cell to select a conversation.

[2015-07-15 18:46] maxfriedman commented on #892
I was able to hack around this by implementing buttons with custom selectors in my subclassed collection view cell.

[2015-07-15 20:14] kmahal commented on #884
Hey @mnshah any update on the caching issue?

[2015-07-15 20:23] mnshah commented on #884
I was trading messages with Kevin on a support ticket about this. The running theory was that images were being evicted from the cache to free up memory. I wasnt sure this was the case since the number of messages in the conversation were in the low hundreds. Doing some testing just now and it looks to be resolved.

[2015-07-15 20:23] #884 closed

[2015-07-15 21:15] kmahal commented on #892
The `ATLConversationListViewController` populates its tableview from a `LYRQueryController` that's standard `LYRQuery` displays conversations the authenticated user is a part of, sorted by `conversation.lastMessage.receivedAt` (the time of the last sent message in the convo, like any messaging app).  The `ATLConversationListViewController` only allows the registering of 1 cell, and all cells must

[2015-07-15 21:15] #892 closed

[2015-07-16 06:45] kartikthapar opened #897 "ATLConversationViewController display read receipts should be optional"
^

Probably provide a boolean flag like — `shouldDisplayReadReceiptIfPossible`.

[2015-07-16 09:25] kartikthapar commented on #897
I understand that one could return an `NSAttributedString` with a value of `@""` but it doesn't seem very clean.

[2015-07-16 22:46] kmahal commented on #897
@kartikthapar feel free to submit a pull request with this feature fix.  Be sure to add tests as well for this logic.

[2015-07-18 10:05] oferRounds commented on #249
@kcoleman731, any workaround for this issue? I'm also getting it (using the latest Layer and Atlas versions), when trying to inclde a swift pod (and adding use_frameworks!).
This is one that I'm adding: https://github.com/zhxnlai/ZLSwipeableViewSwift

[2015-07-20 01:53] blakewatters commented on #249
I’m working on an update to the LayerKit build process to begin distributing dynamic frameworks. Unfortunately there are a number of annoying sticking points with some of our dependencies and its been slow going. I expect to have it straightened out in a few days.

[2015-07-20 05:50] oferRounds commented on #249
Yes, I understand... Anyhow, thanks, that would be great :)

[2015-07-21 03:05] cashmash opened #898 "Feature Request: support multiple sections"
Feature Request: support multiple sections to group chats
When i put section > 1, i get an error with following reason: "reason: 'The `LYRQueryController` currently only supports a single section.'

[2015-07-21 16:20] kmahal commented on #898
@cashmash the `LYRQueryController` only supports a single section.  The `ATLConversationDataSource` takes the query controller and creates several sections based on appropriate message grouping.  Since Atlas handles the data source there shouldn't be a reason to manually manipulate it.  If you could describe your use case then perhaps we can see the viability of a feature request.

[2015-07-21 16:29] ramdanesennoun commented on #898
ah ok understood, thx, so all i need to do is to group the messages (via Layer API? platform api? how?)

[2015-07-21 16:31] cashmash commented on #898
ah ok thx, how can i group the messages (layer side) or can i run a custom layerquery?

[2015-07-21 16:57] kmahal commented on #898
@cashmash The `ATLConversationDataSource` groups the messages together for you into sections.  That is not currently customizable beyond just that.

[2015-07-21 17:44] cashmash commented on #898
all i get is one section, how can i group the messages server side to the controller gets multiple sections (based on the groups)

[2015-07-21 17:48] cashmash commented on #898
Use Case:
- User can be a in group chats (> 2 people) and/or in a single (1v1) chats and/or  in chats with attribute X
- I would like to see the ConversationListView showing me multiple tableview sections based on the attribute
- i would like to set the order of the section

[2015-07-21 18:07] kmahal commented on #898
Ah you are referring to the `ATLConversationListViewController`.  The `ATLConversationDataSource` is only found in the `ATLConversationViewController`.  The list view controller only has 1 section, and it is not possible to customize it in that fashion currently.  Feel free to submit a pull request to let users customize that, or you'll have to create your own non-Atlas controller to manage that s

[2015-07-22 13:18] ads1018 commented on #249
+1

[2015-07-22 18:26] stefangeir commented on #249
+1

[2015-07-22 21:18] andrewcopp opened #902 "Inaccurate Message Cell Heights"
If you create custom ATLMessageCollectionViewCells with a different font, Atlas will not accurately size for it.

ATLConversationViewController's defaultCellHeightForItemAtIndexPath: will make a call against ATLOutgoingMessageCollectionViewCell's cellHeightForMessage:inView which is a class method.

As a result, it will reference the appearance of a ATLOutgoingMessageCollectionViewCell instead of

[2015-07-22 22:00] kmahal commented on #902
@andrewcopp `defaultCellHeightForItemAtIndexPath:` is only called if `- (CGFloat)conversationViewController:(ATLConversationViewController *)viewController heightForMessage:(LYRMessage *)message withCellWidth:(CGFloat)cellWidth` is not implemented.  By implementing the delegate you can define your own custom logic to calculate the exact height for your custom cell, even for default `MIMEType`s.  A

[2015-07-24 10:20] mattmcneeney commented on #249
+1

[2015-07-24 12:36] cshah3 commented on #249
+1

[2015-07-26 04:44] imkevinxu opened #906 "Feature Request: Tap image to expand fullscreen + Save image in Camera Roll"
Similar to iMessage, tapping an image to open it fullscreen and also the ability to save the image into your camera roll

[2015-07-26 18:10] maju6406 commented on #906
Atlas notifies you when someone taps on the message in a conversation, but then leaves it up to you what to do next.  Atlas Messenger does what you're looking for.  Check out the code here:
https://github.com/layerhq/Atlas-Messenger-iOS/blob/master/Code/Controllers/ATLMConversationViewController.m#L206

[2015-07-27 20:59] mchu4545 commented on #249
+1

[2015-07-27 21:00] blin89 commented on #249
+1

[2015-07-28 18:01] SaagarGodithi commented on #249
+1

[2015-07-28 19:27] rafbgarcia opened #907 "Different metadata to differentiate taking a live picture from picking an album picture"
Hello there!

Not sure if that's possible as of now, I've just started using Atlas (which is pretty awesome btw!) and would like to know if the user sent an image from his Photo Album or if he just took that Picture from this camera.

As far as I've read in `ATLConversationViewController` I couldn't see a way of natively doing it, am I mistaken?

Appreciate the help! :)

[2015-07-28 21:56] maju6406 commented on #907
Not sure if there's an easy way to tell where a picture came from.  You could keep track of whether they pressed the"Take Photo or Video", "Last Photo", "Photo/Video Library" buttons as a proxy.

[2015-07-28 22:27] kmahal commented on #907
@rafbgarcia you can add your own `LYRMessagePart` to each image sent.

In your `ATLConversationViewController` subclass, you can check the image type:
[code]
 The `ATLConversationViewController` delegate method: `conversationViewController:messagesForMediaAttachments:` is called before Atlas sends each of your messages.  For images we send over 3 parts, the full size image, a thumbnail, and sizing

[2015-07-28 23:27] rafbgarcia commented on #907
@maju6406 Thank you for your help!

@kmahal That sounds a very nice solution, thank you! I'm gonna try that out tomorrow!

Thank you both again :)

[2015-07-30 10:10] damirstuhec opened #909 "Not able to modify ATLMessageInputToolbar's right accessory button font"
One cannot modify `rightAccessoryButton`'s title label font in `ATLMessageInputToolbar`.

The reason for that is the font value being restored back to the default value when the `- (void)configureRightAccessoryButtonForText` method is called. This also happens to be in `- (void)textViewDidChange:(UITextView *)textView`, which will restore font value every time the message text changes.

It would b

[2015-07-30 23:44] kmahal commented on #906
@imkevinxu as Abir mentioned, the first part is shown in Atlas messenger.  For saving to the camera roll, a developer can subclass the image picker delegate method in their `ATLConversationViewController` subclass:
[code]

[2015-07-30 23:44] #906 closed

[2015-07-30 23:45] #907 closed

[2015-07-31 16:12] varkor opened #910 "Improve appearance on wider displays"
At the moment the conversations do not take advantage of the iPad screen's full width, and are just confined to the regions at the same, making it unsuited to use on such devices. The function `ATLMaxCellWidth()` should probably take the parent view's bounds into account, rather than simply returning a constant.

[2015-07-31 20:32] maju6406 commented on #910
As you mentioned, Atlas does not currently support iPads.  However, if you know how to fix it so that the iPad could be supported I recommend that you make the changes and submit a PR. Thanks!

[2015-07-31 20:32] #910 closed

[2015-08-04 15:13] khanhvu161188 commented on #817
I meet same issue here when go from push notification.
Let's talk my app have main UITabbarController. 1 tab is for list all conversation and when i tap on an conversation it will push to view for conversation.On this page, if show keyboard for input something and i quit app (back to home). If i receive a push notification pointing to another previous conversation that i was typing, it will direct

[2015-08-04 15:19] khanhvu161188 opened #911 "Read or seen time of LYRMessage"
When i try to debug a message, i can see createdAt, sentAt, receivedAt, deleteAt but i don't know can we get read/seen at by receiver?

[2015-08-04 15:21] khanhvu161188 opened #912 "ATLConversationViewController in TabBar - MessageInputToolbar Won't Appear"
I meet same issue #817  when go from push notification.
Let's talk my app have main UITabbarController. 1 tab is for list all conversation and when i tap on an conversation it will push to view for conversation.On this page, if show keyboard for input something and i quit app (back to home). If i receive a push notification pointing to another previous conversation that i was typing, it will direc

[2015-08-04 16:57] kmahal commented on #911
Hi @khanhvu161188 that's not a feature we support on `LayerKit`.

[2015-08-04 16:57] #911 closed

[2015-08-04 18:56] #898 closed

[2015-08-05 15:03] ntnmrndn opened #913 "Text truncated when using a custom font/fontsize"
I just found this bug while customizing layer:

<img width="473" alt="capture d ecran 2015-08-05 a 17 00 18" src="https://cloud.githubusercontent.com/assets/1104823/9089049/8ce8d7f2-3b93-11e5-9e74-a2c053b41a41.png">

The sentence should end in iDisk, not iDi...
The text label should never be allowed to truncate text, as there is no way for the user to display it fully.

[2015-08-05 17:00] kmahal commented on #913
Hi @ntnmrndn what customizations were you doing?  I see the bubbleview width is smaller than our default amount.  Let us know and we can look into it.

[2015-08-06 07:04] gvmatera commented on #249
+1

[2015-08-06 08:25] WANGjieJacques commented on #249
+1

[2015-08-06 08:29] ntnmrndn commented on #913
The bubble view width is left unchanged (we'll work on an increase very soon), but the image is only at 75% size (I need the whole simulator to fit on my screen).
Here are the modifications:

        outgoingAppearance.bubbleViewColor = UIColor.palerGreenColor
        outgoingAppearance.messageTextFont = UIFont(name: "Roboto-Light", size: 25)
        outgoingAppearance.messageTextColor = UIColor.d

[2015-08-06 08:33] vinzen commented on #249
+1

[2015-08-06 08:50] gvmatera commented on #249
Can you give an update on when a fix for this will be available?

[2015-08-07 00:41] blakewatters commented on #249
We are now building LayerKit into a dynamic framework. The next release will solve these packaging issues

[2015-08-07 02:30] gvmatera commented on #249
Great! Do you know when this will be available? (Even just a rough idea.)

[2015-08-10 11:47] cashmash opened #917 "ATLConversationListViewController SearchController/Searchbar should be optional"
Probably provide a boolean flag like — shouldDisplaySearchBarController or shouldEnableSearch.

[2015-08-10 23:39] kmahal commented on #867
@vinzen do you have a forthcoming PR?

[2015-08-10 23:40] kmahal commented on #917
HI @cashmash.  As Atlas is an open sourced project, please feel free to submit a pull request.  This feature is not an internal high priority, though we have logged it.  Thanks.

[2015-08-11 08:32] vinzen commented on #867
@kmahal here you go

[2015-08-11 09:50] stasix commented on #917
would also like that.

[2015-08-11 11:52] mohammedDehairy opened #921 "send an image with custom meta data keys"
is it possible is send an image with custom meta data keys like {@"isSticker" : 0} , to be able to read those custom keys by the receiver , i tried this :

    NSDictionary *customMetaDataDic = @{STICKER_META_DATA_IS_STICKER_KEY : [NSNumber numberWithBool:YES],STICKER_META_DATA_STICKER_STYPE_KEY:[NSNumber numberWithInt:0]};

    [conversationVC.messageInputToolbar insertMediaAttachment:[ATLMediaAt

[2015-08-11 15:38] oscarvgg opened #922 "How to show avatar only for first message in consecutive messages from same user"
I wanted to know if it is posible to show the avatar only for the first message when a user sends many messages one after another without the interruption of other participants

Example:
[code]
If there is no way to accomplish this with the current version of the code. I think it could be done if the conversationDataSource was public. So I could check if the previous message was from the same user

[2015-08-11 18:33] chipxsd commented on #921
Hi @mohammedDehairy,

The metadata you passed into the `ATLMediaAttachment` gets embedded into the image (the same as camera EXIF info, not to be mistaken with message metadata). What you probably need is an additional message part (`LYRMessagePart`) where you can pack any arbitrary data (JSON, XML, encoded plists, etc.).

When you send a message Atlas will call the `ATLConversationViewControllerD

[2015-08-11 20:40] chipxsd commented on #922
This is already built in Atlas, clustering messages from the same sender with a single occurrence of the avatar (in that cluster).

Play around with the `avatarItemDisplayFrequency` property on the `ATLConversationViewController` instance. These are the options it gives you:
[code]

[Atlas-messenger](https://github.com/layerhq/Atlas-Messenger-iOS) demonstrates that in group conversations:
![11_gro

[2015-08-11 21:35] oscarvgg commented on #922
@chipxsd my ATLConversationViewController doesn't have that property... I'm using version 1.0.10 installed with cocoa pods

[2015-08-11 21:44] chipxsd commented on #922
You're correct, it's in the pipeline for the next release, sorry about that. Until then, you can experiment with the development branch, just point the pod to this git repo (it's on the master branch).

[2015-08-12 11:07] jhaville commented on #917
+1

[2015-08-12 14:05] mohammedDehairy commented on #921
Thanks a lot @chipxsd , that was very helpful !.

[2015-08-12 17:24] oscarvgg commented on #922
Thanks! I tried with the new feature but it's not as customisable as I need it to be. I'll make the changes I need and submit a pull request soon.

[2015-08-12 20:55] chipxsd commented on #922
Thank you, and I'm looking forward to your pull request.

[2015-08-14 12:56] chenyuan commented on #249
+1

[2015-08-18 13:04] #921 closed

[2015-08-18 13:10] mohammedDehairy opened #926 "transparent image message bubble background"
i want to make the image message bubble background color transparent , instead no matter what i do the image message bubble background is white , i have tried sub classing ATLIncomingMessageCollectionViewCell and then do this inside its implementation (after detecting its an image message) :

        self.bubbleViewColor = [UIColor clearColor];
        self.bubbleView.backgroundColor = [UIColor cl

[2015-08-18 16:56] kmahal commented on #926
@mohammedDehairy are you trying to make the cell transparent when an image is loaded?  If so you'll have to set the cell's `alpha`, not the background color.  Setting the color to `clearColor` just means the cell's background is clear, which is shown when downloading an image.

[2015-08-18 19:07] daninfpj opened #928 "Prevent right accessory button default behaviour (sendLocationMessage)"
In https://github.com/layerhq/Atlas-iOS/issues/841 you mention that returning an empty `NSOrderedSet` will prevent `ATLConversationViewController` from sending the location. However that's not the case because of line 586:

`if (messages.count == 0 && self.messageInputToolbar.textInputView.text.length == 0) {`
`  [self sendLocationMessage];`

So, it doesn't matter if I return `nil` or an empty `NS

[2015-08-18 22:34] kmahal commented on #928
Hi @daninfpj what use case do you not want to send a message?

It is correct, that the above code should actually be
`if (messages && messages.count == 0 && self.messageInputToolbar.textInputView.text.length == 0) {`
as a `nil` messages ordered set (which is set by returning an empty `NSOrderedSet` in the delegate) still evaluates `messages.count == 0` as `YES`.  This would only occur if pressing

[2015-08-18 23:38] kmahal commented on #928
Fixed in https://github.com/layerhq/Atlas-iOS/pull/929.

[2015-08-18 23:38] #928 closed

[2015-08-18 23:40] kmahal commented on #926
the cell's alpha is not a configurable property via `UIAppearance`, but you can customize it yourself by implementing `conversationViewController:configureCell:forMessage`

[2015-08-18 23:43] kmahal commented on #902
@andrewcopp  any update on this?  If not we can close it out.  LMK if my above explanation made sense.

[2015-08-19 00:08] kmahal commented on #909
HI @damirstuhec this has been merged here: https://github.com/layerhq/Atlas-iOS/pull/930

[2015-08-19 00:08] #909 closed

[2015-08-19 00:40] kmahal commented on #917
@cashmash @stasix @jhaville if you immediately want this functionality removed you can override the view, by setting

[code]
in your `ATLConversationListViewController` subclass's `viewDidLoad`.

[2015-08-19 00:41] #917 closed

[2015-08-19 00:43] kmahal commented on #867
@vinzen are you synchronizing the push notification with the layer client before pushing? Using ```- (BOOL)synchronizeWithRemoteNotification:(NSDictionary *)userInfo completion:(void(^)(NSArray *changes, NSError *error))completion;``` on the `LYRClient`.  If you don't synchronize then the new message won't appear if you push it immediately and then go back before the client can sync.

[2015-08-19 03:49] daninfpj commented on #928
Hey @kmahal, awesome, thanks for the PR.

The use case was this: when the right accessory button is tapped I present a modal view controller, in which the message is created. So the message is not created right away but after some user interaction, that's why initially I do not want to send any message.

[2015-08-19 05:00] kmahal commented on #928
Got it.  Thanks for the feedback @daninfpj!

[2015-08-19 07:07] damirstuhec commented on #909
:+1:

[2015-08-19 08:44] mohammedDehairy commented on #926
you see in this screen shot the "out the door" image has a white background , i can't get rid of it , and its not part of the image itself .

![ios simulator screen shot aug 19 2015 10 40 59 am](https://cloud.githubusercontent.com/assets/2619933/9352096/d22d856c-465e-11e5-8806-791157c89115.png)

[2015-08-19 16:57] kmahal commented on #926
@mohammedDehairy the default bubble view color is `ATLBlueColor`.  The bubble view also expands the image to fit the dimensions of the cell, so this indicates that the image itself does have that white padding around it.  Does changing the background color change that white padding?

[2015-08-19 17:04] mohammedDehairy commented on #926
No, changing the background color doesn't change the white padding , and the image doesn't seem to have a white padding when i open it in mac Preview app .

<img width="554" alt="screen shot 2015-08-19 at 7 02 01 pm" src="https://cloud.githubusercontent.com/assets/2619933/9363127/d57f6352-46a4-11e5-84fc-e70eb2157fbf.png">

[2015-08-19 18:57] jhaville commented on #917
That doesn't quite work - you have to play around with the offset and whether you've displayed the view already if I remember correctly.

[2015-08-22 00:09] jhau commented on #249
+1

[2015-08-22 01:21] blakewatters commented on #249
We are still working on it. Hopefully next week we can ship the update

[2015-08-22 04:10] khanhvu161188 opened #939 "dictation just only record 1 word when we try to send message"
When you press on microphone on keyboard:
- On list of conversation, it works normally
- On conversation view, it just only record 1 first word. I try to not use Typing indicator feature and it can work

What can i do for make dictation work with Typing Indicator?

[2015-08-22 08:05] oferRounds commented on #249
:+1:

[2015-08-22 19:05] seyhunak opened #940 "Crashing on ConversationViewController Randomly"
Hi,

I just implemented Parse, Layer and ATLParticipant classes in my app, but the problem sometimes when I find conversation, between 2 or 3 people, it crashes.

What is the problem?

Here is the stack trace;
https://gist.github.com/seyhunak/d6d5f29a926b33fc05ac

[2015-08-23 04:02] thomasgpeng opened #941 "ATLMessageInputToolbar: Persist text (again)"
This is a reference to issue #849.

I'm trying to implement unsent message caching.  Storing `messageInputToolbar.mediaAttachments` in a cache is working fine, but when I try to insert them using `[messageInputToolbar insertMediaAttachment:]`, I'm seeing some odd toolbar behavior.  I've only tried this with text, but the text content does not show up in the `textInputView`, and when I type new tex

[2015-08-23 20:00] kmahal commented on #941
@thomasgpeng this has been implemented here: https://github.com/layerhq/Atlas-iOS/pull/883.  Its currently on master, and will be out in `1.0.11` this week.

[2015-08-23 20:00] #941 closed

[2015-08-23 20:10] thomasgpeng commented on #941
Great, thanks @kmahal

[2015-08-24 00:38] andrewcopp commented on #902
Ah, hmmm. I suppose we can close this. Seems convoluted that a developer would have to rework all the height calculation logic when you just need to swap out the font. I was able to get it to work though so no hold up on my end.

:+1:

[2015-08-24 15:18] vinzen commented on #867
@kmahal I don't think we need it here because the new message appear in the conversation.

[2015-08-25 02:06] garhiggins opened #942 "Localized/Customized send button text truncated"
The fixed width on the send button (static CGFloat const ATLRightAccessoryButtonWidth = 46.0f;) causes longer strings to get truncated. I'll try to create a fix tomorrow.
![send](https://cloud.githubusercontent.com/assets/9663880/9456982/2797c584-4a93-11e5-865d-501f01acfd0a.jpg)

[2015-08-26 23:02] ippy04 commented on #249
+1

[2015-08-31 23:39] kmahal commented on #939
@khanhvu161188 can you explain further what it means that it works on the conversation list?  Do you mean in the search bar?  And how are you disabling the typing indicator?

[2015-09-01 03:24] khanhvu161188 commented on #939
No sir, i'm trying on Conversation page not Conversation List!when i enable dictitation instead of typying on input textbox,i cannot get more than 3 words! And i try to turn off sending typing to another in this conversation,it will work with dictation

Sent from Outlook

On Mon, Aug 31, 2015 at 4:39 PM -0700, "Kabir Mahal" <notifications@github.com> wrote:
@khanhvu161188 can you explain further w