[2015-09-02 16:32] dreese opened #948 "Atlas no longer compiles with LayerKit 0.15.1"
The LayerKit pod was updated today and has breaking changes for Atlas. Specifically,
[code]
is now this:
[code]

[2015-09-02 17:16] nikriek commented on #249
+1

[2015-09-03 16:57] cashmash commented on #917
should be reopened?

[2015-09-03 21:43] kmahal commented on #948
Fixed and merged in https://github.com/layerhq/Atlas-iOS/pull/950.  Atlas `1.0.11` is now out.

[2015-09-03 21:43] #948 closed

[2015-09-04 12:40] rishabhtayal commented on #249
+1

[2015-09-05 14:35] seyhunak opened #953 "Crash on ATLUIConversationListViewController"
Crash happens, if I swipe to delete a conversation or create new conversation.

#### ATLUIConversationListViewController.m
    - (void)queryControllerDidChangeContent:(LYRQueryController *)queryController {
      [self.tableView endUpdates];
      if (self.conversationSelectedBeforeContentChange) {
        NSIndexPath *indexPath = [self.queryController indexPathForObject:self.conversationSelectedB

[2015-09-05 16:31] seyhunak commented on #953
Fixed it! Looks like ConversationViewController's custom LYRQueryControllerDelegate conflicts with Atlas's LYRQueryControllerDelegate method, moving to another ViewController fixed the problem

[2015-09-05 16:31] #953 closed

[2015-09-06 22:02] koptan opened #954 "Extending ATLConversationListViewController"
Hi ,

I am trying to extend ATLConversationListViewController , but i getting the following error :

'NSInternalInconsistencyException', reason: '-[UITableViewController loadView] loaded the "8v3-DW-LRI-view-PN4-4X-G1S" nib but didn't get a UITableView.'

Please Help .

[2015-09-07 11:53] nratter commented on #249
any timeframe for the update?

[2015-09-07 15:21] khanhvu161188 opened #956 "load list of conversation by another predicate"
Currently we load list conversations by participants contain current authenticated userId
So if i want to have 2 pages, 1 for list conversations from 'work' and 1 for list conversations from 'home'. How can i do it?

[2015-09-07 18:50] nsantorello commented on #249
+1

[2015-09-07 19:35] oferRounds commented on #249
:+1:

[2015-09-08 11:07] SK0RM commented on #249
:+1:

[2015-09-08 11:52] dippigu commented on #956
Hi @khanhvu161188, you could do this by adding a value to the metadata when creating the conversation and then using tis to retrieve the different types of conversation.

<code>[conversation setValue:@"work" forMetadataAtKeyPath:@"conversationType"];</code>

When loading your conversations, you would then use a predicate to fetch only conversations where the metadata key "conversationType" contain

[2015-09-08 12:41] khanhvu161188 commented on #956
hi sir,i've added metadata but i couldnot retrieve list by predicate!can u give me example on ios for query by metadata?

Sent from Outlook

On Tue, Sep 8, 2015 at 4:52 AM -0700, "Alan Morris" <notifications@github.com> wrote:
Hi @khanhvu161188, you could do this by adding a value to the metadata when creating the conversation and then using tis to retrieve the different types of conversation.

<c

[2015-09-08 14:08] khanhvu161188 commented on #956
Hi @dippigu,
I've added value for metadata
[code]
but when i execute this query, it returns nothing
[code]

[2015-09-08 14:14] kumararun540 opened #957 "Image is not showing in chat"
Hi,

Incoming cell is not showing image, its only showing white area in the place of image.
Any extra code need to add for image or what i am missing ?

[2015-09-08 16:23] dippigu opened #958 "Conversation created with MIME type "invitation/sent" shows for all users"
In the online help files, at: https://support.layer.com/hc/en-us/articles/204193200-Why-can-t-participants-query-a-newly-created-conversation-, it is suggested that it is possible to create a conversation with the MIME type "invitation/sent" which will create a conversation, but not alert any of the other participants until a message has been sent.

When I create a conversation using this MIME typ

[2015-09-08 16:51] kmahal commented on #957
Hi @kumararun540 you must specify `autoDownloadMIMETypes` on the `LYRClient` to be `ATLMIMETypeTextPlain` and `ATLMIMETypeImageJPEGPreview` so that way it will autodownload that content.

[2015-09-08 16:51] #957 closed

[2015-09-08 17:02] kmahal commented on #958
Hi @dippigu We'll be sure to update that article with the most relevant information, as most importantly it was written before Atlas was released, and not meant to be used for Atlas as is.  It is still not best practice to have hidden messages, but if it a must then to do so with Atlas you must register a custom cell with reuse identifier using the method:
[code]
As well as the data source method:

[2015-09-08 17:02] #958 closed

[2015-09-08 17:06] kmahal commented on #956
@khanhvu161188 is the conversation already persisted?  If you haven't sent a message then it's not queryable.

[2015-09-08 17:56] nosrak113 commented on #249
+1

[2015-09-08 17:58] ippy04 commented on #249
:+1:

[2015-09-08 20:24] dfinzer opened #959 "Subclassing ATLMessageInputToolbar in Swift"
I'm attempting to subclass ATLMessageInputToolbar using Swift. I've made my own subclass but when I attempt to override self.view.inputAccessoryView, I am getting "Cannot assign to the result of this expression"

[code]

I think this has to do with how optionals work in Swift vs. Objective-C, but I'm not entirely sure. Any workarounds?

[2015-09-08 20:28] kmahal commented on #959
@dfinzer `inputAccessoryView` is a `readonly` property of the view.  We can work on a PR to open it up, but for now you can add this to your `ATLConversationViewController` subclass:

[code]
Then your code should work, as we set the input accessory view privately in that controller.

[2015-09-08 20:28] #959 closed

[2015-09-08 20:59] dfinzer commented on #959
Thanks @kmahal , do you know how would I do this in Swift?

[2015-09-09 15:21] ntnmrndn commented on #867
Hi,
Any update on this PR? :)

[2015-09-09 16:31] kmahal commented on #954
Hi @koptan are you extending or subclassing?  Storyboard or code?

[2015-09-09 19:56] dfinzer commented on #959
@kmahal still having a bit of trouble understanding how this would work in Swift, any ideas?

[2015-09-09 23:20] dfinzer commented on #249
+1

[2015-09-10 14:02] khanhvu161188 commented on #956
@kmahal  Its supported now by new version of Layer.

LayerKit Change Log
0.16.0
Public API Changes

    LYRQueryController initialization on the LYRClient changes from queryControllerWithQuery: to queryControllerWithQuery:error: to return an error when the client isn't authenticated and a controller can't be created.
    LYRQuery now supports LYRConversation querying on property metadata in dictio

[2015-09-10 14:02] #956 closed

[2015-09-11 22:51] iamchenchen opened #962 "Warnings in all header files."
I got 150 warnings with similar warning like this:
/Libraries/Atlas/Code/Views/ATLAvatarImageView.h:36:1: No 'assign', 'retain', or 'copy' attribute is specified - 'assign' is assumed

I'm using XCode 6.4.

Is there anyway I can ignore all these warnings?

[2015-09-12 07:42] blakewatters commented on #962
Couple of options:

1. If you are using super aggressive warning settings, then turn them off.
2. If you are using CocoaPods, then use the suppression config to suppress them.
3. If you really care, then submit a PR that fixes them.

[2015-09-12 07:42] #962 closed

[2015-09-12 10:23] iamchenchen commented on #962
@blakewatters I really want to turn it off, but I don't know which one to turn off, could you point me to the right setting?  PS: I tried google myself for a while already.  Thanks!
https://www.dropbox.com/s/vqnmc9shli1lt1w/Screenshot%202015-09-12%2003.24.57.png?dl=0

[2015-09-14 05:31] vikmeup commented on #249
Do you know when this will be available?

[2015-09-14 18:19] imroopesh opened #963 "Atlas-iOS pod is causing my App to crash"
Here's my Pod file

source 'https://github.com/CocoaPods/Specs.git'
pod 'Atlas'
pod 'FMDB'
pod 'FMDBMigrationManager'
xcodeproj 'MyProject.xcodeproj'

http://stackoverflow.com/questions/32570314/fmdbmigrationmanager-crash

Integrating 'Atlas' into my project is causing my app to crash.  I removed the pod and the app works like magic. Is Layer using FMDBMigrationManager internally ?

I need to use

[2015-09-14 20:26] dfinzer opened #964 "Preventing ATLConversationViewController from marking messages as read"
Hi there,

I'm subclassing ATLConversationViewController and was wondering if there's any easy way to prevent messages from automatically getting marked as read. (I only want to mark certain messages as read when a user performs a particular action)

[2015-09-14 22:06] kmahal commented on #964
@dfinzer Currently there is no way to do so.  The `ATLConversationViewController` privately calls `configureControllerForConversation` which marks all messages as read, and the `ATLMessageCollectionViewCell` also mark it's individual message as read when it is rendered on screen.  Feel free to submit a pull request and to use your own cells to create this behavior.

[2015-09-14 22:08] kmahal commented on #963
@imroopesh `FMDBMigrationManager` was created by Layer https://github.com/layerhq/FMDBMigrationManager#credits.  We use it internally in `LayerKit`.

[2015-09-14 22:08] #963 closed

[2015-09-14 22:09] kmahal commented on #922
@oscarvgg any update on this PR?  If not we'll close this out.

[2015-09-14 22:24] dfinzer commented on #964
Sounds good, will do. I'm seeing a ```marksMessagesAsRead``` property on ```ATLConversationViewController``` added a while back but it looks like it isn't being checked, is that correct or am I just looking in the wrong place?

[2015-09-15 07:15] vikmeup commented on #249
@blakewatters, @chipxsd, @kmahal could you guys give us some estimates? I can't move forward until Atlas framework will be fixed. Thanks.

[2015-09-16 02:27] andrewchae opened #966 "Black Message Input Toolbar on iOS 9"
On iOS 9 the message input toolbar is black while the view is animating in.

![img_0031](https://cloud.githubusercontent.com/assets/5205000/9895021/6e9fdfc2-5bdf-11e5-9e0f-8f956c463da2.PNG)

Video here: https://youtu.be/DnsgICX_hKw

[2015-09-16 16:04] dippigu opened #967 "Delivery status of messages between blocked participants"
In the situation where I have two participants chatting to each other and then one blocks the other, all subsequent messages sent by either participants appear to send and return the status of <code>LYRRecipientStatusDelivered</code>.

It would be preferable to return a status of <code>LYRRecipientStatusPending</code> for messages between participants where a block policy is in place, as these mes

[2015-09-16 21:53] dfinzer opened #968 "Prefill ATLAddressBarViewController"
Hi there, I was wondering if there was any way to prefill an ATLAddressBarViewController with contacts when the user taps on the text field in a conversation view controller. I'd like to show some contacts *before* the user starts searching (this is similar to what Facebook Messenger does). Thanks!

[2015-09-17 18:08] dippigu commented on #966
I'm seeing this same issue. I seem to recall seeing it a while back, possibly when pushing over the top of a tab bar controller.

[2015-09-18 13:42] jantos opened #970 "Message view recipient bar overlapping first text bubble"
I am using xcode 7.0 and iOS 9 sdk running on iPhone6s simulator. There is also the following error / warning in the console:
----------------------------------------------------------------------------------
Make a symbolic breakpoint at UIViewAlertForUnsatisfiableConstraints to catch this in the debugger.
The methods in the UIConstraintBasedLayoutDebugging category on UIView listed in <UIKit/UIV

[2015-09-18 17:12] kmahal commented on #968
@dfinzer Currently, there isn't a way through Atlas.  The data source method is called on the `UITextView` delegate `textViewDidChange:`.  Feel free to submit a PR for this feature, where an optional boolean flag can have the controller fire that data source method with the appropriate set up.

[2015-09-18 17:36] kmahal commented on #967
@dippigu This is left up to the developer to manage.  When creating a `LYRPolicy` with type `LYRPolicyTypeBlock`, the policy is effective one way.  If user A blocks user B, any messages from user B to user A will not go through.  However since user B has not blocked user A, messages can still be delivered from user A to user B.  You can craft an experience around this knowledge, including checking

[2015-09-18 17:36] #967 closed

[2015-09-18 17:41] kmahal commented on #964
@dfinzer commented on your branch.  Thanks!

[2015-09-18 17:41] #940 closed

[2015-09-18 18:34] #964 closed

[2015-09-19 11:16] tomco opened #971 "Carthage Support"
Seems like integrating Atlas using [Carthage](carthage) does not work.

Would be great if you could add support for it.

[2015-09-19 16:30] nishantdongare opened #972 "ATLAddressBarViewController.h not found in Atlas.h"

[2015-09-19 16:31] nishantdongare opened #973 "ATLAddressBarViewController.h not found in Atlas.h"

[2015-09-19 16:43] nishantdongare opened #974 "ATLAddressBarViewController.h not found in Atlas.h"
I am facing this issue in atlas.h file.
![screen shot 2015-09-19 at 6 44 03 pm](https://cloud.githubusercontent.com/assets/9926475/9977180/d439b8aa-5f1b-11e5-9460-2fe2351e7dfe.png)
![screen shot 2015-09-19 at 6 53 29 pm](https://cloud.githubusercontent.com/assets/9926475/9977182/d570fcd8-5f1b-11e5-93f7-3d4282fb68ad.png)

[2015-09-19 21:01] #972 closed

[2015-09-19 21:02] #973 closed

[2015-09-19 21:03] maju6406 commented on #974
The Layer-Parse-iOS-Swift-Example was created by a third party. You'll need to reach out to them for support on this issue https://github.com/kwkhaw/Layer-Parse-iOS-Swift-Example.

[2015-09-19 21:03] #974 closed

[2015-09-20 13:29] nishantdongare opened #975 "No visible @interface for 'LYRClient' declares the selector 'queryControllerWithQuery:error:'"
I am facing Issue in ALTConversationDataSource.m. I am new to Atlas so not able to interpret this error.

[2015-09-21 18:03] kmahal commented on #975
@nishantdongare update your LayerKit and Atlas versions.

[2015-09-21 18:33] nmeyer commented on #966
Yup. We've got the same issue. And we are pushing on top of a tab bar controller.

[2015-09-22 16:50] kmahal commented on #970
@jantos Feel free to submit a pull request with the fix. We'll try to have a look at it soon.

[2015-09-22 16:51] kmahal commented on #966
@nmeyer you should hide the tab bar when pushing a controller with an input accessory view.

[2015-09-22 17:31] kmahal commented on #966
Been testing this out - not seeing this issue on the Atlas repo.  @andrewchae can you still reproduce this issue on the latest Xcode version?

[2015-09-22 17:32] kmahal commented on #954
@koptan is this still an issue?  If not I will close this ticket.

[2015-09-22 17:33] #922 closed

[2015-09-22 17:35] kmahal commented on #912
@khanhvu161188 is this issue still occurring?  You must hide the tab bar when presenting the `ATLConversationViewController`.

[2015-09-22 17:35] #902 closed

[2015-09-22 17:35] #897 closed

[2015-09-22 17:38] kmahal commented on #926
HI @mohammedDehairy apologies for the late follow up.  Is this still an issue for you currently?

[2015-09-22 17:40] khanhvu161188 commented on #912
@kmahal  we still didn't not resolve this issue. What do you mean about "hide the tab bar" when present `ATLConversationViewController` ? What factor affect on this issue, currently tabbar is rootController of our app. And you want me to edit on event `ViewDidDisapear`?  or kill this controller and make `ATLConversationViewController` as rootController ? Please help us on it sir. Thanks so much

[2015-09-22 17:43] khanhvu161188 commented on #966
@kmahal, we fade same issue on ios 9 too.

[2015-09-22 17:57] kmahal commented on #912
@khanhvu161188 use this in your `ATLConversationViewController` subclass:
[code]
when receiving a push notification, are you presenting the controller with animation, or without?

[2015-09-22 18:09] khanhvu161188 commented on #912
@kmahal

[code]

`Conversation` is subclass of `ATLConversationViewController `

[2015-09-22 18:20] mohammedDehairy commented on #926
Hi , its kind of a problem yes , but we decided to work around it by using
images with no transparent background , but it would be nice though if the
white background disappeared .

On Tue, Sep 22, 2015 at 7:38 PM, Kabir Mahal <notifications@github.com>
wrote:

[2015-09-22 18:23] andrewchae commented on #966
Hi @kmahal, I'm still seeing this issue. Is it possible that you are building to the simulator? I only see this issue building to an actual device.

[2015-09-22 18:35] neil477 commented on #966
Have you guys tried setting self.messageInputToolbar.translucent = NO? I saw this a few days ago and that seemed to solve it for me

[2015-09-22 19:07] kmahal commented on #966
PR for fix: https://github.com/layerhq/Atlas-iOS/pull/977.  Should be merged in soon.

[2015-09-22 19:26] #975 closed

[2015-09-22 19:27] kmahal commented on #971
@tomco we're looking into it, I'll update you here once we get more information.

[2015-09-22 19:39] kmahal commented on #939
@khanhvu161188 this is working on the master build currently.  More importantly, this would be an Apple OS related issue.  The developer has no control over the input there, as the textivew is simply the first responder of the view, and not an Atlas issue.

[2015-09-22 19:39] #939 closed

[2015-09-22 19:59] danielwmsun opened #978 "Left Accessory Button Doesn't Resign Keyboard Before Presenting Action Sheet"
The view just dims and the keyboard remains, and the action sheet seems to be presented behind the keyboard.

A simple solution seems to just be to call [messageInputToolbar.textInputView resignFirstResponder] in the ATLMessageInputToolbar Delegate method, messageInputToolbar: didTapLeftAccessoryButton:

[2015-09-22 22:19] andrewchae commented on #966
Thanks @kmahal!

[2015-09-23 04:55] khanhvuNOIS commented on #912
I can represent it here so that you can help me sir:
receive push=> tap on it=> return to main tab bar => navigate to list conversation => navigate to correct converastion

And @kmahal i found that this issue only occur when i open keyboard before leave the app.
Its mean if i open conversation but not show keyboard => leave app => receive push=> tap on it=> go to conversation => work normal
but if

[2015-09-23 15:11] charlespsdowd opened #980 "ATLConversationTableViewCell cannot be subclassed in Swift 2 because of ATLConversationPresenting protocol"
Objective-C:
ATLConversationTableViewCell.h
`@interface ATLConversationTableViewCell : UITableViewCell <ATLConversationPresenting>`

In Swift 2, I implement my Cell class:
`class MyConversationTableViewCell: ATLConversationTableViewCell, ATLConversationPresenting {
}`

To make this work:
Move the ObjC protocol definition to the ".m"
Add in the protocol method definitions in the ".h"

The .h now lo

[2015-09-23 23:23] kmahal commented on #966
merged. https://github.com/layerhq/Atlas-iOS/pull/977

[2015-09-23 23:23] #966 closed

[2015-09-23 23:31] kmahal commented on #980
@charlespsdowd It is bad practice to have code duplication, putting a protocol's methods in a header with a private protocol implementation.  This also makes it seem like optional methods, and not within the customizable design Atlas is intended for.  What use case are you trying to support that you require a subclass?  Feel free to submit a PR with configurable changes, or instead create and regi

[2015-09-24 06:33] vikmeup opened #981 "Tabbar pop up on Conversation View"
Above growing text you you could see tabbar view. Tried many things to hide it, but it does not seem to work.

I have TabBar->SplitView->Master->Details (Conversation View)

![simulator screen shot sep 23 2015 11 32 01 pm](https://cloud.githubusercontent.com/assets/1641795/10066796/5312ddbe-624b-11e5-8b6b-8566a46bc82b.png)

[2015-09-24 07:33] vikmeup commented on #981
Looks pretty bad in TabBar -> Split View Controller

![simulator screen shot sep 24 2015 12 32 35 am](https://cloud.githubusercontent.com/assets/1641795/10067760/cfef373a-6253-11e5-9cab-4aa0d0f8a15a.png)

[2015-09-24 08:35] charlespsdowd commented on #980
Use case: I want to control the shape of the AvatarItem image based on the type of the Avatar. When a plain user, the image is a circle, when it's not a plan user the image is a rounded square. (I also want to add overlays to show different connections, sources of users: like a fb logo, a twitter logo, a snapchat logo, etc. depending on how you normally interact with this person - ATLParticipant).

[2015-09-25 07:07] kmahal commented on #980
In the ATLConversationViewController we have a delegate method 'conversationViewController:configureCell:forMessage'. We could have the same in the ATLConversationListViewController. Feel free to submit a PR for this. This would let you configure the cell how you see fit without bad code practice or subclassing.

[2015-09-25 14:25] cashmash opened #982 "Build Issue: XCode7, static use of Atlas Lib"
Getting this error, when building with XCode7 (Atlas-iOS Lib as static lib):

Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_ATLPlayView", referenced from:
      objc-class-ref in ATLMessageBubbleView.o
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2015-09-26 12:27] haemi opened #984 "adding images/location doesn't work in iOS 9"
when I tap the camera or location button with the keyboard open, the area gets grey but nothing happens. It seems as if the Action Buttons (Take Photo, Last Photo Taken, ...) appear behind the keyboard.

If I swipe the keyboard down and press the button again, it works.

[2015-09-26 13:30] neil477 commented on #984
#979 should be merged soon and will fix that

[2015-09-28 11:46] charlespsdowd commented on #980
OK -- I'll update that and add a PR. Thanks

[2015-09-28 11:49] charlespsdowd commented on #970
On iPhone 5s, this result sin the message input toolbar going black while the constraints are "resolved".

[2015-09-28 22:10] kmahal commented on #981
@vikmeup this is an implementation detail of your application, and not one Atlas handles.  When presenting the controller on screen you should hide the tab bar.  The input accessory view (the input field) is managed by the keyboard's window, and thus has no notion of underlying views.  A recent PR changes the width to work well with split view controllers (as seen above the input accessory view is

[2015-09-28 22:11] #978 closed

[2015-09-28 22:11] kmahal commented on #984
merged in: https://github.com/layerhq/Atlas-iOS/pull/979

[2015-09-28 22:11] #984 closed

[2015-09-29 00:12] #981 closed

[2015-09-29 22:41] dfinzer opened #985 "Overriding messageInputToolbar results in conversation view not appropriately scrolling to bottom"
If you override the messageInputToolbar with a custom toolbar, the appropriate notifications don't get observed for that instance of messageInputToolbar, as these notifications are registered for in viewDidLoad(). This results in scrolling to bottom not occurring.

[2015-09-29 23:07] kmahal commented on #985
@dfinzer can you extrapolate further?  How are you overriding it?  And what options in `viewDidLoad` aren't being called?  Is there a pull request for this issue?

[2015-09-29 23:08] #954 closed

[2015-09-29 23:25] dfinzer commented on #985
I override the toolbar as follows:

[code]

This was the suggested in https://github.com/layerhq/Atlas-iOS/issues/959. However I now see that this feature isn't really supported yet, so I will close this issue.

In case your curious, the problem is that in super.viewDidLoad(), notifications are set on self.messageInputToolbar:

[code]

But I am setting that property to a new messageInputToolbar so

[2015-09-29 23:25] #985 closed

[2015-09-30 00:03] DevMoz opened #986 "Wrong avatar image showing in conversation list view"
Hi there,

In my app, I have avatars showing beside each conversation in my ATLConversationListViewController subclass. The avatar is the other participants profile photo (retrieved from a URL on the conversation's meta data). My custom AvatarItem class adopts the ATLAvatarItem protocol. I return an AvatarItem in the following data source method

`- (id<ATLAvatarItem>)conversationListViewControlle

[2015-09-30 00:41] kmahal commented on #912
@khanhvu161188 in your `viewDidAppear` of your `ATLConversationViewController` subclass if you add the following it should work:
[code]
Let me know if this helps.

[2015-09-30 17:14] kmahal opened #988 "UI Lag With Several Participants Typing"
Currently, when several participants are typing in a group conversation and the typing indicator is shown, the UI lags heavily and scrolling drops frames.

[2015-10-01 05:45] sysadminPSQ commented on #249
@blakewatters @kcoleman731 Is there any time frame we can expect as to when this issue will be fixed? Our entire work is dependent on the update to  support use_frameworks! tag in cocoapods.

[2015-10-01 05:46] haemi opened #990 "adding location not working in iOS 9"
when I tap the location button, nothing happens, no matter if the keyboard is shown or not. In iOS 7, everything works as expected.

Permissions are not asked and can't be set in iPhone settings (in iOS 7, it works).

[2015-10-01 05:51] chenyuan commented on #249
i'm currently using cocoapods to integrate Layer, and drag&drop Atlas source code in my project. anyone who got stuck, you may want to try this as a temporary workaround.

[2015-10-02 11:28] #990 closed

[2015-10-02 11:50] haemi opened #991 "message is truncated ATLConversationViewController subclass on iOS 7 devices"
On my iOS 7 device, the text in the bubbles gets truncated (ends with three dots) most of the time. In iOS 9 this works as expected.

Am I doing anything wrong or is this a known issue?

[2015-10-02 18:55] kmahal commented on #988
improved in: https://github.com/layerhq/Atlas-iOS/pull/989/files

[2015-10-02 18:55] #988 closed

[2015-10-02 19:29] dfinzer opened #992 "Show avatars in ATLAddressBarViewController"
Is there any way to show avatars in the list of participants shown by the ATLAddressBarViewController?

[2015-10-03 23:49] medjessy commented on #249
+2

[2015-10-04 20:34] devilbags commented on #249
For anyone who are still having this same problem. I used @chenyuan method to work around the issue and it worked fine

[2015-10-06 05:19] kmahal commented on #980
@charlespsdowd any update on this?

[2015-10-06 05:25] kmahal commented on #986
@DevMoz Thanks for bringing it up.  Unfortunately I haven't been able to reproduce the problem- does this happen after scrolling?  Or even when loading it from a URL for a cell in the visible window?

[2015-10-06 05:26] kmahal commented on #912
@khanhvu161188 did the above suggestion not work?  Let me know or else I'll close out this item. Thanks.

[2015-10-06 05:38] kmahal commented on #991
@haemi We haven't seen this issue so far.  Can you provide a screenshot?

[2015-10-06 07:15] haemi commented on #991
first image: iOS 7
second image: iOS 9

immediately after sending the message it is displayed correctly, but when I out and back into the conversation, I see the truncated one.

![img_0004](https://cloud.githubusercontent.com/assets/183958/10302234/a3acfa52-6c0a-11e5-8e5f-18554ad45ac1.PNG)
![img_5187](https://cloud.githubusercontent.com/assets/183958/10302233/a3a95398-6c0a-11e5-8ec8-2953d901f845.P

[2015-10-06 21:05] kmahal commented on #992
@dfinzer currently there is no way to do so.  Feel free to submit a pull request with the feature.

[2015-10-07 03:25] DevMoz commented on #986
@kmahal Thank you for your reply. Appreciated. Hopefully the following detail is helpful.

The problem seems mostly isolated to fresh installs.

I created 20 test conversations with a letter of the alphabet as the conversation title and an image of the letter as the associated avatar.

You can see in the first image (from a fresh install immediately upon launch) that some of the avatar images don'

[2015-10-07 06:49] khanhvu161188 commented on #912
@kmahal  sorry but it not work sir.
I'm trying another tool here https://github.com/jessesquires/JSQMessagesViewController
and it work. i'm checking what is different so that can fix on atlas. Sorry because i'm newbie on iOS , just work on backend side before so i didn't have more experience on objC for helping u

[2015-10-07 08:18] chlebta opened #994 "Customize conversationListViewController"
Hello,
Is there any SIMPLE, clear , way to create custom cell for conversationListView ?

In my opinion the current ListViewController dons't give you much possibility to customize it and it's too complicated. Also documentation is very poor.

[2015-10-07 14:04] alexmaie opened #995 "Show Participant initial until Avatar loads"
Hey,

I have changed the code from ATLAvatarImageView to show the initials of the participant until the avatar loads.

    - (void)setAvatarItem:(id<ATLAvatarItem>)avatarItem
    {
        if ([avatarItem avatarImageURL]) {
            self.initialsLabel.text = avatarItem.avatarInitials; //show initials for participant
           [self loadAvatarImageWithURL:[avatarItem avatarImageURL]];
      } e

[2015-10-07 16:50] kmahal commented on #995
@alexmaie Feel free to submit a pull request with the feature you'd like to see added.

[2015-10-07 19:39] alexmaie commented on #995
Hey,

I cloned the repository, added the code and wanted to push the code to a new branch in this repository in order to create the pull request.Is this the right way? Im getting permission error

[2015-10-07 19:49] kmahal commented on #995
@alexmaie you have to fork the repository to your own Github account.  Then on your branch you can submit a pull request to this repository.

[2015-10-07 20:17] alexmaie commented on #995
Hey,

I haved created the pull request. https://github.com/layerhq/Atlas-iOS/pull/997
I tried to run the tests locally, but the code is causing an exc_bad error. Also I see that all the latest builds have failed.

[2015-10-07 21:41] #995 closed

[2015-10-08 10:34] chlebta opened #998 "AutoLayout issue in conversationViewController"
Hello, When I send message I get this error :
[code]

[2015-10-08 18:42] kmahal commented on #998
Hi @chlebta this was fixed in: https://github.com/layerhq/Atlas-iOS/pull/993 and will be out in the next Atlas release.

[2015-10-08 18:42] #998 closed

[2015-10-08 20:08] kmahal commented on #991
@haemi feel free to submit a pull request if you have a solution to this issue as we cannot reproduce it.  As an aside, in the coming weeks we will be also be dropping official support for ios7 as we move to dynamic frameworks.

[2015-10-09 08:27] chlebta opened #1000 "Add inputAccessoryView to textInputView issue"
Hi,
I'm trying to add an accessoryView to messageInputToolbar in this way (Example ) :
[code]

But when I click on textField the keyboard is not appearing :
![sans titre](https://cloud.githubusercontent.com/assets/1204608/10389260/e1466740-6e67-11e5-8a65-98aa645daaea.png)

[2015-10-09 10:20] DanielsCode commented on #854
Hi,

I used Atlas 1.0.11 installed through cooapods. My development target is iOS 8.0 and I got similar warnings. How can I apply your fixes?

Attached my warnings:
![atlas_ios8warnings](https://cloud.githubusercontent.com/assets/10348190/10391577/1f6cd71c-6e80-11e5-8506-8631ef316429.png)

thanks for helping in advance

[2015-10-09 18:45] kmahal commented on #1000
@chlebta this goes beyond Atlas implementation, and is an iOS development question, as there are no Atlas specific constraints preventing this behavior (since our `ATLMessageInputToolbar` is just set as the view's `inputAccessoryView`.  I'm going to closes this out, but if it's on the simulator then click "toggle software keyboard" and that should show the literal keyboard.

[2015-10-09 19:04] chlebta commented on #1000
No, it's an issue with atlas implementation just try to add
inputAccessoryView to the atlas sample project and check if it work ?
I'm using device not simulator.

On Fri, Oct 9, 2015 at 7:45 PM Kabir Mahal <notifications@github.com> wrote:

[2015-10-11 04:29] UNLUCKYME opened #1005 "Images not being shown to the recipient when sent"
So when a user sends an image, the user can see the image they uploaded and subsequently sent, however the recipient CANNOT see the image, it's simply a grey box.

I've read about this issue elsewhere but I can't remember where. Any help?

[2015-10-11 05:05] kwkhaw commented on #1005
I guess u are referring to this issue. https://github.com/layerhq/Layer-Parse-iOS-Example/issues/15, related to auto-download size.

[2015-10-11 12:10] koptan commented on #954
No it's may bad , so thank you for closing this ticket .

[2015-10-11 17:26] UNLUCKYME commented on #1005
I believe so, where exactly do I add that code, I'm assuming in the objective c files but not sure where.

[2015-10-12 06:13] koptan opened #1006 "Slowness while scrolling"
Hi ,

 I am testing my App in iPhone 6 , but i am facing some slowness while scrolling especially when Text Cell will appearing even after latest update for "Cell Height Cashing"  .

So my question is there any trick I can do to speedup ??

[2015-10-12 08:34] chlebta commented on #1000
After digging into code , I found the function at **ATLBaseConversationViewController** which maybe the responsable of that inappropriate behavior :
[code]

So commenting, or removing, the code inside this function will allow keyBoard to appear with the inputAccessoryView but the messageToolbar will not scroll up when keyboard appear.

![sans titre](https://cloud.githubusercontent.com/assets/12046

[2015-10-12 10:06] chlebta commented on #912
@kmahal I've a hidden tabBar in `ConversationController`. The problem is that once the keyboard is displayed and then dismissed the `messageToolBar` is not anymore sticked to the bottom of screen :
![sans titre](https://cloud.githubusercontent.com/assets/1204608/10425614/daf94ad6-70d0-11e5-80dc-bbec74f8076c.png)

The space between the `messageToolBar` and `BottomView` is the hidden TabBar.

[2015-10-12 10:18] chlebta commented on #858
@kmahal I got this strange behavior :
![sans titre](https://cloud.githubusercontent.com/assets/1204608/10425809/887c68d6-70d2-11e5-96ca-494f740fb931.png)

As you can see the `messageInputToolbar` is not sticked to bottom of view it look like pinned to top of the hidden tabBar.
NS : This issue appear only after displaying then dismissing keyboard.

[2015-10-12 13:18] mgerdt commented on #249
any news on fixing the issue?

[2015-10-12 16:47] kmahal commented on #1006
@koptan We're still investigating ways of upgrading scroll performance.  A lot of main thread time is spent in updating constraints on ios9, and we're working on a solution for it.  We'll post an update here when we have more news.

[2015-10-12 17:30] kmahal commented on #1000
@chlebta That method is important to keep Atlas functional with the keyboard up, but your example is helpful to debug :).  If you use the default implementation, check the frame of your segmented control, as it may be on the same height as where the message input toolbar is, as they are both owned by the keyboard's window.  Either the OS should handle 2 input accessory views (one for the view, one

[2015-10-12 17:32] kmahal commented on #1005
Hi @UNLUCKYME when initializing your `LYRClient`, add the following autodownload mime types:
[code]

[2015-10-12 17:32] #1005 closed

[2015-10-12 23:11] kmahal commented on #986
@DevMoz try to debug this with just 2 conversations and looking at the `downloadTask` information to see if the cell is being updated incorrectly.  I'm not able to reproduce this so unfortunately can't be of more help here.

[2015-10-13 01:03] blakewatters commented on #249
Fixed. Atlas v1.0.12 has a dependency on LayerKit v0.17.0 which is distributed as a dynamic framework.

[2015-10-13 01:03] #249 closed

[2015-10-13 03:18] chenyuan commented on #249
tried to integrate with cocoapods, received similar error described here: http://stackoverflow.com/questions/32668723/atladdressbarviewcontroller-h-not-found-in-atlas-h

xcode 7 swift project. even tested in a brand new project, same issue

[2015-10-13 07:53] mgerdt commented on #249
Same here. Cocoapods 0.39
anything I might have missed?

[2015-10-13 10:43] chlebta opened #1011 "Atlas build error"
Hello,
When I try to run the example project I get this issue :

[code]

[2015-10-13 11:35] mladjan opened #1012 "Cocoapods installation fails with Realm together"
When you try to build last cocoapods version with Realm together, public headers for Atlas can't be found. When you remove realm, it works.
Realm itself, works fine.

After that, I installed only LayerKit using cocoapods, and installed manually Atlas, and project builds fine right now.

[2015-10-13 14:22] chlebta commented on #1000
I'm not very sure about that but this problem is caused by **    self.typingIndicatorViewBottomConstraint.constant = -keyboardHeight;
** line there's some sort of conflict between inputAccessoryView and typingIndicator.
Could you change this issue to bug to get some help :)

[2015-10-13 17:15] kmahal commented on #994
@chlebta in `ATLConversationListViewController.h`:
[code]
Create a custom `UITableViewCell` class that conforms to the `ATLConversationPresenting` protocol as show in the documentation.  The `rowHeight` is specified and can be changed if your custom cell requires a different height.

[2015-10-13 17:15] #994 closed

[2015-10-13 17:26] kmahal commented on #970
@charlespsdowd this issue was fixed in: https://github.com/layerhq/Atlas-iOS/pull/999.

[2015-10-13 17:26] #970 closed

[2015-10-13 18:28] maju6406 commented on #1011
We made a small tweak to the LayerKit cocoapod. Can you try removing the Podfile.lock and Pods folder and try running 'pod install' again?

[2015-10-13 18:29] maju6406 commented on #1012
We made a small tweak to the LayerKit cocoapod. Can you try removing the Podfile.lock and Pods folder and try running 'pod install' again?

[2015-10-13 19:02] kmahal commented on #942
@garhiggins commented on your PR.

[2015-10-13 19:03] kmahal commented on #982
@cashmash we just released `1.0.12` so this issue should be resolved.

[2015-10-13 19:03] #982 closed

[2015-10-13 21:14] mladjan commented on #1012
Tried, the same :|
Using Realm (0.93.2)
Using Atlas (1.0.12)

[2015-10-13 22:46] chenyuan commented on #249
@mgerdt yup, pod install has no issues, compiling does.

[2015-10-14 00:37] nsantorello commented on #1011
I have this same issue, tried removing Podfile.lock and rerunning `pod install` but still same error

[2015-10-14 11:04] chlebta commented on #994
I've created `UITableViewCell` conform to `ATLConversationPresenting` after That I've created subclass of `ATLConversationListViewController` now could you tell me what are required method to re-implements and how do I pass my custom cell to `ATLConversationListViewController` class

[2015-10-14 12:37] mgerdt commented on #249
Still can't install via cocoapods. Any hints?

[2015-10-14 12:38] damirstuhec commented on #249
Same here. The error is still `The 'Pods' target has transitive dependencies`.

[2015-10-14 14:02] jantos opened #1014 "ATLAddressBarViewController.h not found after latest pod update"
After running pod update this morning, I suddenly got the following error: ATLAddressBarViewController.h not found after latest pod update. Afterwards I deleted the podfile.lock file, the Pods folder and ran pod install:
dyld: warning, LC_RPATH @executable_path/../../../../../../../SharedFrameworks in /Applications/Xcode.app/Contents/SharedFrameworks/DVTFoundation.framework/Versions/A/../../..//DV

[2015-10-14 14:02] bradytate commented on #249
I was previously getting the same error.

Try including the following lines at the top of your Podfile:
source 'https://github.com/CocoaPods/Specs.git'
use_frameworks!
platform :ios, '8.0'

Because of dynamic frameworks, Layer no longer supports pre-iOS 8 so you also need to set your minimum target as 8.0. https://developer.layer.com/docs/ios/changelog

[2015-10-14 14:04] mgerdt commented on #249
Thanks, but that is already in my podfile. Still no luck.

[2015-10-14 20:54] DevMoz commented on #1014
+1

[2015-10-14 20:55] kmahal commented on #1014
we'll be releasing `1.0.13` shortly with a fix for this.

[2015-10-14 21:15] koptan opened #1017 "Keyboard Unexpected Behavior"
Hi ,

I am using ATLConversationViewController with NavigationViewController and if every thing look fine .

But when i am trying to close the ATLConversationViewController by sliding from left to right i am seeing a copy of keyboard is moving by him self to the right !!! .

If i am closing the ATLConversationViewController from "Back" button in NavigationViewController bar every think look fine .

[2015-10-14 22:10] maju6406 commented on #1014
@DevMoz @jantos 1.0.13 has been released.

[2015-10-14 23:06] DevMoz commented on #986
Thanks @kmahal. I reduced it down to two conversations and am still able to reproduce the issue:

![simulator screen shot oct 14 2015 3 53 36 pm](https://cloud.githubusercontent.com/assets/6776567/10500264/cd803aa6-728b-11e5-9c23-a10b3494635f.png)

I noticed with two conversations, `cellForRowAtIndexPath` in `ATLConversationListViewController` is called a total of four times. When it works normall

[2015-10-14 23:31] kmahal commented on #1017
Hi @koptan a fix was merged here: https://github.com/layerhq/Atlas-iOS/pull/1018

[2015-10-14 23:31] #1017 closed

[2015-10-14 23:32] kmahal commented on #1014
@jantos @DevMoz how is `1.0.13` looking?

[2015-10-14 23:32] DevMoz commented on #1014
@kmahal Yep, I got it working! Thank you!

[2015-10-14 23:33] #1014 closed

[2015-10-14 23:34] kmahal commented on #1012
@mladjan we just released a new Atlas `1.0.13`, let me know how it works now.

[2015-10-14 23:34] kmahal commented on #1011
@nsantorello we just released a new Atlas version, let us know how it works.

[2015-10-15 00:49] nsantorello commented on #1011
I am using these versions:
[code]

Installs successfully but fails to build if I include `use_frameworks!` in my Podfile.  Builds successfully without `use_frameworks!`.

[2015-10-15 01:00] kmahal commented on #1011
@nsantorello Good to know, we'll note that.  Thanks!

[2015-10-15 01:00] #1011 closed

[2015-10-15 07:20] koptan commented on #1017
@kmahal  thank you .

[2015-10-15 09:37] chlebta opened #1020 "MessageInputToolbar strange behavior with hidden tabBar"
Hello,
I've hidden tabBar in my app, when I open `conversationViewController` all looks good. Once keyboard dismissed then **messageInputToolBar** is displayed in wrong place :
![sans titre](https://cloud.githubusercontent.com/assets/1204608/10510064/90bf79ea-7328-11e5-8662-17ccaf84d789.png)

As you can see there's the inputToolbar is no more sticked to bottom of collectionView.
I get this message

[2015-10-15 09:41] chlebta commented on #1011
This solved my issue but now when I run my app it crash and I get this error :
[code]
normally it's related to **LayerKit (>= 0.17.0)**

[2015-10-15 10:18] hnchan commented on #249
I am also facing this problem.
The 'Pods' target has transitive dependencies....

[2015-10-15 10:18] chlebta commented on #912
@khanhvu161188 did you successed to layerKit with JSQMessagesViewController

[2015-10-15 10:28] chlebta commented on #250
@mkoppanen :+1: you saved my day got same issue and disabling `IQKeyboardManager` for my class solved my issue
[code]

[2015-10-15 10:29] #1020 closed

[2015-10-15 10:30] chlebta commented on #1020
The problem is caused `IQKeyboardManager` disabling it for my conversation class solved this issue
[code]

[2015-10-15 12:43] chapayGhub commented on #249
I changed my pod file
platform :ios, '8.0'
source 'https://github.com/CocoaPods/Specs.git'

use_frameworks!

pod 'Atlas'
pod 'LYRCountDownLatch'
pod 'LayerKit'
pod 'SVProgressHUD'
pod 'ClusterPrePermissions', '~> 0.1'

remove Podfile.lock and Atlas Messenger.xcworkspace
then run pod install

[2015-10-15 13:08] mladjan commented on #1012
Still the same problem with 1.0.13 :(

[2015-10-15 13:14] mgerdt commented on #249
Still 'The 'Pods' target has transitive dependencies that include static binaries: (...../Pods/LayerKit/LayerKit.framework)' ...

[2015-10-15 13:18] haemi opened #1021 "show image in fullscreen"
is it possible to tap on a sent/received image to display it in fullscreen mode?

[2015-10-15 18:06] maju6406 commented on #1021
Atlas lets you know if the image/cell was selected. It's then up to you to show the fullscreen dialog. Check out the `ATLMMediaViewController` used by Atlas-Messenger
https://github.com/layerhq/Atlas-Messenger-iOS/blob/master/Code/Controllers/ATLMConversationViewController.m#L225

[2015-10-15 18:06] #1021 closed

[2015-10-15 18:21] #980 closed

[2015-10-15 20:46] cashmash opened #1023 "Build Error: LayerKit 0.17.0 Atlas 1.0.13 Xode 7"
Getting this error since update:
- LayerKit 0.17.0
- Atlas 1.0.13
- integrated manually (not pods)
- XCode 7

Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_ATLPlayView", referenced from:
      objc-class-ref in ATLMessageBubbleView.o
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

any suggestions?
reinstal

[2015-10-15 23:02] charlespsdowd commented on #980
I did work out a solution for this. Just had to ship some stuff before getting the PR done.

Sent from my iPhone

--

This e-mail and any attachments are confidential and intended solely for
the addressee and may also be privileged or exempt from disclosure under
applicable law and the whims of any reigning monarch and associated
minions. If you are not the addressee, or the NSA, or CIA, or MIA, a

[2015-10-15 23:17] maju6406 commented on #1023
We might need to take a look at your project. Can you email it to support@layer.com? Reference this github issue.

[2015-10-15 23:57] kmahal commented on #942
merged a feature: https://github.com/layerhq/Atlas-iOS/pull/1022

[2015-10-15 23:57] #942 closed

[2015-10-16 00:00] kmahal commented on #991
@haemi with Atlas now released as a dynamic framework we no longer officially support ios7, so I will be closing this issue out.

[2015-10-16 00:00] #991 closed

[2015-10-16 04:26] MrMonkeyBrains opened #1024 "ATLConversationViewController doesn't show the messageInputToolbar"
I can't seem to get ATLConversationViewController to work. I've subclassed it myself and also tried the SampleConversationViewController with the same results.

Problem #1: When the view loads, the messageInputToolbar isn't displayed unless user scrolls up. After the user scrolls up, the messageInputToolbar is docked to the bottom of the view as expected.

~~Problem #2: User taps into field, keybo

[2015-10-16 04:48] kmahal commented on #1024
@MrMonkeyBrains is this occurring in the sample app in the Atlas project?   We are unable to reproduce.  Check your project for configuration issues.  Are you using an external keyboard?  As Atlas is open sourced, dig into the code and see what is setting the frame incorrectly, and feel free to submit a PR.

[2015-10-16 04:52] MrMonkeyBrains commented on #1024
Been trying to figure it out... I'm not an Obj-C expert.

Not using an external keyboard. Same result in the simulator and device.

Any chance you can point me to the right place in the code where I might start digging regarding where the initial location of the messageInputToolbar frame is located -- I couldn't find that in the code?

[2015-10-16 04:59] MrMonkeyBrains commented on #1024
@kmahal the sample app in the other repo doesn't work -- https://github.com/layerhq/Atlas-Messenger-iOS/issues/199 (few folks having trouble)

[2015-10-16 05:46] MrMonkeyBrains commented on #912
Has anyone successfully gotten Atlas' ATLConversationViewController to work as one of the views in a UITabBarController? This seems to be my problem as well.

[2015-10-16 05:47] MrMonkeyBrains commented on #1024
May be related to https://github.com/layerhq/Atlas-iOS/issues/912 as there are some errie similarities and I'm also using a UITabBarController with the conversation view as the first tab

[2015-10-16 05:50] MrMonkeyBrains commented on #1024
Problem #2 - the bouncing on keyboard dismiss - is solved by this: https://github.com/layerhq/Atlas-iOS/issues/1020

Still fighting through Problem #1

[2015-10-16 06:07] khanhvu161188 commented on #912
@chlebta actually i'm using jsqmessage now after lost many time with atlas!Atlas is good but it need to improve too much for bug fixing and performance!i'm hoping Atlas team will release newer version that resolve our problem
@MrMonkeyBrains what is your problem sir?You fade issues on input toolbar?

[2015-10-16 06:11] MrMonkeyBrains commented on #912
@khanhvu161188 I have my subclass of ATLConversationViewController as a tab in a UITabBarController (with the tab bar hidden). When the user swipes to the ConversationViewController, the messageInputToolbar is not visible. The user must swipe up to expose the messageInputToolbar.

Once the user swipes up, the messageInputToolbar is properly docked to the bottom of the view, even after sending a me

[2015-10-16 06:11] MrMonkeyBrains commented on #912
@khanhvu161188 I've uploaded a gif to show the issue (problem 1) here: https://github.com/layerhq/Atlas-iOS/issues/1024

[2015-10-16 06:17] khanhvu161188 commented on #912
@MrMonkeyBrains i don't remember exactly this bug but i saw it before!when i tried to debug, value of keyboard height should be 0 instead of 43px!

[2015-10-16 06:35] MrMonkeyBrains commented on #912
@khanhvu161188 ahhhh! been fighting with this for so long. i feel like i'm so close but i've tried to log and adjust keyboardheight everywhere i could find in the atlas code and i can't seem to get the toolbar to show up w/o swiping up. if you happen to remember any more of where to look in the code i'd really appreciate it.

[2015-10-16 07:48] chlebta commented on #912
@khanhvu161188 could you share that on Github, JSQMessage+Atlas, it will be great thanks.
Also, I totally agree with you Atlas is good but it needs more improvement and more support from layer team

[2015-10-16 07:50] chlebta commented on #912
@MrMonkeyBrains I got the same issue, you could fix it by disabling JQKeyboard for the conversationController

[2015-10-16 14:55] cashmash commented on #1023
my mistake, sorry, somehow the ATLPlayView.h and ATLPlayView.m where not added to the project while copying the folder -> no issue

[2015-10-16 14:55] #1023 closed

[2015-10-16 16:14] MrMonkeyBrains commented on #912
@chlebta I've tried disabling as well as removing IQKeyboard entirely - it fixes my 2nd problem (the bounce after hiding the keyboard) but not my 1st problem -- showing the input toolbar when the user gets to the conversation view

[2015-10-16 18:21] cashmash opened #1026 "App crash because failed to locate resources.bundle"
Hi,

so Layer + Atlas worked fine (iOS8+9, XCode 7, installed manually, not as a pod).
I updated to the newest Atlas + Layer versions.
When I switch from the ConversationListView to the ConversationView I get the following error:

Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Failed to locate `resources.bundle` in (null)'

crashing at:
ATLMessagingUtilities

[2015-10-16 18:50] cashmash commented on #1014
1) I cloned the iOS-Parse-Example project
2) I removed pods, lock, pods folder
3) i added back podfile and did pod install with the newest Atlas and Layer releases
4) getting ATLAddressBarViewController.h file not found error

Any suggestion?

[2015-10-16 20:03] maju6406 commented on #1026
Are you using the latest Atlas code? It looks like files are missing.

[2015-10-16 20:03] #1026 closed

[2015-10-16 20:21] cashmash commented on #1026
using the latest, and copied the "Code" and "Resources" folder

[2015-10-17 01:18] jantos opened #1030 "dyld: Library not loaded: @rpath/LayerKit.framework/LayerKit"
After running pod update the following error occurs when I run the app in the 6s simulator:

dyld: Library not loaded: @rpath/LayerKit.framework/LayerKit
  Referenced from: /Users/xxx/Library/Developer/CoreSimulator/Devices/4A0F5D59-E165-4258-AD9A-3B45B63660F9/data/Containers/Bundle/Application/BE97F76D-67A8-45AC-B668-51C40D5B5B6E/Layer-Parse-iOS-Example.app/Layer-Parse-iOS-Example
  Reason: image

[2015-10-17 05:10] chlebta commented on #912
If you are talking about inputAccessoryView i got same issue one I figure
the problem I Will informe you
On Fri, Oct 16, 2015 at 5:15 PM MrMonkeyBrains <notifications@github.com>
wrote:

[2015-10-17 21:10] cashmash commented on #1014
even with the newest Atlas 1.0.13 + Layer 0.17.0 I had the same problem.
I also had to add "${PODS_ROOT}/" recursive to the Header Search Paths.

[2015-10-18 08:50] koptan commented on #1006
Hi , @kmahal  ,

Any update on this topic ?

Thank you.

[2015-10-18 22:00] chlebta commented on #912
@khanhvu161188  any update please ?

[2015-10-18 22:20] MatthewAnthonyBordas commented on #1030
I faced this problem to. I fixed it with a combination of:
1) Target -> Build Settings -> Search Paths: Add "@executable_path/Frameworks"
2) Target -> Build Settings -> User Header Search Paths: Add "Pods/** - recursive"

[2015-10-18 23:04] MatthewAnthonyBordas commented on #968
I able to prefill the address bar controller with this line of code in my ConversationViewController:
self.addressBarController.selectedParticipants = [NSOrderedSet orderedSetWithObject: _personObject];

Where _personObject is a property declared as: @property (strong, nonatomic) PFUser *personObject;

[2015-10-18 23:07] MatthewAnthonyBordas opened #1031 "Placeholder label being removed on presentation ios 9: ConversationViewController"
![atlaserror](https://cloud.githubusercontent.com/assets/7369954/10567224/4a5aba14-75b2-11e5-99ea-14b374d1e89b.gif)

The first time the ConversationViewController is presented the UI looks perfect, then from the second time that view controlled is presented and onwards the placeholder label, that is a subview of ATLComposeTextView, that says "Enter Message" keeps disappearing and reappearing on pr

[2015-10-18 23:16] MatthewAnthonyBordas opened #1032 "ConversationViewController ios 9: CollectionView Content Inset incorrect"
![screen shot 2015-10-18 at 4 15 04 pm](https://cloud.githubusercontent.com/assets/7369954/10567263/8224f22e-75b3-11e5-804c-c1bf7a99bb82.png)

![img_1321](https://cloud.githubusercontent.com/assets/7369954/10567267/94cee858-75b3-11e5-87f5-85f9ad91d50d.png)

I fixed this in my own code by setting the content inset of the top to 60, but I just wanted to make sure everyone got the fix too.

[2015-10-19 04:46] MrMonkeyBrains commented on #912
Ok... the issue appears to stem from an issue with UIPageViewController when using Scroll type.

Use this drop-in replacement for UIPageViewController and it appears to work well: https://gist.github.com/paul-delange/5582394

[2015-10-19 04:47] MrMonkeyBrains commented on #1024
Appears to be an issue with UIPageViewController. Replaced with this drop-in replacement and things seem to be working: https://gist.github.com/paul-delange/5582394

[2015-10-19 04:47] #1024 closed

[2015-10-19 06:11] khanhvu161188 commented on #912
@chlebta  sorry for late response sir. Actually our project here is private project so we cannot share too much cause of NDA contract. I will try to release another version on github later when i have enough free time

[2015-10-19 09:20] charlespsdowd commented on #980
https://github.com/layerhq/Atlas-iOS/pull/1033

[2015-10-19 16:22] lossefanya commented on #1014
I'm using Layer 0.17.0 without Atlas. And I have same problem. So I suppose this  is a problem of LayerKit. Any help please?

[2015-10-19 16:58] kmahal commented on #1032
@MatthewAnthonyBordas feel free to submit a PR for this issue.

[2015-10-19 17:01] kmahal commented on #1031
@MatthewAnthonyBordas we've seen this issue in ios8 and before as well.  Thanks for noting.

[2015-10-19 18:04] hschmied commented on #1030
Same problem here. Happened after updating...
- LayerKit from 0.16.0 > 0.17.0
- Atlas from 1.0.11 > 1.0.13

Matthew's fix didn't work for me.

[2015-10-19 18:10] hoan commented on #1030
I have the same issue, even with Matthew's fix, using the latest Atlas & LayerKit, targeting 8.0

[2015-10-19 20:07] EvgenKor commented on #1030
+1

Same issue. LayerKit was installed manually (without CocoaPods).
xCode 7.0.1, iOS SDK 9.0, deployment target 8.0 (was 7.0, but LayerKit require 8.0)

[2015-10-19 20:17] EvgenKor commented on #1030
Hey, I found solution for my issue! Try to add "@executable_path/Frameworks" to the "Runpath Search Path" property at Build settings.

Sorry for my bad English :)

[2015-10-19 22:16] hoan commented on #1030
I already have that in my "Runpath Search Path", still not working :(

I'm also using Xcode 7.0.1, iOS SDK 9.0, deploying to iOS 8.0

:(

[2015-10-19 22:19] kmahal commented on #1030
@hoan what version of cocoapods are you using?  You must be on `0.39.0` or newer.

[2015-10-19 22:25] maju6406 commented on #1030
This may help:
https://support.layer.com/hc/en-us/articles/206166713-I-m-getting-a-Reason-image-not-found-error-when-I-run-my-app-What-s-happening-

Long story short, if you're running cocoapods, you need to make sure you're running v0.39 or higher. If you're not running cocoapods, there's a new build "Copy File Phase to Build Phases" step described here

https://support.layer.com/hc/en-us/article

[2015-10-19 22:25] #1030 closed

[2015-10-19 22:26] hoan commented on #1030
I'm on 0.38.2. When I upgrade to 0.39.0, it fucks up the AWS pod :(

I will try the other method you have linked! Thanks!

[2015-10-19 22:31] hoan commented on #1030
It has worked so far where the dydl doesn't fail

However having an issue with the resources when I try to load a conversation view controller:

*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Failed to locate `resources.bundle` in (null)'

Almost there, thanks for the help

[2015-10-19 22:33] bradytate commented on #1014
@lossefanya I believe it could not be the same issue as ATLAddressBarViewController.h is a class that is specific to Atlas (hence the 'ATL' pre-fix). If you are not using Atlas you shouldn't get any errors about a missing Atlas class.

[2015-10-19 22:47] hoan commented on #1030
Ok that resources.bundle was because I was adding Atlas manually..

[2015-10-19 23:24] jantos commented on #1030
After upgrading cocoapods to 0.39.0 I am still encountering the same issue. I also added the other suggestions from above, but no luck so far.

[2015-10-19 23:59] jantos commented on #1030
The only way how everything works for me at the end is if I follow the last step (Add Copy File Phase to Build Phases) from this link https://support.layer.com/hc/en-us/articles/204256740-Can-I-use-LayerKit-without-Cocoapods-.

[2015-10-20 00:26] mike-maws opened #1034 "Crash on ATLConversationViewController.m:1093, Atlas 1.0.11"
Hi guys, really love what you've done on with this nice peace of software, unfortunately, i'm having an issue though, while trying to send a message on a conversion that already exists, the following exception is returned =>

Crashed: com.apple.main-thread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS at 0x0000000000000000

Thread : Crashed: com.apple.main-thread
0  libdispatch.dylib              0x00000001

[2015-10-20 02:48] emkman commented on #1014
I am still having this issue with Atlas 1.0.13 + Layer 0.17.0 + CocoaPods 0.39.0 after cleaning and building.
Happy to post my Podfile.lock if that helps.

[2015-10-20 02:52] emkman commented on #1014
Temporary fix was similar to @cashmash 's suggestion. I went to Header Search Paths in Build Settings. An entry for `"${PODS_ROOT}/Headers/Public/Atlas"` already existed, and I had to switch it from non-recursive to recursive. This is the only Pod that I had to do this for.

[2015-10-20 09:25] lossefanya commented on #1014
I found solution for my problem. it was putting "use_frameworks!" in podfile. I learned that I shouldn't miss your changelog https://developer.layer.com/docs/ios/changelog

[2015-10-20 17:36] maju6406 commented on #1034
Are you using the latest Atlas and LayerKit? If not you should update.

[2015-10-20 17:44] maju6406 commented on #1034
If you continue to have the same issue, let us know the line where the exception is being thrown. Thanks!

[2015-10-20 21:33] bharv410 commented on #1014
@emkman 's solution fixed the problem for me

[2015-10-21 00:30] ksylvest commented on #974
@maju6406 I experienced the same issue when integrating Atlas into my own project. I created a brand new Xcode project (only pods are Atlas and LayerKit) and uploaded it here: http://cl.ly/3l2Y3x1Z1D15.

Other pods are fine. What's the preferred way to import Atlas (`#import <Atlas/Atlas.h>`)? Is this due to  the Atlas pod's headers all living in directories (i.e. /Controllers /Models, /Protocols,

[2015-10-21 21:02] KristopherGBaker opened #1037 "Include of non-modular header inside framework module 'Atlas.ATLConversationViewController'"
I'm getting the following error:
.../Pods/Atlas/Code/Controllers/ATLConversationListViewController.h:23:9: Include of non-modular header inside framework module 'Atlas.ATLConversationListViewController'

I'm using Xcode 7.1, CocoaPods 0.39 with frameworks enabled (use_frameworks!), and it's a Swift iOS project.

This is the Podfile:
source 'https://github.com/CocoaPods/Specs.git'

use_frameworks!

[2015-10-22 08:31] constantineSafronov opened #1038 "Can't build example project"
http://prntscr.com/8tz6l3

[2015-10-22 09:39] #1038 closed

[2015-10-22 11:17] haemi opened #1039 "set LYRMessageOptionsPushNotificationConfigurationKey when subclassing ATLConversationViewController"
I subclass the ATLConversationViewController, now I only get silent push notifications when a message is sent.

How can I set the LYRMessageOptionsPushNotificationConfigurationKey when subclassing ATLConversationViewController?

[2015-10-22 13:10] haemi commented on #1037
do you have a bridging header file as well? If yes, how does it look like?

[2015-10-22 15:58] magneticorb commented on #1034
Hey guys, I've been having a crash here on Atlas 1.0.11 - updated to Layer 0.17.0 and Atlas 1.0.13 today and haven't had it occur yet, but I'm not 100% that it's been fixed as there haven't been any changes to that particular method in the last few versions.

My crash report is that it happened on line 1187 (on Atlas 1.0.11), which is line 1200 on 1.0.13 (the start of the collection view batch upd

[2015-10-22 17:20] KristopherGBaker commented on #1037
No bridging header.  I first ran into this issue yesterday after upgrading to Xcode 7.1 and trying to run my main project (which does have a bridging header along with other pods).  To try and pinpoint the issue, I created a new Xcode project with only LayerKit, Atlas, and Realm in my Podfile (and no bridging header).  In the default ViewController that was created with the new project, I added
[c

[2015-10-22 18:04] love4soul commented on #1012
I have the same problem

[2015-10-22 18:33] maju6406 commented on #1039
You can customize the Push notifications by overriding the messagesForMediaAttachments method. Here's some example code
[code]

[2015-10-22 21:04] emkman commented on #1014
@bharv410 glad to here.

In my case, we are not using Swift and not using the "use_frameworks!" directive. I have had to make this same recursive paths change to the LayerKit pod as well. Seems like there is still an outstanding problem here. cc @kmahal

[2015-10-23 17:31] oferRounds opened #1040 "ATLMessageComposeTextView: control placeholder&text font"
As far as I see, they are always get overrided with the system font, on its init method.

[2015-10-23 20:12] oferRounds opened #1041 "ATLTypingIndicatorViewController: allow to select showing only first name"

[2015-10-25 10:32] chenyuan commented on #1037
same issue here. i created a simple project with Xcode 7.1 https://github.com/layerhq/Atlas-iOS. Bridging header file is included, but doesn't help.

Using same Podfile in a objc project has no issue though.

[2015-10-25 20:18] MatthewAnthonyBordas commented on #1031
Where can I override that functionality to allow the label to be drawn sooner?

[2015-10-25 20:51] KristopherGBaker commented on #1037
This issue may be related to https://github.com/CocoaPods/CocoaPods/issues/4420

[2015-10-26 08:01] chlebta commented on #912
@khanhvu161188 No problem sir,  can you provide me with your contact information I got some question if you don't mind.

[2015-10-26 17:40] kmahal commented on #1034
@magneticorb There are internal optimizations made in `LayerKit` that ultimately control the data source.  I'm going to close this issue out, but if it arises on `1.0.13` Atlas on `0.17.0` LayerKit then we can re-open this.

[2015-10-26 17:40] #1034 closed

[2015-10-26 17:47] kmahal commented on #1037
@KristopherGBaker try taking `LayerKit` out of your Podfile.  `Atlas` has a `LayerKit` dependency and installs it directly.  Additionally, with the `0.17.0` `LayerKit` release on Atlas `1.0.13` the libraries are built as dynamic frameworks, no longer static which can cause some of these issues.  Try a fresh pod file install and let us know how it goes.

[2015-10-26 23:13] chenyuan commented on #1037
@kmahal thanks for pointing out some advices, I tried what you said (https://github.com/chenyuan/AtlasSwift), but I'm still getting errors like:
Include of non-modular header inside framework  module 'Atlas.ATLConversationListViewController'...

@KristopherGBaker how did you go with your fixing? i know it's open sourced we can't ask too much, but it's just a bit frustrating

[2015-10-27 02:45] KristopherGBaker commented on #1037
@chenyuan I just modified the version of ATLConversationListViewController.h installed by cocoapods into my workspace/project so it includes ```@import LayerKit;``` (requires unlocking the file).  This works for me for now.  I think the underlying issue is with the CocoaPods issue I referenced earlier.

[2015-10-27 03:00] KristopherGBaker commented on #1037
@kmahal I still get the same issue after removing LayerKit from my Podfile and doing a fresh pod install.  My guess is that the issue will end up getting fixed with CocoaPods #4420.

@chenyuan I created a separate branch that shows what I'm doing to get around the issue for now.  https://github.com/KristopherGBaker/LayerTest/tree/working-import - in particular, see
https://github.com/KristopherGBa

[2015-10-27 20:16] blakewatters commented on #1037
@KristopherGBaker @chenyuan Can you try `pod ‘Atlas’, :head` in your Podfile? I have switch to `@import LayerKit;` statements on master and I’m no longer seeing build issues. If you can sanity check my work we’ll look at getting a tagged release pushed asap

[2015-10-27 20:21] KristopherGBaker commented on #1037
@blakewatters ```pod ‘Atlas’, :head``` works for me with no build issues.

[2015-10-27 20:28] blakewatters commented on #1037
:boom:

[2015-10-27 20:37] blakewatters commented on #1037
Fixed in Atlas v1.0.14

[2015-10-27 20:37] #1037 closed

[2015-10-27 20:40] blakewatters commented on #1012
Fixed in Atlas v1.0.14

Verified with: Xcode 7.1, CocoaPods 0.39.0, LayerKit 0.17.0, Atlas 1.0.14, Realm 0.96.2 in a Swift 2 project

[2015-10-27 20:40] #1012 closed

[2015-10-27 22:23] chenyuan commented on #1037
all good now, thanks a lot guys.

[2015-10-28 09:28] chlebta commented on #801
Sorry but how to detect the  long click, `didSelectMessage` work for normal click only

[2015-10-28 17:20] kmahal commented on #1040
@oferRounds feel free to submit a PR for this fix if you have one.

[2015-10-29 00:31] sara-shokry commented on #1039
Error when try to declare LYRPushNotificationConfiguration *defaultConfiguration = [LYRPushNotificationConfiguration new];
"used of undeclared identifier LYRPushNotificationConfiguration"

[2015-10-29 07:25] ksylvest opened #1043 "Unsure of Proper Way to Create a Conversation with a Participant"
I'm trying to find a reliable way to create a conversation with a specific recipient. My current code for doing this is:

[code]

However this doesn't seem to work as I'd expect. If I run it on my simulator then send a message and subsequently run it on my device I get conversations with different `identifier` values (and messages don't appear between them). In addition - push notifications only s

[2015-10-30 09:36] dippigu opened #1044 "Error "Module LayerKit not found" after upgrading to Atlas 1.0.14 & LayerKit 0.17.0"
After performing a pod update and updating to Atlas 1.0.14 & LayerKit 0.17.0, using Xcode 7.1, I am seeing error "Module LayerKit not found" on line 22 of ATLMessagingUtilities.h, <code>@import LayerKit;</code>

Same error in Xcode 6.4, and Xcode 7.2B.

[2015-10-31 00:03] #1043 closed

[2015-11-01 00:26] Kfoury opened #1045 "ATLParticipantTableViewController: Selected cells are gone after user utilizes search"
Hi,
I'm presenting ATLParticipantTableViewController for the user to pick participants to start a new conversation. I'm implementing the search and the didSelectParticipant delegate methods. Everything works fine.
The problem arises when the user selects one or more cells (cells become highlighted) after which the user utilized the ATLParticipantTableViewController search tool. Once the user exist

[2015-11-01 18:44] bradytate commented on #1037
1.0.14 Seems to cause build errors for me whereas 1.0.13 did not. Opposite of the problem described above. Does Layer/Atlas need to be included in the bridging header even if they are not used with any swift classes?

[2015-11-01 19:07] MatthewAnthonyBordas commented on #1044
I am having the same issue!

[2015-11-01 19:14] bradytate commented on #1044
I am also having this issue. For the time being I have adjusted the podfile like this:
`pod 'Atlas', '< 1.0.14'`
This is only temporary for now until I can figure out why v1.0.14 causes build errors.

[2015-11-02 15:15] nicebag commented on #1034
We are still seeing this using Layer `0.17.0` and Atlas `1.0.13` with crashes in two places:

1. `ATLConversationListViewController.m : queryControllerDidChangeContent`
2. `ATLConversationViewController.m : queryControllerDidChangeContent`

We cannot reproduce it in our tests, but our users are quite successful in crashing the app with those errors reported.

[2015-11-02 15:46] magneticorb commented on #1034
@nicebag @kmahal - We're also still seeing this crash at the same places and using the same versions.

[2015-11-03 03:03] emkman commented on #1044
Same problem. Possibly a continuation of https://github.com/layerhq/Atlas-iOS/issues/1014?

[2015-11-03 08:31] piotrbernad commented on #1044
+1

[2015-11-04 11:41] DmitryBulaienko commented on #1044
just put  **use_frameworks!** to the top of your podfile.
'LayerKit 0.17.0 introduces support for distributing LayerKit as a dynamic framework' - from here
https://developer.layer.com/docs/ios/changelog

[2015-11-04 11:46] DmitryBulaienko commented on #1044
the one thing that's really frustrating me is that **use_frameworks!** can't be applied just for one concrete pod.

[2015-11-04 13:11] JeanLebrument commented on #1026
Same problem here. @cashmash @maju6406

[2015-11-04 18:51] christ776 commented on #747
Hi, I'm having exactly the same issue.

[2015-11-04 18:59] christ776 commented on #1034
Hi I'm having the same issue with Layer 0.17.0 and Atlas 1.0.13

[2015-11-04 20:15] bradytate commented on #1044
`use_frameworks!` at the top of the podfile does not resolve this issue for us.

[2015-11-04 22:38] dippigu commented on #1044
use_frameworks! doesn't resolve for me, either.

I've had to roll back to 1.0.13 for now to continue development.
@kmahal any comment or update on this issue, please?

[2015-11-05 05:26] emkman commented on #1044
is use_frameworks! even an appropriate option if we aren't using swift?

[2015-11-05 12:08] kradenkov commented on #910
Kindly ask you confirm that Atlas still suport iPhone only. I've received geometry warnings while executing Layer-Parse_Sample in Universal device mode.

[2015-11-05 17:10] Stakenborg opened #1046 "Fast entry causes crash"
ATLConversationViewController.m line 1200
    -[ATLConversationViewController queryControllerDidChangeContent:]

We're noticing in our app that fast data entry can cause crashes on Atlas.

Something similar to the following:

    Fatal Exception: NSInternalInconsistencyException
    Invalid update: invalid number of sections. The number of sections contained in the collection view
    after the up

[2015-11-05 18:55] cashmash commented on #1046
same:
1) share location
2) type couple texts and click send
3) send image

If you do it fast enough sometimes it crashes.

[2015-11-05 23:57] kcoleman731 commented on #1045
Hi @Kfoury. I just tested this out myself. I can successfully select multiple cells, search, cancel, and cell selections remain in tact.

Is there something else your code might be doing that could force a table view reload?

[2015-11-06 00:06] kcoleman731 commented on #1044
@dippigu @bradytate adding `use_frameworks!` to your podfile should resolve this issue.

Unfortunately, switching from static to dynamic frameworks with CocoaPods has created some issues projects. Would you mind doing a `pod deintegrate` ((info on adding this command here)[https://github.com/CocoaPods/cocoapods-deintegrate] ) and then `pod install` with `use_frameworks!`?

Let me know if that solv

[2015-11-06 00:08] kcoleman731 commented on #1044
@emkman yes it is an appropriate option. It simply tells cocoapods that you want all of your deps to be built as dynamic frameworks.

[2015-11-06 00:08] kcoleman731 commented on #1041
@oferRounds please elaborate on what you are looking for here.

[2015-11-06 00:09] kcoleman731 commented on #1039
@sara-shokry what version of LayerKit are you using?

[2015-11-06 00:09] kcoleman731 commented on #1039
@haemi all set?

[2015-11-06 00:29] jeffdgr8 commented on #1044
@kcoleman731 Unfortunately `use_frameworks!` does not work in our case. It makes no difference. I tried `pod deintegrate` and then `pod install` and it made no difference. I don't know if it has anything to do with the fact that we have 14 other pods in our podfile. But clearly the issue is not resolvable with this workaround for everyone.

[2015-11-06 00:34] kcoleman731 commented on #1031
@MatthewAnthonyBordas You can't. The message composer is set as the `inputAccessoryView` for the controller's view. It has some very strange undocumented behavior is iOS8 which we have tried to deal with a few times. The toolbar gets set as the view in `viewDidLoad` and the text is set in the toolbars `init` method.

If you want to try tackling this yourself, feel free have a look at the `ATLMessa

[2015-11-06 00:35] kcoleman731 commented on #992
Closing as this is a feature request and not an issue.

[2015-11-06 00:35] #992 closed

[2015-11-06 00:36] kcoleman731 commented on #986
@kmahal any updates on this?

[2015-11-06 16:46] cashmash opened #1047 "Video and Images: Issues and Featurerequests"
Just to keep it on notice:

1) Issue: Videos can be sent but not played
2) Feature request: add option to choose between image support or video support or both (pull request?), right now it has both by default
3) Feature request: add imageviewer: image cannot be viewed right now (pull request?)

[2015-11-07 10:49] MatthewAnthonyBordas commented on #986
I am also experiencing this same issue with incorrect avatar images showing in the conversation list view!

[2015-11-07 15:16] oferRounds opened #1048 "Add Gif sending support"
If I understand right, the service does not support it. Correct me if I'm worng.

For example, I tried to send a gif using the iOS keyboard PopKey + GIF Keyboard (https://itunes.apple.com/us/app/popkey-animated-gif-keyboard/id919359310), but if failed even to paste it in the input view.

GIF becomes more and more popular - I think it's very important to add this support.

[2015-11-07 20:41] MatthewAnthonyBordas commented on #1031
Dang ok thank you! I will try haha

[2015-11-07 20:41] MatthewAnthonyBordas commented on #1032
@kmahal Ok thanks!

[2015-11-09 01:31] sara-shokry opened #1049 "refresh participants list in ATLParticipantTableViewController"
I can't use refresh control to refresh participants list after view presented.
 reason: 'Cannot change participants after view has been presented'
So if user want to refresh or update his list should leave screen!!!!

[2015-11-09 03:58] nishantdongare commented on #1044
+1

[2015-11-09 04:23] nishantdongare commented on #1011
i tried everything mentioned above. But not able to solve it. Still facing the same issue.
platform :ios, '8.0'

use_frameworks!

inhibit_all_warnings!
pod 'Atlas', '< 1.0.14'
pod 'LayerKit', '>= 0.17.0'

My Pod file.

[2015-11-10 01:13] yuanjinhai commented on #1026
Same problem here, how can I fix it???

[2015-11-11 10:04] chlebta commented on #1000
@kmahal Any update about this issue ?

[2015-11-11 10:36] constantineSafronov opened #1052 "Crash while photo upload. Crash is 100% reproducible."
1. Chose photo to upload.
2. Minimaze the app while it is being loaded.
3. Open the app. Crash.

[2015-11-11 10:40] koptan opened #1053 "Adding Activity indicator when pressed on location button"
it's taking around 5 sec to add location cell in Collection view .

So the user is thinking is not working so he is keep pressing, so kindly please can you add Activity Indicator when user pressed on location button .

[2015-11-11 18:46] JRam13 commented on #1006
You can add
[code]
To ``` - (UICollectionViewCell *)collectionView:(UICollectionView *)collectionView cellForItemAtIndexPath:(NSIndexPath *)indexPath``` for a slight performance improvement. Just be careful when implementing this.

[2015-11-11 19:41] kmahal commented on #1044
HI @jeffdgr8 can you show us a copy of your `Podfile`?  With more information we can dig into this issue and get it resolved.

[2015-11-11 19:52] blakewatters commented on #1044
We believe that the problem here was addressed with LayerKit v0.17.1 but the Atlas podspec was not updated to depend on that specific version. Can you try updating to Atlas v1.0.15 (which I just pushed to CocoaPods to see if that straightens things out)?

[2015-11-11 22:29] kmahal commented on #1049
@sara-shokry Atlas is modeled after iMessage behavior.  The participant list must be known before presenting the controller, which the application can do by pre-fetching before presenting the controller.

[2015-11-11 22:29] #1049 closed

[2015-11-11 22:35] kmahal commented on #1048
@oferRounds atlas supports sending GIFs by default already. https://github.com/layerhq/Atlas-iOS/blob/master/Code/Views/ATLMessageCollectionViewCell.m#L141

[2015-11-11 22:35] #1048 closed

[2015-11-11 22:38] kmahal commented on #1047
@cashmash 1 and 3 are features your application should handle, not Atlas.  Look at the Atlas Messenger project for examples.  For 2, feel free to submit a pull request for this.

[2015-11-11 22:38] #1047 closed

[2015-11-11 22:43] kmahal commented on #1006
@koptan we had performance improvements here: https://github.com/layerhq/Atlas-iOS/pull/1036.  Please test again and let me know how it feels, and we can re-open this issue.

[2015-11-11 22:43] #1006 closed

[2015-11-11 22:43] kmahal commented on #1046
@Stakenborg we're looking into this and will get back to you.

[2015-11-11 22:46] oferRounds commented on #1048
@kmahal thanks for your answer. Questions: have you tried to use one of the iOS GIF keyboard with Atlas? Because, as I said, it doesn't work (at least for me). Tested it with: iOS keyboard PopKey + GIF Keyboard.

[2015-11-11 22:56] kmahal commented on #1053
@koptan feel free to submit a pull request for a feature you'd like to see.  We wouldn't want to add an activity indicator to the right accessory button as it does not mimic iMessage functionality and feeling.  You can manually prevent messages from being sent by implementing the delegate `conversationViewController:messagesForMediaAttachments:` and checking for the case when someone is sending lo

[2015-11-11 22:56] #1053 closed

[2015-11-12 01:16] jeffdgr8 commented on #1044
@blakewatters v1.0.15 has the same issue. We are adding the LayerKit pod explicitly and had already been using v0.17.1.

@kmahal this is our Podfile:

[code]

[2015-11-12 01:21] jeffdgr8 commented on #1044
Not sure if it matters, but our project consists of both Objective-C and Swift code.

[2015-11-12 04:37] edwardmarks commented on #1044
@jeffdgr8 @dippigu

I ran into this issue and I solved it by updating Cocoapods (`gem update cocoapods`) and running `pod update`. I was on version 0.38.0 and the latest 0.39.0 fixed my issue.

[2015-11-12 04:42] jeffdgr8 commented on #1044
@edwardmarks I'm on version 0.39.0 already. Thanks.

[2015-11-13 06:40] immexerxez commented on #1044
anything new about this? still having this issue tried all the work arounds so far but haven`t gotten a single one to work.

[2015-11-13 22:09] JRam13 commented on #1053
To be fair, this functionality in no way mimics iMessage. In iMessage, you have to navigate out of chat, guaranteeing you only tap that button once. However, I understand this is low priority for you guys.

Should be reconsidered nonetheless.

[2015-11-13 22:12] JRam13 commented on #1053
@koptan You can disable the button when first tapped, re-enabling it after the message is sent. Again, not ideal, but should work.

[2015-11-14 19:48] oferRounds commented on #1048
@kmahal?

[2015-11-14 19:49] oferRounds opened #1055 "iOS keyboard PopKey + GIF Keyboard doesn not work with Atlas"
It's not possible to paste the GIf to the input view

[2015-11-16 19:39] cashmash commented on #1047
ahh thx @kmahal

[2015-11-16 22:40] kmahal commented on #1055
@oferRounds we do not guarantee Atlas can work with every 3rd party library.  If you find a fix for this feel free to submit a PR.  I'm closing this one out until then.

[2015-11-16 22:40] #1055 closed

[2015-11-16 22:42] kmahal commented on #1048
@oferRounds we have not, internally.  The encoding and media type at hand is important.  Check out `ATLMediaAttachment` to see how we create a GIF (and how they are stored as UIImage references).  Feel free to submit a PR for a fix, but we wouldn't accept a 3rd party library specific implementation.  That would be best kept to your own fork.

[2015-11-17 00:10] DevMoz commented on #1046
+1 Noticing this same crash immediately when app becomes active. Same line number.

[2015-11-17 00:36] kmahal commented on #1046
@Stakenborg we have a fix for this coming out in our next `LayerKit` point release.

[2015-11-17 18:26] kmahal commented on #1052
@constantineSafronov This issue is not reproducible on our side.  What exception is being thrown here?  Paste your call stack and we can see what's going on.

[2015-11-17 18:27] kmahal commented on #1046
@Stakenborg Layerkit `0.17.2` has been released.  Please upgrade your `LayerKit` to this version and let me know if you are still running into this issue.

[2015-11-17 18:27] kmahal commented on #1045
@Kfoury any updates on this item?  If not I'll close this ticket out.

[2015-11-17 18:28] kmahal commented on #1041
@oferRounds feel free to submit a PR for this feature.  I'm going to close this ticket out as it's a feature request.

[2015-11-17 18:28] #1041 closed

[2015-11-17 18:29] #1040 closed

[2015-11-18 07:14] #1039 closed

[2015-11-18 07:19] #1031 closed

[2015-11-18 07:35] kmahal commented on #926
@mohammedDehairy I was able to get a transparent background working correctly with:
[code]
I'm going to close this ticket out.  We can re-open it if there are further Atlas specific issues.

[2015-11-18 07:35] #926 closed

[2015-11-18 07:37] kmahal commented on #968
@dfinzer I'm going to close this issue out and comment on the PR directly.

[2015-11-18 07:37] #968 closed

[2015-11-18 07:38] kmahal commented on #912
@khanhvu161188 I'm going to close this issue out as we are not able to reproduce this issue, and we do not provide support for 3rd party keyboards.  Let me know if there are an other Atlas specific issues or if you have a PR to fix any other behavior and we can re-open this issue.

[2015-11-18 07:38] #912 closed

[2015-11-18 07:39] kmahal commented on #913
Hi @ntnmrndn is this still an issue?  Reviewing older tickets and came across this.  Please let me know, thanks.

[2015-11-18 07:42] kmahal commented on #1032
@MatthewAnthonyBordas this should have been fixed in the last release.  Let me know if you're still seeing this issue.  If not we can close this ticket out.

[2015-11-18 07:43] kmahal commented on #1000
@chlebta feel free to submit a pull request with any improved functionality you'd like to see.  We haven't been able to look into it too deeply but I can update you when we do.

[2015-11-18 07:45] kmahal commented on #867
Hi @ntnmrndn apologies for the very late reply on this.  Are you still running into this issue?  A lot of `LayerKit` functionality has changed since this was first opened up.  Let us know and we can work through it.  Thanks!

[2015-11-18 08:32] ntnmrndn commented on #913
I'm not sure about it. We subclassed everything so this is not an issue for us anymore.

[2015-11-18 08:34] ntnmrndn commented on #867
Nope, we don't have this problem anymore.

[2015-11-18 18:05] #867 closed

[2015-11-18 18:34] marcshilling opened #1056 "Constraints breaking upon pushing conversation view"
As far as I can tell, the view display is not impacted, but this gets logged:

[code]

[2015-11-18 19:33] Stakenborg commented on #1046
Unfortunately I can't get the newest update to work for a variety of issues, one related to [#1014](https://github.com/layerhq/Atlas-iOS/issues/1044). Some of my pods don't support `use_frameworks!` properly, and if I don't use that, newer versions of Atlas won't build, so I'm just using an older version until I find a way to deal with it.

[2015-11-18 22:39] DevMoz commented on #1046
@kmahal this seems to have resolved the issue for my implementation at least. Thanks!!

[2015-11-18 22:47] kmahal commented on #1046
@Stakenborg you can also manually install `Atlas` by downloading the latest version from master and dragging the files into your project.  I'm going to close this issue out for now since it's improved for you @DevMoz thanks.

[2015-11-18 22:47] #1046 closed

[2015-11-20 16:29] aenhsaihan commented on #1056
I'm not sure if I have the same exact problem, but I get a similar error when I receive images:

[code]

[2015-11-21 17:06] cshah3 commented on #1044
Issue still exists on v1.0.15.

[2015-11-22 00:36] MatthewAnthonyBordas commented on #986
@kmahal ?

[2015-11-22 00:45] MatthewAnthonyBordas commented on #1032
It appears to be fixed but at the expense of the appearance because now the messages noticeably drop down upon presentation
![contentinset](https://cloud.githubusercontent.com/assets/7369954/11321337/37f57cce-906f-11e5-8383-2b0efadac0c2.gif)

[2015-11-22 16:04] DevMoz opened #1057 "Crash when searching for conversation"
Hello,

I'm experiencing a crash that only happens on the version of my app available through Test Flight.

When I search for a conversation in the ConversationListViewController, then tap on a search result to transition to the ConversationViewController, the app crashes and Crashlytics pinpoints it to: `- (void)queryControllerDidChangeContent:(LYRQueryController *)queryController` line 451: `[se

[2015-11-23 16:01] marcshilling opened #1058 "Line height is too short for emoji"
I noticed the tops of my emoji messages are getting cut off:

![Image](http://i.imgur.com/KRs5QQR.png)

--

I am setting a custom font for my messages using the appearance protocol, like so:

[code]

This is also an issue on the ConversationListViewController:
![Image2](http://i.imgur.com/akijWPY.png)

[2015-11-23 18:42] lkraider commented on #1056
I get a constraint issue on `viewWillAppear`:
[code]

With this constraints error message:
[code]

[2015-11-23 22:20] #1045 closed

[2015-11-23 22:20] #913 closed

[2015-11-23 22:27] Kfoury commented on #1045
@kcoleman731 Thanks for your reply @kmahal Apologies of the late reply. I lost the files of the project involving the problem that i was working on. The problem might be that I wasn't using the latest repo. Since I'm busy now, it is gonna take me a while to re-construct the problem. Will update the post if the problem persisted.

[2015-11-24 03:00] EpicDraws commented on #1044
Also blocked by this issue. Can't get LayerKit and Atlas to play nicely together.

[2015-11-25 23:21] immexerxez commented on #1026
Also have this problem, I`m assuming it just can`t find the resources folder in the project ?

[2015-11-25 23:24] immexerxez commented on #1026
I wouldn`t recommend this but If you just remove ATLMessagingUtilities.m 318, it works just fine. just did it built and ran perfect

[2015-11-26 10:22] deepakbharanikana opened #1059 "Timestamp formatting"
"We are using query controller to display messages. Following is the code:

    LYRQuery *query = [LYRQuery queryWithQueryableClass:[LYRMessage class]];

    query.predicate = [LYRPredicate predicateWithProperty:@"conversation"
                       predicateOperator:LYRPredicateOperatorIsEqualTo
                       value:self.conversation];

    query.sortDescriptors = @[ [NSSortDescriptor so

[2015-11-27 04:13] jakunico commented on #1056
I have a different one:

[code]

Also when pushing into the conversation into a NavigationController, doesn't happen when I present it though.

[2015-11-30 14:22] mailyan commented on #1057
I am also having a similar problem. When I first open the app, Layer starts fetching conversations. If fetching is in progress and I open a conversation view controller I receive a similar error.

[2015-11-30 16:36] magneticorb commented on #1044
Also having this issue after an update. Using Cocoapods 0.39.0, trying to get to the latest version of Atlas and LayerKit. Objective C project. Any progress on this one @blakewatters?

[2015-11-30 17:16] jeffdgr8 commented on #1044
For those having this issue and using a mix of Objective-C and Swift code, the solution we discovered was to `#import <Atlas/Atlas.h>` at the top of your project-Bridging-Header.h. The issue stemmed from a problem with the build tools where swift code that referenced Objective-C code that imported the Atlas library causes this compilation error. So the Atlas library needs to be imported before the

[2015-11-30 18:09] kmahal commented on #1059
@deepakbharanikana did you accidentally paste the same code twice?

Regardless, our timestamps are grouped by setting the property:
[code]
which currently is defaulted to 60 minutes.  If you would like the functionality to ONLY display a timestamp on each new day then feel free to submit a pull request for this feature.

[2015-11-30 18:10] kmahal commented on #1057
@DevMoz we have a new version of `LayerKit` released, please update to `0.17.3` and let us know if this issue is still happening.

[2015-11-30 18:12] #1052 closed

[2015-11-30 18:33] DevMoz commented on #1057
Yep, I'm using 0.17.3 and the crash is still happening as described above (on device only).

[2015-11-30 19:06] kmahal commented on #1057
@DevMoz is this reproduceable on other builds on different phones (beyond the one experiencing the issue)?  we can't reproduce this issue on our side.

[2015-11-30 19:46] kmahal commented on #1058
@marcshilling let's run through a few possible issues here.

1. Confirm in this `ATLMessageCollectionViewCell` method that the correct font is being used for sizing from the ui appearance selector.
[code]
2. Confirm if it works for you correctly with default font type.
3. Look into this article: http://www.andyyardley.com/2012/04/24/custom-ios-fonts-and-how-to-fix-the-vertical-position-problem/.

[2015-11-30 23:55] kmahal commented on #1032
@MatthewAnthonyBordas can you reproduce this issue with Atlas Messenger?  https://github.com/layerhq/Atlas-Messenger-iOS.  I'm not able to reproduce this issue.

[2015-11-30 23:55] JRam13 opened #1060 "Poor scrolling performance (configureCell:forMessage)"
I'm having really poor scrolling performance, not sure if anyone here has some suggestions.

Check out time profiler:
cellForItemAtIndexPath:
![screen shot 2015-11-30 at 6 52 57 pm](https://cloud.githubusercontent.com/assets/3259292/11488335/c2bdd7ea-9793-11e5-84d4-33c12fd64e6f.png)

configureCell:forMessage:
![screen shot 2015-11-30 at 6 51 55 pm](https://cloud.githubusercontent.com/assets/325929

[2015-12-01 01:42] DevMoz commented on #1057
Yes, any device that downloads the app through TestFlight has the same crash (I've asked several testers to verify). If I run the same code on the same device through Xcode, no crash. I've been having a few other crashes that only happen as TestFlight builds but not from Xcode despite running the app from the same code base that was uploaded to Apple.

[2015-12-01 02:54] blakewatters commented on #1044
Thanks @jeffdgr8. I'm going to close out this issue as there's not much more that we can do at the library level to handle this. Every instance of this has been solvable by messing around with the import order within the integrating project. This is just pain from the still immature tooling in the Swift world.

[2015-12-01 02:54] #1044 closed

[2015-12-01 03:22] blakewatters commented on #1057
Very odd. This definitely reads like the stack trace from a table view cell animation / data source issue

[2015-12-01 09:23] emkman commented on #1044
@blakewatters Just to be clear, I had this issue and am not using any Swift.

[2015-12-01 09:41] magneticorb commented on #1044
Also not using swift. I managed to get up and running by replacing the @import statements with #import statements (in the Atlas project itself!)

[2015-12-01 15:29] marcshilling commented on #1058
You're right, appears to just be a problem with my specific font (ProximaNova). Default typeface does not cut them off.

[2015-12-01 15:29] #1058 closed

[2015-12-01 18:58] kmahal commented on #1060
@JRam13 `presentMessage:` takes the most amount of time because that presents the message on screen, including updating constraints and the like of a cell, so that's expected as everything else is a minor operation in comparison.  When it comes to benchmarking - what FPS are you getting while scrolling?

[2015-12-01 19:15] alhill10 commented on #1026
having the same issue here, any fixes?

[2015-12-01 21:47] JRam13 commented on #1060
@kmahal Thanks for the response. It seems like it's teetering between 35-50FPS. The interesting part is, the more text there is, the worse it is. It seems like scrolling through the media cells isn't too bad (but still noticeable).

Upon further investigation ``` [self.bubbleView updateWithAttributedText:[self attributedStringForText:text]];``` under ```configureBubbleViewForTextContent``` seems t

[2015-12-02 19:15] lkraider commented on #1056
Probably related to the `UIView-Encapsulated-Layout-Width` (or `width == 0`) that appears there, which is a system auto-generated constraint.

[2015-12-02 19:26] kmahal commented on #1056
@lkraider @jakunico please update your Atlas versions to the most recent version.  Several fixes have been merged since earlier builds.

[2015-12-02 19:26] kmahal commented on #1060
@JRam13 what version of `Atlas` are you on?  We noticed poor performance in that FPS range and have merged several improvements since then.

[2015-12-02 19:31] JRam13 commented on #1060
@kmahal I installed Atlas not too long ago, and am using the latest 1.0.15 with Layer 0.17.3.

[2015-12-02 19:33] kmahal commented on #1060
@JRam13 good to know.  Text only scrolling has it up to 56-60 for us but we'll keep it open.  What iphone are you using for testing?

[2015-12-02 19:37] JRam13 commented on #1060
iPhone 6, but it's noticeable throughout all devices (so my users tell me). It repeatable on the simulator, however, I know you really can't go by what the simulator does when dealing with performance.

If it matters, I am suppressing come code that throw all kinds of contraints warning. In the past, I thought the warnings were the cause of the slowdowns, however, I soon learned that wasn't really

[2015-12-02 19:58] lkraider commented on #966
Now it is always white, which breaks black customized layouts.

[2015-12-02 20:00] JRam13 commented on #1060
@kmahal Ran my project with a fresh copy of Atlas 1.0.15. No change. Same FPS.

[2015-12-02 21:55] jakunico commented on #1056
Latest version fixed this for me

On Wed, Dec 2, 2015 at 2:26 PM Kabir Mahal <notifications@github.com> wrote:

[2015-12-03 01:56] DevMoz opened #1061 "Synchronization issue"
When testing my app, I'll receive a push notification to my device for a new message. I then open the app (which was either running in the background or in suspended state) but the new message does not synchronize and is not visible in the conversation. The only way to view the new message is to force kill the app then launch it again. I've noticed this on my own device and so has one of my test u

[2015-12-03 02:10] DevMoz commented on #986
Any update on this? I'm still having the same issue and haven't been able to diagnose it on my own. My testers are noticing the same problem and it's an impediment to launching the app. Please let me know how I can help.

In this example, the wrong avatar image is being displayed along with the users initial. It acts exactly as described above. If I tap into the conversation with the wrong image,

[2015-12-03 03:27] DevMoz commented on #1061
Probably worth mentioning I only seem to notice this behaviour in a conversation that has quite a large number of messages associated with it. For smaller conversations, the message takes a few seconds to appear but it eventually does. For the larger conversations, I can't get some messages to appear unless I force quit / re-launch.

[2015-12-03 14:54] marcshilling commented on #1056
Ok so I've narrowed this down to the location/map messages. I realized all of a sudden that the constraints weren't breaking upon push (because I had sent many more plain text messages), but they did start breaking the second that I scroll and make map messages visible.

I'm on the latest `master` FWIW.

[2015-12-03 17:52] kmahal commented on #1056
@marcshilling thanks for the comment.  I have an old PR for this fix, we'll get it merged in soon.

[2015-12-03 22:58] lkraider opened #1062 "ATLMediaInputStream.m Memory Leak warnings"
Running clang static analyzer on commit  ae57367 (master HEAD as of today), 5 potential leaks are signaled in `ATLMediaInputStream.m`. Below are links to the reports

1. [report-354f84](https://cdn.rawgit.com/lkraider/6246a5b8359dd89e027d/raw/e4c42783c401e3b676a41cf578a854b8f6e22a7f/report-354f84.html#EndPath) - Potential leak of an object
1. [report-b8a95f](https://cdn.rawgit.com/lkraider/6246a5b

[2015-12-04 21:41] nickoneill commented on #1056
I'm getting this as well on 1.0.15, the result is that the text cells disappear off the screen. Posting a new message brings them back.

FYI, I'm using a subclass of ATLConversationViewController in a container view created by a storyboard.

[2015-12-07 11:24] devloopers opened #1063 "Fetch all ID partecipants sender"
Hi,
how do i get all the id of the sender?
Thanks

[2015-12-07 16:19] wireframe opened #1064 "Support for ConversationView with existing application bottom tabbar"
The current conversation view hardcodes the location of the chat input cell directly over the bottom tab bar.  We would like to use the atlas conversation view within our current view.

[2015-12-09 22:43] JRam13 commented on #1061
@DevMoz I noticed the same thing with older versions of LayerKit, it has since improved.

One thing that I do (might or might not help you) is check if the layerclient is connected. Sometimes, for some reason, it automatically disconnects. You should check like so:

[code]
Connection is not the same as authorized. A user can be authorized, but not connected (won't receive chat messages). I don't k

[2015-12-10 01:35] DevMoz commented on #1061
Thanks for the tip @JRam13 .  I'm using the latest LayerKit and I did try this exact solution (except I checked the connection in applicationDidBecomeActive). It didn't really solve the problem for me though. I'll admit, this issue doesn't show up very often.

What is a bit more frustrating (and frequent) is what I can only assume has to do with the sync speed. I can be on good wifi and if I recei

[2015-12-10 18:47] JRam13 commented on #1061
@DevMoz I have noticed the delay. However, I mitigate it by showing my notification screen when the app is opened from a push, that gives Layer enough time to synchronize. Sometimes if I click on the chat fast enough, I'll have to wait a second or two in order for the new messages to appear.

[2015-12-12 03:03] troypayne opened #1065 "Problem with setting displaysRightAccessoryImage false"
I think there's a bug with the flag:
ATLMessageInputToolbar.appearance().displaysRightAccessoryImage = false

When I set it to false, the initial state still shows the default Map location button. After typing a message, and then deleting that message, it shows a disabled Send button as I expect.

I'm calling the above piece of code inside of my viewDidLoad (after super.viewDidLoad) of my ATLConve

[2015-12-12 07:32] Kfoury commented on #1045
@kcoleman731 it seems that the problem arises only after you search and select a user during search mode. I have attached a gif that shows the scenario that I'm talking about.
![bug_participant_view](https://cloud.githubusercontent.com/assets/8665414/11760818/54e42f1a-a05f-11e5-9609-80d4a799938d.gif)

[2015-12-12 08:23] troypayne opened #1066 "Losing style if I reload my ATLConversationViewController subclass"
Inside of the viewDidLoad of my ATLConversationViewController subclass, I'm specifying my custom attributes like:

ATLConversationCollectionView.appearance().backgroundColor = UIColorFromRGB(0xF0EFF5)
ATLMessageInputToolbar.appearance().leftAccessoryButton = nil

and everything works as expected the first time I load it.

However, when I dismiss the modal, and call it again (which does call viewDi

[2015-12-15 23:59] kmahal commented on #1061
@DevMoz you must call `- (BOOL)synchronizeWithRemoteNotification:(NSDictionary *)userInfo completion:(void(^)(NSArray *changes, NSError *error))completion;` to let the client synchronize with the remote notification and that will give you the changes on completion that can guarantee everything is up to date.  This is not an Atlas problem but a `LayerKit` question so I will be closing this.

[2015-12-15 23:59] #1061 closed

[2015-12-16 00:01] kmahal commented on #1065
[code]
This property does not adhere to `UI_Appearance` selector.  Try setting it directly before the view's have laid out.

[2015-12-16 00:02] kmahal commented on #1064
@wireframe please give more details as it is unclear what you are specifying/requesting.

[2015-12-16 00:04] kmahal commented on #1063
@devloopers It's unclear what you are requesting but this is not an Atlas specific question.  Every `LYRMessage` object has an `LYRActor *` sender object which signifies the `userID` of the sender.  Atlas requests `conversationViewController:participantForIdentifier` which asks for an object that implements the `ATLParticipant` protocol for a specific `userID`.

[2015-12-16 00:04] #1063 closed

[2015-12-16 00:05] kmahal commented on #1066
@troypayne these properties do not adhere to `UI_Appearance`.  Set them directly.

[2015-12-16 00:05] #1066 closed

[2015-12-16 16:32] wireframe commented on #1064
Here's a screenshot from our integration.  We have standard bottom tab buttons for navigation and when you try to navigate to the "conversation tab", the atlas conversation view pins the text input to the bottom of the screen which covers up the tab navigation buttons at the bottom of the screen.
<img width="198" alt="iphone_6_-_iphone_6___ios_9_1__13b137__720" src="https://cloud.githubusercontent

[2015-12-17 16:46] JRam13 opened #1067 "Timestamp appears ontop of message bubble"
I only notice this when the chat controller gets updated with multiple messages. For example, coming in and out of network and you have queued messages to be displayed. Happens on the update.

![photo](https://cloud.githubusercontent.com/assets/3259292/11875650/b2ea7f3a-a4b3-11e5-9aa8-8c8036b72f2b.png)

[2015-12-17 22:05] wzfcooler commented on #1026
any proper fix??

[2015-12-22 00:16] kmahal commented on #1064
@wireframe Atlas components cannot know what they are embedded in by default and work well with most standard app navigations, such as embedded in a navigation controller.  Your application can have the conversation list in the tabbar controller, and on presenting the `ATLConversationViewController` you should hide the bottom tab bar.  The `ATLMessageInputToolbar` is set as the view's input access

[2015-12-22 00:17] #1032 closed

[2015-12-22 00:17] #1059 closed

[2015-12-22 01:34] lkraider commented on #1034
Still happening in Layer 0.17.4 and Atlas 1.0.15

[2015-12-22 16:50] wireframe commented on #1064
I would disagree that the current solution works well in *most* navigations.  Having the textarea overlay the navigation tabbar is a very non-standard UI interaction *unless* you are using a modal interaction.

Yes, subclassing is an option to override and fix this behavior, but it is a pretty heavy handed approach to solve this issue.  If the atlas library cannot infer it's display state, would i

[2015-12-24 15:23] astanton commented on #892
Can someone explain in a little bit of depth or give an example of how you can use a custom cell in a class derived from ATLConversationListViewController?

I tried creating a new class that extended ATLConversationTableViewCell as the cell, and creating a .xib file with it in it, then setting that as the cellClass to use, but I ran into some funkiness.

I'm trying to make my own looking cells, th

[2015-12-24 15:50] astanton opened #1068 "Can I create a custom ATLConversationTableViewCell?"
I'm looking to create a cell that I can use in a class that extends ATLConversationListViewController.  I want all of the functionality of the default ATLConversationTableViewCell and ATLConversationListViewController where it will use conversations as the datasource, auto-update the list based on the order of last message, show the last message on the cell, etc.  However I also want to make it so

[2015-12-25 09:34] r0ct0-tecsynt commented on #1064
I face close problem. I have tabbarcontroller-.>navcontroller->conversationlistocntroler->push  conversation controller . If i tap on any textfield (address bar or message input) - they will ump and disappear, after that i can see tabor uncovered

[2015-12-28 20:24] JRam13 commented on #1067
This happens to sender names as well, and I found the culprit code.

[code]

should be:
[code]

[2015-12-28 20:27] JRam13 commented on #1067
Although the above fix adds a performance hit to an already laggy chat (scrolling).

¯\_(ツ)_/¯

[2015-12-28 22:33] marcshilling opened #1069 "Force ATLConversationListViewController Reload"
How can I force the conversation list to re-query Layer for new data? I tried `[self.tableView reloadData]` to no avail. Metadata is changing on the conversations (from my backend), and I need the frontend to force refresh. Everything appears correctly upon a fresh launch of the app, but can it happen without that?

[2015-12-29 05:29] troypayne commented on #1065
This no longer happens.

[2015-12-29 05:29] #1065 closed

[2015-12-29 13:29] Alkalouti opened #1070 "#import "ATLAddressBarViewController.h" not found"
My app support iOS 7
Using Atlas (1.0.11)
Using LayerKit (0.16.0)

Find Attached ..

![untitled](https://cloud.githubusercontent.com/assets/3541656/12035007/b7f6201a-ae40-11e5-87ec-7044616ab7ae.png)

i got this error

[2015-12-29 18:22] marcshilling commented on #1069
I was able to accomplish this in my fork by exposing `- (void)setupConversationDataSource` in the `ATLConversationListViewController.h` file.

I'll close this, although I definitely see value in this being exposed by default.

[2015-12-29 18:22] #1069 closed

[2015-12-29 18:46] troypayne opened #1071 "Stopping animations"
When I load my custom ATLConversationViewController, it seems to be animating a few elements. Like the ATLMessageInputToolbar, and a few other random things.

Is this intentionally? If so how can I turn it off

[2016-01-02 04:18] thomasgpeng opened #1073 "LayerKit QueryController issue"
After upgrading to Layer 1.0.15 and LayerKit 0.17.5, I'm seeing an empty conversation list specifically when the app gets suspended and resumed -- in other words, this issue does not occur when the app is launched, only when it's resumed.  It looks like the issue is with the Layer client query controller, specifically these lines of code in `ATLConversationListViewController.m`:

    self.queryCon

[2016-01-04 04:35] toftof opened #1074 "iOS 9 Support"
plans for total iOS9 Support?

[2016-01-05 04:01] mathmatrix828 commented on #1070
+1, using iOS 9 and cocoapods

[2016-01-05 04:07] thomasgpeng commented on #1073
Looks like this was an issue with LayerKit 0.17.5.  Fixed with 0.17.6.  I'll close this issue.

[2016-01-05 04:07] #1073 closed

[2016-01-05 05:01] mathmatrix828 commented on #1070
@Alkalouti, after some research it appears this is an issue where the code is incompatible with Swift 2  - [referenced here](https://github.com/ashleymills/Reachability.swift/issues/21). As per #1074 Swift support has been requested. Not much else to do at the moment, unless you feel like writing the Swift libraries yourself

[2016-01-06 01:51] blakewatters commented on #971
Carthage support is now available in v1.0.16

[2016-01-06 01:51] #971 closed

[2016-01-06 02:05] blakewatters commented on #971
See https://github.com/layerhq/Atlas-iOS#carthage-installation

[2016-01-06 17:06] ancheng1114 commented on #1064
@wireframe
can you please explain how to implement subclass in case of bottom tabbar?

[2016-01-06 21:44] luka1995 opened #1079 "Atlas cocoapod module problem"
I have Atlas 1.0.16, but always problem with "Could not build module "Atlas"".

<img width="323" alt="screen shot 2016-01-06 at 22 43 22" src="https://cloud.githubusercontent.com/assets/3648001/12155724/1157f49e-b4c7-11e5-88ff-db4ed8beee66.png">
<img width="269" alt="screen shot 2016-01-06 at 22 43 16" src="https://cloud.githubusercontent.com/assets/3648001/12155729/13ad6012-b4c7-11e5-88ba-9fc5cde

[2016-01-07 02:20] kmahal commented on #1071
@troypayne are you presenting the controller with or without animation?

[2016-01-07 02:21] troypayne commented on #1071
@kmahal it's inside of a ContainerView, so i guess that means without...

[2016-01-07 02:23] kmahal commented on #1071
is the containerview presented on screen without animation?

[2016-01-07 02:24] kmahal commented on #1071
be sure to also embed your controller in a navigation controller before putting it inside a container view.

[2016-01-07 02:25] troypayne commented on #1071
@kmahal this is how i'm calling the VC that has a container view that embeds the ATLConversationViewController

        let storyboard = UIStoryboard(name: "STAN", bundle: nil)
        let chatViewController = storyboard.instantiateViewControllerWithIdentifier("ChatViewController") as! ChatViewController
        let navigationController = AbstractModalNavigationViewController(rootViewController: c

[2016-01-07 02:28] troypayne commented on #1071
@kmahal

And this is how i'm embedding it in a container view:

                                        let stayfulConversationViewController = StayfulConversationViewController(layerClient: self.layerClient)
                                        stayfulConversationViewController.conversation = conversation
                                        let navigationController = UINavigationController

[2016-01-07 18:57] marcshilling opened #1080 "URL parsing in messages results in truncated text"
![Broken formatting](http://imgur.com/PfPki59)

It seems fine when the URL is the last thing in the message (3rd bubble), but in all the other ones I typed more text after the link and Atlas is adding an ellipses and cutting it off.

[2016-01-08 19:48] troypayne commented on #1071
Closing this. It no longer happens now that I push the VC instead of popping up a modal

[2016-01-08 19:48] #1071 closed

[2016-01-12 06:15] jessearmand opened #1081 "Any guidelines on integrating the UI with UITabBarController setup?"
Any guidelines on integrating the Atlas conversation UI with UITabBarController setup?

Anyone has tried this before? Is there any problems or workaround?

I've noticed that the "typing indicator" may not be positioned properly (it's a bit covered by the message input toolbar) and UI glitches could appear such the tab bar appearing behind the message input toolbar, while I assume the tab bar shoul

[2016-01-12 06:19] jessearmand commented on #1064
I have the same problem #1081

[2016-01-12 06:21] jessearmand commented on #1056
I saw the same issue

[2016-01-13 11:46] mailyan commented on #860
@kmahal Is there any update on this?

[2016-01-13 20:54] aenhsaihan opened #1082 "UIAlertController causes messageInputToolbar to disappear"
When a UIAlertController is displayed to the user, the messageInputToolbar disappears completely.

The user has to scroll up to bring back the messageInputToolbar so that it can be tapped to become first responder.

Rather than simulating this user action, is there a better way to bring back the messageInputToolbar after receiving a UIAlertController?

[2016-01-13 21:35] kmahal commented on #1082
@aenhsaihan you can call `[self.view becomeFirstResponder]` in the `ATLConversationViewController subclass to make the input toolbar come back on screen.  Let me know if this works and we can close this out.

[2016-01-13 21:48] kmahal commented on #1081
@jessearmand best practice of Atlas has the application hiding the `UITabBar` at the bottom when presenting the `ATLConversationViewController`.  Look into the `ATLMessageInputToolbar` `layoutSubviews` to see how to set the input bar based on it's container view.  This will require application level configuration that can't be defaulted by Atlas.

[2016-01-13 21:51] kmahal commented on #1080
@marcshilling cannot reproduce this issue. Are you using a custom font or making any other changes?

[2016-01-13 21:59] kmahal commented on #1074
@toftof we do fully support iOS9 currently.  What issues are you having?

[2016-01-13 23:00] jessearmand commented on #1081
Hiding it works fine. Thanks

[2016-01-13 23:00] #1081 closed

[2016-01-14 04:13] jessearmand opened #1083 "editable ATLAddressBarViewController and how to self resize?"
After using it for a while in a group conversation, I've noticed that:

1. Once a conversation is created, the address bar is disabled by default, even though it's possible to add new participant to a conversation?

2. The address bar refused to display all participants name if they don't fit a specific size **when** it's in a disabled state. But, it can display all participants and self-resize, i

[2016-01-14 13:24] Mortenest commented on #1026
Same here, @maju6406 please reopen this issue

[2016-01-14 15:17] aenhsaihan commented on #1082
@kmahal yes, that does bring the message input toolbar back to the forefront, allowing me to call ```becomeFirstResponder``` on it, although there is a substantial delay in bringing back the keyboard this way.

My original solution of simulating the user action brought the keyboard back more quickly, but was more hacky as well.

[2016-01-14 15:21] aenhsaihan commented on #1082
Meh, seems to vary, keyboard can come back quickly or slowly.

[2016-01-14 18:40] kmahal commented on #1083
@jessearmand :
1. This is just like the iMessage experience.  Look at Atlas Messenger (https://github.com/layerhq/Atlas-Messenger-iOS) for how we add or remove participants.
2. The address bar is not editable directly after a conversation is created, just like iMessage.
3. See point 1, it is after the iMessage aesthetic.
4. What do you mean first participant?

[2016-01-14 20:13] devloopers opened #1084 "Tap location open navigatior"
Hi,
after send location is possible tap into preview location and open Apple Maps navigator ?

Thanks
Mike

[2016-01-14 20:17] kmahal commented on #1084
@devloopers you may do this yourself, it is not an Atlas feature.  Using the delegate:
[code]
You can find when it is selected and present the navigator as you see fit.

[2016-01-14 20:17] #1084 closed

[2016-01-14 20:19] devloopers commented on #1084
yes, but how do I get the coordinates?

[2016-01-14 20:30] devloopers commented on #1084
is possible extract coordinates LYR Message? please Help me, tomorrow i release App for client and without feature don't possible release.

[2016-01-14 21:35] kmahal commented on #1084
@devloopers Atlas is open sourced so you can see how we extract the data.  Here is the method it occurs in:
[code]
The lat and long are specified as shown above.

[2016-01-15 02:30] astanton commented on #1056
I'm also getting this same issue, just updated to 1.0.16 via cocoa pods.  I'm also using a subclass of ATLConversationViewController.  I don't notice any actual issues, but all oft he text that is spit to the console is getting in the way of messages I care about.

[2016-01-15 03:27] jessearmand commented on #1083
Take a look at this from `ATLAddressBarViewController.m`:

[code]

I've added some comments in the snippet above, regarding my question. I could of course try to do something about this in a fork of the repo and make a pull request, but I would like to know how to best approach this problem.

[2016-01-15 05:38] siskaj commented on #1064
@kmahal
I have the same problem. ATLConversationViewController does not work well the UItabbarController. I searched the WEB and I have not been able to find any simple solution.
Can we expect any solution from Atlas or do you plan to leave it as it is?

[2016-01-15 15:30] marcshilling commented on #1080
I'm just using the built-in iOS dynamic text...

[code]

[2016-01-15 21:24] kmahal commented on #1082
@aenhsaihan unfortunately that is then a system issue and not an Atlas one.  I'm going to close this ticket out as the system decides how quickly to show the keyboard.

[2016-01-15 21:24] #1082 closed

[2016-01-16 07:46] jessearmand commented on #1064
The simple solution is to hide UITabBar of the UITabBarController when the conversation view controller is pushed.
Alternatively you can create a container view controller and add that conversation view controller as a child view controller, and do more custom setup or layout configurations. 
But I'll take the first approach as it's less code, less dependency and less potential layout problems.

S

[2016-01-16 15:28] oferRounds opened #1085 "Question: setting badge which combined from unread message & other app aspects"
I'm now in the process of setting up Push notifications, and I have 3 questions please:

A) **Setting badge which combined from unread message & other app aspects:**
I'm building a dating app, and I'd like the app badge to be set as the user's new matches count + unread messages.
Obviously, the first aspect is not available to Layer, so I'm not sure how to do it.

B) **I'm getting a push of new me

[2016-01-16 18:23] siskaj commented on #1064
@jessearmand

Thank you Jesse,

I have created button and tried hiding/unhiding UITabBar and hiding/unhiding  messageInputToolbar and all apparently worked fine till sending a message. Then messageInputToolbar is not visible and most likely not the firstRespondent either.

The container solution seems to me quite complicated - layout configuration and positioning of keybord properly will be quite

[2016-01-18 08:26] mvalti commented on #1060
Hi guys,

I've a poor scrolling performance in cells with multiple emojis. (50+ emoji)
I use my own custom cell, but I've tested with your's (ATLIncomingMessageCollectionViewCell, ATLOutgoingMessageCollectionViewCell) as well.
The FPS was very low when I've sent messages with multiple emojis, and after that I've scrolled between messages.
How much FPS you've got for cells with multiple emojis?
Atl

[2016-01-19 23:23] kmahal commented on #1085
Hi @oferRounds

A) Layer does not currently support arbitrary badge count setting.  New match count infers conversation creation, probably from the Platform API.  If that's the case you could send a message with a `MIMEType` that the client hides and marks as read when it's first opened, which would technically be considered an unread message from Layer's perspective.
B) If you look at the Atlas c

[2016-01-20 04:16] alexpaul opened #1086 "Unable to save the Conversation because of an underlying persistence failure."
I am trying to Change the Conversation Name using the Conversation Metadata and I'm getting the following error:
"Unable to save the Conversation because of an underlying persistence failure."

Code:
         conversation?.setValue(groupNameTextField.text, forMetadataAtKeyPath: Constants.CONVERSATION_NAME)

[2016-01-20 23:57] oferRounds commented on #1085
Hi @kmahal
Thanks for your detailed answer!

Regarding (B) & (C) - these were my mistakes - both fixed!

So I'm left with (A). Could you elaborate a bit more on this? Maybe I'd be able to understand if I understand what you mean by: "New match count infers conversation creation, probably from the Platform API."

Thanks again!
Ofer.

[2016-01-21 00:20] alexpaul commented on #1086
For anyone seeing this issue it may be that your Keys have spaces in them. This was my case.

[2016-01-21 00:20] #1086 closed

[2016-01-21 08:05] CodeBoffin opened #1088 "The LayerKit Module is found in ATLUIMessagingUtilities.h"
The module @import LayerKit is showing not found in ATLUIMessagingUtilities.h even after the updating the cocoa pods successfully.

[2016-01-25 07:41] willyanto commented on #1039
Hi @maju6406, how can I get message from this messagePart?
Btw I use this code
[code]

and data always return nil.

[2016-01-25 07:47] willyanto opened #1090 "Override messagesForMediaAttachments when subclassing ATLConversationViewController"
Hi, why I always get nil value when try to get message from this code
[code]

I just want to set option payload to show the message. I think that is the way to get string message or you guys has other way? Thanks

[2016-01-26 14:29] AndrewSB commented on #1088
having this issue using Carthage too,

[code]

[2016-01-26 17:06] AndrewSB opened #1091 "Carthage update failing"
`carthage update` is failing currently while pointing at `master`, at `1.0.18`, `1.0.17`. `1.0.16`, and `1.0.15` (1.0.15 doesn't seem to be carthage compatible)

Possibly related to #1088
Here's my output

[code]

[2016-01-28 20:55] JGagnon91 opened #1092 "NSInternalConsistencyException when loading ATLConversationListViewController"
This only happens for a subset of our users. Some users are unnafected but those who have the issue get the crash consistently every time they try to enter the Conversation controller. I've tried to isolate it to a specific version of iOS or a specific iPhone model, but it seems to affect users indiscrimately.

Here's the stacktrace taken from Fabric:

Fatal Exception: NSInternalInconsistencyExcep

[2016-01-28 21:48] JGagnon91 commented on #1092
I've discovered that by changing the code from:
`UITableViewCell<ATLConversationPresenting> *conversationCell = [tableView dequeueReusableCellWithIdentifier:reuseIdentifier forIndexPath:indexPath];`

to:

`UITableViewCell<ATLConversationPresenting> *conversationCell = [tableView dequeueReusableCellWithIdentifier:reuseIdentifier];
    if(conversationCell == nil)
    {
        conversationCell = [[A

[2016-01-29 00:08] kmahal commented on #1092
@JGagnon91 Has this occurred in every version of `Atlas`?  There were a few changes made during initialization of the controller recently would affect that.  See this commit: https://github.com/layerhq/Atlas-iOS/commit/ad06f3c0f722820f3ffe07dd7af0833845e105bb If you revert this change do the crashes still occur?

If a cell class is registered before the table view delegates are fired then you don'

[2016-01-29 14:36] JGagnon91 commented on #1092
It hasn't occurred in every version of Atlas, and in fact we only started seeing it a few days ago after updating our pods. Before we updated I believe we were on 1.0.11.

Reverting the commit you linked does seem to have fixed the issue for my test devices, though I haven't sent it out to our testers yet, but I suspect it has fixed the issue. It looks like you're right about cell registration, bu

[2016-02-01 05:32] LukeDurrant commented on #1091
+1
The Atlas Framework doesn't currently build looks like
ATLBaseCollectionViewCell was removed from the compiled sources

[2016-02-01 12:53] LukeDurrant commented on #1088
@CodeBoffin or @AndrewSB Did you find a solution to this?

[2016-02-01 14:39] AndrewSB commented on #1088
I've emailed into support, I think they're looking into it.

Would recommend targeting the HEAD of master when you build with Carthage, to include their hotfixes

[2016-02-01 14:40] AndrewSB commented on #1091
@layerhq would love to get this resolved

[2016-02-01 15:08] JGagnon91 commented on #1092
I've not seen any more crashes since going back to that commit, it looks like it fixed the issue. What are the next steps?

[2016-02-01 18:17] kmahal commented on #1092
@JGagnon91 I will have a PR fixing this issue forthcoming shortly.

[2016-02-02 03:18] mike-companyons commented on #1026
This still happens on the latest build, why was it closed?

[2016-02-02 03:19] mike-maws commented on #1026
Why is this closed?, app still fails on the latest code.

[2016-02-02 04:11] mike-maws commented on #1026
A way to fix it is to create a folder, name it AtlasResource.bundle, copy atlas resources folder contents into it, and add the bundle to your app. Atlas runs apparently fine afterwards.

[2016-02-03 22:40] kmahal commented on #1092
PR here: https://github.com/layerhq/Atlas-iOS/pull/1093

[2016-02-04 19:49] kmahal commented on #1085
HI @oferRounds you can create a match via Platform API and send a message with a `MIMEType` that you do NOT want to show up in the conversation on the client.  The badge count here will then reflect the unread message count + new match count (as the new match count is actually just the unread message count but the user won't see it).  When the user enters the conversation for the first time you ca

[2016-02-04 19:49] #1085 closed

[2016-02-04 19:49] blakewatters commented on #1091
We are prepping to release 0.1.19 which will fix it. In the meantime you can build off a SHA in your `Cartfile` like so:

[code]

Sorry for the turbulence. We need to rev our CI and release scripts to coverage Carthage more cleanly as its higher maintenance than CocoaPods

[2016-02-04 22:25] kmahal commented on #1092
released in `1.0.19`

[2016-02-04 22:25] #1092 closed

[2016-02-05 00:10] kmahal commented on #1091
This fix has been released in `1.0.19`.

[2016-02-05 00:10] #1091 closed

[2016-02-05 00:10] #1074 closed

[2016-02-05 00:12] kmahal commented on #1068
Hey @astanton you can create your own cell that implements the `ATLConversationPresenting` protocol and registering it through:
[code]
This will let you present the cell you want with the layout and properties you expect.

[2016-02-05 00:12] #1068 closed

[2016-02-05 05:04] raulastu opened #1094 "what's replacement for conversationForIdentifier"
It says it's deprecated. What should we use now ?

[2016-02-05 17:29] WANGjieJacques opened #1095 "ATLConversationViewController, memory leak"
http://darrarski.pl/2014/12/not-initialize-objects-swift/

[2016-02-05 19:11] jyounus commented on #954
What did you do differently to fix the issue @koptan? I'm having the same issue.

[2016-02-05 19:15] kmahal commented on #1094
[code]

[2016-02-05 19:15] #1094 closed

[2016-02-05 19:55] jyounus commented on #954
I managed to fix my problem. For anyone that has the same issue in the future:

Make sure you drag out a UITableViewController in storyboard and NOT a UIViewController. Then just set the "Custom Class" via Interface Builder to your custom subclass. That should do the trick.

[2016-02-06 22:42] jyounus opened #1097 "Question about how this works"
Hey there,

Thanks for making this publicly available. I've got a subscription with Layer and I'm trying to integrate this into my project. I have a quick question, if I use any of these UI components, do I still need to manually configure and link up LayerKit?

In other words, is "Atlas-iOS" literally just UI components and I still have to manually link up the backend service using "LayerKit"? Or

[2016-02-07 22:22] jyounus commented on #1097
Did my research over the weekend and managed to get started. I'm leaving this here for anyone who has the same issue as me and doesn't know where to start.

Basically Atlas-iOS is just the UI part, you still have to manually link up certain parts with LayerKit, so that it can "talk" to the Layer service.

Here are some links that were really useful for me:

[code]

[2016-02-07 22:22] #1097 closed

[2016-02-11 05:36] rishi-lambe opened #1098 "Not showing unread message indicator"
Hello,

We are working on showing unread messages count.
We discovered if we open the conversation  and go back to the conversation's list, the conversation is not showing unread message indicator.
Please suggest any solution.

Now I m currently working on a pull request.

Regards,
Rishi Lambe.

[2016-02-11 06:47] rishi-lambe commented on #1098
@All
I got the solution to fixed above issue

Please add following code in ATLConversationViewController

- (void)viewWillDisappear:(BOOL)animated
{
    [super viewWillDisappear:animated];
    _marksMessagesAsRead = NO;
}

[2016-02-11 06:47] rishi-lambe commented on #1098
I will close the issue.

[2016-02-11 06:47] #1098 closed

[2016-02-11 23:01] kmahal commented on #1090
@willyanto you can check the `mediaAttachment.textRepresentation` for the text value here.  However I've also merged a fix https://github.com/layerhq/Atlas-iOS/commit/bf143d8d459cf13fb4e0ed2cec204dbecd0d6fa9 that will ensure `messagePart.data` will return non `nil` for text parts, so it should be good to go.

[2016-02-11 23:01] #1090 closed

[2016-02-11 23:02] kmahal commented on #1079
@luka1995 are you still having this issue?

[2016-02-13 00:52] DevMoz opened #1101 "Incorrect Content Type in Message Cells"
I noticed when upgrading from 1.0.16 to 1.0.17 that I would have images in a conversation show up in message cells that were supposed to be text, as shown below:

![img_0361](https://cloud.githubusercontent.com/assets/6776567/13024359/398b882e-d1a8-11e5-8a0c-d6678902600d.png)

This would correct itself as soon as you started scrolling.

For version 1.0.17, in `- (void)configureBubbleViewForImageCo

[2016-02-15 03:42] chenyuan opened #1102 "display annoucement"
during a chat, can we show an announcement, like "someone joined the chat", "someone left the chat"?

[2016-02-15 17:00] JRam13 commented on #1060
It seems that the lag I'm experiencing is a lot more prominent when 'avatars for all users' is switched on. It's almost as if the avatars aren't loading asynchronous.

[2016-02-16 08:47] willyanto opened #1105 "Comparison conversation in subclass ATLConversationViewController"
Why I can put this code in subclass ATLConversationViewController. I working in swift project. I see the example working on Objective-C

[code]

[2016-02-16 21:12] williamtwilson commented on #1044
@magneticorb's workaround was the only one that worked for me. Any updates incoming?

[2016-02-16 23:38] williamtwilson commented on #1014
I'm still seeing this in 1.0.19. The solution was similar to those above, adding `$(PODS_ROOT)/Atlas/**` to the Header Search Paths

[2016-02-18 15:45] mogui commented on #1088
Not working for me either

[2016-02-18 19:20] maju6406 commented on #1088
We believe this issue should now be resolved if you're using Atlas 1.0.19 and LayerKit 0.19.1. Please try again.

[2016-02-18 19:20] #1088 closed

[2016-02-19 06:36] AndrewSB commented on #1088
@maju6406 got your response that you make have spoken too soon. What is this looking like?

It would also be cool to be able to build both atlas and layer with `carthage update --no-use-binaries`, I don't think that no-build-binaries works yet

[2016-02-19 07:01] rishi-lambe opened #1109 "Automatically Conversation Appeared After creating New Use"
Hi,

When I am creating new user,
Default conversation is appeared on chat screen, But I didn't started the conversation.
So, how I restrict this ?

[2016-02-19 09:25] mogui commented on #1088
@maju6406 in my experience (two different machines) the only way to make it build (with some changes too, Atlas looks for a Resource.bundle that I have to make in my own) is by integrating Atlas and layer by including directly the source code manually, both Carthage and Cocoapods integration doesn't work out of the box.
It's a pity because the work done with these libs is amazing, but I expect the

[2016-02-19 13:29] jfradj opened #1110 "ATLConversationListViewController not refreshed if displayed too early"
If the ATLConversationListViewController's view is loaded before the LYRClient is connected AND the user is authenticated, the view won't show anything (which is normal) but won't refresh itself when anything is setup.

The view should either observer the did connect and did user authenticate notifications to setup its query controller OR you should publicly expose the method - (void)setupConversa

[2016-02-19 17:46] AndrewSB commented on #1088
@maju6406 here's the current build log

[code]

[2016-02-19 20:52] blakewatters commented on #1088
I have found our attempt to support Carthage to be a huge pain in the ass. I don't see how it is possible for us to support `carthage update --no-use-binaries` given that we are distributing a binary framework. The assets get placed in a different place on the filesystem, so I don't see how you can configure a project that works with and without the option. The Atlas-iOS project is set up to assum

[2016-02-19 21:17] blakewatters commented on #1088
@mogui I'm not sure what you mean -- I just did a clean pull of Atlas-Messenger-iOS and Atlas-iOS and they both build. What's your issue?

[2016-02-21 12:27] AdamBCo commented on #1014
I'm running into the same issue. +1

[2016-02-21 12:34] AdamBCo commented on #1088
I just used Cocoapods to install Atlas (1.0.19), and I'm running into the same issue.

`Module` 'LayerKit' not found'

What is the recommended fix? I can't get the sample project running either.

[2016-02-21 21:45] s73v3r opened #1111 "Cannot set UIAppearance value for ATLMessageCollectionViewCell messageTextCheckingTypes"
I'm trying to get the message cells to recognize Phone Numbers, so that when they are tapped on, the user can do things with them (make calls, add contact, etc). I've tried setting the UIAppearance value on messageTextCheckingTypes as such:

[code]
but it always crashes for me, saying:

[code]

What is the appropriate way to enable the setting of data detectors, so that I can do this?

[2016-02-21 22:16] s73v3r commented on #1111
So doing a little research, it looks like you never should have been able to set the UI_APPERANCE_SELECTOR macro on this property. According to the docs (https://developer.apple.com/library/ios/recipes/UIAppearanceContainer_Protocol/index.html#//apple_ref/occ/intf/UIAppearanceContainer), NSTextCheckingType, which is uint64_t, is not an allowed value.

[2016-02-23 00:55] kmahal commented on #1109
@rishi-lambe please explain further what you mean.  Do you mean when running the app?  That's a sample conversation.

[2016-02-23 00:57] kmahal commented on #1105
Closing this as it is a programming question, not an Atlas question.  Look at optional binding in Swift to see how to check for `nil` values.

[2016-02-23 00:57] #1105 closed

[2016-02-23 00:59] kmahal commented on #1102
@chenyuan You can create a message with a custom `MIMEType` whenever this action happens and send that as a message via platform API.  Then, you can register a custom cell with Atlas to display this non-basic MIMEType.

[2016-02-23 00:59] #1102 closed

[2016-02-23 01:00] kmahal commented on #1111
Good catch, thanks @s73v3r.  This can instead be configured via `configureCell:forMessage:`, and we'll remove that selector.

[2016-02-23 01:02] kmahal commented on #1110
@jfradj `Atlas` is designed with the idea that the client is already authenticated when running ,and the UI should be configured as such.  If you'd like to see a change for this, feel free to submit a pull request.

[2016-02-23 01:02] #1110 closed

[2016-02-23 01:08] kmahal commented on #1101
@DevMoz I don't think the issue is in the wrong cells updating, but rather in cell size.  Can you log what value `size.width` is in both versions?  We made a change a while ago to allow small images to be sent and that could be what you are seeing here.

[2016-02-23 01:16] kmahal commented on #1083
Hey @jessearmand revisiting this.  Is this still an open issue for you?  We wouldn't change this behavior as it matches iMessage.  Let me know what your thoughts are and we can close this out or discuss further.

[2016-02-23 01:16] #1079 closed

[2016-02-23 01:18] kmahal commented on #1056
@jessearmand  @astanton are you all seeing the same issue still?

[2016-02-23 01:19] kmahal commented on #1000
@chlebta any update on this one?  If not I'll close it out.

[2016-02-23 05:07] jessearmand commented on #1083
@kmahal Yes the address bar is disabled once I sent a message. But, the participants listed are everyone who participated. Regardless of who is the sender. While from the snippet above, the sender is filtered.

Thereby causing a misleading "(number) participants" when the participants data are incomplete.

I would separate the self-sizing and editable as a feature request, but the participants dat

[2016-02-23 06:26] jessearmand commented on #1083
Ok, I understood these three lines

    __block NSString *disabledString = [participants.firstObject firstName];
    NSMutableOrderedSet *mutableParticipants = [participants mutableCopy];
    [mutableParticipants removeObject:participants.firstObject];

Just an issue of participants count and how to best fit them all.

[2016-02-23 06:26] #1083 closed

[2016-02-23 07:29] RDorange opened #1113 "ATLBarAddressViewController not displaying the appropriate number of controllers"
At the moment, it seems like the ATLBarAddressView is decreasing the count of participants by one.
In a 4 people conversation, it will display **To : 2 participants**, where I guess it should be 3 excluding myself.

I think the issue comes from the below method where the line of code should be
`            disabledString = [NSString stringWithFormat:@"%lu participants",participants.count];
`

[cod

[2016-02-23 07:29] RDorange commented on #1113
Below the screenshots where the conversation controllers shows **To: 1 Participant** in a 3-people conversation

![simulator screen shot 23 feb 2016 08 28 55](https://cloud.githubusercontent.com/assets/13887984/13244579/99e1f3f4-da07-11e5-9d79-dbd2b3e76703.png)
![simulator screen shot 23 feb 2016 08 28 58](https://cloud.githubusercontent.com/assets/13887984/13244580/99e666be-da07-11e5-9f30-e62caff

[2016-02-23 16:56] jessearmand commented on #1056
I don't see this anymore

[2016-02-23 23:20] kmahal commented on #1113
@RDorange excellent catch thank you.  Feel free to submit a PR and if not I'll have one myself for this issue.

[2016-02-24 01:34] #1109 closed

[2016-02-24 01:34] kmahal commented on #1109
This was resolved as an onboarding confusion.

[2016-02-24 10:27] RDorange commented on #1113
@kmahal  feel free thanks !

[2016-02-25 02:03] AndrewSB commented on #1088
@blakewaters let's forget the `--no-use-binaries` then, can we just get the library to work with a vanilla `carthage update`?

[2016-02-25 13:57] nucauthu opened #1115 "Crash related to Layer, LYRBlockListRepository"
Hi team,

I'm not sure I should ask about this issue in this repo or document layer repo. This is a crash cause by layer. This crash a lot and effect user experience too much so we need to try to prevent or solve it. Please read the crash log of from crashlytic: http://crashes.to/s/26392113da2
I'm really appreciate if team can help me to clear this crash. Thanks a lot.

[2016-02-26 07:12] nsantorello commented on #1044
I was able to get it working by forking and making the changes suggested by @magneticorb: https://github.com/SeedDev/Atlas-iOS/commit/7125022f668a00bca49b8ec1e27dcf015d61e7b3

Then I edited my Podfile:
[code]

[2016-02-28 00:27] immexerxez opened #1116 "ATLConversationListViewController Crash on [tableView endUpdates]"
I`ve been having a lot of issues with this controller after adding a compound query predicate especially in the tableview reloading and the row animations. It also seems bogged down when the table starts getting too long and it will always crash after a clean install of the app on either endUpdates or reloadCellAtIndexPath. Any ideas of what could be the issue? everything besides the compound pred

[2016-02-28 22:52] immexerxez commented on #1116
Was using old version of layerkit

[2016-02-29 15:36] Moonko commented on #1101
@kmahal I have the same issue after updating to the new version of Atlas. The cell's size is correct, but there's an image above the cell's text.

[2016-02-29 21:27] JRam13 commented on #1056
I'm getting
[code]

Sometimes when loading more messages (scrolling to the top). When I put a breakpoint, the code in question seems to be:

[code]

[2016-02-29 21:51] immexerxez commented on #1116
this issue still happens in queryController didChangeObjectAtIndex

[2016-03-01 15:14] mixmastertube commented on #1088
Cocoapods installation didn't work for:
Module 'LayerKit' not found' error

Carthage didn't work too..

Hoping the manual integration will..

[2016-03-02 12:19] charlespsdowd commented on #1101
I have the same issue.

[2016-03-02 18:55] charlespsdowd commented on #1101
I think that the test for message being different needs to move inside the main thread block?

        dispatch_async(dispatch_get_main_queue(), ^{

            if (weakSelf.message != previousMessage) {
                return;
            }

            [weakSelf.bubbleView updateWithImage:displayingImage width:size.width];
        });

[2016-03-03 18:26] CodeBoffin commented on #1088
Please can any of moderators look into this matter.It's been out for more than 40 days since it came into my attention.

[2016-03-03 18:53] AdamBCo commented on #1088
@CodeBoffin If you are using Objective-C and cocoapods, I've found the solution!

At the moment the Atlas documentation on Github states you need to just to add pod 'Atlas' to your pod file and run pod install.

You actually have to add the following as well:

    use_frameworks!

It also doesn't mention that Atlas installs LayerKit for you, so there is no need to have pod 'LayerKit' and pod 'Atla

[2016-03-03 22:48] kmahal commented on #1115
Hi @nucauthu as this is a `LayerKit` crash, please contact Layer support directly as it's not Atlas specific.

[2016-03-03 22:48] #1115 closed

[2016-03-04 02:43] akacaptain opened #1120 "ATLConversationListViewController queryControllerDidChangeContent Crash"
We're getting a fairly small but still concerning number of fatal exceptions in "ATLConversationListViewController.m line 451
-[ATLConversationListViewController queryControllerDidChangeContent:]".

Fatal Exception: NSInternalInconsistencyException
attempt to delete and reload the same index path (<NSIndexPath: 0xc000000000200016> {length = 2, path = 0 - 1})

And here's the stack trace:

Thread :

[2016-03-06 07:13] fysteven commented on #1116
Yeah. I have the same issue, too.

Thread : Fatal Exception: NSInternalInconsistencyException
0  CoreFoundation                 0x109bade4d (Missing)
1  libobjc.A.dylib                0x1075f9deb (Missing)
2  CoreFoundation                 0x109badcca (Missing)
3  Foundation                     0x104cb74de (Missing)
4  UIKit                          0x105a81dc6 (Missing)
5  Branch

[2016-03-07 10:08] jyounus opened #1121 "Native Typing Indicator (3 dots)"
Hey there,

Is it currently possible to show the three animated dots like in the native Apple Messaging app? If not, is that something you guys are planning to add?

Thanks

[2016-03-07 15:41] glaksmono opened #1122 "How to disable Alert push Notification?"
I already have this:

[code]

I checked in the Settings, verified that the app only allowed for Banner and Sound. But for some reason, it's still showing alert box with the text of the message sent to the user. How do you disable this?

I think that's because of this:

[code]

and somehow I need to change the default, that it shouldn't be using `alert` notification. Any ideas how to do this?

[2016-03-07 16:43] glaksmono commented on #1122
So, yes I've tried to set the  `defaultConfiguration.alert = pushText;` to `defaultConfiguration.alert = nil` and it works perfect. But I'm wondering on how to do this correctly without modifying Layer's SDK?

[2016-03-07 17:02] kmahal commented on #1121
@jyounus it is something that is in our backlog though not a high priority currently.  We have our own typing indicator implementation as you've surely seen.  Feel free to open a PR if you have a working implementation.

[2016-03-07 17:02] #1121 closed

[2016-03-08 01:31] facing-n opened #1125 "Retrieving deleted messages"
Now that LYRDeletionModeLocal has been deprecated, is there anyway to retrieve deleted messages.

case:

1. User A and User B are in a chat
2. User A deletes chat on their devices
3. User B sends User A a new message

Can User A retrieve the previous messages that were deleted from their devices in 2?  They are still in user B's chat

[2016-03-08 08:05] mvalti opened #1126 "Infinite loading on top of the ATLConversationViewController"
Hi!

Since I've upgraded the LayerKit to v0.19.3 the more message loading indicator appears on top of the conversation screen after sending the first message to a user.

(UICollectionReusableView *)collectionView:(UICollectionView *)collectionView viewForSupplementaryElementOfKind:(NSString *)kind atIndexPath:(NSIndexPath *)indexPath;
method was called with indexpath(row = 0, section = 0) and the

[2016-03-08 13:29] glaksmono commented on #1122
Here's the solution:

[code]

[2016-03-08 13:29] #1122 closed

[2016-03-10 15:34] thomasgpeng commented on #1126
I'm having a similar issue with LayerKit 0.19.3.  When I scroll to the top of a long conversation in `ATLConversationViewController`, the loading indicator for more messages seems to "get stuck" and instead of loading only the next page of messages, the view loads the entire message history.

[2016-03-10 16:35] Rupert-RR commented on #1070
As a heads up in case people are still having this problem, I came across the same issue and following http://stackoverflow.com/questions/32668723/atladdressbarviewcontroller-h-not-found-in-atlas-h (and some other explanations), added `$(PODS_ROOT)` with the *recursive* option to *Search Paths* in the build settings for my target.

I suspect that this means that it is a CocoaPods integration probl

[2016-03-10 16:59] mmustapic opened #1127 "Using Carthage in a new project"
I created a new Swift project, added a Cartfile with just Atlas in it and ran `carthage update`. I get several compilation errors, complaining that `fatal error: module 'LayerKit' not found`. Am I forgetting some obvious step?

[2016-03-11 20:14] ricardorover opened #1129 "How to change push notification sound?"
Is there a way to change the default push notification sound ("layerbell.caf" in ATLPushNotificationSoundName) to a custom sound?
The only way I found to do this is changing ATLPushNotificationSoundName value in ATLConversationViewController, but i found no 'atlas framework' way to do that.

Thanks

[2016-03-13 01:14] ksylvest commented on #1070
Able to reproduce this bug with the following:

`Xcode > File > New > Project...`

[code]

[code]

Please fix this! It has been broken for almost three months.

[2016-03-13 01:16] ksylvest commented on #1127
@mmustapic Experiencing same bug:

Cartfile:

[code]

[code]

[code]

[2016-03-15 22:21] feifanzhou commented on #1129
`APTLPushNotificationSoundName` is only [used when sending a message](https://github.com/layerhq/Atlas-iOS/blob/master/Code/Controllers/ATLConversationViewController.m#L637) — you specify the alert sound you want played on the receiving device when you send the message.

The "Atlas framework" way to change the push notification sound, therefore, is to specify the sound you want to use when you sen

[2016-03-15 22:21] #1129 closed

[2016-03-15 22:24] feifanzhou commented on #1127
We've been having compatibility issues with Carthage ([here's one](https://github.com/Carthage/Carthage/issues/1185) where a modified config leads to a different issue).

For now, the only package manager we officially support is Cocoapods 0.39, or a manual install. That said, if you're able to resolve the issue with Carthage, we'd be happy to accept a PR.

[2016-03-15 22:31] feifanzhou commented on #1095
@WANGjieJacques Is there specific code you believe is causing a memory leak?

[2016-03-15 22:37] WANGjieJacques commented on #1095
@feifanzhou see my pull request `fix #1095`

[2016-03-15 22:38] feifanzhou commented on #1070
@ksylvest We are tracking [an issue](https://github.com/CocoaPods/CocoaPods/issues/4950#issuecomment-196289770) with Cocoapods >= 1.0.0b4. That exact setup should install/build fine on Cocoapods 0.39.x.

@Alkalouti @mathmatrix828 Does @Rupert-RR's link fix your build? If not, can you verify your Cocoapods version?

[2016-03-15 22:41] feifanzhou commented on #1120
Are you able to consistently reproduce this crash? If so, what are the steps?

[2016-03-15 22:45] feifanzhou commented on #1064
@siskaj Are you hiding both the toolbar and tabbar? Simply hide the tabbar on `viewDidAppear` and show it on `viewDidDisappear`. The toolbar should then remain onscreen all the time.

[2016-03-15 23:28] mathmatrix828 commented on #1070
@feifanzhou I've moved away from Atlas at this point, and the project I was planning on using it for didn't pan out. I can fork and do some debugging in my spare time, but unfortunately that has been very limited of late

[2016-03-15 23:43] feifanzhou commented on #1067
@JRam13 can you verify the value that is returned from `collectionView:layout:referenceSizeForHeaderInSection:` when you are able to repro?

[2016-03-15 23:56] JRam13 commented on #1067
@feifanzhou This is really hard to reproduce since it doesn't happen all the time and appears to "fix itself" once you scroll past it or leave the chat screen. I've also never seen this happen since i've implemented this fix above.

If you'd like to reproduce, you should probably make the datestamp appear more often. Put your app on airplane mode and send a bunch of messages. Then re-establish con

[2016-03-16 04:55] fysteven commented on #1116
Fatal Exception: NSInternalInconsistencyException
Invalid update: invalid number of sections. The number of sections contained in the table view after the update (1) must be equal to the number of sections contained in the table view before the update (0), plus or minus the number of sections inserted or deleted (2 inserted, 0 deleted).

[2016-03-17 11:17] nullcode000 commented on #1126
same issue here. Is there a quick fix until next version? We're stuck on production with this bug.

[2016-03-17 11:17] sebyddd commented on #1126
+1

Also having the same issue. Started noticing it after upgrading to 1.0.19.

[2016-03-17 16:40] thomasgpeng commented on #1126
@kmahal little help please?!

[2016-03-17 19:21] kmahal commented on #1125
@facing-n this is a `LayerKit` question, but the user will no longer have access to the messages when deleting the conversation.

[2016-03-17 19:21] #1125 closed

[2016-03-17 22:02] fstege commented on #1126
Same issue here! Product heavily relies on layer. Would really appreciate a quick fix!

[2016-03-17 22:17] kmahal commented on #1126
Hi everyone.  A fix for this has been merged into master https://github.com/layerhq/Atlas-iOS/commit/0119489c13f6d878fb8e0493f7c2210d454faa34.  If you point your podfile to master on github you should be able to see the fix.  We'll be releasing a new official version soon that has this fix and a few others.

[2016-03-17 22:17] #1126 closed

[2016-03-17 22:18] kmahal commented on #1120
@akacaptain this was an issue which has since been resolved.  Please upgrade your `LayerKit` and point your `Atlas` to master to confirm.

[2016-03-17 22:18] #1120 closed

[2016-03-17 23:28] kmahal commented on #1113
fixed in: https://github.com/layerhq/Atlas-iOS/pull/1130

[2016-03-17 23:28] #1113 closed

[2016-03-17 23:30] #1000 closed

[2016-03-21 10:35] sebyddd opened #1131 "Usernames are not hiding."
Since upgrading the the latest pod version, I can no longer hide the usernames in conversations.

[code]

Both are set, but still 'Unknown User' is being displayed:

<img width="170" alt="screen shot 2016-03-21 at 12 34 02" src="https://cloud.githubusercontent.com/assets/5271150/13916094/38f27f22-ef61-11e5-8168-6d2b0880808e.png">

Any fixes ?
Thanks in advance!

[2016-03-21 10:46] mihaitrandafir1 commented on #1131
We are experiencing the same issue using the latest version of the SDK when trying to hide the sender label.

[2016-03-21 10:48] sebyddd opened #1132 "Message Input Toolbar misaligned when pushing back to conversation"
There is an issue regarding the positioning of the message toolbar.

Steps to reproduce it:

1) From Conversation Controller push to a different controller
2) Push yet another controller
3) Pop back both newly pushed controllers
4) <img width="377" alt="screen shot 2016-03-21 at 12 46 03" src="https://cloud.githubusercontent.com/assets/5271150/13916371/e5f6fff8-ef62-11e5-9a8e-638ab3ddbfe4.png">

I

[2016-03-21 10:53] burcsade commented on #1116
Same here. It started happening after adding a query to check the number of unread conversations periodically.

Fatal Exception: NSInternalInconsistencyException
Invalid update: invalid number of sections. The number of sections contained in the collection view after the update (1) must be equal to the number of sections contained in the collection view before the update (1), plus or minus the num

[2016-03-21 10:55] sebyddd commented on #1101
Encountering the same issue:
<img width="222" alt="screen shot 2016-03-21 at 12 52 25" src="https://cloud.githubusercontent.com/assets/5271150/13916511/ca3ff7c8-ef63-11e5-84a9-5da9e35363ca.png">

@charlespsdowd's change fixed the problem. Can we please move the if statement to the main queue on main branch and include it in the next update?

[2016-03-21 10:57] victorcazacu commented on #1131
same problem. Problem just showed up, didn't have this in previous versions.

[2016-03-22 00:55] #1127 closed

[2016-03-23 20:57] akacaptain commented on #1120
@kmahal will do.  Thanks for following up.

[2016-03-24 15:43] JRam13 opened #1135 "iOS 8.3/9 Deprecation warnings (94 issues)"
There are currently 94 warnings when building Atlas.

![screen shot 2016-03-24 at 11 41 20 am](https://cloud.githubusercontent.com/assets/3259292/14022297/8ba4fe1a-f1b5-11e5-86b3-b5842c5e9db4.png)

[2016-03-26 16:45] oferRounds opened #1137 "Question: how can we tell when conversation's data was loaded"
Specifically, I'd like to find out when the data was loaded, but there are 0 conversations to present (I'd like to show a placeholder).

[2016-03-26 20:07] oferRounds opened #1138 "Bug: when sending the first message in a conversation, activity indicator is shown and not removed"
- Seeing it above the date label
- when restarting the app it's gone
- Happens only on new conversation
- Saw it only now, after upgrading Layer to v0.19.4

[2016-03-26 20:11] mvalti commented on #1138
It happened to me as well with v0.19.4.

[2016-03-28 05:27] rishi-lambe commented on #1109
@kmahal  - When new user login in to app - A group conversation is appeared on screen. That I want to say

[2016-03-28 11:44] mailyan commented on #1138
+1

[2016-03-28 15:27] Mortenest opened #1141 "layerClient.newConversationWithParticipants crashes app"
Hi,
I'm having problems with layer since I both upgraded Atlas to 1.0.20, and Xcode to 7.3 (and swift to 2.2).

It seems that layer is not really made for conversations without using the ATLConversationListViewController. However I need to access my conversations arbitrarily from such a list, which is why I'm utilising newConversationWithParticipants.
My code:

[code]

This has been working with p

[2016-03-28 15:44] JRam13 commented on #1141
Did you update to Layer 0.20.0?

[2016-03-28 23:50] kmahal commented on #1137
@oferRounds you can do this yourself by running a simple query:
[code]
Then you can know if there are any or not.  You can also put the above in a query controller, so if a conversation does appear you can get rid of the placeholder.

[2016-03-28 23:50] #1137 closed

[2016-03-29 16:04] sebyddd opened #1143 "Inconsistent message cell spacing"
We are encountering a weird vertical spacing issues between text cells. As you can see below, the spacing is inconsistent. Also, is there any available way to manually adjust the vertical spacing between cells ?

<img width="520" alt="screen shot 2016-03-29 at 19 04 15" src="https://cloud.githubusercontent.com/assets/5271150/14114787/2311c650-f5e1-11e5-931e-54dbff93981e.png">

Thanks!

[2016-03-29 16:24] JRam13 commented on #1101
I've noticed this issue too. Won't @charlespsdowd fix cause more lag/ frame drops?

[2016-03-29 20:03] JJGEight opened #1145 "Unable to submit to App Store: ERROR ITMS-90535"
I have updated Atlas to 1.0.20 and I have tried submitting a new version of my app to the App Store. Having when submitting an Archive it fails without an error and through the application loader it gives an ERROR ITMS-90535 error.

I updated through Cocoapods without any problems. I also tried finding the Info.plist in question but when I chose the Atlas-AtlasResource target and selecting Info I

[2016-03-30 05:20] oferRounds commented on #1137
@kmahal - thanks for your response!

Question: as I understand, this query relates to the present local data, right?

The thing is that I would like to address the following scenario:
Let's say we have a new user, and his device's reachability is not that good, so it takes some more time to fetch the remote data. So in the mean time, I would like to present an `Activity Indicator`.

Then, when get

[2016-03-30 06:00] oferRounds commented on #1137
Ok, I think I got it: I observe the `LYRClientDidFinishSynchronizationNotification`.

[2016-03-30 10:26] oferRounds commented on #1137
Except maybe for the Error handling.

[2016-03-30 14:17] Jutteren opened #1146 "Conversation list controller with tab bar"
When I'm combining a tab bar with the Layer conversation list control, the conversation list control moves up  too far and the search bar gets lost. Any help?
![img_1726](https://cloud.githubusercontent.com/assets/16014847/14145104/d35cab9a-f692-11e5-8e61-2cb904cbbb30.PNG)

[2016-03-30 18:44] cwalo opened #1147 "Atlas-iOS build via Carthage is skipped"
When running `carthage update`:
`*** Skipped building Atlas-iOS due to the error:
Dependency "Atlas-iOS" has no shared framework schemes`

Carthage version: 0.13
Cartfile:
[code]

[2016-03-30 19:02] JRam13 commented on #1146
You need to embed a navigation controller on your ConversationListController.

<img width="1727" alt="screen shot 2016-03-30 at 3 02 00 pm" src="https://cloud.githubusercontent.com/assets/3259292/14154016/66fd1fca-f688-11e5-903a-3a3c6e082866.png">

[2016-03-30 19:08] JRam13 commented on #1116
Also having crash issues.

[2016-03-31 07:15] Mortenest commented on #1141
I'm using 1.0.20 which is the newest version afaik.

[2016-03-31 08:05] Mortenest commented on #1141
I am using Cocoapods, and I'm using LayerKit v. 0.20.1if that's what you mean?

[2016-03-31 08:25] Mortenest commented on #1141
I have once again reverted back to Atlas 1.0.14 and LayerKit 0.17.7 to make it work. That is the only stable combination I have found.

[2016-03-31 20:29] alexandrwang commented on #1138
Also seeing this, even after updating to 0.20.0

[2016-03-31 21:28] alexandrwang commented on #1138
This fixed it for me https://github.com/layerhq/Atlas-iOS/pull/1148

[2016-03-31 21:45] cwalo opened #1149 "Typo in ATLConversationListViewController results in build error"
Changing the following method declaration in `ATLConversationListViewController` build is successful. Note `UITableViewRowAction` becomes `NSNumber`, which appears may have just been a typo to begin with.

`- (NSArray *)conversationListViewController:(ATLConversationListViewController *)conversationListViewController rowActionsForDeletionModes:(NSArray < UITableViewRowAction *> *)deletionModes;`

[2016-03-31 21:46] cwalo commented on #1147
I did a little more digging and noticed that the Atlas framework scheme was not shared. After sharing the framework scheme, build actually starts but throws an error outlined in issue [#1149](https://github.com/layerhq/Atlas-iOS/issues/1149).

[2016-04-03 11:13] burcsade commented on #1034
Still happening in Atlas v1.0.18 as stated in #1116. This is really getting frustrating as we receive many user complaints about the app crashing due to this bug. Would you guys care to have a look at this sometime soon?

[2016-04-03 12:22] burcsade commented on #1116
Traced the issue back to the query controller in ATLConversationViewController. Here is how it happens:

- When conversation view controller is displayed, the fetchLayerMessages method creates the query controller and assigns itself as delegate to receive the changes.
- If this view controller is dismissed, the conversationDataSource is set to nil automatically but the query controller is still tr

[2016-04-04 11:52] rajavikram commented on #1145
+1

[2016-04-04 12:02] ejazAlgotrek commented on #1145
Any update on this ?

[2016-04-04 12:04] JJGEight commented on #1145
A temporary fix that I am using is setting LayerKit and and Atlas to an older version. My podfile is set as:

`pod 'Atlas', '1.0.19'
pod 'LayerKit', '0.19.4'`

[2016-04-04 12:06] ejazAlgotrek commented on #1145
Can't try that one... already done a lot of work with 0.21 of layer

[2016-04-04 14:29] DevMoz commented on #1145
I had the same issue. Just remove the `CFBundleExecutable` key from `info.plist` (in resources folder) and it will work fine.

https://github.com/layerhq/Atlas-iOS/commit/3cef0fe4fc44a9efa906f2b512c26fe555f98c79

[2016-04-04 15:29] fysteven commented on #1060
Same here.

[2016-04-04 18:05] kmahal commented on #1146
@Jutteren @JRam13 is correct.  The controller is designed to work with a navigation controller.

[2016-04-04 18:05] #1146 closed

[2016-04-05 05:19] alexandrwang opened #1153 "Bug where ATLConversationView jumps to top of conversation when message sent"
About 1/3 of the time when sending a message, the conversation view jumps to the top of the view and causes a huge disruption in user flow.

Any ideas what might be causing it?

I tried forcibly calling `scrollToBottomAnimated` when a message was sent, but that didn't seem to fix the issue.

[2016-04-05 05:59] AlbertoLourenco opened #1154 "NSInvalidArgumentException', reason: '-[LYRObjectContext mergeChanges:]:"
Please, someone help me! :(

[2016-04-07 14:51] JRam13 commented on #1135
I'm not sure why these have disappeared if nothing's changed.

[2016-04-08 09:37] tomco commented on #1147
Have a look at #1139. I created a pull request to fix the issue. Unfortunately it has not been merged yet.

[2016-04-11 09:50] Ashif22khan commented on #902
Its not working for me even though I have implemented (CGFloat)conversationViewController:(ATLConversationViewController *)viewController heightForMessage:(LYRMessage *)message withCellWidth:(CGFloat)cellWidth.
I am using systemFont of size 17...
 what should I do? any suggestions?

[2016-04-11 10:14] Ashif22khan commented on #902
@andrewcopp Hi Andrew, can you please suggest me how did you resolve this?
Thanks

[2016-04-11 23:28] kmahal commented on #1154
@AlbertoLourenco this is a `LayerKit` exception, not an `Atlas` one.  Please contact Layer support for this, and be sure to update to the most recent layerkit and atlas releases.

[2016-04-11 23:28] #1154 closed

[2016-04-11 23:28] kmahal commented on #1153
@alexandrwang can this be reproduced?  We haven't seen any reports of this.  Are you embedding the controller in a navigation controller or changing the view logic at all?

[2016-04-11 23:32] feifanzhou commented on #1145
Sorry about this issue — should be fixed here https://github.com/layerhq/Atlas-iOS/pull/1144

[2016-04-11 23:32] #1145 closed

[2016-04-11 23:34] kmahal commented on #1143
@sebyddd we currently space out cells based on how long the message has been sent since the last message was sent:
[code]
Feel free to fire up a PR if you'd like to see this property.

[2016-04-11 23:34] #1143 closed

[2016-04-11 23:38] kmahal commented on #1138
This has been fixed on master and the most recent release.

[2016-04-11 23:38] #1138 closed

[2016-04-11 23:39] feifanzhou commented on #1147
Take a look at https://github.com/layerhq/Atlas-iOS/pull/1144/files — included changes in #1139 for Carthage compatibility

[2016-04-11 23:49] kmahal commented on #1141
@Mortenest we haven't been able to reproduce this in our SDK, or in a bridged swift header.  I'll look further into this and report back.

[2016-04-11 23:50] #1135 closed

[2016-04-11 23:52] kmahal commented on #1132
@sebyddd in `layoutSubviews` of the `ATLMessageInputToolbar` we have:
[code]
This is used to ensure the input bar can work for split view controllers correctly.  I'll have a look into this for you and report back if I find anything.  Are all controllers in the same navigation stack?

[2016-04-11 23:56] kmahal commented on #1131
@sebyddd we haven't gotten any reports of this, but since Atlas is open sourced, set a break point in
[code]
and see why it may be returning `YES`.  Are these 1:1 conversations, or group conversations?

[2016-04-11 23:57] fysteven commented on #1116
Hey, I got the same crash again. The previous solution doesn't seem to be working.

[2016-04-12 00:29] kmahal commented on #1111
merged in: https://github.com/layerhq/Atlas-iOS/pull/1157

[2016-04-12 00:29] #1111 closed

[2016-04-12 00:32] kmahal commented on #1057
@DevMoz are you still seeing this issue?

[2016-04-12 00:32] #1056 closed

[2016-04-12 00:59] Creky commented on #250
I removed IQKeyboardManager, and the gap disappeared! thx @chlebta @mkoppanen !!!

[2016-04-12 11:02] Ashif22khan opened #1158 "Uneven bottom spacing inside chat bubbles for text messages!"
I am facing a strange issue with message bubble height for text messages.
I have overridden cellHeightForTextMessage and using boundingRectWithSize to calculate the desired length. But bubble height is not accurate for example if I have a message "Hello how are you?" twice in my message view, the bubble that is being generated will have different paddings for both appearances of the same messages.

[2016-04-12 17:21] kmahal commented on #1158
@Ashif22khan as you are overriding `cellHeightForTextMessage`, that's an implementation issue for your code, as it is not using default Atlas behavior.

[2016-04-12 17:21] #1158 closed

[2016-04-12 18:11] Ashif22khan commented on #1158
@kmahal even if i try it without overriding height is not correct, I just tried it with the default Atlas implementation of cellHeightForTextMessage.
Please suggest.....

[2016-04-12 18:20] kmahal commented on #1062
Thanks for these, we've had a look.

[2016-04-12 18:20] #1062 closed

[2016-04-12 18:21] kmahal commented on #1070
Closing this issue, but we can re-open if it still exists.

[2016-04-12 18:23] ksylvest commented on #1070
Did it get fixed?

[2016-04-12 19:29] feifanzhou commented on #1070
@ksylvest we have not made any changes to specifically target CocoaPods >= 1.0.0b4, as it seems to be a breaking change on their end.

[2016-04-13 01:43] lkraider commented on #1062
Is it fixed on master?

[2016-04-13 09:06] Ashif22khan opened #1159 "*** Assertion failure in -[ATLConversationCollectionView _endItemAnimationsWithInvalidationContext:tentativelyForReordering:]"
I am facing this strange crash whenever two participants are messaging and sending messages at a higher rate (like one message per 3 to 5 seconds), this crash happens, here is the detail of the crash message.

*** Assertion failure in -[ATLConversationCollectionView _endItemAnimationsWithInvalidationContext:tentativelyForReordering:]
*** Assertion failure in -[ATLConversationCollectionView _endIte

[2016-04-13 14:41] davideme opened #1160 "Copy AtlasResource.bundle: No such file or directory"
I cloned https://github.com/layerhq/Layer-Parse-iOS-Example
[code]
I build and I get the following error
error: .../Build/Products/Debug-iphonesimulator/Atlas/AtlasResource.bundle: No such file or directory

My setup:
XCode 7.3
cocoapods 1.0.0.beta.6
Atlas (1.0.22)
LayerKit (0.20.2)

[2016-04-13 15:05] RDorange opened #1161 "ATLConversationTableViewCell is displaying the conversationName metadata as title even if length==0"
In ATLConversationListViewController, the titleForConversation: method is returning the conversationName field from the metadata if even the length of this property is 0.

One of the consequence is that - if the user decides to set up a title for a conversation and to remove it later on in ATLMConversationDetailViewController - the corresponding ATLConversationTableViewCell will display an empty t

[2016-04-13 15:11] davideme commented on #1160
The same configuration with cocoapods 0.39.0 is working.

[2016-04-13 15:18] #1161 closed

[2016-04-13 15:28] sara-shokry opened #1162 "Duplicate interface definition after update"
i  can't build my project after update to latest release Atlas (1.0.22) Using LayerKit (0.20.2)
"Duplicate interface definition for class ATLConversationViewController" and many other classes

[2016-04-13 22:48] JRam13 commented on #1141
I thought this was fixed in 0.20.2 / 1.0.22. @Mortenest, check again.

[2016-04-14 15:39] sebyddd commented on #1160
Same issue. This most likely causes the issue below too. It might be an incompatibility between the new version of Atlas and LayerKit.

![screen shot 2016-04-14 at 08 37 48](https://cloud.githubusercontent.com/assets/5271150/14534032/4ada01f6-021c-11e6-9b84-67b1bafba30f.png)

[2016-04-14 15:46] dsieczko opened #1163 "UISearchDisplayController deprecation warning ATLParticipantTableViewController"
I was trying to set hidesNavigationBarDuringPresentation

[2016-04-15 16:28] Ashif22khan opened #1164 "Crash: ATLConversationViewController, self.collectionView performBatchUpdates!!!"
Whenever two participants are exchanging messages rapidly (like 6-7 messages per 5 seconds), this crash happens, The detail of the crash log can be found here. #1159

After spending a lot of time on this I realised that somehow the section count are changing concurrently e.g. at the start of the batch updates the section count is say 60, some how during the batch updates, while exchanging messages

[2016-04-15 17:02] JRam13 opened #1165 "shouldDisplayAvatarItemForOneOtherParticipant is ignored"
It seems you can't override this property from the subclass. It only works if we manually set shouldDisplayAvatarItemForOneOtherParticipant when it's initialized in ATLConversationViewController.

[2016-04-15 21:19] AdamBCo opened #1166 "Image Cells are showing up blank"
Whenever I am sending an image message, I see empty grey message cells with no image.

Any idea what's going on?

![img_0054](https://cloud.githubusercontent.com/assets/4572275/14575167/fadc8cc4-0314-11e6-89f5-c17c2877fd77.PNG)

[2016-04-16 10:03] logicsb commented on #1166
The same problem here.

[2016-04-18 14:50] Jutteren opened #1167 "Conversation list loads slowly with tabbar control"
We're building an app with Layer and Parse as the backend. The ATL conversation list view controller is accessed via the tabbar controller. Every time we open the conversation tab after the app launches it takes 2-4seconds before the ATL conversation list view controller loads. Is this a known issue? Is there a way to make this loading go faster?

Many thanks!

![img_0114](https://cloud.githubuser

[2016-04-20 19:04] Ashif22khan commented on #1164
@kmahal Can you please guide me on this. Thanks.

[2016-04-22 14:05] sebyddd commented on #1132
Yes, all controllers are in the same navigation stack.

[2016-04-23 18:57] AdamBCo commented on #1166
@logicsb I looked into the SDK and it looks like the previewImagePart has no data, nor url. Were you able to fix it?

[2016-04-23 20:46] AdamBCo commented on #1166
@logicsb

@maju6406 helped me find the solution by adding the following to your LayerClient:

    // Download all JPEG's, PNG's, GIF's automatically
    self.layerClient.autodownloadMIMETypes = [NSSet setWithObjects:@"image/jpeg", @"image/png",@"image/gif",nil];

    // Download content that's up to 100 KB automatically
    self.layerClient.autodownloadMaximumContentSize = 1024 * 100;

You can fin

[2016-04-23 20:46] #1166 closed

[2016-04-23 23:04] sara-shokry opened #1175 "NSRangeException search in ConversationList"
Crash occured randomlly when trying to search in conversation list multiple time ( specially after clearing search text)
'NSRangeException', reason: '*** -[__NSOrderedSetM objectAtIndex:]: index 5 beyond bounds for empty ordered set'

LayerKit (0.20.4)
Atlas (1.0.22)

[2016-04-24 19:03] logicsb commented on #1166
@AdamBCo thanks very much :)

[2016-04-24 22:40] DevMoz commented on #986
Just wondering if this is something worth looking at. Despite trying to solve this on my own and contribute, I've been unable. It's a fairly persistent problem that's caused test users to message the wrong individuals as they've selected conversations based on incorrect photos. Please let me know what other info I can provide. From the thread, there is at least one other individual experiencing th

[2016-04-26 20:26] williamtwilson commented on #1164
I'm also experiencing this.

[2016-04-26 20:29] Ashif22khan commented on #1164
@williamtwilson currently there are no updates on this, from atlas I am still awaiting their reply, I had to enclose my performBatchUpdate call inside a "@try, @catch", hope it helps.
But I don't it is the right solution.....

[2016-04-28 10:46] Mrostgaard opened #1176 "Atlas without Layer"
Hey. This is not an issue.
i just want to know if i'm able to use the Atlas components with my own chat or do i need to use layerkit?

[2016-04-29 13:53] oferRounds opened #1177 "messageInputToolbar is not visible sometimes"
In my app, I use an `NSCache` to save each of my `Conversation controller` (a sub-class of `ATLConversationViewController`) that is shown, so when popped out, and then re-pushed again, it will save its current state (the input text, if the user started to write, but did not hit send; the scrolling point, etc.), so next time its shown, the user would be able to continue where he/she stopped.

I jus

[2016-05-02 13:22] JRam13 commented on #1176
Atlas is so tightly bound to Layer, it'll be a major doing, but it's possible. Remember, Atlas is open source.

[2016-05-02 19:47] kcoleman731 commented on #986
Hi @DevMoz sorry for the delay here. I am going to have a look at this for you. Will get back with my findings.

[2016-05-02 21:33] kcoleman731 commented on #986
Hi @DevMoz I just investigated on my side and cannot seem to repro. What version of Atlas are you using?

To attempt the repro, I am returning a URL from `Placehold.it` with the first name of the user as the text in the image. So for my conversation with Heather for example, the `avatarImageURL` is `http://placehold.it/350x150?text=Heather`. In the attached image, you can see that all of the image

[2016-05-02 21:39] kcoleman731 commented on #1177
Hi @oferRounds. The messageInputToolbar is set as the `inputAccessoryView` for the `LYRConversationViewController`s view. This property has proven to have some very weird behavior in the past so this doesn't surprise me.

Have you tried putting your app in the View Hierarchy Debugger and verifying if it exists? Additionally, not sure if you saw this but the `ATLConversationViewController` preserve

[2016-05-02 21:42] kcoleman731 commented on #1176
@Mrostgaard as @JRam13 pointed out, Atlas is indeed fully integrated with LayerKit.

[2016-05-02 21:42] #1176 closed

[2016-05-02 21:43] kcoleman731 commented on #1175
@sara-shokry Do you have steps to reproduce?

[2016-05-02 21:44] kcoleman731 commented on #1167
@Jutteren this is not a known issue. What exactly do you mean by loading? Is the VC not appearing on screen or is the data not loading?

[2016-05-02 21:50] kcoleman731 commented on #1165
@JRam13 Your sublcass can configure this property from an init method.

[2016-05-02 21:50] #1165 closed

[2016-05-02 21:51] kcoleman731 commented on #1164
Hi @Ashif22khan and @williamtwilson can you guys tell me the atlas version you are using?

[2016-05-02 22:01] oferRounds commented on #1177
Hi @kcoleman731
Thanks for your response :)

I'll follow your suggestion and debug it in the View Hierarchy Debugger, but for now - two points:

1. I see now that it preserves the text, but I also see a bug with it: if the user leaves the conversation with the keyboard being shown, then his text is not being presented. If he then would leave it once again and then return again (now the keyboard ar

[2016-05-02 22:07] sara-shokry commented on #1175
i don't know exact scenario but it always happened when clearing text from search bar after result was displayed.

[2016-05-02 22:07] oferRounds commented on #1177
Oh, I remembered now that I did try to debug it using he View Hierarchy Debugger but from some reason it failed to present this screen (in oppose to any other screens in my app, which were shown up).

I can try it again - maybe it a was temporary bug on Xcode - but this was the issue why it was hard for me to debug it.

[2016-05-02 22:07] kcoleman731 commented on #1163
Hi @dsieczko the `UISearchDisplayController` has indeed been deprecated. We have not yet switched Atlas over to using the new `UISearchController` yet. To silence the deprecation warning in your code you can do the following

[code]

[2016-05-02 22:07] #1163 closed

[2016-05-02 22:08] kcoleman731 commented on #1162
Hi @sara-shokry can you tell how you are brining LayerKit and Atlas into your project? I am assuming cocoapods and if so, can you tell me the version?

[2016-05-02 22:09] kcoleman731 commented on #1160
Hi @sebyddd and @davideme, we are not compatible with Cocoapods 1.0 betas yet.

[2016-05-02 22:09] oferRounds commented on #1177
But I can say that it did exist - this I was able to verify (it wasn't nil, and it did have a non-zero frame).

[2016-05-02 22:10] kcoleman731 commented on #1153
@alexandrwang any updates here? Otherwise we will close the ticket. Thanks.

[2016-05-02 22:11] kcoleman731 commented on #1149
@cwalo can you send me the build error? Not sure why you are getting it, but we definitely not want to change the param type.

[2016-05-02 22:12] kcoleman731 commented on #1141
@Mortenest any updates here? Otherwise we will close.

[2016-05-02 22:14] dsieczko commented on #1163
Thanks @kcoleman731

[2016-05-03 16:43] Ashif22khan commented on #1164
Hi @kcoleman731 I am using Atlas 1.0.13.

[2016-05-04 14:55] Jutteren commented on #1167
Hi @kcoleman731, When I'm having more than 5-6 conversations in my app the VC is appearing later, which makes it look like the tabbar controller is not responding. But eventually it loads (incl. the data)

[2016-05-04 17:55] ernestopino opened #1178 "Question: Can I run query, for conversations for example, over a local data store of Layer?"
Hi everybody,

This is not an issue, is a question. In the environment of my app, my ideal situation would be:

1. Using mail framework (MailCore2) to interact with an email inbox, obtain emails and transform them into a messages in memory (via Layer classes).
2. Save those messages into a local storage.
3. Run queries (via Layer classes) over local storage.
4. Present conversations and messages f

[2016-05-05 10:59] mvalti opened #1179 "Ability to see blocked user's messages in group chat"
Hi Atlas-Team,

I've noticed a strange behaviour when the Blocker and the Blockee  are in the same conversation with a third user, which isn't blocked by anyone. Because of the Layer's block policy the Blocker user only see the third user's messages and after a period, the messages in the conversation will be confused for the Blocker.

Is it possible somehow to show the Blockee's messages in the g

[2016-05-05 14:29] pthrasher commented on #1164
@kcoleman731 I'm also experiencing this. I'm using Atlas 1.0.22

The best way I've found to repro is to quickly open up an app from completely closed, and very quickly after starting the application, attempt to send a message.

[2016-05-05 23:32] oferRounds commented on #1177
Hi @kcoleman731
Question: If I may ask, why did you decide to use the `inputAccessoryView`to present the `messageInputToolBar`? What happens when `LYRConversationViewControllers`'s view isn't the first responder, but `messageInputToolBar` is? Maybe a `firstResponder` issue is what causing both of this bugs?

[2016-05-06 09:15] adina-abduraman opened #1180 "Use displayName property instead of firstName property when computing the text to show in addressBarTextView"
Hi Guys,

Is there a way to customize the property used for displaying names in addressBarTextView("To:"). For the moment you use firstName property, but I would like to use the fullName. So, isn't it better to use the displayName property, so that everyone can configure either fullname, firstName or fullName to show?

Let me know what you think,
Thanks

[2016-05-06 15:44] kcoleman731 commented on #1177
Hi @oferRounds. Ok thank you very much for the info. Let me do a bit more digging.

We used the `inputAccessoryView` because it provides for moving the toolbar up and down when a dragging motion occurs...like how the toolbar moves in imessage. Unfortunately, if you don't use the `inputAccessoryView`, the OS only provides notifications for when a drag starts and when a drag ends, but not the interm

[2016-05-06 15:46] kcoleman731 commented on #1175
Understood @sara-shokry . I've attempted to repro a few times but am unable. If you can get steps for me, I should be able to sort it out quickly.

[2016-05-06 15:51] kcoleman731 commented on #1167
Hi @Jutteren still not clear on the issue. Can you see the navigation bar but the view content is just not loading? Trying to isolate if this is a navigation issue or a data load (querying) issue.

[2016-05-06 15:53] kcoleman731 commented on #1164
@Ashif22khan this was most certainly an issue with 1.0.13. The underlying issue is actually with the LayerKit version which is an Atlas dependency.

@pthrasher Thank you for the heads up on `1.0.22`. I'll try your repro today and see if I can catch it. Any other specifics you can give would be helpful.

[2016-05-06 15:55] #1160 closed

[2016-05-06 15:56] kcoleman731 commented on #1159
@Ashif22khan looks like this is the same as https://github.com/layerhq/Atlas-iOS/issues/1164. As we have the discussion going on over there, I'll close this ticket.

[2016-05-06 15:56] #1159 closed

[2016-05-06 16:13] kcoleman731 commented on #1131
@sebyddd any updates here?

[2016-05-06 16:17] kcoleman731 commented on #1116
Hi All, thanks for this issue and apologies for the delay in responding. @burcsade thanks for the explanation as well. Can you all tell me what versions of `Atlas` and `LayerKit` you are using?

We fixed the underlying `LayerKit` issue which generated a bunch of collection view animation crashes with https://github.com/layerhq/releases-ios/releases/tag/v0.19.2. If there are still crashes occurring

[2016-05-06 16:18] kcoleman731 commented on #1101
@JRam13 @sebyddd @DevMoz is this still happening on the current Atlas version? If so, I will investigate.

[2016-05-06 16:21] #1095 closed

[2016-05-06 16:23] kcoleman731 commented on #1180
@adina-abduraman I think this is fair. I won't be able to get to it till next week, but would be happy to review a PR for you ;). Should be pretty straightforward.

[2016-05-06 16:25] kcoleman731 commented on #1179
@mvalti just to get everything straight...Lets say UserA blocks UserB. UserC is the third party and is not blocked by either.

You are saying that after a time, UserA can only see UserC's messages? But Altas is showing the messages as being sent from UserB?

[2016-05-06 16:26] kcoleman731 commented on #1178
@ernestopino please email support@layer.com with functionality questions.

[2016-05-06 16:26] #1178 closed

[2016-05-06 16:33] DevMoz commented on #1101
@kcoleman731 I'm still using 1.0.20. It was happening until I made the change I noted above and then it works fine. Thanks for the follow up!

I'll update Atlas this weekend and will report back.

[2016-05-06 17:01] kcoleman731 commented on #1177
Hi @oferRounds I have been able to repro your situation. This isn't so much a bug as it is a product of trying to cache view controllers and reuse them in an unexpected way. We setup the toolbar in init and then reposition it as needed in multiple places including viewWillAppear. Reuse of the controller and subsequent calls to viewWillAppear are pushing the toolbar off screen.

My suggestion is to

[2016-05-06 21:05] oferRounds commented on #1177
Hi @kcoleman731
Great input regarding the reasoning for your implementation - good to know that!
And regarding your last comment - sounds good! Thanks for your digging into it - your suggestion sounds good!

[2016-05-06 21:05] #1177 closed

[2016-05-07 09:40] burcsade commented on #1116
I was using LayerKit v0.19.4 and Atlas v1.0.19.

I've updated to the latest version and the issue I've mentioned still exists in Atlas v1.0.22.

Thanks for the updates fixing other issues by the way!

[2016-05-07 12:41] pthrasher commented on #1164
@kcoleman731 So... a bit more details...

1. When atlas asks me for a participant record I return a new instance of `ZMUser` (unless there was already one existing) -- This has all the information blank except for userID. I then go hit my server to backfill the data.
2. When sending a message for the first time, the authenticatedUser has not yet been requested. So, end user hits `send`, atlas asks

[2016-05-08 12:24] grimabe opened #1184 "Carthage build success but got a "Failed to locate resources.bundle" exception"
I am using the latest commit with Carthage fa878c29a78fcaab25e50dad00f8ae56eb8cec3d and this time it successfully built Atlas and Layer (thanks for this fix)

Layer framework seems to be working fine (the auth works) but when I try to use Atlas it crashes :

[code]

[2016-05-09 06:47] tariq235 commented on #250
hey @kcoleman731  I wrote all layer architecture in my project like session management, persistence, authentication etc. But nothing is showing in my ATLConversationListViewController.

ConversationListVC has been added in my tabbar initialization with other VC initialization i.e
[code]
How should I refresh all contents after layer authentication ? In your example ATlas messanger code you allocate

[2016-05-09 07:03] mvalti commented on #1179
No, Atlas don't show the messages from the UserB  and that's the problem. The userA don't understand what's going on between UserB and UserC because he isn't able to see messages from UserB. After a time, the whole conversation will be a mess for the UserA.

What do you think about removing the block policy from the users in a group chat?

[2016-05-10 13:39] tariq235 opened #1185 "How to send image for creating a group conversation ?"
In our custom UI we have an option to create a group conversation using title, participants and image which can be selected using camera roll or by capturing a picture.

To create a group conversation we have to call this -
`LYRConversation *conversation = [layerClient newConversationWithParticipants:[NSSet setWithObjects:@"USER-IDENTIFIER", nil] options:nil error:&error];
`
and pass metadata like

[2016-05-10 16:44] Stakenborg commented on #1070
I'm seeing this now with Cocoapods 1.0.0 officially released. Trying to find a workaround...

[2016-05-10 16:49] mathmatrix828 commented on #1070
@Stakenborg as this is now a relevant issue, re-open and bump?

[2016-05-10 16:49] mathmatrix828 commented on #1070
I'm willing to contribute if I can

[2016-05-10 18:23] feifanzhou commented on #1070
I'm willing to re-open. We likely won't be able to take a look for a while (backlogged a bit), but @mathmatrix828 would be glad to work with you in the meantime. There are a couple of reports of this issue, namely https://github.com/CocoaPods/CocoaPods/issues/5230. There are possible fixes here: https://github.com/CocoaPods/CocoaPods/issues/5197

[2016-05-10 19:19] mathmatrix828 commented on #1070
@feifanzhou I'll clone and fork, try to put some time into it, and review those other issues. If I can get into contact with the Cocoapods managers for an assist on the new linking standards (seems like a linking issue?) I will. Until then, I'll try to push some stuff to my repo [here](https://github.com/mathmatrix828/Atlas-iOS) as I can. Anyone else please check my repo for updates and send all r

[2016-05-10 19:21] feifanzhou commented on #1070
@mathmatrix828 that sounds good. Make sure to update your Atlas fork; it's a decent number of commits behind :)

[2016-05-10 19:27] mathmatrix828 commented on #1070
Already done (:

[2016-05-11 13:29] mvalti opened #1189 "Block policy issues"
Hi, Atlas-Team!

I've noticed some issues when adding and removing **LYRPolicies**.

First of all, let's introduce some members: **UserA**, **UserB**, **UserC**, **UserD**, **UserE**, **UserF**
and two devices: **DeviceA**, **DeviceB**
and two chat type: - **1to1** : Conversation between **2** members
                              #- **Group** : Conversation between **3 or more** members
I am the

[2016-05-11 13:38] adina-abduraman opened #1190 "Receiving push notification when a message recipient reads the message"
Hi guys,

It seems that I am getting a push notification when a recipient of one of my messages reads the message.
The payload I get looks like that:
Printing description of userInfo:
{
    aps =     {
        "content-available" = 1;
    };
    layer =     {
        "conversation_identifier" = "layer:///conversations/cef516b4-b471-4484-9bf3-5c82e6d58f58";
        "message_identifier" = "layer:///

[2016-05-11 18:17] feifanzhou commented on #1190
Hi @adina-abduraman,
This is functioning as designed. We use _silent push notifications_ to deliver read receipts and sync hints. By default, these notifications should not display alerts or any other user-visible effects. If you'd like to disable this particular type of notification, simply stop sending read receipts.

[2016-05-11 18:17] #1190 closed

[2016-05-11 18:24] maju6406 commented on #1185
Check your email. I responded to your support ticket. Let's keep the conversation going there.

[2016-05-11 18:24] #1185 closed

[2016-05-11 18:24] feifanzhou commented on #1185
For posterity:

It doesn't matter to Atlas or Layer how you do it. We only take care of syncing metadata; we don't look at or use its contents anywhere. As a result, it's up to you to decide how you want to send the image. Uploading it somewhere like S3 and passing the URL is certainly one valid option. Passing a disk URL likely wouldn't make sense, unless your app bundle includes certain images t

[2016-05-12 21:50] feifanzhou commented on #1184
@grimabe Thanks for reporting, I expect to have a fix out by tomorrow

[2016-05-13 00:20] feifanzhou commented on #1179
@mvalti that is how blocking is designed to work — if `A` has blocked `B`, `A` cannot see `B`'s message. If this leads to a poor user experience for end users, you can implement some sort of UI to manage this — for example, when both `A` and `B` are added to a conversation, you can check for a block between them, and prompt them to unblock. We provide you with the tools to do so.

[2016-05-13 00:20] #1179 closed

[2016-05-13 08:47] adina-abduraman commented on #1190
Thanks for the answer!
So I should take care of not displaying anything to the user when these kind of notifs are displayed. Should I count on the field "alert" that is missing from the notif payload , for these kind  of notifications, so I can decide whether to display it to the user or not?

[2016-05-13 18:34] feifanzhou commented on #1190
Yes — a "full" notification will contain [more fields](https://developer.layer.com/docs/ios/guides#receiving-pushes) under the `apns` key. You opened this issue on the Atlas repo, so I assume you're using Atlas — if so, we automatically take care of displaying the right types of notifications.

[2016-05-13 18:57] feifanzhou commented on #1184
Resolved with #1192

[2016-05-13 18:57] #1184 closed

[2016-05-13 18:58] feifanzhou commented on #1147
Resolved by #1181

[2016-05-13 18:58] #1147 closed

[2016-05-13 19:38] kcoleman731 commented on #1070
@mathmatrix828 @Alkalouti  this ticket should be resolved as of #1191. Closing this ticket for now. Please let me know if you have any other issue.

[2016-05-13 19:38] #1070 closed

[2016-05-17 09:31] yothin opened #1194 "How to get LYRMessage to delete?"
I've already implement conversationViewController:configureCell:forMessage: but how i get LYRMessage to delete it?

[code]

[2016-05-18 04:45] LukeDurrant commented on #1194
Have a look at
https://developer.layer.com/docs/ios/integration#deleting

// Deletes a message
NSError *error = nil;
BOOL success = [message delete:LYRDeletionModeAllParticipants error:&error];

[2016-05-18 16:19] adina-abduraman opened #1195 "Application 'UIKitApplication:appName]' exited voluntarily."
Hi guys,

I have an issue. While I am on a ConversationViewController that displays a conversation, I am putting the app in the background by pressing the home button. Then, when trying to bring the app in the foreground by tapping the app icon, the app crashes( actually i think it is exited) .
This happens unfortunately only on release, not on debug..so I have no clue of what is happening.

The d

[2016-05-18 22:09] Stakenborg commented on #1070
@kcoleman731 I'm still seeing this issue when I try to make a production archive. Seems fine if I just build and run though.

[2016-05-18 22:11] feifanzhou commented on #1070
@Stakenborg do you still run into the issue archiving after deleting Derived Data?

[2016-05-18 22:36] Stakenborg commented on #1070
@feifanzhou Yes, I tried deleting the derived data, clean, restarting Xcode, all the normal stuff. The odd thing is it will still build under a release configuration, but not archive.

[2016-05-19 00:23] Stakenborg commented on #1070
Actually now it's just happening on everything, I've tried uninstalling/reinstalling the pod, uninstalling/reinstalling cocoapods and the pod...no idea what is causing this.

[2016-05-19 08:12] yothin commented on #1194
I know used this to delete, but when user tapped 'Delete' context menu then 'deleteItem' method can't get a LYRMessage object to delete it.

[2016-05-19 08:49] yothin opened #1196 "Search string on LYRMessage"
Is possible search string like this
[code]

Thank you

[2016-05-19 10:48] mathmatrix828 commented on #1070
Did you download my pull or the version from this repo?

[2016-05-19 13:14] RDorange commented on #1180
@kcoleman731  Hi, any update on that ?
Many thanks
Romain

[2016-05-19 14:08] mihaipuscasimprezzio commented on #1080
@marcshilling  is this still reproducing? i have a similar issue but with any message content(not containing url), and the layout renders correctly after a couple of minutes(usually). I am using custom fonts(not the font set by atlas) like you.

[2016-05-19 14:09] Stakenborg commented on #1070
I'm doing a normal pod install, not specifying any repo for the podspec. Is it just an issue of the podspec hosted on Cocoapods not being updated yet?

[2016-05-19 14:34] Stakenborg commented on #1070
Seems to be the updated podspec that fixes this issue is not on the Cocoapods master podspec repo yet. I was able to fix this for the time being by specifying to use the Atlas git as the route to the podspec like this:
`pod 'Atlas', :git => 'https://github.com/layerhq/Atlas-iOS.git'`

However, this should definitely be up on the regular spec repo.

[2016-05-19 16:00] mathmatrix828 commented on #1070
This issue is the original lib is being compiled against <v1.0.0 of CocoaPods. My pull request as stated above should fix this. I haven't had time to make some of the requested rollbacks yet but the build itself is clean

[2016-05-23 12:26] mvalti opened #1198 "Application crash after LayerKit ( v0.21.0) update"
Hi, LayerTeam!

I've just updated LayerKit with cocoapods and after that my application crashes on every app run.

A background URLSession with identifier com.layer.backgroundSession.fd676034-725c-11e5-8dc5-31911d002c3c.fb152b55-1370-43bf-8a49-59cd080ac6b3 already exists!
2016-05-23 15:21:05.111 APP_NAME[2131:879519] CFNetwork SSLHandshake failed (-9806)
2016-05-23 15:21:05.184 APP_NAME[2131:87959

[2016-05-23 15:05] andreiblaj commented on #1175
I ran into the same problem.

I use the Layer-Parse-iOS-Example code, ported to Swift.

I search for something in the ConversationsList, I select a conversation, then return from that screen. It always crashes with the error reported by Sara.

The workaround I currently use is to check in configureCell (ATLConversationListViewController.m: 271) that the indexPath is not out of bounds.

`- (void)co

[2016-05-23 16:34] kcoleman731 commented on #1198
Hi @mvalti. Please email support@layer.com and we should be able to sort this out. Thanks!

[2016-05-23 16:34] #1198 closed

[2016-05-23 16:35] kcoleman731 commented on #1196
@yothin please email support@layer.com with LayerKit support questions.

[2016-05-23 16:35] #1196 closed

[2016-05-23 16:36] kcoleman731 commented on #1189
@mvalti Thanks for your report. As this is a `LayerKit` issue, please email support@layer.com and we will be able to help you out!

[2016-05-23 16:36] #1189 closed

[2016-05-23 16:41] kcoleman731 commented on #860
Functionality was merged in #1188

[2016-05-23 16:41] #860 closed

[2016-05-23 16:42] kcoleman731 commented on #986
@DevMoz closing this issue for now as it does not appear to be an issue any longer. Let me know if you need to reopen.

[2016-05-23 16:42] #986 closed

[2016-05-23 16:55] kcoleman731 commented on #1057
@DevMoz going to close this issue. Let me know if you need any more help.

[2016-05-23 16:55] #1057 closed

[2016-05-23 17:02] kcoleman731 commented on #1064
@wireframe Apologies for letting this ticket go stale. For now we are going to recommend @jessearmand suggestion of hiding the tab bar. If you want to take a shot at a PR which supports your suggestion of passing an option to the controller for positioning the input tool bar, I'd be happy to have a look.

[2016-05-23 17:06] #1141 closed

[2016-05-23 17:07] kcoleman731 commented on #1149
@cwalo would love to see the build error. Otherwise will close due to no response.

[2016-05-23 17:11] kcoleman731 commented on #1164
@pthrasher yep that will be the issue. You never want to call `reloadData` directly. We have an explicit public method which allows you to trigger a cell reload that is meant for these types of situations.

[code]

Can you switch over to using that method and let me know if it solves your issue?